.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

.from-to-quick-quote {
  .from-to-card {
    .location-box {
      min-height: 80px;
      width: 100%;
    }
  }
}
