<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- from to blocks -->
    <div class="from-to from-to-quick-quote">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <button class="add-location"
              mat-icon-button
              color="accent"
              (click)="newLocation('from');  $event.stopPropagation()"><i class="icon icon-add_circle"></i></button>
            <input matInput
              placeholder="Location"
              aria-label="location"
              [matAutocomplete]="location"
              [formControl]="workingData.from.locationControl"
              [(ngModel)]="workingData.from.values.value"
              (ngModelChange)="changeFrom()">
            <mat-autocomplete #location="matAutocomplete"
              class="complex-autocomplete">
              <mat-option *ngFor="let item of fromFilteredLocations | async"
                [value]="item.companyName">
                <strong>{{item.companyName}}</strong>
                <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="location-box edit-location"
            (click)="editAddress()">
            <h4 *ngIf="fromFlag">{{workingData.from.values.data.address1}}, {{workingData.from.values.data.city}},
              {{workingData.from.values.data.province}} {{workingData.from.values.data.zip}}
              {{workingData.from.values.data.country}}</h4>
            <i class="icon icon-outline-edit"></i>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <button class="add-location"
              mat-icon-button
              color="accent"
              (click)="newLocation('to'); $event.stopPropagation()"><i class="icon icon-add_circle"></i></button>
            <input matInput
              placeholder="Company"
              aria-label="company"
              [matAutocomplete]="company"
              [formControl]="workingData.to.locationControl"
              [(ngModel)]="workingData.to.values.value">
            <mat-autocomplete #company="matAutocomplete"
              class="complex-autocomplete">
              <mat-option *ngFor="let item of toFilteredLocations | async"
                [value]="item.companyName">
                <strong>{{item.companyName}}</strong>
                <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="location-box">
            <div class="row">
              <div class="col-s-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select placeholder="Country"
                    [formControl]="workingData.to.countryFormControl"
                    [(ngModel)]="workingData.to.values.data.country"
                    required
                    (ngModelChange)="changeCountry(workingData.to.values.data.country)">
                    <mat-option *ngFor="let country of countries"
                      [value]="country"> {{ country }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="City"
                    [formControl]="workingData.to.cityFormControl"
                    [(ngModel)]="workingData.to.values.data.city"
                    [matAutocomplete]="auto"
                    required />
                  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCityes | async"
                      [value]="option"> {{option}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-s-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="{{zipLabel}}"
                    [formControl]="workingData.to.zipFormControl"
                    [(ngModel)]="workingData.to.values.data.zip"
                    required
                    mask="AAA AAA" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- shipment block -->
    <app-shipment-card></app-shipment-card>
    <!-- blocks -->
    <div class="row break-point-800 one-height-align">
      <div class="col-6">
        <app-additional-services-card></app-additional-services-card>
      </div>
      <div class="col-6">
        <app-cod-service-card></app-cod-service-card>
      </div>
    </div>
  </div>
  <div class="bottom-row white with-data">
    <div class="start-position">
      <div class="quote-wrap"
        *ngIf="qoute">
        <app-rate-line class="quote-footer-line"
          [rateItem]="qoute"
          [quoteBtn]="true"
          (quoteBtnClick)="openRatesDialog()"></app-rate-line>
      </div>
    </div>
    <div class="end-position">
      <button class="btn large-btn"
        mat-stroked-button
        routerLink="/customer/shipping/saved-quotes"
        color="primary">Save</button>
      <button *ngIf="!qoute"
        class="btn large-btn"
        mat-flat-button
        color="primary"
        (click)="openRatesDialog()">Get A Qoute</button>
      <button *ngIf="qoute"
        class="btn large-btn"
        mat-flat-button
        color="primary"
        routerLink="/customer/shipping/quick-quote-proceed">Proceed</button>
    </div>
  </div>
</div>
