<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Name"
            [(ngModel)]="modalData.userName"
            [formControl]="validation.userName"
            required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="modalData.userRole"
            [formControl]="validation.userRole"
            required>
            <mat-option *ngFor="let item of roles"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Email"
            [(ngModel)]="modalData.userEmail"
            [formControl]="validation.userEmail"
            required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Phone"
            [(ngModel)]="modalData.userPhone"
            [formControl]="validation.userPhone"
            mask="000 000 0000"
            required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Markup % to Sub User"
            [(ngModel)]="modalData.userMarkup"
            [formControl]="validation.userMarkup"
            mask="00">
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          [disabled]="!modalData.userName||!modalData.userRole||!modalData.userPhone||!modalData.userEmail"
          cdkFocusInitial> {{data.actionButton}} </button>
      </div>
    </div>
  </footer>
</div>
