@import 'src/content/scss/var.scss';

:host {
  .invoice-activity {
    padding: 12px 24px;
    border-bottom: 1px solid $borderColor;
    font-size: 14px;
    .inner-el {
      strong {
        font-weight: 500;
        font-size: 14px;
      }
      span {
        color: $textColorLight;
      }
    }
    .start-position {
      width: 65%;
      .inner-el {
        width: 30%;
        &:first-child {
          width: 70%;
        }
      }
    }
    .end-position {
      width: 35%;
      .inner-el {
        width: 50%;
      }
    }
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
      .start-position,
      .end-position {
        width: 100%;
        .inner-el {
          padding-top: 12px;
          width: 50%;
          &:first-child {
            width: 50%;
          }
        }
      }
    }
    @media only screen and (max-width: 480px) {
      .start-position {
        flex-wrap: wrap;
        .inner-el {
          width: 100%;
          &:first-child {
            width: 100%;
          }
        }
      }
    }
  }
}
