<div class="dialog-content huge-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="invoice-activities">
      <div class="invoice-activity item-row"
        *ngFor="let item of data.activities">
        <div class="start-position">
          <div class="inner-el">
            <strong>{{item.activityType}}</strong>
          </div>
          <div class="inner-el">
            <span>{{item.activityData.checkNo}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span>{{item.dateCreated}}</span>
          </div>
          <div class="inner-el">
            <strong>{{item.activityData.amount | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-flat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Close </button>
      </div>
    </div>
  </footer>
</div>
