.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 128px);
}

::ng-deep {
  .table-list-item {
    &.user-list-item {
      padding-right: 96px;
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
      }
      .row {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 600px) {
          flex-wrap: wrap;
        }
      }
      .start-position {
        width: 50%;
        display: block;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        .row {
          @media only screen and (max-width: 600px) {
            .col-s-6 {
              width: 100%;
              &:not(:first-child) {
                padding-top: 12px;
              }
            }
          }
        }
      }
      .end-position {
        width: 50%;
        display: block;
        .active-button {
          position: absolute;
          top: 50%;
          right: 48px;
          margin-top: -20px;
        }
        @media only screen and (max-width: 991px) {
          width: 100%;
          .active-button {
            top: 12px;
            margin-top: 0;
          }
          .col-s-8,
          .col-s-4 {
            padding-top: 12px;
            width: 100%;
          }
        }
        @media only screen and (max-width: 600px) {
          .col-s-8,
          .col-s-4 {
            width: 100%;
          }
        }
        @media only screen and (max-width: 480px) {
          .active-button {
            right: 40px;
          }
        }
      }
    }
  }
}
