<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!dataEmpty">
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
      </div>
      <div class="end-position">
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of ediOrders"
        class="table-list-item simple-data track-item"
        [ngClass]="{'new': item.new}"
        (click)="clickOnRow()">
        <div class="start-position ">
          <div class="number-box item-row">
            <app-img-box class="img-el"
              [url]="item.logo"></app-img-box>
            <div class="inner-el number-content"
              [ngClass]="{'with-chip': item.chip?.name}">
              <strong>{{item.trakingNumber}} <span *ngIf="item.chip?.name"
                  class="chip-label {{item.chip.type}}">{{item.chip.name}}</span></strong>
              <em>{{item.trakingName}}</em>
              <em>{{item.trakingSubName}}</em>
            </div>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.fromCompanyName}}</strong>
            <address>{{item.fromCompanyAddress}}</address>
            <em>{{item.fromDate}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.toCompanyName}}</strong>
            <address>{{item.toCompanyAddress}}</address>
            <em>{{item.toDate}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="INV Amt (CAD)"
              [right]="true"
              [value]="item.inv | currency"
              [details]="item.invDetails"
              (infoClick)="openInvInfoDialog($event)"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list -->
  </div>
  <div class="empty-data"
    *ngIf="dataEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
  <div *ngIf="!dataEmpty"
    class="centered-button">
    <button mat-flat-button
      class="bigger-btn"
      routerLink="/admin/invoicing/draft-invoices"
      color="primary">Release</button>
  </div>
</div>
