<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position"></div>
      <div class="end-position">
        <button mat-icon-button
          (click)="categorySettings()">
          <i class="icon icon-outline-settings"></i>
        </button>
      </div>
    </mat-toolbar>
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- item -->
      <div class="table-list-item no-link item-row simple-data category-list-item"
        *ngFor="let item of categoriesContentList">
        <div class="inner-el">
          <span class="value strong">{{item.payeeType}}</span>
        </div>
        <div class="areas">
          <span *ngFor="let i of item.categories; let ind = index"
            class="area area-removable color-{{convertPayeeCategory(i.name)}}">{{i.name}} <i class="icon icon-close"
              (click)="removeCategory(item.categories, ind)"></i></span>
          <app-chips-menu [items]='item.categories'
            [fullItems]="categoriesList"
            action="Category"
            (addNew)="addNewCategory(item.categories)"
            (change)="changeCategories($event, item.categories)"></app-chips-menu>
        </div>
      </div>
      <!-- end of item -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
