@import 'src/content/scss/var.scss';
.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 240px);
}

:host {
  .table-list-item {
    &.category-list-item {
      justify-content: inherit;
      .areas {
        align-items: center;
        app-chips-menu {
          display: block;
          opacity: 0;
          @include animationOpacity();
        }
      }
      &:hover {
        background-color: $menuItemHover;
        .areas {
          app-chips-menu {
            opacity: 1;
          }
        }
      }
      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
        .areas {
          width: 100%;
          flex-wrap: wrap;
        }
      }
      .inner-el {
        width: 100%;
        max-width: 160px;
      }
    }
  }
}
