<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Shipment Type"
            [(ngModel)]="fiterData.shipmentType"
            (selectionChange)="changeValue(fiterData.shipmentType)">
            <mat-option *ngFor="let item of shipmentTypes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Customer"
            [(ngModel)]="fiterData.customer"
            (selectionChange)="changeValue(fiterData.customer)">
            <mat-option *ngFor="let item of customers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Carrier"
            [(ngModel)]="fiterData.carrier"
            (selectionChange)="changeValue(fiterData.carrier)">
            <mat-option *ngFor="let item of carriers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Service"
            [(ngModel)]="fiterData.service"
            (selectionChange)="changeValue(fiterData.service)">
            <mat-option *ngFor="let item of services"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Status"
            [(ngModel)]="fiterData.status"
            (selectionChange)="changeValue(fiterData.status)">
            <mat-option *ngFor="let item of statuses"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Payment Mode"
            [(ngModel)]="fiterData.paymentMode"
            (selectionChange)="changeValue(fiterData.paymentMode)">
            <mat-option *ngFor="let item of paymentModes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Markup Type"
            [(ngModel)]="fiterData.markupType"
            (selectionChange)="changeValue(fiterData.markupType)">
            <mat-option *ngFor="let item of markupTypes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Sales Rep"
            [(ngModel)]="fiterData.salesRep"
            (selectionChange)="changeValue(fiterData.salesRep)">
            <mat-option *ngFor="let item of salesReps"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Destination"
            [(ngModel)]="fiterData.destination"
            (selectionChange)="changeValue(fiterData.destination)">
            <mat-option *ngFor="let item of destinations"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Origin Postal"
            [(ngModel)]="fiterData.originPostal"
            (change)="changeValue(fiterData.originPostal)">
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Dest'n Postal"
            [(ngModel)]="fiterData.destNPostal"
            (change)="changeValue(fiterData.destNPostal)">
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <div class="checkbox-line">
          <mat-checkbox [(ngModel)]="fiterData.showCancelledShipments"
            (change)="changeValue(fiterData.showCancelledShipments)">Show Cancelled Shipments</mat-checkbox>
        </div>
      </div>
      <div class="col-s-6">
        <div class="checkbox-line">
          <mat-checkbox [(ngModel)]="fiterData.showPredispatched"
            (change)="changeValue(fiterData.showCancelledShipments)">Show Predispatched</mat-checkbox>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
