@import 'src/content/scss/var.scss';

ul {
  &.file-cards {
    max-width: 392px;
    margin: 0 auto;
    padding: 4px 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 96px;
      height: 96px;
      border-radius: 2px;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 64px;
        height: 64px;
      }

      &:hover {
        background-color: $menuItemHover;
      }

      &.active {
        background-color: $primaryLight;
      }
    }
  }
}
