<div class="dialog-content normal-dialog">
  <header>
    <h3>Export</h3>
  </header>
  <section [perfectScrollbar]>
    <ul class="file-cards">
      <li *ngFor="let item of filesArray"
        [ngClass]="{'active': item.active}"
        (click)="selectType(item.type); item.active = !item.active">
        <img src="{{item.preview}}"
          alt="{{item.type}}">
      </li>
    </ul>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          disabled="{{!fileType}}"
          color="primary"
          (click)="export()"
          cdkFocusInitial> Export </button>
      </div>
    </div>
  </footer>
</div>
