<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Payee Type</mat-label>
          <mat-select [(ngModel)]="modalData.payeeType"
            [formControl]="validation.payeeType">
            <mat-option *ngFor="let item of payeeTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Payee</mat-label>
          <mat-select [(ngModel)]="modalData.payee"
            [formControl]="validation.payee">
            <mat-option *ngFor="let item of payees"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Payment Method</mat-label>
          <mat-select [(ngModel)]="modalData.paymentMethod"
            [formControl]="validation.paymentMethod">
            <mat-option *ngFor="let item of paymentMethods"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="modalData.paymentStatus"
            [formControl]="validation.paymentStatus">
            <mat-option *ngFor="let item of paymentStatuses"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
