@import 'src/content/scss/var.scss';

::ng-deep {
  .info-dialog {
    width: 288px;

    ul {
      &.info-list {
        padding-bottom: 0 !important;

        li {
          strong {
            text-align: right;
          }
          &.subtotal {
            margin-top: 4px;
            border-top: 1px solid $borderColor;
            padding: 4px 0;
            strong {
              font-size: 15px;
              font-weight: 500;
              color: $textColorLight;
            }
          }
        }
      }
    }
    &.dialog-content {
      footer {
        .right-item {
          button {
            &.mat-button {
              margin: 0;
              min-width: 40px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 380px) {
    .small-dialog-width {
      .info-dialog {
        width: 100%;
      }
    }
  }
}
