<div class="dialog-content info-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <ul class="info-list">
        <li *ngFor="let item of data.moreData"
          [ngClass]="{'divider': item?.divider, 'active': item?.active, 'subtotal': item?.label==='Subtotal'}">
          <span *ngIf="!item?.divider"
            class="caption">{{item?.label}}</span>
          <strong *ngIf="!item?.divider"
            [ngClass]="{'right-align': item?.right}">{{convertValue(item?.value)}} <span *ngIf="weightValue">
              lbs</span></strong>
        </li>
        <li *ngIf="currencyValue || weightValue"
          class="divider"></li>
        <li *ngIf="currencyValue || weightValue"
          class="active">
          <span class="caption">Total <span *ngIf="weightValue">Weight</span></span>
          <strong *ngIf="!weightValue"
            class="right-align">{{total | currency}}</strong>
          <strong *ngIf="weightValue"
            class="right-align">{{total}} lbs</strong>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Close </button>
      </div>
    </div>
  </footer>
</div>
