<div class="dialog-content normal-dialog">
  <header class="item-row">
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="wrap">
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          #name
          maxlength="20"
          placeholder="Description"
          [(ngModel)]="modalData.productName"
          [formControl]="validation.productName">
        <mat-hint align="end">{{name.value.length}} / 20</mat-hint>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="HS Code"
            [(ngModel)]="modalData.hsCode"
            [formControl]="validation.hsCode"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="SKU Code"
            [(ngModel)]="modalData.skuCode"
            [formControl]="validation.skuCode"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="COO"
            [(ngModel)]="modalData.coo"
            [formControl]="validation.coo"
            required>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Unit Price"
            [(ngModel)]="modalData.unitPrice"
            [formControl]="validation.unitPrice"
            prefix="$ "
            mask="0*.00"
            [showMaskTyped]="false"
            [dropSpecialCharacters]="false"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            mask="0*"
            placeholder="Quantity"
            [(ngModel)]="modalData.quantity"
            [formControl]="validation.quantity"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-4">
        <app-data-block label="Item Value"
          value="{{(modalData.unitPrice*modalData.quantity)| currency}}"
          strong="{{true}}"></app-data-block>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial> {{data.actionButton}} </button>
      </div>
    </div>
  </footer>
</div>
