.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

::ng-deep {
  .table-list-item {
    &.roles-item {
      padding-bottom: 16px;
      padding-top: 16px;
    }
  }
}
