@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 96px);
}

:host {
  .table-list-item {
    &.ticket-item {
      @media only screen and (max-width: 991px) {
        padding-right: 48px;

        .status-label {
          top: 10px;
        }
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 35%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
            width: 33.33%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.date-el {
            width: 20%;

            @media only screen and (max-width: 991px) {
              width: 33.33%;
            }

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &.warning-el {
            width: 10%;

            @media only screen and (max-width: 991px) {
              width: 40px;
              position: absolute;
              right: 12px;
              top: 56px;
            }
          }
        }
      }
    }
  }
}
