<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- periond -->
        <app-custom-dropdown [period]="true"
          (select)="period($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <!-- tickets list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row ticket-item"
        *ngFor="let item of ticketsList"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <div class="inner-el with-chip">
            <span class="caption">Ticket</span>
            <strong>{{item.ticket}} <span *ngIf="item.type.name"
                class="chip-label {{item.type.color}}">{{item.type.name}}</span></strong>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el warning-el">
            <button *ngIf="item.documentsMissing.length"
              color="warn"
              mat-icon-button><i class="icon icon-outline-report_problem"></i></button>
          </div>
          <div class="inner-el">
            <app-data-block label="Reason"
              value="{{item.reason}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.tracking}">
            <app-data-block *ngIf="item.tracking"
              label="Tracking"
              value="{{item.tracking}}"></app-data-block>
          </div>
          <div class="inner-el date-el">
            <app-data-block label="Submited"
              value="{{item.submitedDate}}"></app-data-block>
          </div>
        </div>
        <div class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <!-- end of tickets list -->
    <!-- empty data -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
    <!-- end of empty data -->
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addTicket()"><i class="icon icon-add"></i></button>
