<mat-toolbar class="item-row content-toolbar">
  <div class="start-position">
    <!-- search -->
    <app-simple-search *ngIf="searchFlag"
      [closeButton]="true"
      (change)="searchFunction($event)"
      class="search-element"></app-simple-search>
  </div>
  <div class="end-position">
    <!-- period dropdown -->
    <app-custom-dropdown [period]="true"
      *ngIf="period"
      (select)="selectPeriod($event)"></app-custom-dropdown>
    <!-- sort -->
    <app-sort-btn *ngIf="filterBtn"
      [sortMenu]="sortMenu"
      (sortData)="getSortData($event)"></app-sort-btn>
    <!-- filter button -->
    <button *ngIf="filterBtn"
      mat-icon-button
      (click)="filter()">
      <i class="icon icon-filter_list"></i>
    </button>
    <!-- download button -->
    <button *ngIf="downloadBtn"
      mat-icon-button
      (click)="download()">
      <i class="icon icon-outline-get_app"></i>
    </button>
    <!-- toolbar settings -->
    <app-dot-menu *ngIf="toolbarSettings.length"
      [items]="toolbarSettings"
      (backData)="settingsFunction($event)"></app-dot-menu>
  </div>
</mat-toolbar>
