<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="modalData.type"
            [formControl]="validation.type"
            required>
            <mat-option *ngFor="let item of types"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Reason</mat-label>
          <mat-select [(ngModel)]="modalData.reason"
            [formControl]="validation.reason">
            <mat-option *ngFor="let item of reasons"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="modalData.status"
            [formControl]="validation.status">
            <mat-option *ngFor="let item of statuses"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
