<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- small widgets -->
    <app-small-widgets [dashboardStyle]="true"
      [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- dashboard widgets -->
    <app-dashboard-widgets></app-dashboard-widgets>
  </div>
</div>
