<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content card-list-box">
    <!-- card  New Orders-->
    <mat-card class="card profile-settings">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{data.newOrder.name}}</mat-card-title>
        <div class="end-position">
          <div class="el"
            *ngIf="data.newOrder.system && data?.newOrder.active">
            <mat-checkbox [(ngModel)]="data?.newOrder.system"> System </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data?.newOrder.active">
            <mat-checkbox [(ngModel)]="data.newOrder.email"> Email </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data?.newOrder.active">
            <mat-form-field color="accent"
              class="frequency-select single-select with-underline">
              <mat-select [(ngModel)]="data.newOrder.frequency">
                <mat-option *ngFor="let i of frequencies"
                  [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="el">
            <mat-slide-toggle color="accent"
              [(ngModel)]="data?.newOrder.active">
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="dynamic-list">
          <div class="dynamic-list-item"
            *ngFor="let item of data.newOrder.list; let i = index">
            <div class="row">
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Platform</mat-label>
                  <mat-select [(ngModel)]="item.platform">
                    <mat-option *ngFor="let i of platforms"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-4">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Store</mat-label>
                  <mat-select [(ngModel)]="item.store">
                    <mat-option *ngFor="let i of stories"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Notify</mat-label>
                  <mat-select [(ngModel)]="item.notify">
                    <mat-option *ngFor="let i of notifyList"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-4">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Country</mat-label>
                  <mat-select [(ngModel)]="item.country"
                    multiple>
                    <mat-option *ngFor="let i of countries"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button *ngIf="i>0"
              class="delete-btn"
              mat-icon-button
              (click)="removeNewOrderRow(i)"><i class="icon icon-close"></i></button>
          </div>
          <button mat-icon-button
            class="add-btn"
            color="accent"
            (click)="addNewOrderRow()"><i class="icon icon-add_circle"></i></button>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- card -->
    <mat-card class="card profile-settings">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{data.autoFulfilledOrder.name}}</mat-card-title>
        <div class="end-position">
          <div class="el"
            *ngIf="data.autoFulfilledOrder.active">
            <mat-checkbox [(ngModel)]="data.autoFulfilledOrder.system"> System </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data.autoFulfilledOrder.active">
            <mat-checkbox [(ngModel)]="data.autoFulfilledOrder.email"> Email </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data.autoFulfilledOrder.active">
            <mat-form-field color="accent"
              class="frequency-select single-select with-underline">
              <mat-select [(ngModel)]="data.autoFulfilledOrder.frequency">
                <mat-option *ngFor="let i of frequencies"
                  [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="el">
            <mat-slide-toggle color="accent"
              [(ngModel)]="data.autoFulfilledOrder.active">
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
    <!-- card -->
    <mat-card class="card profile-settings">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{data.inventoryRunningLow.name}}</mat-card-title>
        <div class="end-position">
          <div class="el"
            *ngIf="data.inventoryRunningLow.active">
            <mat-checkbox [(ngModel)]="data.inventoryRunningLow.system"> System </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data.inventoryRunningLow.active">
            <mat-checkbox [(ngModel)]="data.inventoryRunningLow.email"> Email </mat-checkbox>
          </div>
          <div class="el"
            *ngIf="data.inventoryRunningLow.active">
            <mat-form-field color="accent"
              class="frequency-select single-select with-underline">
              <mat-select [(ngModel)]="data.inventoryRunningLow.frequency">
                <mat-option *ngFor="let i of frequencies"
                  [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="el">
            <mat-slide-toggle color="accent"
              [(ngModel)]="data.inventoryRunningLow.active">
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="dynamic-list">
          <div class="dynamic-list-item"
            *ngFor="let item of data.inventoryRunningLow.list; let i = index">
            <div class="row">
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Platform</mat-label>
                  <mat-select [(ngModel)]="item.platform">
                    <mat-option *ngFor="let i of platforms"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-4">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline"
                  floatLabel="never">
                  <mat-label>Store</mat-label>
                  <mat-select [(ngModel)]="item.store">
                    <mat-option *ngFor="let i of stories"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button *ngIf="i>0"
              class="delete-btn"
              mat-icon-button
              (click)="removeInventoryRunningLowRow(i)"><i class="icon icon-close"></i></button>
          </div>
          <button mat-icon-button
            class="add-btn"
            color="accent"
            (click)="addInventoryRunningLowRow()"><i class="icon icon-add_circle"></i></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
