@import "src/content/scss/var.scss";
.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  padding-top: 24px;
}

:host {
  .card-list-box {
    .mat-card {
      &.card {
        &.profile-settings {
          padding-top: 0;
          padding-bottom: 0;
          margin: 0;
          &:not(:first-child) {
            border-top: 1px solid $borderColor;
          }
        }
      }
    }
  }
}
