@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
}

::ng-deep {
  .checkbox-line {
    &.card-settings {
      padding-left: 26px;

      .mat-checkbox-inner-container {
        margin-right: 16px;
      }
    }
  }
}
