<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="table-list-items">
      <div class="table-list-item simple-data card-list"
        *ngFor="let item of cardList; let i = index">
        <div class="start-position">
          <mat-radio-button name="paymentCard"
            [checked]="item.default"
            (change)="changeCard(item)">
            <figure>
              <img src="{{item.logo}}"
                alt="">
            </figure>
            <div class="data-el">
              <span class="value">{{item.number | creditCardMask}}</span>
              <span class="caption">Expire {{item.expireMonth}} / {{item.expireYear}}</span>
            </div>
          </mat-radio-button>
        </div>
        <div *ngIf="item.default"
          class="status-label green">Default</div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item, i)"></app-dot-menu>
      </div>
    </div>
    <div class="checkbox-line card-settings">
      <mat-checkbox [(ngModel)]="receiveTransactionReceipt">Receive transaction receipts?</mat-checkbox>
    </div>
  </div>
</div>
<button mat-fab
  class="bottom-right-position"
  color="primary"
  (click)="add()">
  <i class="icon icon-add"></i>
</button>
