<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="wrap">
      <mat-form-field color="accent"
        class="full-width">
        <mat-label>Salesperson</mat-label>
        <mat-select [(ngModel)]="modalData.salesperson"
          [formControl]="validation.salesperson">
          <mat-option *ngFor="let item of salespersons"
            [value]="item"> {{item}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Revenue Range</mat-label>
          <mat-select [(ngModel)]="modalData.revenueRange"
            [formControl]="validation.revenueRange">
            <mat-option *ngFor="let item of revenueRanges"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Shipment Amount</mat-label>
          <mat-select [(ngModel)]="modalData.shipmentAmount"
            [formControl]="validation.shipmentAmount">
            <mat-option *ngFor="let item of shipmentAmounts"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
