.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100% - 56px);
}

.inner-content {
  padding-top: 24px;
}

::ng-deep {
  .table-list-item {
    &.rates-batch-inner-item {
      @media only screen and (max-width: 991px) {
        padding-left: 24px;
        padding-right: 24px;

        .item-settings,
        .mat-checkbox.single-checkbox {
          top: 20px;
        }

        .button-list {
          &.one-btn {
            top: 8px;
            min-height: 68px;
          }
        }

        .status-label {
          top: 16px;
        }
      }

      .start-position {
        width: 25%;

        @media only screen and (max-width: 991px) {
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 12px;
          width: 100%;
        }
      }

      .end-position {
        width: 75%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        @media only screen and (max-width: 700px) {
          flex-wrap: wrap;

          app-data-block {
            &:not(.no-transform) {
              .data-el {
                padding-left: 96px;

                &.right-position {
                  padding-left: 96px;
                }
              }
            }
          }
        }

        .inner-el {
          width: 10%;

          &:last-child {
            width: 22%;
          }

          &.address-el {
            width: 34%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;

            &.address-el,
            &:last-child {
              width: 100%;
            }

            &.address-el {
              position: relative;
              padding: 0 0 12px 96px;
              display: block;

              span {
                &.caption {
                  line-height: 24px;
                  position: absolute;
                  top: 12px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
