<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar"
      *ngIf="!dataEmpty">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period dropdown -->
        <app-custom-dropdown *ngIf="!selection"
          [period]="true"
          (select)="selectPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn *ngIf="!selection"
          (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button *ngIf="!selection"
          mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- ship button -->
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          [disabled]="disableShip"
          (click)="shipFunction()">Ship</button>
        <div class="el">
          <app-dot-menu [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <!-- batches list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of trackings"
        class="table-list-item selection-row rates-batch-inner-item no-link"
        [ngClass]="{'selected-row': item.selected}">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Error"
              value="{{item.errors}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block *ngIf="item.cost"
              label="Cost"
              value="{{item.cost | currency}}"
              [right]="true"
              [details]="item.costDetails"
              (infoClick)="openCostDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status.name"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <ul class="button-list one-btn"
          *ngIf="!item.status.name && !selection">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="shipFunction(); $event.stopPropagation();">Ship</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="batchSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
  </div>
  <!-- end of batches list -->
  <div class="empty-data"
    *ngIf="dataEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
