<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- steps -->
    <app-steps class="page-steps"
      [steps]="steps"></app-steps>
    <!-- end of steps -->
    <!-- content -->
    <div class="row flex-row">
      <div class="col-9 clean-point-991">
        <!-- POD card -->
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>POD</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-6 clean-point-991">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="Signed By"
                        [formControl]="validation.pod.signedBy"
                        [(ngModel)]="pod.signedBy">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="Report to"
                        [formControl]="validation.pod.reportTo"
                        [(ngModel)]="pod.reportTo">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-6 clean-point-991">
                <div class="row">
                  <div class="col-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-label>Date</mat-label>
                      <input matInput
                        [matDatepicker]="date"
                        placeholder="MM/DD/YY"
                        [formControl]="validation.pod.date"
                        [(ngModel)]="pod.date"
                        [min]="minDate"
                        required>
                      <mat-datepicker-toggle matSuffix
                        [for]="date"
                        [disableRipple]="true">
                        <i matDatepickerToggleIcon
                          class="icon icon-date_range"></i>
                      </mat-datepicker-toggle>
                      <mat-datepicker #date
                        color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <app-time-field placeholder="Time"
                      [currentTime]="pod.time"
                      (time)="getTime($event)"></app-time-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 clean-point-991">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-label>Internal Comments</mat-label>
                  <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    maxlength="100"
                    [(ngModel)]="pod.internalComments"
                    [formControl]="validation.pod.internalComments"></textarea>
                  <mat-hint align="end">{{pod.internalComments.length}} / 100</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of POD card -->
        <!-- Price Breakdown section -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Services</mat-card-title>
            <div class="end-position">
              <app-button-select class="btn-box"
                [value]="currencyValue"
                [items]="currencyItems"
                (change)="currencyChange($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="service-lines">
              <div class="service-line item-row"
                *ngFor="let row of priceBreakdown; let i = index">
                <div class="start-position">
                  <mat-form-field class="full-width"
                    color="accent">
                    <mat-select [(value)]="row.select1"
                      [(ngModel)]="row.select1"
                      required>
                      <mat-option *ngFor="let item of select1List"
                        [value]="item.value"> {{ item.viewValue }} </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="full-width"
                    color="accent">
                    <mat-select [(value)]="row.serviseName"
                      [(ngModel)]="row.serviseName"
                      required>
                      <mat-option *ngFor="let item of serviseNameList"
                        [value]="item.value"> {{ item.viewValue }} </mat-option>
                      <div class="divider"></div> <button class="add-btn"
                        mat-button
                        (click)="newService()">
                        <i class="icon icon-add_circle"></i> New Service </button>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="end-position">
                  <app-data-block class="data-item"
                    [data]="row.cost"></app-data-block>
                  <app-data-block class="data-item"
                    [data]="row.charge"></app-data-block>
                  <mat-form-field class="full-width"
                    color="accent">
                    <mat-select [(value)]="row.select3"
                      [(ngModel)]="row.select3"
                      required>
                      <mat-option *ngFor="let item of select3List"
                        [value]="item.value"> {{ item.viewValue }} </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <app-data-block class="data-item"
                    [data]="row.totalPrice"></app-data-block>
                </div>
                <button class="close-row"
                  mat-icon-button
                  (click)="removeService(row)"
                  *ngIf="i>0"><i class="icon icon-close"></i></button>
              </div>
              <!-- add button -->
              <button mat-icon-button
                color="accent"
                (click)="addService()">
                <i class="icon icon-add_circle"></i> </button>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end Price Breakdown section -->
      </div>
      <div class="col-3 clean-point-991">
        <!-- Documents card -->
        <mat-card class="card auto-height">
          <mat-card-header>
            <mat-card-title>Doc</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="docs-list">
              <div class="item-row doc-row"
                *ngFor="let item of docs">
                <div class="start-position">
                  <div class="doc">
                    <h4>{{item.name}}</h4>
                    <span class="caption">{{item.state}}</span>
                  </div>
                </div>
                <div class="end-position">
                  <div class="dot-menu">
                    <button mat-icon-button
                      [matMenuTriggerFor]="menu"
                      (click)="$event.stopPropagation()">
                      <i class="icon icon-more_vert"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <div class="slide-toggle-menu-item">
                        <mat-slide-toggle (click)="$event.stopPropagation()"
                          labelPosition="before"
                          color="accent"
                          [checked]="item.state==='Public'"
                          (change)="changePublic(item)">Public</mat-slide-toggle>
                      </div>
                      <div *ngFor="let item of docSettings">
                        <button *ngIf="item!='divider'"
                          mat-menu-item
                          [ngClass]="{'warn-item': (item==='Delete'||item==='Cancel')}"
                          (click)="docSettingsFunction(item)">
                          <span>{{ item }}</span>
                        </button>
                        <hr *ngIf="item==='divider'"
                          class="diwider">
                      </div>
                    </mat-menu>
                  </div>
                </div>
              </div>
              <button class="add-doc"
                color="accent"
                mat-icon-button><i class="icon icon-upload"></i></button>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of Documents card-->
      </div>
    </div>
    <div class="row flex-row">
      <div class="col-9 clean-point-991">
        <!-- total block -->
        <div class="total-block item-row">
          <div class="start-position">&nbsp;</div>
          <div class="end-position">
            <!-- title -->
            <div class="item-row">
              <div class="start-position">
                <span class="caption">Subtotal (CAD)</span>
              </div>
              <div class="end-position">
                <span class="value">{{totalBox.subtotal}}</span>
              </div>
            </div>
            <!-- form items -->
            <div class="item-row"
              *ngFor="let item of totalBox.taxes">
              <div class="start-position">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select [(value)]="item.tax"
                    [(ngModel)]="item.tax"
                    required>
                    <mat-option *ngFor="let item of taxes"
                      [value]="item.value"> {{ item.viewValue }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="end-position">
                <mat-form-field color="accent"
                  class="full-width right">
                  <input matInput
                    [(ngModel)]="item.taxValue">
                </mat-form-field>
              </div>
            </div>
            <!-- end of form items -->
            <div class="total-line item-row">
              <div class="start-position">
                <span class="caption">Total (CAD)</span>
              </div>
              <div class="end-position">
                <span class="value">{{totalBox.total}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- end of total block -->
      </div>
    </div>
    <!-- end of content -->
  </div>
  <div class="centered-button">
    <button class="btn large-btn"
      mat-flat-button
      color="primary"
      routerLink="/admin/work-order/create-work-order-confirmed">Completed</button>
  </div>
</div>
