@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

// doc list
:host {
  .docs-list {
    padding-bottom: 16px;

    .item-row {
      min-height: 64px;
    }
  }

  .total-block {
    .mat-form-field-appearance-legacy {
      .mat-form-field-wrapper {
        margin-bottom: 0;
      }
    }
  }

  .total-block {
    padding-bottom: 16px;

    >.end-position {
      width: 40%;
      flex-direction: column;
      @include animation();

      @media only screen and (max-width: 800px) {
        width: 60%;
        padding-bottom: 16px;
      }

      @media only screen and (max-width: 480px) {
        width: 80%;
        padding-bottom: 16px;
      }

      .right {
        input {
          text-align: right;
        }
      }

      .end-position {
        width: 50%;
      }

      .start-position {
        width: 35%;
      }
    }
  }
}

.service-lines {
  padding-bottom: 16px;
}

::ng-deep {
  .service-line {
    padding-right: 40px;
    position: relative;

    .close-row {
      position: absolute;
      right: 0;
      top: 12px;
    }

    .start-position {
      width: 50%;

      .mat-form-field {
        max-width: 60%;
        margin-right: 16px;

        .mat-form-field-wrapper {
          margin-bottom: 0;
        }

        &:first-child {
          max-width: 40%;
        }
      }
    }

    .end-position {
      width: 50%;

      .mat-form-field {
        max-width: 16%;
        margin-left: 16px;

        &:first-child {
          margin-left: 0;
        }

        .mat-form-field-wrapper {
          margin-bottom: 0;
        }
      }

      .data-item {
        display: block;
        width: 100%;
        max-width: 25%;
        margin-bottom: 1.25em;
      }
    }

    @media only screen and (max-width: 1170px) {
      flex-direction: column;

      .end-position,
      .start-position {
        width: 100%;
      }

      .end-position {
        justify-content: flex-start;

        .mat-form-field {
          margin: 0 16px 0 0;
        }
      }

      .data-el {
        &.right-position {
          padding: 0 16px 0 0;
          text-align: left;

          span.value {
            justify-content: flex-start;
          }
        }
      }
    }

    @media only screen and (max-width: 540px) {
      .end-position {
        flex-wrap: wrap;

        .data-item,
        .mat-form-field {
          max-width: 50%;
          margin-right: 0;
          padding-right: 16px;
        }
      }
    }

    @media only screen and (max-width: 480px) {
      .start-position {
        flex-direction: column;

        .mat-form-field {
          max-width: 100%;
          margin: 0;

          &:first-child {
            max-width: 100%;
          }
        }
      }
    }
  }
}
