:host {
  .amount-box {
    display: block;
    position: relative;
    left: -48px;
  }

  .data-rows {
    padding-bottom: 48px;

    .item-row {
      min-height: 48px;
    }
  }

  .attach-row {
    .mat-button {
      &.btn-with-icon {
        margin-left: -4px;
        text-transform: none;
        font-weight: 400;
      }
    }
  }

  // dialog card box
  .dialog-card-box {
    padding-bottom: 12px;

    .table-list-item {
      &.card-list {
        .status-label {
          right: 12px;
        }
      }
    }
  }
}
