<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <app-amount class="amount-box"
        [(value)]="modalData.amount"></app-amount>
      <div class="data-rows">
        <!-- row -->
        <div class="item-row">
          <div class="start-position">
            <span class="caption">Total</span>
          </div>
          <div class="end-position">
            <span class="value">{{modalData.totalAmount | currency}}</span>
          </div>
        </div>
        <!-- row -->
        <div class="item-row">
          <div class="start-position">
            <span class="caption">Payment</span>
          </div>
          <div class="end-position">
            <span class="value">- {{modalData.payment  | currency}}</span>
          </div>
        </div>
        <div class="item-row border-top">
          <div class="start-position">
            <span class="caption">Balance Due</span>
          </div>
          <div class="end-position">
            <span class="value">{{modalData.balanceDue | currency}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- row  -->
    <div class="row">
      <div class="{{customer?'col-6':'col-4'}}">
        <mat-form-field class="full-width"
          color="accent">
          <mat-label>Payment Method</mat-label>
          <mat-select [(ngModel)]="modalData.paymentMethod"
            [formControl]="validation.paymentMethod"
            (ngModelChange)="validation.paymentMethod.value==='Credit Card' ?cardFlag=true:cardFlag=false"
            required>
            <mat-option *ngFor="let item of paymentMethods"
              value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="{{customer?'col-6':'col-4'}}">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Check #"
            [(ngModel)]="modalData.checkNumber"
            [formControl]="validation.checkNumber"
            required>
        </mat-form-field>
      </div>
      <div class="col-4"
        *ngIf="!customer">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Date of Payment</mat-label>
          <input matInput
            [matDatepicker]="paymentDateField"
            placeholder="MM/DD/YY"
            [formControl]="validation.lastPaymentDate"
            [(ngModel)]="modalData.lastPaymentDate"
            [min]="minDate"
            required>
          <mat-datepicker-toggle matSuffix
            [for]="paymentDateField"
            [disableRipple]="true">
            <i matDatepickerToggleIcon
              class="icon icon-date_range"></i>
          </mat-datepicker-toggle>
          <mat-datepicker #paymentDateField
            color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- card box -->
    <div class="dialog-card-box"
      *ngIf="cardFlag">
      <div class="table-list-items">
        <div class="table-list-item simple-data card-list"
          *ngFor="let item of cardList;">
          <div class="start-position">
            <mat-radio-button name="paymentCard"
              [checked]="item.default"
              (change)="changeCard(item)">
              <figure>
                <img src="{{item.logo}}"
                  alt="">
              </figure>
              <div class="data-el">
                <span class="value">{{item.number | creditCardMask}}</span>
                <span class="caption">Expire {{item.expireMonth}} / {{item.expireYear}}</span>
              </div>
            </mat-radio-button>
          </div>
          <div *ngIf="item.default"
            class="status-label green">Default</div>
        </div>
      </div>
      <div class="wrap">
        <button mat-button
          class="add-btn"
          (click)="newPaymentMethod()"><i class="icon icon-add_circle"></i> Add a New Payment Method</button>
      </div>
    </div>
    <!-- row  -->
    <div class="wrap">
      <mat-form-field class="full-width"
        color="accent">
        <mat-label>Comment</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1">{{modalData.comment}}</textarea>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="wrap"
      *ngIf="!customer&&data.checkboxLabel">
      <div class="checkbox-line">
        <mat-checkbox [(ngModel)]="modalData.notifyCustomer">{{data.checkboxLabel}}</mat-checkbox>
      </div>
    </div>
    <div class="row attach-row"
      *ngIf="data.attachFlag">
      <button mat-button
        class="btn-with-icon"><i class="icon icon-upload"></i>Attach Documents</button>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="pay()"
          cdkFocusInitial>Pay</button>
      </div>
    </div>
  </footer>
</div>
