<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <app-content-toolbar [filterBtn]="true"
      (filterOpen)="filterOpen()"
      [period]="true"
      (periodData)="getPeriod($event)"
      [toolbarSettings]="contentToolbarSettings"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <!-- end of toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of listData"
        class="table-list-item jb-item {{item.marker?item.marker:''}}"
        [ngClass]="{'new': item.new, 'marker': item.marker}"
        (click)="setLtlTrackFlag(item)">
        <div class="start-position">
          <app-number-row-box [ngClass]="{'short-el': item.numberBox.short}"
            [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.created}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Cost(CAD)"
              value="{{item.cost | currency}}"
              right="{{true}}"
              [details]="item.costDetails"
              (infoClick)="openCostDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status.name==='Closed'"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <ul *ngIf="item.status.name!='Closed'"
          class="button-list one-btn">
          <li>
            <app-status-button [statuses]="jbStatuses"
              [status]="item.status.name"
              (change)="statusFunction($event, item);"></app-status-button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list  -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
