<div class="dialog-content normal-dialog">
  <header>
    <h3>Forgot Password</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <p><strong>Enter your email to reset password.</strong></p>
      <form action=".">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Account Email"
            [formControl]="emailFormControl"
            required />
          <mat-error *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "> Please enter a valid email address </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')"> Email is required </mat-error>
        </mat-form-field>
        <div class="icon-line">
          <i class="icon icon-phone-outline"></i>
          <span>Still having issues? Please contact us 1-877-373-9222</span>
        </div>
      </form>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="send()"
          cdkFocusInitial> Send </button>
      </div>
    </div>
  </footer>
</div>
