<app-main-toolbar [title]="workingData.title"
  [backBtnFlag]="workingData.backBtnFlag"></app-main-toolbar>
<div class="scroll-block gray-bg"
  [perfectScrollbar]>
  <div class="inner-content login-inner-content">
    <app-steps class="page-steps"
      [steps]="instantQuoteSteps"></app-steps>
    <!-- from to blocks -->
    <div class="from-to from-to-quick-quote">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <input matInput
              placeholder="Company"
              aria-label="company"
              [formControl]="workingData.from.locationControl"
              [(ngModel)]="workingData.from.values.value"
              required>
          </mat-form-field>
          <div class="location-box">
            <div class="row">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select placeholder="Country"
                    [formControl]="workingData.from.countryFormControl"
                    [(ngModel)]="workingData.from.values.data.country"
                    (ngModelChange)="changeCountry(workingData.from.values.data.country, 'from')"
                    required>
                    <mat-option *ngFor="let country of countries"
                      [value]="country"> {{ country }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select placeholder="{{workingData.from.values.stateLabel}}"
                    [formControl]="workingData.from.stateFormControl"
                    [(ngModel)]="workingData.from.values.data.province"
                    required>
                    <mat-option *ngFor="let state of states.from"
                      [value]="state"> {{ state }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="City"
                    [formControl]="workingData.from.cityFormControl"
                    [(ngModel)]="workingData.from.values.data.city"
                    [matAutocomplete]="autoFrom"
                    required />
                  <mat-autocomplete #autoFrom="matAutocomplete"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCityesFrom | async"
                      [value]="option"> {{option}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="{{workingData.from.values.zipLabel}}"
                    [formControl]="workingData.from.zipFormControl"
                    required
                    mask="AAA AAA"
                    [(ngModel)]="workingData.from.values.data.zip" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 1"
                    [formControl]="workingData.from.address1FormControl"
                    [(ngModel)]="workingData.from.values.data.address1"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 2"
                    [formControl]="workingData.from.address2FormControl"
                    [(ngModel)]="workingData.from.values.data.address2" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Attention"
                    [formControl]="workingData.from.attentionFormControl"
                    [(ngModel)]="workingData.from.values.data.attention"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Phone"
                    [formControl]="workingData.from.phoneFormControl"
                    [(ngModel)]="workingData.from.values.data.phone"
                    mask="000 000 0000"
                    required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Email"
                    [formControl]="workingData.from.emailFormControl"
                    [(ngModel)]="workingData.from.values.data.email"
                    [errorStateMatcher]="matcher"
                    required />
                </mat-form-field>
              </div>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              #toSpecialInstructions
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="workingData.from.values.specialInstructions"
              placeholder="Special Instructions"></textarea>
            <mat-hint align="end">{{workingData.from.values.specialInstructions.length}} / 100</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <input matInput
              placeholder="Company"
              aria-label="company"
              [formControl]="workingData.to.locationControl"
              [(ngModel)]="workingData.to.values.value"
              required>
          </mat-form-field>
          <div class="location-box">
            <div class="row">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select placeholder="Country"
                    [formControl]="workingData.to.countryFormControl"
                    [(ngModel)]="workingData.to.values.data.country"
                    (ngModelChange)="changeCountry(workingData.to.values.data.country, 'to')"
                    required>
                    <mat-option *ngFor="let country of countries"
                      [value]="country"> {{ country }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-select placeholder="{{workingData.to.values.stateLabel}}"
                    [formControl]="workingData.to.stateFormControl"
                    [(ngModel)]="workingData.to.values.data.province"
                    required>
                    <mat-option *ngFor="let state of states.to"
                      [value]="state"> {{ state }} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="City"
                    [formControl]="workingData.to.cityFormControl"
                    [(ngModel)]="workingData.to.values.data.city"
                    [matAutocomplete]="autoTo"
                    required />
                  <mat-autocomplete #autoTo="matAutocomplete"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCityesTo | async"
                      [value]="option"> {{option}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="{{workingData.to.values.zipLabel}}"
                    [formControl]="workingData.to.zipFormControl"
                    required
                    mask="AAA AAA"
                    [(ngModel)]="workingData.to.values.data.zip" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 1"
                    [formControl]="workingData.to.address1FormControl"
                    [(ngModel)]="workingData.to.values.data.address1"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 2"
                    [formControl]="workingData.to.address2FormControl"
                    [(ngModel)]="workingData.to.values.data.address2" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Attention"
                    [formControl]="workingData.to.attentionFormControl"
                    [(ngModel)]="workingData.to.values.data.attention"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Phone"
                    [formControl]="workingData.to.phoneFormControl"
                    [(ngModel)]="workingData.to.values.data.phone"
                    mask="000 000 0000"
                    required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Email"
                    [formControl]="workingData.to.emailFormControl"
                    [(ngModel)]="workingData.to.values.data.email"
                    [errorStateMatcher]="matcher"
                    required />
                </mat-form-field>
              </div>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              #toSpecialInstructions
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="workingData.to.values.specialInstructions"
              placeholder="Special Instructions"></textarea>
            <mat-hint align="end">{{workingData.from.values.specialInstructions.length}} / 100</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- shipment block -->
    <app-shipment-card [instantQuote]="true"></app-shipment-card>
    <!-- blocks -->
    <div class="row break-point-800 one-height-align">
      <div class="col-6">
        <app-additional-services-card></app-additional-services-card>
      </div>
      <div class="col-6">
        <app-cod-service-card></app-cod-service-card>
      </div>
    </div>
  </div>
  <div class="white">
    <div class="bottom-row login-bottom-row with-data">
      <div class="start-position">
        <div class="quote-wrap">
          <app-rate-line class="quote-footer-line instant-quote-footer-line"
            [rateItem]="qoute"></app-rate-line>
        </div>
      </div>
      <div class="end-position">
        <button class="btn large-btn"
          mat-flat-button
          color="primary"
          routerLink="/instant-quote/instant-quote-payment">Checkout</button>
      </div>
    </div>
  </div>
</div>
