@import "src/content/scss/var.scss";

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

::ng-deep {
  .instant-quote-footer-line {
    .rate-value {
      strong {
        color: $secondary;
        font-size: 20px !important;
      }
    }
  }
}
