@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  .markup-details {
    .mat-card-content {
      .row {
        .col-2 {
          @media only screen and (max-width: 700px) {
            width: 33.33%;
          }

          @media only screen and (max-width: 480px) {
            width: 50%;
          }
        }
      }
    }
  }

  .markup-weight-card {
    .mat-card-content {
      .row {
        .col-2 {
          @media only screen and (max-width: 700px) {
            width: 25%;
          }

          @media only screen and (max-width: 480px) {
            width: 50%;
          }
        }
      }
    }
  }

  .dynamic-list-item {
    margin-bottom: 12px;

    .delete-btn {
      top: 20px;
      margin-top: 0;
    }

    &:not(:first-child) {
      padding-top: 12px;
      border-top: 1px solid $borderColor;
    }

    @media only screen and (max-width: 700px) {
      .col-s-10 {
        width: 75%;
      }

      .col-s-2 {
        width: 25%;
      }
    }

    @media only screen and (max-width: 480px) {
      .col-s-10 {
        width: 100%;
      }

      .col-s-2 {
        width: 33%;
      }
    }
  }
}
