<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- toolbar -->
      <mat-toolbar class="item-row content-toolbar">
        <div class="start-position"></div>
        <div class="end-position">
          <div class="toolbar-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #menu="matMenu"
              class="slide-toggle-menu">
              <button mat-menu-item
                (click)="contentToolbarSettings('Reset')">
                <span>Reset</span>
              </button>
              <button mat-menu-item
                (click)="contentToolbarSettings('Apply Dom to All')">
                <span>Apply Dom to All</span>
              </button>
              <div class="divider"></div>
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="contentToolbarCaLocation"
                    (change)="contentToolbarSettings('CA')"> CA </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="contentToolbarUsaLocation"
                    (change)="contentToolbarSettings('USA')"> USA </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>
      <!-- end of toolbar -->
      <!-- card -->
      <mat-card class="card markup-details">
        <mat-card-header>
          <mat-card-title> Details </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Type"
                  [(ngModel)]="markup.direction"
                  [formControl]="validation.direction">
                  <mat-option value="Markup">Markup</mat-option>
                  <mat-option value="Markdown">Markdown</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Min(%)"
                  [(ngModel)]="markup.markupMin"
                  [formControl]="validation.markupMin"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Dom(%)"
                  [(ngModel)]="markup.markupDom"
                  [formControl]="validation.markupDom"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Intl(%)"
                  [(ngModel)]="markup.markupIntl"
                  [formControl]="validation.markupIntl"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Flat Rate(%)"
                  [(ngModel)]="markup.flatRate"
                  [formControl]="validation.flatRate"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="OPEX(%)"
                  [(ngModel)]="markup.commCourierOpExp"
                  [formControl]="validation.commCourierOpExp"
                  mask="00" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position"> Lane </mat-card-title>
          <div class="end-position">
            <app-button-select [value]="positions.lane"
              [items]="positionsList"
              (change)="changePosition($event, positions.lane)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="dynamic-list">
            <div class="dynamic-list-item"
              *ngFor="let item of markup.lines; let i = index">
              <div class="row">
                <div class="col-s-5">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="From"
                      [(ngModel)]="item.from" />
                  </mat-form-field>
                </div>
                <div class="col-s-5">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="To"
                      [(ngModel)]="item.to" />
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="Markup(%)"
                      [(ngModel)]="item.markup"
                      mask="00" />
                  </mat-form-field>
                </div>
              </div>
              <button *ngIf="i>0"
                mat-icon-button
                class="delete-btn"
                (click)="removeRow(i, markup.lines)"><i class="icon icon-close"></i></button>
            </div>
            <button mat-icon-button
              class="add-btn"
              color="accent"
              (click)="addLinesRow()"><i class="icon icon-add_circle"></i> </button>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position"> Country </mat-card-title>
          <div class="end-position">
            <app-button-select [value]="positions.country"
              [items]="positionsList"
              (change)="changePosition($event, positions.country)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="dynamic-list">
            <div class="dynamic-list-item"
              *ngFor="let item of markup.countries; let i = index">
              <div class="row">
                <div class="col-s-10">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="Location"
                      [(ngModel)]="item.location" />
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="Markup(%)"
                      [(ngModel)]="item.markup"
                      mask="00" />
                  </mat-form-field>
                </div>
              </div>
              <button *ngIf="i>0"
                mat-icon-button
                class="delete-btn"
                (click)="removeRow(i, markup.countries)"><i class="icon icon-close"></i></button>
            </div>
            <button mat-icon-button
              class="add-btn"
              color="accent"
              (click)="addCountriesRow()"><i class="icon icon-add_circle"></i> </button>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position"> Postal/Zip Code Range </mat-card-title>
          <div class="end-position">
            <app-button-select [value]="positions.zip"
              [items]="positionsList"
              (change)="changePosition($event, positions.zip)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="dynamic-list">
            <div class="dynamic-list-item"
              *ngFor="let item of markup.codeRange; let i = index">
              <div class="row">
                <div class="col-s-5">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="From"
                      [(ngModel)]="item.from" />
                  </mat-form-field>
                </div>
                <div class="col-s-5">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="To"
                      [(ngModel)]="item.to" />
                  </mat-form-field>
                </div>
                <div class="col-s-2">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      placeholder="Markup(%)"
                      [(ngModel)]="item.markup"
                      mask="00" />
                  </mat-form-field>
                </div>
              </div>
              <button *ngIf="i>0"
                mat-icon-button
                class="delete-btn"
                (click)="removeRow(i, markup.codeRange)"><i class="icon icon-close"></i></button>
            </div>
            <button mat-icon-button
              class="add-btn"
              color="accent"
              (click)="addZipRow()"><i class="icon icon-add_circle"></i> </button>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card markup-weight-card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position"> Weight </mat-card-title>
          <div class="end-position">
            <app-button-select [value]="positions.weight"
              [items]="positionsList"
              (change)="changePosition($event, positions.weight)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="row dialog-section-wrap">
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="1-5lbs(%)"
                  [(ngModel)]="markup.weight5"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="6-10lbs(%)"
                  [(ngModel)]="markup.weight10"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="11-15lbs(%)"
                  [(ngModel)]="markup.weight15"
                  mask="00" />
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="16 + lbs(%)"
                  [(ngModel)]="markup.weightMax"
                  mask="00" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="centered-button">
    <button mat-flat-button
      color="primary"
      class="large-btn">Save</button>
  </div>
</div>
