<div class="dialog-content normal-dialog">
  <header>
    <h3>Filter Markups</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="wrap">
      <mat-form-field color="accent"
        class="full-width">
        <mat-label>Markup</mat-label>
        <mat-select [(ngModel)]="modalData.markup"
          [formControl]="validation.markup">
          <mat-option *ngFor="let item of markups"
            [value]="item"> {{item}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Package Type</mat-label>
          <mat-select [(ngModel)]="modalData.packageType"
            [formControl]="validation.packageType">
            <mat-option *ngFor="let item of packageTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Carriers</mat-label>
          <mat-select [(ngModel)]="modalData.carriers"
            [formControl]="validation.carriers">
            <mat-option *ngFor="let item of carriersList"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="modalData.status"
            [formControl]="validation.status">
            <mat-option *ngFor="let item of statuses"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="modalData.type"
            [formControl]="validation.type">
            <mat-option *ngFor="let item of types"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
