<div class="map-box"
  [perfectScrollbar]>
  <agm-map [latitude]="lat"
    [longitude]="lng">
    <agm-marker [latitude]="lat"
      [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="mobile-track-scroll">
    <div class="tracking-info">
      <header>
        <div class="traking-title">
          <span class="caption">Trans</span>
          <a mat-button
            (click)="openDetails()">{{trackData.track}}</a>
        </div>
      </header>
      <section>
        <app-steps [steps]="trackData.path"></app-steps>
        <ul class="locations">
          <li *ngFor="let item of trackData.locations"
            [ngClass]="{'active': item.state, 'current': item.current}">
            <span>{{ item.date }} <em>{{ item.time }}</em></span>
            <strong class="{{ item.logo ? 'with-logo' : '' }}">{{ item.name }} <a class="logo-box"
                target="_blank"
                href="{{ item.link }}">
                <img *ngIf="item.logo"
                  src="{{ item.logo }}"
                  alt="{{ item.name }}" />
              </a>
            </strong>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
