<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter -->
        <button mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- download -->
        <button mat-icon-button
          (click)="download()">
          <i class="icon icon-outline-get_app"></i>
        </button>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <!-- data list -->
    <div class="table-list-items">
      <div class="table-list-item item-row simple-data customer-list-item"
        *ngFor="let item of dormantList"
        (click)="clickOnCustomerItem(item)">
        <div class="start-position">
          <div class="inner-el">
            <app-img-box url="{{item.logo}}"
              icon="business">
            </app-img-box>
          </div>
          <div class="inner-el">
            <app-data-block class="no-transform"
              label="{{item.customerId}}"
              value="{{item.customerName}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Dormant Stage"
              value="{{item.dormantStage}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Last shipment"
              value="{{item.lastShipment}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.salesPerson}">
            <app-data-block *ngIf="item.salesPerson"
              label="Sales Person"
              value="{{item.salesPerson}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.created}}"></app-data-block>
          </div>
          <div class="inner-el active-button">
            <button mat-icon-button
              (click)="loginToCustomer(item); $event.stopPropagation()"
              *ngIf="item.active"><i class="icon icon-account_circle"></i></button>
          </div>
        </div>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.active"> Active </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
            <button mat-menu-item
              [ngClass]="{'warn-item': (i==='Delete'||i==='Cancel')}"
              *ngFor="let i of itemSettings"
              (click)="itemSettingsFunction(i, item)">
              <span>{{i}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <!-- end of data list -->
  </div>
</div>
