<div class="video-modal">
  <iframe width="100%"
    height="390"
    [src]="url"></iframe>
  <button class="close-dialog"
    mat-icon-button
    (click)="closeDialog()"><i class="icon icon-close"></i></button>
</div>
