::ng-deep {
  .cdk-overlay-pane {
    &.video-dialog {
      width: 100%;
      .mat-dialog-container {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
  .video-modal {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background-color: #000;
    iframe {
      border: none;
      display: block;
      margin: 0;
    }
    .close-dialog {
      position: absolute;
      top: 0;
      right: -48px;
      color: #fff;
      i {
        &.icon {
          color: #fff !important;
        }
      }
    }
  }
}
