<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row simple-data roles-item"
        *ngFor="let item of rolesList"
        (click)="editRole(item)">
        <div class="start-position">
          <span class="value">{{item.roleName}}</span>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addRole()"><i class="icon icon-add"></i></button>
