.scroll-block {
  height: calc(100vh - 48px - 49px);
}
.inner-content {
  padding-top: 24px;
}
.empty-data {
  height: calc(100vh - 48px - 49px - 128px);
}

::ng-deep {
  .table-list-item {
    &.roles-item {
      padding-bottom: 16px;
      padding-top: 16px;
    }
  }
}
