<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox *ngIf="!dataEmpty"
          class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown *ngIf="!selection"
          [period]="true"
          (select)="selectPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn *ngIf="!selection"
          (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button *ngIf="!selection"
          mat-icon-button
          (click)="filterOpen()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
        <!-- total box -->
        <div class="total-box"
          *ngIf="selection">
          <div class="el"><span class="value">Total</span></div>
          <div class="el"> <span class="value big-value">{{totalAmount | currency}}</span></div>
          <div class="el">
            <button mat-flat-button
              color="primary"
              (click)="payFunction();">Pay</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- payables list -->
      <div class="table-list-item selection-row no-logo ap-item"
        *ngFor="let item of payablesList"
        (click)="clickOnPayableItem()">
        <div class="start-position">
          <!-- *ngIf="getWarnFunction(item)" (for row checkbox) -->
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item)"
            color="accent"></mat-checkbox>
          <div class="number-box no-logo">
            <div class="inner-el with-chip number-content">
              <strong>{{item.id}} <span class="chip-label
                  {{convertPayeeCategory(item.payeeCategory)}}">{{item.payeeCategory}}</span></strong>
              <em>{{item.payee}}</em>
            </div>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.dateCreated}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Method"
              value="{{item.payment}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{item.currency}})"
              value="{{item.totalAmount | currency}}"
              [right]="true"
              [details]="item.totalDetails"
              (infoClick)="openTotalInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.lastPaymentDate}">
            <app-data-block *ngIf="item.lastPaymentDate"
              label="Paid"
              value="{{item.lastPaymentDate}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.balanceDue}">
            <app-data-block *ngIf="item.balanceDue"
              label="Balance Due"
              value="{{item.balanceDue | currency}}"
              [right]="true"
              [wrongFlag]="true"></app-data-block>
          </div>
        </div>
        <div *ngIf="!getWarnFunction(item)"
          class="status-label {{ item.status?.color }}"> {{ item.status?.name }} </div>
        <ul class="button-list one-btn"
          *ngIf="getWarnFunction(item)">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="payFunction(); $event.stopPropagation();">Pay</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of payables list -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button *ngIf="!selection"
  routerLink="/admin/invoicing/ap/create-payable"
  class="bottom-right-position"
  mat-fab
  color="primary"><i class="icon icon-add"></i></button>
