<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Card Number"
              [(ngModel)]="modalData.number"
              [formControl]="validation.number"
              required
              mask="0000 0000 0000 0000" />
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <app-card-date [date]="cardDate"
            (change)="getCardDate($event)"></app-card-date>
        </div>
        <div class="col-s-3">
          <mat-form-field class="full-width card-field"
            color="accent">
            <input matInput
              placeholder="CVC"
              [formControl]="validation.cvc"
              required
              mask="000"
              [(ngModel)]="modalData.cvc" />
            <figure>
              <img src="content/images/cards/cvc.svg"
                alt="">
            </figure>
          </mat-form-field>
        </div>
      </div>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Card Holder Name"
              [(ngModel)]="modalData.cardHolderName"
              [formControl]="validation.cardHolderName"
              required />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Country"
              [(ngModel)]="modalData.country"
              [formControl]="validation.country"
              required
              (ngModelChange)="changeCountry(modalData.country)">
              <mat-option *ngFor="let item of staticData.countries"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field class="full-width"
            color="accent">
            <input matInput
              placeholder="City"
              [formControl]="validation.city"
              [(ngModel)]="modalData.city"
              [matAutocomplete]="auto"
              required />
            <mat-autocomplete #auto="matAutocomplete"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCityes | async"
                [value]="option"> {{option}} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="{{staticData.stateLabel}}"
              [(ngModel)]="modalData.stateOrProvince"
              [formControl]="validation.stateOrProvince"
              required>
              <mat-option *ngFor="let item of staticData.states"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="{{staticData.zipLabel}}"
              [(ngModel)]="modalData.zipOrPostal"
              [formControl]="validation.zipOrPostal"
              mask="AAA AAA"
              required />
          </mat-form-field>
        </div>
      </div>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Address 1"
              [(ngModel)]="modalData.address1"
              [formControl]="validation.address1"
              required />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Address 2"
              [(ngModel)]="modalData.address2"
              [formControl]="validation.address2" />
          </mat-form-field>
        </div>
      </div>
      <!-- row  -->
      <div class="wrap">
        <div class="checkbox-line">
          <mat-checkbox name="default"
            [(ngModel)]="modalData.default">Default Card</mat-checkbox>
        </div>
        <div class="checkbox-line">
          <mat-checkbox name="privacy"
            [(ngModel)]="modalData.privacy">By continuing, you agree to the eShipper Payments Privacy Notice & Terms of
            Service.</mat-checkbox>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="send()"
            cdkFocusInitial> {{data.actionButton}} </button>
        </div>
      </div>
    </footer>
  </form>
</div>
