<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Service Name"
              [(ngModel)]="modalData.serviceName"
              [formControl]="validation.serviceName"
              aria-label="Service Name"
              [matAutocomplete]="serviceName"
              required>
            <mat-autocomplete #serviceName="matAutocomplete"
              class="complex-autocomplete">
              <div class="scroll-wrap"
                [perfectScrollbar]>
                <mat-option *ngFor="let item of filteredServiceName | async"
                  [value]="item.name"> {{item.name}} </mat-option>
              </div>
            </mat-autocomplete>
            <mat-error *ngIf="validation.serviceName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Sub-Service Name"
              [(ngModel)]="modalData.subServiceName"
              [formControl]="validation.subServiceName"
              [matAutocomplete]="subServiceName"
              required />
            <mat-autocomplete #subServiceName="matAutocomplete"
              class="complex-autocomplete">
              <div class="scroll-wrap"
                [perfectScrollbar]>
                <mat-option *ngFor="let item of filteredServiceName | async"
                  [value]="item.name"> {{item.name}} </mat-option>
              </div>
            </mat-autocomplete>
            <mat-error *ngIf="validation.subServiceName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Mapping</mat-label>
            <mat-select [(ngModel)]="modalData.mapping"
              [formControl]="validation.mapping"
              required>
              <mat-option *ngFor="let item of mappings"
                [value]="item.value"> {{item.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Charge Type</mat-label>
            <mat-select [(ngModel)]="modalData.chargeType"
              [formControl]="validation.chargeType"
              required>
              <mat-option *ngFor="let item of chargeTypes"
                [value]="item.value"> {{item.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Cost"
              [(ngModel)]="modalData.cost"
              [formControl]="validation.cost"
              prefix="$ "
              mask="comma_separator.2"
              required />
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Charge"
              [(ngModel)]="modalData.charge"
              [formControl]="validation.charge"
              prefix="$ "
              mask="comma_separator.2"
              required />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Note"
              [(ngModel)]="modalData.note"
              [formControl]="validation.note"
              maxlength="50">
            <mat-hint align="end">{{modalData.note.length}} / 50</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <div class="checkbox-line">
            <mat-checkbox color="accent">Apply Fuel Surcharge</mat-checkbox>
          </div>
        </div>
        <div class="col-s-6">
          <div class="checkbox-line">
            <mat-checkbox color="accent">Apply tax</mat-checkbox>
          </div>
        </div>
        <div class="col-s-6">
          <div class="checkbox-line">
            <mat-checkbox color="accent">Commissionable</mat-checkbox>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
