@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

::ng-deep {
  .accordion-list {
    @media only screen and (max-width: 1180px) {
      .mat-expansion-indicator {
        top: 16px;
        right: 24px;
        display: block;
        position: absolute;
      }

      .mat-expansion-panel-header {
        position: relative;
      }
    }

    .expansion-panel-item {
      &:not(:first-child) {
        border-top: 1px solid $borderColor;
      }
    }

    .mat-expansion-panel-spacing {
      margin: 0;
      box-shadow: none;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }

    .item-row {
      padding-top: 12px;
      padding-bottom: 12px;

      @media only screen and (max-width: 1180px) {
        flex-wrap: wrap;
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 1180px) {
          width: 100%;

          .image-spacer {
            display: none;
          }

          .img-line {
            width: 100%;
          }
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 1180px) {
          width: 100%;
        }

        @media only screen and (max-width: 800px) {
          flex-wrap: wrap;
        }

        @media only screen and (max-width: 700px) {
          justify-content: flex-start;
        }

        .inner-el {
          width: 14.28%;

          @media only screen and (max-width: 1180px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 800px) {
            width: 25%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;

            app-data-block:not(.no-transform) {
              position: relative;
              padding: 12px 0 0 104px;
              display: block;

              span.caption {
                line-height: 24px;
                position: absolute;
                top: 12px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
