<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"
          [compareFlag]="true"
          (compare)="changeCompareFlag($event)"></app-custom-dropdown>
        <app-custom-dropdown *ngIf="compareFlag"
          [period]="true"
          (select)="getComparePeriod($event)"></app-custom-dropdown>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <!-- small widgets -->
    <app-small-widgets *ngIf="!compareFlag"
      [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <app-small-compare-widgets *ngIf="compareFlag"
      [smallWidgets]="complexWidgetItems"></app-small-compare-widgets>
    <!-- end of small widgets -->
    <!-- chart -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{widget.name}}</mat-card-title>
        <div class="end-position">
          <div class="complex-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="widgetMenu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #widgetMenu="matMenu"
              class="slide-toggle-menu collapse-dropdown">
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="widget.settings.chartValue"> Chart Value </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
              <div class="collapse-dropdown-wrap"
                [perfectScrollbar]>
                <mat-accordion (click)="$event.stopPropagation();">
                  <div class="collapse-content">
                    <div class="exp-title-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header expandedHeight="48px">
                          <mat-panel-title>Chart Type</mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                          *ngFor="let item of widget.settings.chartTypes"
                          class="item"
                          (click)="chartTypeClick(item)">{{item}}</button>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="report-chart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
    <!-- end of chart -->
    <mat-accordion class="table-list-items accordion-list">
      <!-- single data -->
      <div *ngIf="!compareFlag">
        <mat-expansion-panel class="expansion-panel-item"
          *ngFor="let item of carrierList">
          <mat-expansion-panel-header class="header-row"
            collapsedHeight="auto"
            expandedHeight="auto">
            <div class="item-row">
              <div class="start-position">
                <div class="img-line">
                  <app-img-box url="{{item.logo}}"
                    icon="{{business}}">
                  </app-img-box>
                  <span class="value strong">{{item.name}}</span>
                </div>
              </div>
              <div class="end-position">
                <div class="inner-el">
                  <app-data-block label="SHIPT"
                    value="{{sum(item, 'shipments')}}"
                    bold="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Revenue"
                    value="{{sum(item, 'revenue') | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Cost"
                    value="{{sum(item, 'cost') | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Gross"
                    value="{{sum(item, 'grossProfit') | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="COMSN"
                    value="{{sum(item, 'commissions') | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Net"
                    value="{{sum(item, 'netProfit') | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Avg.  Margin"
                    value="{{sum(item, 'avgMargin')}}%"
                    right="true"></app-data-block>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="item-row"
            *ngFor="let inner of item.collapceData">
            <div class="start-position">
              <div class="img-line">
                <span class="image-spacer"></span>
                <span class="value">{{inner.name}}</span>
              </div>
            </div>
            <div class="end-position">
              <div class="inner-el">
                <app-data-block label="SHIPT"
                  value="{{inner.shipments}}"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Revenue"
                  value="{{inner.revenue | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Cost"
                  value="{{inner.cost | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Gross"
                  value="{{inner.grossProfit | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="COMSN"
                  value="{{inner.commissions | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Net"
                  value="{{inner.netProfit | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Avg.  Margin"
                  value="{{inner.avgMargin}}%"
                  right="true"></app-data-block>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <!-- compare data -->
      <mat-tab-group *ngIf="compareFlag"
        dynamicHeight
        disableRipple
        animationDuration="0ms">
        <!-- first data -->
        <mat-tab label="{{firstCompareTab}}">
          <mat-expansion-panel class="expansion-panel-item"
            *ngFor="let item of carrierList">
            <mat-expansion-panel-header class="header-row"
              collapsedHeight="auto"
              expandedHeight="auto">
              <div class="item-row">
                <div class="start-position">
                  <div class="img-line">
                    <app-img-box url="{{item.logo}}"
                      icon="{{business}}">
                    </app-img-box>
                    <span class="value strong">{{item.name}}</span>
                  </div>
                </div>
                <div class="end-position">
                  <div class="inner-el">
                    <app-data-block label="Shipments"
                      value="{{sum(item, 'shipments')}}"
                      bold="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Revenue"
                      value="{{sum(item, 'revenue') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Cost"
                      value="{{sum(item, 'cost') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Gross Profit"
                      value="{{sum(item, 'grossProfit') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Commissions"
                      value="{{sum(item, 'commissions') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Net Profit"
                      value="{{sum(item, 'netProfit') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Avg.  Margin %"
                      value="{{sum(item, 'avgMargin')}}"
                      right="true"></app-data-block>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="item-row"
              *ngFor="let inner of item.collapceData">
              <div class="start-position">
                <div class="img-line">
                  <span class="image-spacer"></span>
                  <span class="value">{{inner.name}}</span>
                </div>
              </div>
              <div class="end-position">
                <div class="inner-el">
                  <app-data-block label="Shipments"
                    value="{{inner.shipments}}"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Revenue"
                    value="{{inner.revenue | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Cost"
                    value="{{inner.cost | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Gross Profit"
                    value="{{inner.grossProfit | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Commissions"
                    value="{{inner.commissions | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Net Profit"
                    value="{{inner.netProfit | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Avg.  Margin %"
                    value="{{inner.avgMargin}}"
                    right="true"></app-data-block>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-tab>
        <!-- second data -->
        <mat-tab label="{{secondCompareTab}}">
          <mat-expansion-panel class="expansion-panel-item"
            *ngFor="let item of carrierList">
            <mat-expansion-panel-header class="header-row"
              collapsedHeight="auto"
              expandedHeight="auto">
              <div class="item-row">
                <div class="start-position">
                  <div class="img-line">
                    <app-img-box url="{{item.logo}}"
                      icon="{{business}}">
                    </app-img-box>
                    <span class="value strong">{{item.name}}</span>
                  </div>
                </div>
                <div class="end-position">
                  <div class="inner-el">
                    <app-data-block label="Shipments"
                      value="{{sum(item, 'shipments')}}"
                      bold="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Revenue"
                      value="{{sum(item, 'revenue') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Cost"
                      value="{{sum(item, 'cost') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Gross Profit"
                      value="{{sum(item, 'grossProfit') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Commissions"
                      value="{{sum(item, 'commissions') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Net Profit"
                      value="{{sum(item, 'netProfit') | currency}}"
                      right="true"></app-data-block>
                  </div>
                  <div class="inner-el">
                    <app-data-block label="Avg.  Margin %"
                      value="{{sum(item, 'avgMargin')}}"
                      right="true"></app-data-block>
                  </div>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="item-row"
              *ngFor="let inner of item.collapceData">
              <div class="start-position">
                <div class="img-line">
                  <span class="image-spacer"></span>
                  <span class="value">{{inner.name}}</span>
                </div>
              </div>
              <div class="end-position">
                <div class="inner-el">
                  <app-data-block label="Shipments"
                    value="{{inner.shipments}}"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Revenue"
                    value="{{inner.revenue | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Cost"
                    value="{{inner.cost | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Gross Profit"
                    value="{{inner.grossProfit | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Commissions"
                    value="{{inner.commissions | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Net Profit"
                    value="{{inner.netProfit | currency}}"
                    right="true"></app-data-block>
                </div>
                <div class="inner-el">
                  <app-data-block label="Avg.  Margin %"
                    value="{{inner.avgMargin}}"
                    right="true"></app-data-block>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-tab>
      </mat-tab-group>
    </mat-accordion>
  </div>
</div>
