<ul class="steps">
  <li *ngFor="let item of steps"
    class="{{ item.state ? 'active' : '' }}"><button class="step-link"
      *ngIf="item.link"
      mat-icon-button
      routerLink="{{item.link}}"></button> <span>{{ item.position }}</span> </li>
</ul>
