<div class="dialog-content normal-dialog">
  <header class="item-row">
    <h3 class="start-position">{{data.title}}</h3>
    <h3
      class="end-position staus-name {{data.status === 'Approved' ? 'green' : data.status === 'Denied' ? 'red' : ''}}">
      {{data.status}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Solution</mat-label>
            <mat-select [(ngModel)]="modalData.solution"
              [formControl]="validation.solution"
              required>
              <mat-option *ngFor="let item of solutions"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Status Alert</mat-label>
            <input matInput
              [matDatepicker]="picker"
              placeholder="MM/DD/YY"
              [formControl]="validation.statusAlert"
              [(ngModel)]="modalData.statusAlert"
              (dateChange)="getPickDate()"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="picker"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #picker
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Comment</mat-label>
            <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="modalData.comment"
              [formControl]="validation.comment"></textarea>
            <mat-hint align="end">{{modalData.comment.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="update()"
            cdkFocusInitial> Update </button>
        </div>
      </div>
    </footer>
  </form>
</div>
