<div class="dialog-content normal-dialog">
  <header>
    <h3>Rename</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="wrap">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Document Name"
            [formControl]="docNameControl"
            [(ngModel)]="docName">
        </mat-form-field>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
