<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- steps -->
    <div class="steps-wrap">
      <app-steps class="page-steps"
        [steps]="steps"></app-steps>
      <div class="step-btns">
        <button mat-flat-button
          class="btn-with-icon hide-btn"
          color="accent"
          (click)="addSegment()"><i class="icon icon-add"></i> Segment</button>
        <button mat-icon-button
          class="show-btn"
          color="accent"
          (click)="addSegment()"><i class="icon icon-add_circle"></i></button>
        <button type="button"
          mat-icon-button
          class="second-btn"><i class="icon icon-outline-get_app"></i></button>
        <button type="button"
          mat-icon-button
          (click)="innerDrawer.toggle()"><i class="icon icon-info_outline"></i></button>
      </div>
    </div>
    <!-- end of steps -->
    <!-- dybamic content -->
    <mat-drawer-container class="inner-dynamic-container"
      autosize
      [style.height.px]="innerSidebarHeight">
      <mat-drawer-content class="inner-main-content">
        <div class="inner-dynamic-sidenav-content">
          <!-- empty block -->
          <div class="wrap-centered-box"
            *ngIf="nextDisable">
            <div class="centered-box">
              <img src="content/images/segment.svg"
                alt="">
              <p>Add Flight and Truck segments by clicking on <span>+ floating button.</span></p>
            </div>
          </div>
          <!-- end of empty block -->
          <!-- segments content -->
          <div class="segments-content"
            *ngIf="!nextDisable">
            <mat-card class="card segment-card"
              *ngFor="let data of segments; let indx = index">
              <mat-card-content>
                <div class="button-line"
                  (click)="data.showStops = !data.showStops;">
                  <!-- primary row -->
                  <div class="item-row main-row">
                    <div class="start-position">
                      <div class="inner-el main-item">
                        <i class="icon"
                          [ngClass]="{'icon-outline-local_shipping': data.carrier.type==='truck','icon-flight': data.carrier.type==='air'}"></i>
                        <strong>{{data.carrier.name}}</strong>
                        <span *ngIf="data.carrier.description"
                          class="caption">{{data.carrier.description}}</span>
                      </div>
                    </div>
                    <div class="end-position">
                      <div class="el"
                        *ngIf="data.stops.length">
                        <span class="caption">{{data.stops.length}} Stops</span>
                      </div>
                      <div class="el">
                        <button mat-icon-button
                          (click)="addAlarm(data); $event.stopPropagation()">
                          <i class="icon icon-alarm_add"></i>
                        </button>
                        <app-dot-menu class="item-settings"
                          [items]="!data.stops.length?itemSettings:itemSettingsAlarm"
                          (backData)="itemSettingsFunction($event, data)"></app-dot-menu>
                      </div>
                    </div>
                  </div>
                  <!-- end of primary row -->
                  <!-- secondary row -->
                  <div class="item-row secondary-row">
                    <div class="inner-el"
                      *ngFor="let item of data.bigBlocks">
                      <div class="address-el">
                        <span class="caption">{{item.label}}</span>
                        <strong class="dark-text">{{item.value}}</strong>
                        <em>{{item.date}}</em>
                      </div>
                    </div>
                    <div *ngFor="let item of data.blocks"
                      class="inner-el">
                      <app-data-block [data]="item"></app-data-block>
                    </div>
                  </div>
                  <!-- secondary row -->
                </div>
                <!-- agent line -->
                <div class="item-row agent-row"
                  [@slideInOut]="data.showStops ? 'in' : 'out'">
                  <div class="start-position">
                    <div class="inner-el agent-item">
                      <span class="caption">{{data.agent.service}}</span>
                      <strong>{{data.agent.name}}</strong>
                      <span class="caption">{{data.agent.phone}}</span>
                    </div>
                  </div>
                  <div class="end-position stops">
                    <div class="inner-el"
                      *ngFor="let i of data.stops"
                      [ngClass]="{'active': i.active, 'current': i.current, 'hidden-text': data.stops.length>6, 'hidden-text-mobile': data.stops.length>3}">
                      <span>{{i.location}}</span>
                      <span class="caption">{{i.mission}}</span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <!-- end of segments content -->
          <div class="centered-button">
            <button class="btn large-btn"
              mat-flat-button
              color="primary"
              disabled="{{nextDisable}}"
              routerLink="/admin/work-order/create-work-order-cost-docs">Next</button>
          </div>
        </div>
      </mat-drawer-content>
      <mat-drawer #innerDrawer
        class="inner-dynamic-sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        position="end"
        [opened]="mobileQuery.matches ? false : true"
        autosize>
        <div #innerSidebar>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-data-item *ngFor="let item of additionalDetails"
                [data]="item"></app-data-item>
              <div class="info-sidebar-divider"></div>
              <app-ship-details-sidebar *ngIf="detailsData"
                [data]="detailsData"></app-ship-details-sidebar>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-drawer>
    </mat-drawer-container>
    <!-- end of dybamic content -->
  </div>
</div>
