@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
  overflow: visible;
}

:host {
  .wrap-centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 48px - 80px - 24px - 96px);
  }

  .steps-wrap {
    .show-btn {
      display: none;
    }

    @media only screen and (max-width: 850px) {
      padding-right: 160px;
    }

    @media only screen and (max-width: 700px) {
      padding-right: 80px;

      .hide-btn {
        display: none;
      }

      .show-btn {
        display: inline-block;
      }
    }
  }

  .centered-box {
    max-width: 320px;

    img {
      display: block;
      margin: 0 auto 24px;
    }

    p {
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      color: $textColorLight;

      span {
        display: block;
      }
    }
  }

  // segments content
  .segments-content {
    .segment-card {
      .inner-el {
        &.main-item {
          position: relative;
          padding-left: 40px;
          display: flex;
          flex-direction: column;

          i {
            &.icon {
              color: $iconColor;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -12px;
            }
          }
        }

        strong {
          font-size: 14px;
          font-weight: 500;
        }

        strong,
        span,
        em {
          display: block;
          line-height: 20px;
        }

        em {
          font-style: normal;
          color: $textColorLight;
          font-size: 12px;
        }
      }

      .secondary-row {
        padding: 0 24px 12px;
        align-items: flex-start;

        @media only screen and (max-width: 768px) {
          flex-wrap: wrap;

          .inner-el {
            width: 50%;
            padding-top: 12px;
          }
        }

        @media only screen and (max-width: 480px) {
          .inner-el {
            width: 100%;

            app-data-block,
            .address-el {
              position: relative;
              padding: 12px 0 0 80px;
              display: block;

              span {
                &.caption {
                  line-height: 24px;
                  position: absolute;
                  top: 12px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .agent-row {
    background-color: $lightSection;
    border-bottom-left-radius: $cardRadius;
    border-bottom-right-radius: $cardRadius;
    overflow: hidden;
    align-items: flex-start;

    @media only screen and (max-width: 480px) {
      flex-wrap: wrap;
    }

    .agent-item {
      width: 100%;
      padding: 24px 0 0 24px;

      strong {
        font-weight: 500;
      }

      @media only screen and (max-width: 480px) {
        position: relative;
        margin: 24px 0 0 24px;
        padding: 0 0 0 80px;
        display: block;

        span {
          &.caption {
            &:first-child {
              line-height: 24px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

    .start-position {
      width: 176px;

      @media only screen and (max-width: 480px) {
        width: 100%;
      }
    }

    .end-position {
      width: 100%;
    }

    .stops {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: 24px 0;

      @media only screen and (max-width: 480px) {
        padding: 24px;
      }

      .inner-el {
        position: relative;
        padding: 0 0 16px 24px;

        &:last-child {
          padding-bottom: 0;
        }

        &:not(:last-child) {
          &:before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 500rem;
            border: 3px solid $green;
            position: absolute;
            top: 4px;
            left: 0;
            z-index: 1;
          }

          &:after {
            content: '';
            display: block;
            height: calc(100% - 14px);
            width: 2px;
            border-left: 2px dashed #041527;
            position: absolute;
            top: 18px;
            left: 6px;
          }

          &.active {
            &:not(.current) {
              &:after {
                border-left: 2px solid $green;
              }
            }
          }
        }

        &.active {
          &:not(:first-child) {
            &:not(.current) {
              &:before {
                background-color: $green;
              }
            }

            &.current {
              &:before {
                box-shadow: 0 0 0 4px rgba($green, 0.25);
              }
            }
          }
        }

        &:last-child {
          &:before {
            font-family: 'eshipper' !important;
            content: '\e8b4';
            color: $primary;
            display: block;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            font-size: 24px;
            position: absolute;
            top: 0px;
            left: -5px;
          }
        }
      }
    }
  }
}
