<div class="dialog-content qoute-dialog">
  <header class="item-row">
    <div class="start-position">
      <h3>Quotes</h3>
    </div>
    <div class="end-position">
      <button mat-icon-button
        (click)="closeDialog()"><i class="icon icon-close"></i></button>
    </div>
  </header>
  <section [perfectScrollbar]>
    <div class="quote-cards">
      <div class="quote-card"
        matRipple
        [matRippleColor]="primary"
        (click)="selectCard(item)"
        *ngFor="let item of quotes">
        <figure>
          <img src="{{item.img}}"
            alt="">
        </figure>
        <h3>{{item.title}}</h3>
        <span class="time">{{item.time}}</span>
        <strong class="price"> {{item.price | currency}} </strong>
        <ul class="additional-data">
          <li *ngFor="let i of item.additionalInfo">
            <span>{{i.label}}</span>
            <em>{{i.value | currency}}</em>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
