@import 'src/content/scss/var.scss';

:host {
  .quote-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 56px 24px;
    @media only screen and (max-width: 600px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @media only screen and (max-width: 530px) {
      flex-direction: column;
    }
  }

  .quote-card {
    width: 240px;
    height: 400px;
    padding: 24px 24px 16px;
    cursor: pointer;
    @media only screen and (min-width: 1024px) {
      &:hover {
        background-color: $mainMenuActive;
      }
    }
    @media only screen and (max-width: 530px) {
      margin: 0 auto 24px;
    }

    figure {
      width: 120px;
      height: 120px;
      margin: 0 auto 24px;
      img {
        display: block;
        width: 100%;
      }
    }

    h3 {
      text-align: center;
      margin: 0;
      padding: 0 0 8px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.01em;
    }

    span {
      &.time {
        display: block;
        line-height: 16px;
        padding-bottom: 8px;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.4px;
        color: $textColorLight;
      }
    }

    strong {
      &.price {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $green;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.018em;
        line-height: 28px;
        margin-bottom: 16px;
      }
    }

    ul {
      &.additional-data {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        max-width: 160px;

        li {
          width: 100%;
          overflow: hidden;

          span {
            float: left;
            width: 96px;
            font-size: 12px;
            letter-spacing: 0.4px;
            color: $textColorLight;
          }

          em {
            font-style: normal;
            float: right;
          }
        }
      }
    }
  }
}
