<div class="details-sidebar">
  <app-info-block [data]="data?.from"></app-info-block>
  <app-info-block [data]="data?.to"></app-info-block>
  <app-data-item [data]="data?.package"></app-data-item>
  <app-data-item [data]="data?.quantity"></app-data-item>
  <app-data-item [data]="data?.dimension"></app-data-item>
  <app-data-item [data]="data?.instructions"></app-data-item>
</div>
