@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}
.inner-content {
  padding-top: 24px;
}
.empty-data {
  height: calc(100vh - 48px - 49px - 128px);
}

::ng-deep {
  .role-section {
    &:not(:first-child) {
      border-top: 1px solid $borderColor;
    }
    .section-title {
      padding-left: 16px;
      padding-right: 12px;
      @media only screen and (max-width: 480px) {
        padding-right: 4px;
      }
    }
    .drop-section {
      .table-list-item {
        &.roles-item {
          padding-bottom: 16px;
          padding-top: 16px;
          padding-left: 56px;
          position: relative;
          &:first-child {
            border-top: 1px solid $borderColor;
          }
          .handle {
            color: $iconColor;
            position: absolute;
            left: 16px;
            top: 16px;
          }
        }
      }
    }
  }
}
