<app-main-toolbar [title]="data.title"
  [backBtnFlag]="data.backBtnFlag"></app-main-toolbar>
<div class="scroll-block gray-bg"
  [perfectScrollbar]>
  <div class="inner-content login-inner-content">
    <!-- from to blocks -->
    <div class="from-to from-to-quick-quote">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <mat-select placeholder="Country"
                  [formControl]="data.from.countryFormControl"
                  [(ngModel)]="data.from.values.data.country"
                  (ngModelChange)="changeCountry(data.from.values.data.country, 'from')"
                  required>
                  <mat-option *ngFor="let country of countries"
                    [value]="country"> {{ country }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <mat-select placeholder="{{data.from.values.stateLabel}}"
                  [formControl]="data.from.stateFormControl"
                  [(ngModel)]="data.from.values.data.province"
                  required>
                  <mat-option *ngFor="let state of states.from"
                    [value]="state"> {{ state }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="data.from.cityFormControl"
                  [(ngModel)]="data.from.values.data.city"
                  [matAutocomplete]="autoFrom"
                  required />
                <mat-autocomplete #autoFrom="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityesFrom | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="{{data.from.values.zipLabel}}"
                  [formControl]="data.from.zipFormControl"
                  required
                  mask="AAA AAA"
                  [(ngModel)]="data.from.values.data.zip" />
              </mat-form-field>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of data.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <mat-select placeholder="Country"
                  [formControl]="data.to.countryFormControl"
                  [(ngModel)]="data.to.values.data.country"
                  (ngModelChange)="changeCountry(data.to.values.data.country, 'to')"
                  required>
                  <mat-option *ngFor="let country of countries"
                    [value]="country"> {{ country }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <mat-select placeholder="{{data.to.values.stateLabel}}"
                  [formControl]="data.to.stateFormControl"
                  [(ngModel)]="data.to.values.data.province"
                  required>
                  <mat-option *ngFor="let state of states.to"
                    [value]="state"> {{ state }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="data.to.cityFormControl"
                  [(ngModel)]="data.to.values.data.city"
                  [matAutocomplete]="autoTo"
                  required />
                <mat-autocomplete #autoTo="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityesTo | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="{{data.to.values.zipLabel}}"
                  [formControl]="data.to.zipFormControl"
                  required
                  mask="AAA AAA"
                  [(ngModel)]="data.to.values.data.zip" />
              </mat-form-field>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of data.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- shipment block -->
    <app-shipment-card [instantQuote]="true"></app-shipment-card>
  </div>
  <div class="white">
    <div class="bottom-row login-bottom-row">
      <div class="start-position"></div>
      <div class="end-position">
        <button class="btn large-btn"
          mat-flat-button
          color="primary"
          (click)="openProcessDialog()">Get A Qoute</button>
      </div>
    </div>
  </div>
</div>
