<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content details-content">
    <div class="row">
      <div class="col-8">
        <!-- content -->
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Claim</mat-card-title>
          </mat-card-header>
          <mat-card-content class="claim-content">
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Reason</mat-label>
                  <mat-select [(ngModel)]="claim.reason"
                    [formControl]="validation.reason"
                    required>
                    <mat-option *ngFor="let item of reasons"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Contact Preference</mat-label>
                  <mat-select [(ngModel)]="claim.contactPreference"
                    [formControl]="validation.contactPreference">
                    <mat-option *ngFor="let item of contactPreferences"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Received</mat-label>
                  <input matInput
                    [matDatepicker]="receivedDateField"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.receivedDate"
                    [(ngModel)]="claim.receivedDate"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="receivedDateField"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #receivedDateField
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Mailed</mat-label>
                  <input matInput
                    [matDatepicker]="mailedDateField"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.mailedDate"
                    [(ngModel)]="claim.mailedDate"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="mailedDateField"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #mailedDateField
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="wrap">
              <mat-form-field color="accent"
                class="full-width">
                <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20"
                  #description="cdkTextareaAutosize"
                  maxlength="200"
                  placeholder="Description"
                  [(ngModel)]="claim.description"
                  [formControl]="validation.description"
                  required></textarea>
                <mat-hint align="end">{{claim.description?.length || 0}}/200</mat-hint>
              </mat-form-field>
            </div>
            <div class="wrap">
              <mat-form-field color="accent"
                class="full-width">
                <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20"
                  #details="cdkTextareaAutosize"
                  maxlength="100"
                  placeholder="Claim Details"
                  [(ngModel)]="claim.details"
                  [formControl]="validation.details"
                  required></textarea>
                <mat-hint align="end">{{claim.details?.length || 0}}/100</mat-hint>
              </mat-form-field>
            </div>
            <app-dynamic-imags [data]="claim.documents"
              (cahnge)="changeDocuments($event, claim.documents)"></app-dynamic-imags>
          </mat-card-content>
        </mat-card>
        <div class="checkbox-line card-align">
          <mat-checkbox color="accent"
            [(ngModel)]="claim.notifyMeForUpdates">Notify Me For Updates</mat-checkbox>
        </div>
      </div>
      <!-- sidebar -->
      <div class="col-4">
        <mat-card class="card small-info-card">
          <mat-card-header>
            <mat-card-title>Shipment</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="shipment-card-content">
              <div class="wrap">
                <app-img-box [url]="shipment.logo"></app-img-box>
              </div>
              <div class="row">
                <div class="col-s-6">
                  <app-data-block label="Tracking"
                    value="{{shipment.tracking}}"></app-data-block>
                </div>
                <div class="col-s-6">
                  <app-data-block label="Value of Goods"
                    value="{{shipment.valueOfGoods | currency}}"></app-data-block>
                </div>
              </div>
              <div class="row">
                <div class="col-s-6">
                  <app-data-block label="Ship"
                    value="{{shipment.shipData}}"></app-data-block>
                </div>
                <div class="col-s-6">
                  <app-data-block label="Cost"
                    value="{{shipment.cost|currency}}"></app-data-block>
                </div>
              </div>
              <div class="row">
                <div class="col-s-6">
                  <app-data-block label="Insurance"
                    value="{{shipment.insurance}}"></app-data-block>
                </div>
                <div class="col-s-6">
                  <app-data-block label="Amount"
                    value="{{shipment.amount | currency}}"></app-data-block>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-header>
            <mat-card-title>Customer</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="shipment-card-content">
              <div class="wrap">
                <app-data-block label="Customer"
                  value="{{shipment.customer}}"></app-data-block>
              </div>
              <div class="wrap">
                <app-data-block label="Email"
                  value="{{shipment.email}}"></app-data-block>
              </div>
              <div class="wrap">
                <app-data-block label="Phone"
                  value="{{shipment.phone}}"></app-data-block>
              </div>
              <!-- row -->
              <div class="wrap">
                <app-data-block label="Shipping"
                  value="{{shipment.shipping}}"></app-data-block>
              </div>
              <!-- row -->
              <div class="wrap">
                <app-data-block label="Billing"
                  value="{{shipment.billing}}"></app-data-block>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="centered-button">
    <button class="large-btn"
      mat-flat-button
      color="primary"
      (click)="createFileAClaim()">Create</button>
  </div>
</div>
