@import 'src/content/scss/var.scss';

:host {
  .scroll-block {
    height: calc(100vh - 49px);
  }

  .inner-content {
    padding-top: 24px;
    min-height: calc(100vh - 49px - 96px);
  }

  .claim-content {
    .row {
      .col-3 {
        @media only screen and (max-width: 720px) {
          width: 50%;
        }

        @media only screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
