@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 96px);
}

:host {
  .table-list-item {
    &.agents-data {
      padding-left: 24px;
      padding-right: 48px;
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 24px;
        .email-btn {
          position: absolute;
          top: 4px;
          right: 48px;
        }
        .item-settings {
          top: 4px;
          margin-top: 0;
        }
      }
      .start-position {
        width: 20%;
        @media only screen and (max-width: 991px) {
          width: 70%;
        }
      }
      .end-position {
        width: 80%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .data-el {
          &.areas-string {
            span {
              &.area-string,
              &.area-divider {
                display: inline;
              }
            }
          }
          @media only screen and (max-width: 700px) {
            position: relative;
            padding: 12px 0 0 104px;
            display: block;
            span {
              &.caption {
                line-height: 24px;
                position: absolute;
                top: 12px;
                left: 0;
              }
            }
          }
        }
        .inner-el {
          width: 20%;
          @media only screen and (max-width: 991px) {
            padding-top: 12px;
            width: 22%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
          }
          &.email-btn {
            width: 10%;
            @media only screen and (max-width: 991px) {
              padding: 0;
              width: 40px;
              height: 40px;
            }
          }
          &.short {
            width: 10%;
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
          &:first-child {
            width: 30%;
            @media only screen and (max-width: 991px) {
              width: 34%;
            }
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
          &:last-child {
            width: 30%;
            @media only screen and (max-width: 991px) {
              width: 34%;
            }
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
