<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <app-simple-search class="search-element"
          [closeButton]="true"
          (change)="searchFunction($event)"></app-simple-search>
      </div>
      <div class="end-position">
        <app-custom-dropdown [options]="countries"
          (select)="toolbarSelect($event)"></app-custom-dropdown>
        <button mat-icon-button>
          <i class="icon icon-outline-get_app"></i>
        </button>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item-wrap"
        *ngFor="let item of agents">
        <div class="table-list-item item-row agents-data">
          <div class="start-posirion">
            <div class="inner-el">
              <span class="value strong"> {{item.name}} </span>
            </div>
          </div>
          <div class="end-position">
            <div class="inner-el">
              <app-data-block label="Company"
                value="{{item.carrierName}}"></app-data-block>
            </div>
            <div class="inner-el email-btn">
              <a target="_blank"
                mat-icon-button
                href="mailto:{{item.email}}"
                (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
            </div>
            <div class="inner-el">
              <app-data-block label="Phone"
                value="{{item.phone}}"></app-data-block>
            </div>
            <div class="inner-el short">
              <app-data-block label="Country"
                value="{{item.country}}"></app-data-block>
            </div>
            <div class="inner-el">
              <div class="data-el areas-string">
                <span class="caption">Delivery Area</span>
                <span class="value"> <span class="area-string"
                    *ngFor="let i of item.areas; let k = index">{{i.name}}<span *ngIf="k!=(item.areas.length-1)"
                      class="area-divider">,&nbsp;</span></span> </span>
              </div>
            </div>
          </div>
          <app-dot-menu class="item-settings"
            [items]="itemSettings"
            (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
        </div>
      </div>
    </div>
    <!-- end of content list  -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addNewAgent()"><i class="icon icon-add"></i></button>
