@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  .progress-report-item {
    padding: 12px 0;

    &:not(:first-child) {
      border-top: 1px solid $borderColor;
    }

    .item-row {
      align-items: flex-start;

      .start-position {
        width: 60%;
      }

      .end-position {
        width: 40%;

        .inner-el {
          width: 40%;

          &:first-child {
            width: 50%;
          }
        }
      }

      .inner-el {
        em {
          font-style: normal;
          color: $textColorLight;
        }
      }
    }

    .note {
      padding-top: 12px;
    }
  }
}
