<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content details-content">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position"></div>
      <div class="end-position">
        <!-- status btn -->
        <app-status-button *ngIf="!draftFlag"
          [statuses]="jbStatuses"
          status="In Transit"
          (change)="statusFunction($event);"></app-status-button>
        <!-- Quote btn -->
        <app-double-button *ngIf="draftFlag"
          defaultValue="Quote"
          [items]="buttonItems"
          (change)="doubleButtonClick($event)"></app-double-button>
        <div class="el">
          <button mat-icon-button
            (click)="emailFunction()"><i class="icon icon-mail_outline"></i></button>
          <button mat-icon-button
            (click)="printFunction()"><i class="icon icon-outline-print"></i></button>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <div class="row">
      <div class="col-8">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title> Details </mat-card-title>
          </mat-card-header>
          <mat-card-content class="confirm-content">
            <!-- delivery title -->
            <div class="delivery-title">
              <app-img-box [url]="trackDetailsData.company?.logo"></app-img-box>
              <div class="title-info">
                <strong>{{trackDetailsData.company?.name}}</strong>
                <em>{{trackDetailsData.company?.info}}</em>
              </div>
            </div>
            <!-- end of delivery title -->
            <div class="row">
              <div class="col-6">
                <!-- from -->
                <app-info-block [data]="trackDetailsData?.from"></app-info-block>
                <app-info-block [data]="trackDetailsData?.fromContact"></app-info-block>
                <!-- end of from -->
              </div>
              <div class="col-6">
                <!-- to -->
                <app-info-block [data]="trackDetailsData?.to"></app-info-block>
                <app-info-block [data]="trackDetailsData?.toContact"></app-info-block>
                <!-- enf of to -->
              </div>
            </div>
            <div class="divider">&nbsp;</div>
            <div class="row">
              <div class="col-3"
                *ngFor="let item of trackDetailsData?.additionalInfo">
                <app-data-item [data]="item"></app-data-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Progress Report -->
        <mat-card class="card"
          *ngIf="trackDetailsData.progressReports?.length">
          <mat-card-header>
            <mat-card-title>Progress Report</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="progress-report-item"
              *ngFor="let item of trackDetailsData.progressReports">
              <div class="item-row">
                <div class="start-position">
                  <div class="inner-el">
                    <span class="value strong">{{item.status}}</span>
                  </div>
                </div>
                <div class="end-position">
                  <div class="inner-el"><em>{{item.address}}</em></div>
                  <div class="inner-el"><em>{{item.date}}</em></div>
                </div>
              </div>
              <div class="note"> {{item.note}} </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-s-12"
            *ngIf="trackDetailsData.charges">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Charges</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="trackDetailsData.charges"></app-info-list>
              </mat-card-content>
            </mat-card>
            <!-- document card -->
            <mat-card *ngIf="!draftFlag"
              class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="docs-list">
                  <div class="doc-row item-row"
                    *ngFor="let item of trackDetailsData.documentsList">
                    <div class="start-position">
                      <div class="doc">
                        <i class="icon icon-description"></i>
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                    <div class="end-position">
                      <button mat-icon-button><i class="icon icon-outline-get_app"></i></button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
