<mat-form-field color="accent"
  class="chip-multicelect full-width">
  <mat-chip-list #chipList
    required="required">
    <mat-chip class="chip-multicelect__chip"
      [ngClass]="{'chip-multicelect__chip_removable': removable}"
      *ngFor="let item of finalChipsList"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeChip(item)"> {{item.name}} <i class="icon icon-close"
        matChipRemove
        *ngIf="removable"></i>
    </mat-chip>
    <input #chipInput
      placeholder="{{placeholder}}"
      [formControl]="validation.chips"
      [matAutocomplete]="autoChip"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="addChip($event)">
    <mat-autocomplete #autoChip="matAutocomplete"
      (optionSelected)="selected($event)"
      (closed)="setData()">
      <mat-option [id]="'multi-select-mat-option-'+ item.name.toLowerCase()"
        *ngFor="let item of filteredChips | async"
        [value]="item.color"
        (click)="$event.stopPropagation();"
        class="chip-multicelect__option-item">
        <span class="chip-multicelect__option-text">{{item.name}}</span>
        <i class="icon icon-check"
          *ngIf="isChipSelected(item.name)"></i>
      </mat-option>
    </mat-autocomplete>
  </mat-chip-list>
</mat-form-field>
