.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px);
}

:host {
  .table-list-item {
    &.specialty-requests-item {
      @media only screen and (max-width: 991px) {
        padding-right: 24px;
        .button-list {
          &.one-btn {
            min-height: 68px;
          }
        }
      }
      .start-position {
        width: 30%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
      }
      .end-position {
        width: 70%;
        padding-right: 12px;
        @media only screen and (max-width: 991px) {
          width: 100%;
          padding-right: 0;
          padding-left: 56px;
        }
        .inner-el {
          width: 30%;
          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
          }
          &.address-el {
            width: 35%;
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
