<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!dataEmpty">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <app-dot-menu *ngIf="toolbarSettings.length"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <!-- Specialty Requests list -->
    <div class="table-list-items">
      <!--  -->
      <div *ngFor="let item of specialtyRequests"
        class="table-list-item specialty-requests-item {{item.marker?item.marker:''}}"
        [ngClass]="{'new': item.new, 'marker': item.marker}"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <app-number-row-box [ngClass]="{'short-el': item.numberBox.short}"
            [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.quoteValue}">
            <app-data-block *ngIf="item.quoteValue"
              label="Quote"
              value="{{item.quoteValue | currency}}"
              right="{{true}}"
              [details]="item.quoteDetails"
              (infoClick)="openQuoteDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status.name"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <ul *ngIf="!item.status.name"
          class="button-list one-btn">
          <li>
            <app-status-button [statuses]="srStatuses"
              status="Accept"
              (change)="statusFunction($event, item);"></app-status-button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
      <!--  -->
    </div>
    <!-- end of Specialty Requests  -->
  </div>
  <div class="empty-data"
    *ngIf="dataEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
