.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

::ng-deep {
  .table-list-item {
    &.batch-inner-item {
      padding-right: 64px;
      align-items: center;

      @media only screen and (max-width: 991px) {
        padding-left: 24px;
        padding-right: 24px;

        .item-settings,
        .mat-checkbox.single-checkbox {
          top: 20px;
        }
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 991px) {
          width: 100%;
          padding: 0 0 12px 40px;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 20%;

          @media only screen and (max-width: 700px) {
            width: 100%;

            .data-el {
              padding-left: 96px;
            }
          }

          &.address-el {
            width: 40%;

            @media only screen and (max-width: 700px) {
              width: 100%;
              position: relative;
              padding: 0 0 12px 96px;
              display: block;

              span {
                &.caption {
                  line-height: 24px;
                  position: absolute;
                  top: 12px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
