<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!batchEmpty">
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)">
        </mat-checkbox>
        <!-- search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="getRateFunction()">Get Rate</button>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <div class="table-list-items">
      <div *ngFor="let item of trackings"
        class="table-list-item selection-row batch-inner-item no-link"
        [ngClass]="{'selected-row': item.selected}">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Error"
              value="{{item.errors}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="settings"
          (backData)="batchSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
  </div>
  <div class="empty-data"
    *ngIf="batchEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
