.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.cc-auth-list-item {
      padding-left: 24px;

      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 12px;

        .status-label {
          top: 10px;
          margin-top: 0;
        }

        .item-settings {
          top: 12px;
          margin-top: 0;
        }
      }

      .start-position {
        width: 12%;

        @media only screen and (max-width: 991px) {
          width: 70%;
        }
      }

      .end-position {
        width: 88%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 32%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &:first-child {
            width: 20%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &:last-child {
            width: 18%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &.short {
            width: 15%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
