<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter -->
        <button mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row cc-auth-list-item"
        *ngFor="let item of ccAuthList">
        <div class="start-position">
          <div class="inner-el">
            <app-data-block class="no-transform"
              label="Auth"
              value="{{ item.authId }}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Order">
              <a (click)="openOrder(); $event.stopPropagation();">{{ item.orderId }}</a>
            </app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Receipt"
              value="{{ item.receiptId }}"></app-data-block>
          </div>
          <div class="inner-el short">
            <app-data-block label="Charge"
              value="{{ item.chargeType }}"></app-data-block>
          </div>
          <div class="inner-el short">
            <app-data-block label="Entity"
              value="{{ item.entityType }}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Amount ({{ item.currency }})"
              value="{{ item.amount | currency }}"
              [right]="true"></app-data-block>
          </div>
        </div>
        <div class="status-label {{ item.status.color }}"> {{ item.status.name }} </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="" />
        </figure>
        <p>Can't find any results with these criteria.</p>
      </div>
    </div>
  </div>
</div>
