<div class="dialog-content bigger-dialog">
  <header>
    <h3>Contact</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Company"
              name="company"
              [(ngModel)]="modalData.companyName"
              [formControl]="validation.companyName"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="validation.companyName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Attention"
              name="attention"
              [(ngModel)]="modalData.attention"
              [formControl]="validation.attention"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="validation.attention.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Phone"
              name="phone"
              [(ngModel)]="modalData.phone"
              [formControl]="validation.phone"
              [errorStateMatcher]="matcher"
              mask="000 000 0000"
              required />
            <mat-error *ngIf="validation.phone.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Email"
              name="email"
              [(ngModel)]="modalData.email"
              [formControl]="validation.email"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="
              validation.email.hasError('email') &&
                !validation.email.hasError('required')
              "> Please enter a valid email address </mat-error>
            <mat-error *ngIf="validation.email.hasError('required')"> {{ requiredText }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Broker Name"
              name="brokerName"
              [(ngModel)]="modalData.brokerName"
              [formControl]="validation.brokerName" />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Tax Id"
              name="taxId"
              [(ngModel)]="modalData.taxId"
              [formControl]="validation.taxId" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Recipient Tax ID"
              name="recipientTaxId"
              [(ngModel)]="modalData.recipientTaxId"
              [formControl]="validation.recipientTaxId" />
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
