<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox *ngIf="!dataEmpty"
          class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
        <!-- filter -->
      </div>
      <div class="end-position">
        <!-- Edit Markup -->
        <button mat-flat-button
          color="primary"
          *ngIf="selection"
          (click)="toolbarEditMarkupFunction()">Edit Markup</button>
        <div class="el">
          <!-- carriers -->
          <app-custom-dropdown *ngIf="!selection"
            [options]="carrirersItems"
            (select)="getCarriresFilter($event)"></app-custom-dropdown>
          <!-- sort -->
          <app-sort-btn *ngIf="!selection"
            (sortData)="getSortData($event)"></app-sort-btn>
          <!-- filter -->
          <button *ngIf="!selection"
            mat-icon-button
            (click)="filter()">
            <i class="icon icon-filter_list"></i>
          </button>
          <!-- settings -->
          <div class="toolbar-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #menu="matMenu"
              class="slide-toggle-menu">
              <button mat-menu-item
                (click)="contentToolbarSettings('Save Markup')">
                <span>Save Markup</span>
              </button>
              <button mat-menu-item
                (click)="contentToolbarSettings('Apply Markup')">
                <span>Apply Markup</span>
              </button>
              <button mat-menu-item
                (click)="contentToolbarSettings('Reset Default')">
                <span>Reset Default</span>
              </button>
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="contentToolbarCaLocation"
                    (change)="contentToolbarSettings('CA')"> CA </mat-slide-toggle>
                </mat-list-item>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="contentToolbarUsaLocation"
                    (change)="contentToolbarSettings('USA')"> USA </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- content -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row selection-row markup-item centered"
        *ngFor="let item of markupsList"
        (click)="rowClickFunction(item)">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <div class="img-line">
            <app-img-box url="{{item.markupLogo}}"
              icon="{{business}}">
            </app-img-box>
            <span class="value strong">{{item.markupName}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el direction-cell">
            <span class="value">{{item.direction}}</span>
          </div>
          <div class="inner-el">
            <app-data-block label="Min"
              value="{{item.markupMin}}%"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Dom"
              value="{{item.markupDom}}%"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Intl"
              value="{{item.markupIntl}}%">
            </app-data-block>
          </div>
          <div class="inner-el location-el"
            [ngClass]="{'hidden-700': !getLocation(item)}">
            <app-data-block *ngIf="getLocation(item)"
              label="Location"
              value="{{getLocation(item)}}">
            </app-data-block>
          </div>
          <div class="inner-el markup-labels-wrap"
            [ngClass]="{'hidden-700': !item.markupPrioritization.length}">
            <ul class="markup-labels"
              *ngIf="getLocation(item)">
              <li *ngFor="let i of item.markupPrioritization">{{i | slice:0:1}}</li>
            </ul>
          </div>
        </div>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <button mat-menu-item
              (click)="resetDefaultFunction(item)">
              <span>Reset</span>
            </button>
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.caFlag"> Canada </mat-slide-toggle>
              </mat-list-item>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.usaFlag"> United States </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
