<div class="dot-menu">
  <button mat-icon-button
    [matMenuTriggerFor]="menu"
    (click)="$event.stopPropagation()">
    <i class="icon icon-more_vert"></i>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let item of items">
      <button *ngIf="item!='divider'"
        mat-menu-item
        (click)="clickFunction(item)"
        [ngClass]="{'warn-item': (item==='Delete'||item==='Cancel')}">
        <span>{{ item }}</span>
      </button>
      <hr *ngIf="item==='divider'"
        class="diwider">
    </div>
  </mat-menu>
</div>
