<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- roles -->
        <app-custom-dropdown [options]="roleFilterItems"
          (select)="getRoleFilter($event)"></app-custom-dropdown>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row simple-data user-list-item"
        *ngFor="let item of usersList"
        (click)="clickOnRow()">
        <div class="start-position">
          <div class="img-line">
            <app-image size="40"
              placeholderName="{{item.userName}}"
              imageUrl="{{item.userAvatar}}"></app-image>
            <span class="value strong">{{item.userName}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span class="value">{{item.userRole}}</span>
          </div>
          <div class="inner-el email-btn">
            <a target="_blank"
              mat-icon-button
              href="mailto:{{item.userEmail}}"
              (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
          </div>
          <div class="inner-el">
            <span class="value">{{item.userPhone}}</span>
          </div>
        </div>
        <button class="active-button"
          mat-icon-button
          *ngIf="item.active"
          (click)="$event.stopPropagation()"><i class="icon icon-account_circle"></i></button>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.active"> Active </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
            <button [ngClass]="{'warn-item': (i==='Delete'||i==='Cancel')}"
              mat-menu-item
              *ngFor="let i of itemSettings"
              (click)="itemSettingsFunction(i, item)">
              <span>{{i}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="newUser()"><i class="icon icon-add"></i></button>
