.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.user-list-item {
      padding-right: 96px;

      .active-button {
        position: absolute;
        top: 50%;
        right: 48px;
        margin-top: -20px;
      }

      @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        padding-right: 24px;

        .email-btn {
          position: absolute;
          top: 12px;
          right: 48px;
        }

        .item-settings {
          top: 12px;
          margin-top: 0;
        }

        .active-button {
          top: 12px;
          right: 88px;
          margin-top: 0;
        }
      }

      .start-position {
        width: 40%;

        @media only screen and (max-width: 700px) {
          width: 60%;
        }
      }

      .end-position {
        width: 60%;

        @media only screen and (max-width: 700px) {
          width: 100%;
        }

        .inner-el {
          width: 20%;

          &.email-btn {
            @media only screen and (max-width: 700px) {
              width: 40px;
              height: 40px;
            }
          }

          &:last-child,
          &:first-child {
            width: 40%;

            @media only screen and (max-width: 700px) {
              width: 100%;
              padding-top: 12px;
            }
          }
        }
      }
    }
  }
}
