<div class="dynamic-search"
  [ngClass]="{'focused': focusFlag, 'open-search':placeholder||openFlag, 'placeholder':placeholder.length}">
  <form>
    <div class="field-wrap">
      <mat-form-field class="full-width single-field">
        <input matInput
          #focusable
          type="search"
          name="search"
          (focus)="focus()"
          (blur)="blur()"
          [matAutocomplete]="autoSearch"
          [formControl]="searchControl"
          [(ngModel)]="data"
          (ngModelChange)="changeFunction(data)">
        <mat-autocomplete #autoSearch="matAutocomplete">
          <mat-option *ngFor="let item of history"
            [value]="item.value">
            <div class="history-item item-row">
              <span>{{item.value}}</span>
              <div class="spacer"></div>
              <em class="caption">{{item.category}}</em>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button mat-icon-button
      class="cancel-search-btn"
      *ngIf="closeButton"
      (click)="cancelFunction()">
      <i class="icon icon-close"></i>
    </button>
    <button class="dynamic-search-btn"
      mat-icon-button
      (click)="openSearch($event, focusable);">
      <i class="icon icon-search"></i>
    </button>
  </form>
</div>
