@import 'src/content/scss/var.scss';
$checkBox-size: 48px;
$checkMark-width: 4px;
$color: $green;
$animation-duration: 2.5s;

.confirmed-block {
  display: flex;
  align-items: center;
  justify-content: center;

  .confirmed-info {
    min-height: 120px;
    width: 100%;
    max-width: 480px;
    padding: 0 24px;

    i {
      &.check-animation {
        display: block;
        position: relative;
        margin: 8px auto;
        height: 48px;
        width: 48px;
        overflow: hidden;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
        }

        // circle-outline -----
        &:before {
          animation: rotate $animation-duration linear both;
          border: solid $checkMark-width transparent;
          border-top-color: $color;
          border-radius: 50%;
          clip: rect(0px, $checkBox-size, $checkBox-size, $checkBox-size);
          transform: rotate(-45deg);
        }

        // checkMark -----
        &:after {
          border-bottom: $checkMark-width solid $color;
          border-left: $checkMark-width solid $color;
          transform: rotate(-45deg) translate(40%, -40%) skew(-9deg);
          animation: checking $animation-duration linear both;
        }
      }
    }

    strong,
    span {
      display: block;
      text-align: center;
    }

    strong {
      font-weight: 500;
      color: $green;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 4px;
    }

    span {
      color: $textColorLight;
    }
  }
}

@keyframes checking {
  0%,
  90% {
    clip: rect(0px, $checkMark-width, 0px, 0px);
  }
  95% {
    clip: rect(0px, $checkMark-width, $checkBox-size, 0px);
  }
  100% {
    clip: rect($checkBox-size * 3/4, $checkBox-size / 2, $checkBox-size, 0px);
  }
}

@keyframes rotate {
  10% {
    clip: rect(0px, $checkBox-size, $checkBox-size, 0px);
  }
  90% {
    clip: rect(0px, $checkBox-size, $checkBox-size, 0px);
    transform: rotate(-1090deg);
  }
  91%,
  99% {
    transform: rotate(-1090deg);
  }
  100% {
    transform: rotate(-1090deg);
    clip: rect(0px, 0px, $checkBox-size, 0px);
  }
}
