.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  .product-items {
    margin-bottom: 16px;
  }

  .table-list-item {
    &.product-item {
      padding-left: 12px;

      @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;
        padding-right: 64px;

        .item-settings {
          margin-top: 0;
          top: 12px;
        }
      }

      .start-position {
        align-items: center;
        width: 60%;

        @media only screen and (max-width: 1200px) {
          width: 100%;
        }
      }

      .end-position {
        width: 40%;

        @media only screen and (max-width: 1200px) {
          width: 100%;
          padding-left: 64px;
        }

        // @media only screen and (max-width: 700px) {
        //   padding-left: 0;
        // }
        .inner-el {
          width: 20%;
          padding-left: 12px;

          @media only screen and (max-width: 1200px) {
            padding-top: 12px;
            padding-left: 0;
            width: 33.33%;

            .data-el {
              &.right-position {
                text-align: left;
              }
            }
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &:first-child {
            width: 40%;

            @media only screen and (max-width: 1200px) {
              width: 33.33%;
            }

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &:last-child {
            width: 40%;

            @media only screen and (max-width: 1200px) {
              width: 33.33%;
            }

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

::ng-deep {
  .table-list-item {
    &.product-item {
      .end-position {
        .inner-el {
          @media only screen and (max-width: 1200px) {
            .data-el {
              &.right-position {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
