<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content details-content">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position"></div>
      <div class="end-position">
        <button mat-icon-button
          (click)="emailFunction()"><i class="icon icon-mail_outline"></i></button>
        <button mat-icon-button
          (click)="printFunction()"><i class="icon icon-outline-print"></i></button>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <div class="row">
      <div class="col-8">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title> Details </mat-card-title>
          </mat-card-header>
          <mat-card-content class="confirm-content">
            <!-- delivery title -->
            <div class="delivery-title">
              <app-img-box [url]="orderDetailsData.company?.logo"></app-img-box>
              <div class="title-info">
                <strong>{{orderDetailsData.company?.name}}</strong>
                <em>{{orderDetailsData.company?.info}}</em>
              </div>
            </div>
            <!-- end of delivery title -->
            <div class="row">
              <div class="col-6">
                <!-- from -->
                <app-info-block [data]="orderDetailsData?.from"></app-info-block>
                <app-info-block [data]="orderDetailsData?.fromContact"></app-info-block>
                <!-- end of from -->
              </div>
              <div class="col-6">
                <!-- to -->
                <app-info-block [data]="orderDetailsData?.to"></app-info-block>
                <app-info-block [data]="orderDetailsData?.toContact"></app-info-block>
                <!-- enf of to -->
              </div>
            </div>
            <div class="divider">&nbsp;</div>
            <div class="row">
              <div class="col-3"
                *ngFor="let item of orderDetailsData?.additionalInfo">
                <app-data-item [data]="item"></app-data-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="icon-line diff-spacing"
          *ngIf="orderDetailsData.info&&!eComFlag">
          <i class="icon icon-info_outline"></i>
          <span>{{orderDetailsData.info}}</span>
        </div>
        <!-- product list -->
        <div class="table-list-items product-items"
          *ngIf="eComFlag&&products">
          <div class="table-list-item simple-data no-link product-item"
            *ngFor="let item of products">
            <div class="start-position">
              <div class="inner-el">
                <app-img-box size="64"
                  url="{{item.photo}}"></app-img-box>
              </div>
              <div class="inner-el">
                <div class="data-el">
                  <span class="value strong">{{item.name}}</span>
                  <span class="caption">{{item.id}}</span>
                </div>
              </div>
            </div>
            <div class="end-position">
              <div class="inner-el">
                <app-data-block label="Price"
                  value="{{item.price | currency}}"
                  right="true"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="QTY"
                  value="{{item.qty}}"></app-data-block>
              </div>
              <div class="inner-el">
                <app-data-block label="Amount"
                  value="{{item.amount | currency}}"
                  right="true"></app-data-block>
              </div>
            </div>
            <button *ngIf="item.doc"
              mat-icon-button
              class="item-settings"
              (click)="docFunction(item.doc)"><i class="icon icon-attach_file"></i></button>
          </div>
        </div>
        <!-- end of product list -->
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-m-6"
            *ngIf="orderDetailsData.paymentInfo">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Payment</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="orderDetailsData.paymentInfo"></app-info-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-m-6"
            *ngIf="orderDetailsData.markup">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Markup</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="orderDetailsData.markup"></app-info-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-m-6"
            *ngIf="orderDetailsData.creditCardInfo">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Credit Card Charges</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="orderDetailsData.creditCardInfo"></app-info-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-m-6">
            <!-- document card -->
            <mat-card *ngIf="orderDetailsData.documentsList"
              class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="docs-list">
                  <div class="doc-row item-row"
                    *ngFor="let item of orderDetailsData.documentsList">
                    <div class="start-position">
                      <div class="doc">
                        <i class="icon icon-description"></i>
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                    <div class="end-position">
                      <button mat-icon-button><i class="icon icon-outline-get_app"></i></button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
