<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="wrap">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Carrier Name"
            [(ngModel)]="modalData.name"
            [formControl]="validation.name"
            required>
        </mat-form-field>
      </div>
      <div class="wrap">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Email"
            name="email"
            [(ngModel)]="modalData.email"
            [formControl]="validation.email"
            [errorStateMatcher]="matcher"
            required />
          <mat-error *ngIf="
            validation.email.hasError('email') &&
              !validation.email.hasError('required')
            "> Please enter a valid email address </mat-error>
          <mat-error *ngIf="validation.email.hasError('required')"> {{ requiredText }} </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Phone"
              [(ngModel)]="modalData.phone"
              [formControl]="validation.phone"
              mask="000-000-0000"
              required />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Fax"
              [(ngModel)]="modalData.fax"
              [formControl]="validation.fax"
              mask="000-000-0000" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Segment Type</mat-label>
            <mat-select [(ngModel)]="modalData.type"
              [formControl]="validation.type"
              required>
              <mat-option *ngFor="let item of segmentTypes"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
