<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="role-section"
        *ngFor="let item of adminRolesList">
        <div class="item-row section-title">
          <div class="start-position">
            <h3>{{item.sectionTitle}}</h3>
          </div>
          <div class="end-position">
            <app-dot-menu [items]="sectionItemSettings"
              (backData)="sectionItemSettingsFunction($event, item)"></app-dot-menu>
          </div>
        </div>
        <div class="drop-section"
          cdkDropList
          (cdkDropListDropped)="dropList($event, item.rolesList)">
          <div class="table-list-item item-row simple-data roles-item"
            *ngFor="let role of item.rolesList"
            (click)="editRole(item, role)"
            cdkDrag>
            <i class="handle icon icon-drag_indicator"></i>
            <div class="start-position">
              <span class="value">{{role.roleName}}</span>
            </div>
            <app-dot-menu class="item-settings"
              [items]="itemSettings"
              (backData)="itemSettingsFunction($event, item, role)"></app-dot-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addRole()"><i class="icon icon-add"></i></button>
