.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 80px);
}

:host {
  .table-list-item {
    &.specialty-request-item {
      .start-position {
        width: 20%;
      }

      .end-position {
        width: 80%;

        .inner-el {
          &.address-el {
            width: 30%;
          }
        }
      }
    }
  }

}
