@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 96px);
}

:host {
  .simple-data {
    @media only screen and (max-width: 700px) {
      flex-wrap: wrap;
    }
    .start-position {
      width: 20%;
      align-items: center;
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }
    .end-position {
      width: 80%;
      @media only screen and (max-width: 700px) {
        width: 100%;
      }
      .inner-el {
        width: 25%;
        @media only screen and (max-width: 700px) {
          width: 100%;
        }
      }
    }
  }
}
