<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <app-simple-search class="search-element normal-animation"
          [closeButton]="true"
          (change)="searchFunction($event)"></app-simple-search>
      </div>
      <div class="end-position">
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of services"
        class="table-list-item simple-data"
        [ngClass]="{'no-link': !item.link}"
        [routerLink]="item.link?item.link:null">
        <div class="start-position ">
          <app-data-block class="no-transform"
            value="{{item.subService}}"
            bold="{{true}}"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Service"
              value="{{item.service}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Mapping"
              value="{{item.mapping}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Cost"
              value="{{item.cost | currency}}"
              [right]="true"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Charge"
              value="{{item.charge | currency}}"
              [right]="true"></app-data-block>
          </div>
        </div>
        <div class="inner-el"
          *ngFor="let i of item.blocks">
          <app-data-block [data]="i"></app-data-block>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list  -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addNewService()"><i class="icon icon-add"></i></button>
