<div class="dialog-content normal-dialog">
  <header class="item-row">
    <h3 class="start-position">{{data.title}}</h3>
    <div class="end-position">
      <app-button-select class="btn-box"
        [value]="untitsPlaceholder"
        [items]="units"
        (change)="systemChange($event)"></app-button-select>
    </div>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="wrap">
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          #name
          maxlength="20"
          placeholder="Name"
          [(ngModel)]="modalData.boxName"
          [formControl]="validation.boxName">
        <mat-hint align="end">{{name.value.length}} / 20</mat-hint>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-3">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="L({{modalData.units.size}})"
            [(ngModel)]="modalData.dimension.l"
            [formControl]="validation.dimension.l"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="W({{modalData.units.size}})"
            [(ngModel)]="modalData.dimension.w"
            [formControl]="validation.dimension.w"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="H({{modalData.units.size}})"
            [(ngModel)]="modalData.dimension.h"
            [formControl]="validation.dimension.h"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Weight({{modalData.units.weight}})"
            [(ngModel)]="modalData.weight"
            [formControl]="validation.weight"
            required>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Max support Weight({{modalData.units.weight}})"
            [(ngModel)]="modalData.maxSupportWeight"
            [formControl]="validation.maxSupportWeight"
            required>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="modalData.boxType"
            [formControl]="validation.boxType"
            required>
            <mat-option *ngFor="let item of types"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="wrap">
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          #description
          maxlength="20"
          placeholder="Description"
          [(ngModel)]="modalData.description"
          [formControl]="validation.description">
        <mat-hint align="end">{{description.value.length}} / 20</mat-hint>
      </mat-form-field>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial> {{data.actionButton}} </button>
      </div>
    </div>
  </footer>
</div>
