@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 132px);
}

:host {
  .table-list-item {
    &.jb-quote {
      padding-right: 218px;

      .status-label {
        width: 128px;
        right: 88px;
      }

      .status-info {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        top: 50%;
        right: 48px;
        margin-top: -20px;
        color: $iconColor;
      }

      @media only screen and (max-width: 991px) {
        padding-right: 24px;

        .status-label {
          top: 26px;
        }

        .item-settings {
          top: 26px;
        }

        .status-info {
          top: 26px;
          margin: 0;
        }
      }
    }
  }
}
