<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- from to blocks -->
    <div class="from-to">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-s-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-label>Location Type</mat-label>
                <mat-select [(ngModel)]="workingData.from.values.locationType"
                  [formControl]="workingData.from.locationTypeControl"
                  required>
                  <mat-option *ngFor="let item of locationTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-8">
              <mat-form-field color="accent"
                class="full-width from-to-location">
                <button class="add-location"
                  mat-icon-button
                  color="accent"
                  (click)="newLocation('from'); $event.stopPropagation()"><i class="icon icon-add_circle"></i></button>
                <input matInput
                  placeholder="Company"
                  aria-label="location"
                  [matAutocomplete]="location"
                  [formControl]="workingData.from.locationControl"
                  [(ngModel)]="workingData.from.values.value"
                  (ngModelChange)="changeFrom()"
                  required>
                <mat-autocomplete #location="matAutocomplete"
                  class="complex-autocomplete">
                  <mat-option *ngFor="let item of fromFilteredLocations | async"
                    [value]="item.companyName">
                    <strong>{{item.companyName}}</strong>
                    <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}
                    </address>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="location-box">
            <div *ngIf="fromFlag"
              class="edit-location"
              (click)="editAddress()">
              <h4>{{workingData.from.values.data.address1}}, {{workingData.from.values.data.city}},
                {{workingData.from.values.data.province}} {{workingData.from.values.data.zip}}
                {{workingData.from.values.data.country}}</h4>
              <p>{{workingData.from.values.data.attention}}</p>
              <p>{{workingData.from.values.data.email}}</p>
              <p>{{workingData.from.values.data.phone}}</p>
              <i class="icon icon-outline-edit"></i>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-s-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-label>Location Type</mat-label>
                <mat-select [(ngModel)]="workingData.to.values.locationType"
                  [formControl]="workingData.to.locationTypeControl"
                  required>
                  <mat-option *ngFor="let item of locationTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-8">
              <mat-form-field color="accent"
                class="full-width from-to-location">
                <button class="add-location"
                  mat-icon-button
                  color="accent"
                  (click)="newLocation('to'); $event.stopPropagation()"><i class="icon icon-add_circle"></i></button>
                <input matInput
                  placeholder="Company"
                  aria-label="company"
                  [matAutocomplete]="company"
                  [formControl]="workingData.to.locationControl"
                  [(ngModel)]="workingData.to.values.value"
                  (ngModelChange)="changeTo()"
                  required>
                <mat-autocomplete #company="matAutocomplete"
                  class="complex-autocomplete">
                  <mat-option *ngFor="let item of toFilteredLocations | async"
                    [value]="item.companyName">
                    <strong>{{item.companyName}}</strong>
                    <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="location-box">
            <div *ngIf="toFlag"
              class="edit-location"
              (click)="editAddress()">
              <h4>{{workingData.to.values.data.address1}}, {{workingData.to.values.data.city}},
                {{workingData.to.values.data.province}} {{workingData.to.values.data.zip}}
                {{workingData.to.values.data.country}}</h4>
              <p>{{workingData.to.values.data.attention}}</p>
              <p>{{workingData.to.values.data.email}}</p>
              <p>{{workingData.to.values.data.phone}}</p>
              <i class="icon icon-outline-edit"></i>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- ond of from to blocks -->
    <!-- job details section -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Job Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row breack-point-1240">
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Delivery Deadline</mat-label>
                  <input matInput
                    [matDatepicker]="picker"
                    placeholder="MM/DD/YY"
                    [formControl]="jobDetails.deliveryDeadlineControl"
                    [(ngModel)]="jobDetails.deliveryDeadline"
                    (dateChange)="getDeliveryDeadline()"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="picker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker color="primary"
                    #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <app-time-field [placeholder]="'Time'"
                  [currentTime]="jobDetails.time"
                  (time)="jobDetailsTime($event)"></app-time-field>
              </div>
              <div class="col-5">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Service Type</mat-label>
                  <mat-select [(ngModel)]="jobDetails.serviceType"
                    [formControl]="jobDetails.serviceTypeControl"
                    (selectionChange)="changeServiceType($event)"
                    required>
                    <mat-option *ngFor="let item of serviceTypes"
                      [value]="item.value"> {{item.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6"
            *ngIf="jobService==='warehouse'">
            <div class="checkbox-line field-size">
              <mat-checkbox color="accent"
                [(ngModel)]="jobDetails.warehouse.storage.flag">Storage</mat-checkbox>
            </div>
            <div class="checkbox-line field-size">
              <mat-checkbox color="accent"
                [(ngModel)]="jobDetails.warehouse.pickPack.flag">Pick & Pack</mat-checkbox>
            </div>
          </div>
          <div class="col-6">
            <mat-form-field color="accent"
              class="full-width">
              <textarea class="autosize"
                matInput
                cdkTextareaAutosize
                #specialInstructions
                cdkAutosizeMinRows="1"
                maxlength="100"
                [(ngModel)]="jobDetails.specialInstructions"
                placeholder="Special Instructions"></textarea>
              <mat-hint align="end">{{jobDetails.specialInstructions.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of job details section -->
    <!-- LTL service type-->
    <div *ngIf="jobService==='ltl'">
      <!-- Shipment -->
      <mat-card class="card">
        <mat-card-header class="two-items">
          <mat-card-title>Shipment</mat-card-title>
          <div class="end-position">
            <app-button-select class="btn-box"
              [value]="'CAD $'"
              [items]="currencyItems"
              (change)="shipmentCurrencyChange($event)"></app-button-select>
            <app-button-select class="btn-box"
              [value]="jobDetails.ltl.shipment.systemValue"
              [items]="systemItems"
              (change)="shipmentSystemChange($event)"></app-button-select>
            <app-history-dropdown [historyData]="history"></app-history-dropdown>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="shipment-form">
            <div class="max-width-728">
              <div class="row breack-point-680">
                <div class="col-3">
                  <mat-form-field class="full-width"
                    color="accent">
                    <mat-label>Ship Date</mat-label>
                    <input matInput
                      [matDatepicker]="picker"
                      placeholder="MM/DD/YY"
                      [formControl]="jobDetails.ltl.shipment.shippingDateControl"
                      [(ngModel)]="jobDetails.ltl.shipment.shippingDateValue"
                      (dateChange)="getShippingDate()"
                      [min]="minDate"
                      required>
                    <mat-datepicker-toggle matSuffix
                      color="primary"
                      [for]="picker"
                      [disableRipple]="true">
                      <i matDatepickerToggleIcon
                        class="icon icon-date_range"></i>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker
                      color="primary"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width">
                    <mat-select placeholder="Insurance">
                      <mat-option *ngFor="let item of insuranceTypes"
                        [value]="item.value"> {{item.viewValue}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field color="accent"
                    class="full-width">
                    <input matInput
                      required
                      placeholder="QTY"
                      [(value)]='jobDetails.ltl.shipment.qty'
                      [formControl]="jobDetails.ltl.shipment.qtyControl"
                      (ngModelChange)="qtyFunction($event)"
                      [errorStateMatcher]="qtyMatcher"
                      mask="00">
                    <mat-error *ngIf="!jobDetails.ltl.shipment.qtyControl.hasError('required')"> Max 35 </mat-error>
                    <mat-error *ngIf="jobDetails.ltl.shipment.qtyControl.hasError('required')"> Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field color="accent"
                    class="full-width readonly-field">
                    <input matInput
                      placeholder="TOT Weight"
                      readonly
                      disabled="{{!jobDetails.ltl.shipment.totalWeight}}"
                      value="{{jobDetails.ltl.shipment.totalWeight}} kg(s)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- shipment rows -->
            <div class="form-row with-gap complex-grid"
              *ngFor="let item of jobDetails.ltl.shipment.palletForm">
              <div class="start-position">
                <div class="row">
                  <div class="col-6 clean-point-1240">
                    <div class="row">
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="L(cm)"
                            [formControl]="item.lengthControl"
                            [(ngModel)]="item.length"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="W(cm)"
                            [formControl]="item.widthControl"
                            [(ngModel)]="item.width"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="H(cm)"
                            [formControl]="item.heightControl"
                            [(ngModel)]="item.height"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="W(kg)"
                            [formControl]="item.weightControl"
                            [(ngModel)]="item.weight"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select placeholder="Freight Class"
                            [(value)]='item.freightClass'
                            [formControl]="item.freightClassControl"
                            required>
                            <mat-option *ngFor="let i of freightClasses"
                              [value]="i.value"> {{i.viewValue}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 clean-point-1240">
                    <div class="row">
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="NMFC"
                            [(ngModel)]="item.nmfc">
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select placeholder="Type"
                            [(value)]='item.type'
                            [formControl]="item.typeControl"
                            required>
                            <mat-option *ngFor="let i of types"
                              [value]="i.value"> {{i.viewValue}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width with-info">
                          <input matInput
                            placeholder="Insurance"
                            [(ngModel)]="item.insurance">
                          <i class="icon icon-info_outline"
                            matTooltip="{{item.insuranceTooltip}}"
                            [matTooltipPosition]="'above'"
                            matTooltipClass="normal-tooltip"></i>
                        </mat-form-field>
                      </div>
                      <div class="col-5">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            maxlength="30"
                            placeholder="Description"
                            [(ngModel)]="item.description">
                          <mat-hint align="end">{{item.description?.length || 0}}/30</mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="end-position with-button">
                <button *ngIf="item.button"
                  class="shipment-btn"
                  mat-stroked-button
                  (click)="palletFunction()"
                  color="primary">{{item.button}}</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Customs -->
      <mat-card class="card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position">Customs</mat-card-title>
          <div class="end-position">
            <app-button-select class="btn-box"
              [value]="jobDetails.ltl.customs.currencyValue"
              [items]="currencyItems"
              (change)="customsCurrencyChange($event)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="max-width-728">
            <div class="row breack-point-640">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Broker Name"
                    [formControl]="jobDetails.ltl.customs.brokerNameControl"
                    [(ngModel)]="jobDetails.ltl.customs.brokerName"
                    required>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Phone Number"
                    [formControl]="jobDetails.ltl.customs.phoneNumberControl"
                    [(ngModel)]="jobDetails.ltl.customs.phoneNumber"
                    mask="000 000 0000"
                    required>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Declared Value"
                    [formControl]="jobDetails.ltl.customs.declaredValueControl"
                    [(ngModel)]="jobDetails.ltl.customs.declaredValue">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Contact"
                    [formControl]="jobDetails.ltl.customs.contactControl"
                    [(ngModel)]="jobDetails.ltl.customs.contact">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Documents -->
      <mat-card class="card">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position">Documents</mat-card-title>
          <div class="end-position">
            <button mat-icon-button><i class="icon icon-upload"></i></button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="docs-list">
            <div class="doc-row item-row"
              *ngFor="let item of jobDetails.ltl.docs"
              matRipple
              [matRippleColor]="primary"
              [matRippleDisabled]="matRippleDisabled">
              <div class="start-position">
                <div class="doc">
                  <i class="icon icon-description"></i>
                  <span>{{item.docName}}</span>
                </div>
              </div>
              <app-dot-menu class="item-settings"
                (mousedown)="matRippleDisabled=true"
                (mouseup)="matRippleDisabled=false"
                [items]="docSettings"
                (backData)="docSettingsFunction($event)"></app-dot-menu>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end of LTL service type-->
    <!-- Warehouse/Distribution service type-->
    <div *ngIf="jobService==='warehouse'">
      <!-- Storage card -->
      <mat-card class="card"
        *ngIf="jobDetails.warehouse.storage.flag">
        <mat-card-header>
          <mat-card-title>Storage</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row breack-point-991">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Package Type"
                  [formControl]="jobDetails.warehouse.storage.packageTypeControl"
                  [(value)]="jobDetails.warehouse.storage.packageType"
                  required>
                  <mat-option *ngFor="let item of packageTypes"
                    [value]="item"> {{item}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="QTY"
                  [formControl]="jobDetails.warehouse.storage.qtyControl"
                  [(value)]="jobDetails.warehouse.storage.qty"
                  required>
                  <mat-option *ngFor="let item of qtys"
                    [value]="item"> {{item}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Space Requirement(ft)"
                  [formControl]="jobDetails.warehouse.storage.spaceRequirementControl"
                  [(ngModel)]="jobDetails.warehouse.storage.spaceRequirement">
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field color="accent"
                class="full-width">
                <textarea class="autosize"
                  matInput
                  cdkTextareaAutosize
                  #productInformation
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [(ngModel)]="jobDetails.warehouse.storage.productInformation"
                  placeholder="Product Information"></textarea>
                <mat-hint align="end">{{jobDetails.warehouse.storage.productInformation.length}} / 100</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- Pick & Pack card -->
      <mat-card class="card"
        *ngIf="jobDetails.warehouse.pickPack.flag">
        <mat-card-header>
          <mat-card-title>Pick & Pack</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row breack-point-1150">
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="SKUs"
                  [formControl]="jobDetails.warehouse.pickPack.skusControl"
                  [(ngModel)]="jobDetails.warehouse.pickPack.skus">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. # of Items / Order"
                  [formControl]="jobDetails.warehouse.pickPack.orderControl"
                  [(ngModel)]="jobDetails.warehouse.pickPack.order"
                  required>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. Shipment Weight"
                  [formControl]="jobDetails.warehouse.pickPack.weightControl"
                  [(ngModel)]="jobDetails.warehouse.pickPack.weight">
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. Shipment Size"
                  [formControl]="jobDetails.warehouse.pickPack.sizeControl"
                  [(ngModel)]="jobDetails.warehouse.pickPack.size">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Pick/Pack Monthly Volume"
                  [formControl]="jobDetails.warehouse.pickPack.volumeControl"
                  [(ngModel)]="jobDetails.warehouse.pickPack.volume">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <mat-form-field color="accent"
                class="full-width">
                <textarea class="autosize"
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  maxlength="200"
                  [(ngModel)]="jobDetails.warehouse.pickPack.description"
                  placeholder="Description"></textarea>
                <mat-hint align="end">{{jobDetails.warehouse.pickPack.description?.length}} / 200</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <app-complex-chips-list [data]="jobDetails.warehouse.pickPack.additionalServices">Additional Services
          </app-complex-chips-list>
        </mat-card-content>
      </mat-card>
      <!-- Shipping Info card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Shipping Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="max-width-600">
            <div class="row breack-point-520">
              <div class="col-6">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Monthly Shipment Volume"
                    [formControl]="jobDetails.warehouse.shippingInfo.monthlyVolumeControl"
                    [(ngModel)]="jobDetails.warehouse.shippingInfo.monthlyVolume"
                    required>
                </mat-form-field>
              </div>
              <div class="col-6">
                <div class="checkbox-line field-size">
                  <mat-checkbox [(ngModel)]="customsBrokerageFlag"
                    color="accent">Customs Brokerage</mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <app-complex-chips-list [data]="jobDetails.warehouse.shippingInfo.shippingServices">Shipping Services
          </app-complex-chips-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end of Warehouse/Distribution service type-->
    <!-- Customs Brokerage card -->
    <mat-card class="card"
      *ngIf="(jobService==='warehouse'&&customsBrokerageFlag) || jobService==='customs'">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">Customs Brokerage</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="max-width-728">
          <div class="row breack-point-768">
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. Monthly Import Shipt."
                  [formControl]="jobDetails.customs.importControl"
                  [(ngModel)]="jobDetails.customs.import"
                  required>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. Monthly Export Shipt."
                  [formControl]="jobDetails.customs.exportControl"
                  [(ngModel)]="jobDetails.customs.export"
                  required>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Avg. Shipment Value"
                  [formControl]="jobDetails.customs.valueControl"
                  [(ngModel)]="jobDetails.customs.value"
                  required>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="max-width-728">
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              #customsBrokerageProductInformation
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="jobDetails.customs.productInformation"
              placeholder="Product Information"></textarea>
            <mat-hint align="end">{{jobDetails.customs.productInformation.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
        <app-complex-chips-list [data]="jobDetails.customs.modesOfTransport">Modes of Transport
        </app-complex-chips-list>
      </mat-card-content>
    </mat-card>
    <!-- end of Customs Brokerage card -->
  </div>
  <div class="centered-button">
    <div class="el">
      <button class="btn large-btn"
        mat-stroked-button
        color="primary">Save</button>
    </div>
    <div class="el">
      <button class="btn large-btn"
        mat-flat-button
        routerLink="/customer/shipping/specialty-requests-confirmed"
        color="primary">Submit</button>
    </div>
  </div>
</div>
