@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

.checkbox-line {
  &.field-size {
    float: left;
    margin-left: 12px;
    margin-right: 24px;
  }
}

.docs-list {
  padding-bottom: 16px;
}

.end-position {
  .mat-stroked-button {
    margin-top: 12px;
  }

  &.with-button {
    min-width: 132px;
    align-items: flex-start;

    @media only screen and (max-width: 1240px) {
      align-self: flex-end;

      .mat-stroked-button {
        margin-bottom: 36px;
      }
    }
  }
}

.additional-fields {
  display: flex;
}

.shipment-btn {
  min-width: 132px;
}

@media only screen and (max-width: 960px) {
  .first-row-grid {
    .col-5 {
      width: 50%;
    }

    .col-7 {
      width: 50%;

      .col-4 {
        width: 50%;
      }

      .col-2 {
        width: 25%;
      }

      .col-3 {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .first-row-grid {
    .col-5 {
      width: 100%;
      float: none;

      .col-6 {
        width: 50%;
        float: left;
      }
    }

    .col-7 {
      width: 100%;
      float: none;

      .col-4 {
        width: 50%;
        float: left;
      }

      .col-2 {
        width: 50%;
        float: left;
      }

      .col-3 {
        width: 50%;
        float: left;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .complex-grid {
    display: block;

    .start-position {
      display: block;
      width: 100%;
      padding: 0;
    }

    .end-position {
      display: block;
      width: 100%;
      text-align: right;
      padding: 0;
    }

    .shipment-btn {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .complex-grid {

    .col-2,
    .col-3,
    .col-4,
    .col-5 {
      width: 50%;
      float: left;
    }
  }
}

.breack-point-1240 {
  @media only screen and (max-width: 1240px) {
    >.col-6 {
      float: none;
      width: 100%;
    }
  }

  @media only screen and (max-width: 640px) {

    .col-3,
    .col-4,
    .col-5 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 480px) {

    .col-3,
    .col-4,
    .col-5 {
      width: 100%;
    }
  }
}

.breack-point-1150 {
  @media only screen and (max-width: 1150px) {

    .col-2,
    .col-3 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 968px) {

    .col-2,
    .col-3 {
      width: 33.3333%;
    }
  }

  @media only screen and (max-width: 720px) {

    .col-2,
    .col-3 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 480px) {

    .col-2,
    .col-3 {
      width: 100%;
    }
  }
}

.breack-point-1024 {
  @media only screen and (max-width: 1024px) {

    .col-4,
    .col-8 {
      width: 100%;
      float: none;
    }
  }
}

.breack-point-991 {
  @media only screen and (max-width: 991px) {
    .col-3 {
      width: 40%;
    }

    .col-1 {
      width: 20%;
    }

    .col-5 {
      width: 100%;
    }
  }

  @media only screen and (max-width: 480px) {

    .col-1,
    .col-3,
    .col-5 {
      width: 100%;
    }
  }
}

.breack-point-768 {
  @media only screen and (max-width: 768px) {
    .col-4 {
      width: 50%;
    }

    .col-6 {
      width: 100%;
      float: none;
    }
  }

  @media only screen and (max-width: 480px) {
    .col-4 {
      width: 100%;
    }
  }
}

.breack-point-680 {
  @media only screen and (max-width: 680px) {

    .col-2,
    .col-3,
    .col-4 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 480px) {

    .col-2,
    .col-3,
    .col-4 {
      width: 100%;
    }
  }
}

.breack-point-640 {
  @media only screen and (max-width: 640px) {
    .col-3 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 480px) {
    .col-3 {
      width: 100%;
    }
  }
}

.breack-point-520 {
  @media only screen and (max-width: 520px) {
    .col-6 {
      width: 100%;
      float: none;
    }
  }
}
