<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data?.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <div class="item-row amount-item"
        *ngFor="let item of data?.moreData">
        <div class="start-position">
          <div class="inner-el">
            <div class="inner-el">
              <span>Overpaid</span>
            </div>
          </div>
          <div class="inner-el">
            <em>{{item?.paymentDetails.checkNo}}</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <em>{{item?.paymentDetails.paidDate}}</em>
          </div>
          <div class="inner-el">
            <strong>{{item?.amount | currency}}</strong>
          </div>
        </div>
      </div>
      <div class="item-row amount-item">
        <div class="start-position">
          <div class="inner-el">
            <em>Total</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <strong>{{total | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-flat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Close </button>
      </div>
    </div>
  </footer>
</div>
