<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Shipment Type"
            [(ngModel)]="fiterData.shipmentType">
            <mat-option *ngFor="let item of shipmentTypes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Franchise"
            [(ngModel)]="fiterData.franchise">
            <mat-option *ngFor="let item of franchises"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Carrier"
            [(ngModel)]="fiterData.carrier">
            <mat-option *ngFor="let item of carriers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Service"
            [(ngModel)]="fiterData.service">
            <mat-option *ngFor="let item of services"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Payment Mode"
            [(ngModel)]="fiterData.paymentMode">
            <mat-option *ngFor="let item of paymentModes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Sales Rep"
            [(ngModel)]="fiterData.salesRep">
            <mat-option *ngFor="let item of salesRepList"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-12">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Customer"
            [(ngModel)]="fiterData.customer">
            <mat-option *ngFor="let item of customers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Ship From"
            [(ngModel)]="fiterData.shipForm">
            <mat-option *ngFor="let item of shipFormList"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Ship To"
            [(ngModel)]="fiterData.shipTo">
            <mat-option *ngFor="let item of shipToList"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
