<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!batchEmpty">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
      </div>
      <div class="end-position">
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="getRateFunction()">Get Rate</button>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <!-- batches list -->
    <div class="table-list-items">
      <div *ngFor="let item of pendingBatches"
        class="table-list-item selection-row batch-item"
        [ngClass]="{'selected-row': item.selected}"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Distributor"
              value="{{item.pendingDistributor}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="SHIPT"
              value="{{item.pendingShipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Info Error"
              value="{{item.infoError}}"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn"
          *ngIf="!selection">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="getRateFunction(); $event.stopPropagation();">Get Rate</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="settings"
          (backData)="batchSettingsFunction($event)"></app-dot-menu>
      </div>
      <!--  -->
    </div>
    <!-- end of batches list -->
  </div>
  <div class="empty-data"
    *ngIf="batchEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
