.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px - 96px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

::ng-deep {
  .table-list-item {
    &.batch-item {
      @media only screen and (max-width: 991px) {
        padding-left: 24px;
        padding-right: 24px;
        .item-settings,
        .mat-checkbox.single-checkbox {
          top: 20px;
        }
        .button-list {
          &.one-btn {
            min-height: 68px;
            top: 8px;
          }
        }
      }
      .start-position {
        width: 30%;
        @media only screen and (max-width: 991px) {
          width: 100%;
          padding: 0 0 12px 40px;
        }
      }
      .end-position {
        width: 70%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        .inner-el {
          width: 25%;
          &:first-child {
            width: 50%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
            &:first-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
