<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <app-amount class="amount-box"
        [(value)]="modalData.amount"></app-amount>
    </div>
    <!-- row -->
    <div class="wrap">
      <mat-form-field class="full-width"
        color="accent">
        <mat-label>Customer</mat-label>
        <mat-select [(ngModel)]="modalData.customer"
          [formControl]="validation.customer"
          required>
          <mat-option *ngFor="let item of customers"
            value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- row  -->
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width"
          color="accent">
          <mat-label>Payment Method</mat-label>
          <mat-select [(ngModel)]="modalData.paymentMethod"
            [formControl]="validation.paymentMethod"
            required>
            <mat-option *ngFor="let item of paymentMethods"
              value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Check #"
            [(ngModel)]="modalData.checkNumber"
            [formControl]="validation.checkNumber"
            required>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width"
          color="accent">
          <mat-label>Currency</mat-label>
          <mat-select [(ngModel)]="modalData.currency"
            [formControl]="validation.currency"
            required>
            <mat-option *ngFor="let item of currencies"
              value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Date of Payment</mat-label>
          <input matInput
            [matDatepicker]="paymentDateField"
            placeholder="MM/DD/YY"
            [formControl]="validation.datePayment"
            [(ngModel)]="modalData.datePayment"
            [min]="minDate"
            required>
          <mat-datepicker-toggle matSuffix
            [for]="paymentDateField"
            [disableRipple]="true">
            <i matDatepickerToggleIcon
              class="icon icon-date_range"></i>
          </mat-datepicker-toggle>
          <mat-datepicker #paymentDateField
            color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial>Save</button>
      </div>
    </div>
  </footer>
</div>
