<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div #formRow
        class="list-wrap wrap category-list-dialog">
        <div class="item-row list-item"
          *ngFor="let item of modalData; let i = index">
          <div class="start-position">
            <div class="color-label">
              <i [matMenuTriggerFor]="menu"
                class="icon icon-label color-{{item.color}}"></i>
              <mat-menu #menu="matMenu">
                <ul class="colors-list">
                  <li *ngFor="let color of colors"
                    class="area color-{{color}}"
                    (click)="item.color=color; $event.stopPropagation();"></li>
                </ul>
              </mat-menu>
            </div>
            <div class="editable-el">
              <input type="text"
                [(ngModel)]="item.name"
                name="name_{{i}}"
                autofocus> <span class="focus-border"></span>
            </div>
          </div>
          <div class="end-position">
            <button mat-icon-button
              (click)="deleteCategory(i)"
              color="warn"><i class="icon icon-outline-delete"></i></button>
          </div>
        </div>
        <button class="add-category-btn"
          mat-icon-button
          color="accent"
          (click)="$event.stopPropagation(); addNewArea()">
          <i class="icon icon-add_circle"></i></button>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
