@import 'src/content/scss/var.scss';

.list-wrap {
  &.category-list-dialog {
    .list-item {
      position: relative;
      margin: 0 -24px;
      padding: 0 24px;
      width: auto;
      border-bottom: 1px solid $borderColor;
      border-top: 0;
      .start-position {
        width: 85%;
        span,
        .editable-el {
          padding-left: 16px;
        }

        .editable-el {
          width: 95%;
          span {
            &.focus-border {
              height: 1px;
              overflow: hidden;
              background-color: $green;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              opacity: 0;
            }
          }
          input {
            border: none;
            outline: none !important;
            padding: 0;
            font-size: 13px;
            letter-spacing: 0.019rem;
            line-height: 24px;
            width: 80%;
            background-color: transparent;
            &:focus {
              ~ span {
                &.focus-border {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .end-position {
        .mat-icon-button {
          opacity: 0;
          @include animationOpacity();
        }
      }
      &:hover {
        background-color: $menuItemHover;
        .end-position {
          .mat-icon-button {
            opacity: 1;
          }
        }
      }
    }
    .add-category-btn {
      margin-left: -8px;
    }
  }
}

ul {
  &.colors-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
    li {
      display: block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      text-indent: -9898px;
      margin: 8px;
      border-radius: 0;
      cursor: pointer;
    }
  }
}
// .color-block {
//   max-width: 176px;
//   display: block;

//   .mat-expansion-panel-header {
//     padding: 0 16px;
//     font-size: 13px;
//   }

//   .mat-expansion-panel:not([class*='mat-elevation-z']) {
//     box-shadow: none;
//   }
// }
