.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 0 24px 24px;
  min-height: calc(100vh - 48px);
}

.empty-data {
  height: calc(100vh - 48px - 96px);
}

:host {
  .table-list-item {
    &.edi-orphan {
      @media only screen and (max-width: 1150px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;

        .mat-checkbox {
          &.single-checkbox {
            margin-top: 0;
            top: 20px;
          }
        }

        .item-settings {
          margin-top: 0;
          top: 20px;
        }

        .button-list {
          min-height: 68px;
          top: 8px;
        }
      }

      @media only screen and (max-width: 700px) {
        .number-content {
          padding-bottom: 0 !important;
        }
      }

      .start-position {
        width: 20%;

        @media only screen and (max-width: 1150px) {
          width: 100%;
          padding-bottom: 12px;
          padding-left: 40px;
        }
      }

      .end-position {
        width: 80%;

        @media only screen and (max-width: 1150px) {
          width: 100%;
        }

        .inner-el {
          width: 28%;

          &:last-child {
            width: 16%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
            padding-top: 12px;

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              width: 100%;
            }

            &.address-el {
              position: relative;
              padding: 12px 0 0 104px;
              display: block;

              span {
                &.caption {
                  line-height: 24px;
                  position: absolute;
                  top: 12px;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
