<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox *ngIf="!dataEmpty"
          class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="linkFunction()"
          [disabled]="!toolbarIndeterminate&&!selectAll">Link</button>
        <!-- sort -->
        <app-sort-btn *ngIf="!selection"
          (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter -->
        <button *ngIf="!selection"
          mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- settings -->
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of orders"
        class="table-list-item selection-row edi-orphan"
        [ngClass]="{'new': item.new, 'selected-row': item.selected}"
        (click)="clickRowFunction(item)">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Carrier INV."
              value="{{item.carrierInvoice}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Trans"
              value="{{item.trans}}"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="linkFunction(); $event.stopPropagation();">Link</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
