<mat-tab-group *ngIf="!superAdminFlag"
  class="page-tabs"
  dynamicHeight
  disableRipple
  animationDuration="0ms"
  [selectedIndex]='selectedIndex'
  (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab label="Shipment">
    <app-notification-shipment></app-notification-shipment>
  </mat-tab>
  <mat-tab label="Invoice">
    <app-notification-invoice></app-notification-invoice>
  </mat-tab>
  <mat-tab label="ECom"
    *ngIf="!adminFlag">
    <app-notification-ecom></app-notification-ecom>
  </mat-tab>
  <mat-tab label="Claim"
    *ngIf="!adminFlag">
    <app-notification-claim></app-notification-claim>
  </mat-tab>
</mat-tab-group>
<app-notification-franchise *ngIf="superAdminFlag"></app-notification-franchise>
