<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <mat-radio-group [(ngModel)]="modalData.type">
      <div class="row">
        <div class="col-s-6">
          <div class="checkbox-line">
            <mat-radio-button value="Air">Flight</mat-radio-button>
          </div>
        </div>
        <div class="col-s-6">
          <div class="checkbox-line">
            <mat-radio-button value="Truck">Truck</mat-radio-button>
          </div>
        </div>
      </div>
    </mat-radio-group>
    <!-- Truck -->
    <div *ngIf="modalData.type==='Truck'">
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Carrier"
              [(ngModel)]="modalData.carrier"
              [formControl]="validation.carrier"
              required>
              <mat-option *ngFor="let item of carriers"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="BOL #"
              [formControl]="validation.bol"
              [(ngModel)]="modalData.bol"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="PAPS #"
              [formControl]="validation.paps"
              [(ngModel)]="modalData.paps"
              required>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="PARS #"
              [formControl]="validation.pars"
              [(ngModel)]="modalData.pars"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="PRO #"
              [formControl]="validation.pro"
              [(ngModel)]="modalData.pro"
              required>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- end of Truck -->
    <!-- Air -->
    <div *ngIf="modalData.type==='Air'">
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Airway Bill #"
              [formControl]="validation.airwayBill"
              [(ngModel)]="modalData.airwayBill"
              required
              mask="000-0000 0000">
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Tracking #"
              [formControl]="validation.tracking"
              [(ngModel)]="modalData.tracking"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Carrier"
              [(ngModel)]="modalData.carrier"
              [formControl]="validation.carrier"
              required>
              <mat-option *ngFor="let item of carriers"
                [value]="item.value">{{item.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Flights #"
              [formControl]="validation.flights"
              [(ngModel)]="modalData.flights"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Service"
              [formControl]="validation.service"
              [(ngModel)]="modalData.service"
              required>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Carrier Spot Rate #"
              [formControl]="validation.carrierSpotRate"
              [(ngModel)]="modalData.carrierSpotRate">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Customer Account #"
              [formControl]="validation.customerAccount"
              [(ngModel)]="modalData.customerAccount">
          </mat-form-field>
        </div>
      </div>
      <div class="wrap">
        <h4 class="dialog-subtitle">Departure</h4>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Airport #"
              [formControl]="validation.departure.airport"
              [(ngModel)]="modalData.departure.airport"
              required>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Date</mat-label>
            <input matInput
              [matDatepicker]="picker"
              placeholder="MM/DD/YY"
              [formControl]="validation.departure.date"
              [(ngModel)]="modalData.departure.date"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="picker"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #picker
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <app-time-field placeholder="Time"
            [currentTime]="modalData.departure.time"
            (time)="getDepartureTime($event)"></app-time-field>
        </div>
      </div>
      <div class="wrap">
        <h4 class="dialog-subtitle">Arrival</h4>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Airport #"
              [formControl]="validation.arrival.airport"
              [(ngModel)]="modalData.arrival.airport"
              required>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Date</mat-label>
            <input matInput
              [matDatepicker]="pickerArrival"
              placeholder="MM/DD/YY"
              [formControl]="validation.arrival.date"
              [(ngModel)]="modalData.arrival.date"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="pickerArrival"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #pickerArrival
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <app-time-field placeholder="Time"
            [currentTime]="modalData.arrival.time"
            (time)="getArrivalTime($event)"></app-time-field>
        </div>
      </div>
    </div>
    <!-- end of Air -->
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial> Save </button>
      </div>
    </div>
  </footer>
</div>
