<div class="dialog-content list-dialog"
  [ngClass]="{'fullscreen': fullscreen}">
  <header class="item-row">
    <div class="start-position">
      <h3>Rates</h3>
    </div>
    <div class="end-position">
      <div class="el">
        <app-sort-btn [sortMenu]="sortMenu"
          (sortData)="getSortData($event)"></app-sort-btn>
      </div>
      <div class="el mobile-fullscreen">
        <button mat-icon-button
          (click)="fullscreen = !fullscreen">
          <i class="icon {{fullscreen?'icon-fullscreen_exit':'icon-fullscreen'}}"></i>
        </button>
      </div>
      <div class="el">
        <button mat-icon-button
          (click)="closeDialog()">
          <i class="icon icon-close"></i>
        </button>
      </div>
    </div>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="rates-list">
        <app-rate-line class="rate-line"
          *ngFor="let item of rates"
          (click)="selectRate(item)"
          matRipple
          [matRippleColor]="primary-ripple"
          [rateItem]="item"></app-rate-line>
      </div>
    </section>
  </form>
</div>
