@import 'src/content/scss/var.scss';

.list-dialog {
  @media only screen and (max-width: 991px) {
    .mobile-fullscreen {
      display: none;
    }
  }

  section {
    max-height: calc(80vh - 56px);

    @media only screen and (max-width: 991px) {
      max-height: calc(100vh - 56px);
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    width: 100%;
    height: 100%;

    section {
      max-height: calc(100vh - 56px);
    }
  }
}
