@import 'src/content/scss/var.scss';

:host {
  .double-button {
    button {
      &.mat-flat-button {
        padding-right: 28px;
        min-width: 120px;
        position: relative;
        text-align: center;

        i {
          &.icon {
            position: absolute;
            right: 4px;
            top: 50%;
            margin-top: -12px;
          }
        }
      }
    }

    &.bigger {
      button {
        &.mat-flat-button {
          min-width: 160px;
        }
      }
    }
  }
}
