<div class="processing-page">
  <div class="processing-block">
    <img class="v-logo"
      src="content/images/logo-v.svg"
      alt="">
    <h2>Processing...</h2>
    <p>Please wait while your charges are processed.</p>
    <mat-spinner class="processing-spinner"
      color="accent"
      [diameter]="48">
    </mat-spinner>
  </div>
</div>
