@import 'src/content/scss/var.scss';

.processing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.processing-block {
  min-height: 336px;
  padding: 24px;
  max-width: 620px;
  text-align: center;

  .v-logo {
    display: block;
    margin: 0 auto 56px;
    width: 80px;
    height: 67px;
  }

  h2 {
    line-height: 48px;
    margin: 0;
    padding: 0 0 28px;
    color: $primary;
    font-weight: 300;
    font-size: 34px;
  }

  p {
    line-height: 24px;
    padding: 2px 0;
    margin: 0 0 64px;
    font-size: 15px;
  }

  .processing-spinner {
    display: block;
    margin: 0 auto;
  }
}
