<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- main info -->
    <div class="top-info">
      <div class="item-row">
        <div class="start-position">
          <app-data-block label="Payee"
            value="{{ detailsData?.payee}}"
            bold="{{true}}">
            <span
              class="area color-{{convertPayeeCategory(detailsData?.payeeCategory)}}">{{detailsData?.payeeCategory}}</span>
          </app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Method"
              value="{{ detailsData?.payment}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{ detailsData?.dateCreated}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Due"
              value="{{ detailsData?.dueDate}}"
              bold="{{true}}"
              [editable]="true"
              [editablePiker]="true"
              (change)="changeDueDate($event)">
            </app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{ detailsData?.currency}})"
              value="{{ detailsData?.totalAmount | currency}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Paid"
              value="{{ detailsData?.lastPaymentDate}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="detailsSettings"
          (backData)="detailsSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of main info -->
    <!-- invoices -->
    <div class="table-list-items"
      *ngIf="detailsData?.invoices">
      <div *ngFor="let item of detailsData?.invoices"
        class="table-list-item simple-data details-list">
        <div class="start-position">
          <div class="inner-el">
            <app-data-block label="Invoice"
              value="{{item.id}}"
              bold={{true}}></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Invoiced"
              value="{{item?.invoicedDate}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el comment-el">
            <app-data-block label="Comment"
              value="{{item?.comment}}"></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="Total ({{detailsData?.currency}})"
              value="{{item?.total | currency}}"
              right={{true}}></app-data-block>
          </div>
        </div>
        <a target="_blank"
          href="https://www.axmag.com/download/pdfurl-guide.pdf"
          class="item-settings"
          mat-icon-button><i class="icon icon-attach_file"></i></a>
      </div>
    </div>
    <!-- end of invoices -->
    <!-- invoice bottom section -->
    <div class="invoice-bottom-section">
      <!-- work orders total -->
      <div class="item-row invoice_break-991">
        <div class="start-position">
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="detailsData.creditFlag">Credit {{detailsData?.creditLabelAmount | currency}}
                ({{detailsData?.currency}})</mat-checkbox>
            </div>
          </div>
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="detailsData.creditNoteFlag">Credit Note</mat-checkbox>
            </div>
          </div>
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="detailsData.disputeFlag">Dispute</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-4 end-position">
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Subtotal ({{detailsData?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value">{{detailsData?.subTotal | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of work orders total -->
      <!-- invoice column -->
      <div class="item-row invoice_break-991">
        <div class="spacer"></div>
        <div class="col-4 invoice-column">
          <div class="taxes">
            <!-- row -->
            <div class="item-row"
              *ngFor="let item of detailsData.taxes">
              <div class="start-position col-4">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline">
                  <mat-select [(value)]="item.tax">
                    <mat-option *ngFor="let n of taxes"
                      [value]="n"> {{n}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="end-position col-3">
                <mat-form-field floatLabel="never"
                  class="full-width right-align single-field with-underline"
                  color="accent">
                  <input matInput
                    placeholder="$ 00.00"
                    prefix="$ "
                    mask="0*.00"
                    [showMaskTyped]="false"
                    [dropSpecialCharacters]="false"
                    [(ngModel)]="item.taxValue">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="item-row border-top">
            <div class="start-position">
              <span class="caption">Total ({{detailsData?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value strong">{{detailsData?.totalAmount | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row"
            *ngIf="detailsData.creditNoteFlag">
            <div class="start-position">
              <span class="caption">Credit Note</span>
            </div>
            <div class="end-position col-3">
              <mat-form-field floatLabel="never"
                class="full-width right-align single-field with-underline"
                color="accent">
                <input matInput
                  placeholder="$ 00.00"
                  prefix="$ "
                  mask="0*.00"
                  [showMaskTyped]="false"
                  [dropSpecialCharacters]="false"
                  [(ngModel)]="detailsData.creditNote">
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="item-row"
            *ngIf="detailsData.disputeFlag">
            <div class="start-position col-8">
              <div class="inner-el col-6">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline">
                  <mat-select [(value)]="detailsData.payment">
                    <mat-option *ngFor="let n of payments"
                      [value]="n"> {{n}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="inner-el col-6">
                <mat-form-field floatLabel="never"
                  class="full-width single-field with-underline"
                  color="accent">
                  <input matInput
                    [(ngModel)]="detailsData.paymentId">
                </mat-form-field>
              </div>
            </div>
            <div class="end-position col-3">
              <mat-form-field floatLabel="never"
                class="full-width right-align single-field with-underline"
                color="accent">
                <input matInput
                  placeholder="$ 00.00"
                  prefix="$ "
                  mask="0*.00"
                  [showMaskTyped]="false"
                  [dropSpecialCharacters]="false"
                  [(ngModel)]="detailsData.paymentAmount">
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Amount Paid</span>
            </div>
            <div class="end-position">
              <span class="value strong big-normal">{{detailsData?.amountPaid | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Balance Due</span>
            </div>
            <div class="end-position">
              <span class="value strong big-normal">{{detailsData?.balanceDue | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of invoice column -->
    </div>
    <!-- end of invoice bottom section -->
  </div>
  <!-- centerd button -->
  <div class="centered-button">
    <button mat-flat-button
      class="large-btn"
      color="primary"
      (click)="save()">Save</button>
  </div>
</div>
