.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px - 96px);
}

:host {
  .table-list-item {
    &.details-list {
      .start-position {
        width: 30%;
        .inner-el {
          width: 50%;
        }
      }
      .end-position {
        width: 70%;
        .inner-el {
          width: 30%;
          &:first-child {
            width: 70%;
          }
        }
      }
    }
  }
}
