.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 56px - 96px - 24px);
}

:host {
  .table-list-item {
    &.franchise-track-item {
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 24px;
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 991px) {
          width: 100%;
          padding-right: 48px;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 16%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &:last-child {
            width: 20%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
