<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <app-content-toolbar [filterBtn]="true"
      (filterOpen)="filterOpen()"
      [searchFlag]="true"
      (searchData)="search($event)"
      [period]="true"
      (periodData)="getPeriod($event)"
      [toolbarSettings]="contentToolbarSettings"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- list content -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- franchise row -->
      <div class="table-list-item item-row simple-data franchise-track-item"
        *ngFor="let item of franchiseItems"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <div class="img-line">
            <app-img-box [url]="item.logo"
              icon="{{business}}"></app-img-box>
            <span class="value strong"> {{item.name}} </span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="SHIPT"
              value="{{item.franchiseShipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Revenue"
              value="{{item.franchiseRevenue | currency}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Cost"
              value="{{item.franchiseCost | currency}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Gross"
              value="{{item.franchiseGrossProfit | currency}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Net"
              value="{{item.franchiseNetProfit | currency}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Charge"
              value="{{item.franchiseCharge | currency}}"
              [right]="true"
              [details]="item.franchiseChargeDetails"
              (infoClick)="openChargeInfoDialog($event)"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of franchise row -->
    </div>
    <!-- empty data -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
