@import 'src/content/scss/var.scss';

:host {
  .sidebar-navigation {
    min-height: calc(100vh - 162px);
    padding: 4px 0;

    button {
      overflow: hidden;
      font-weight: 400;

      &:hover {
        background-color: $menuItemHover;
      }

      i {
        &.icon {
          margin-right: 16px;
          color: $iconColor;
        }
      }

      &.active {
        background-color: $mainMenuActive;
        i {
          &.icon {
            color: $primary;
          }
        }
        &.first-level {
          color: $primary;
        }
      }

      &.first-level {
        height: 40px;
        margin: 4px 0;
        font-size: 15px;
        color: $textColor;
      }

      &.second-level {
        color: $textColor;
        height: 40px;
        font-size: 13px;
        letter-spacing: 0.23px;
        &.active {
          color: $primary;
        }
      }
    }
    .mat-accordion {
      .mat-expansion-panel {
        border-radius: 0;
        box-shadow: none;
        .mat-expanded {
          button {
            &.first-level {
              color: $primary;
              i {
                &.icon {
                  color: $primary;
                }
              }
            }
          }
          .mat-expansion-indicator {
            &:after {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.collapse-btn {
  padding: 0;
}
