<mat-action-list class="sidebar-navigation">
  <mat-accordion>
    <!-- normal item -->
    <div *ngFor="let item of mainMenu">
      <button class="first-level"
        *ngIf="!item.inner.length"
        mat-list-item
        routerLink="{{ item.path }}"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeNavigation()">
        <i class="icon {{ item.icon }}"
          *ngIf="item.icon"></i>
        <span>{{ item.name }}</span>
      </button>
      <!-- expansion item -->
      <mat-expansion-panel *ngIf="item.inner.length"
        routerLinkActive
        #rla="routerLinkActive"
        [expanded]="rla.isActive">
        <mat-expansion-panel-header class="collapse-btn"
          expandedHeight="48px">
          <button mat-list-item
            class="first-level">
            <i class="icon {{ item.icon }}"
              *ngIf="item.icon"></i>
            <span>{{ item.name }}</span>
          </button>
        </mat-expansion-panel-header>
        <mat-action-list>
          <button *ngFor="let itemInner of item.inner"
            class="second-level"
            mat-list-item
            routerLink="{{ itemInner.path }}"
            routerLinkActive="active"
            (click)="closeNavigation()">
            <span>{{ itemInner.name }}</span>
          </button>
        </mat-action-list>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</mat-action-list>
