@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 96px);
}

:host {
  .table-list-item {
    &.message-item {
      .inner-el {
        width: 100%;
      }
      @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
      .start-position {
        width: 100%;
        max-width: 128px;
      }
      .end-position {
        width: 100%;
        @media only screen and (max-width: 600px) {
          padding-top: 12px;
        }
      }
    }
  }
}
