<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <app-simple-search class="search-element normal-animation"
          [closeButton]="true"
          (change)="searchFunction($event)"></app-simple-search>
      </div>
      <div class="end-position">
        <app-dot-menu class="item-settings"
          [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item simple-data message-item"
        *ngFor="let item of messages">
        <div class="start-position">
          <div class="inner-el">
            <app-data-block class="no-transform"
              value="{{item.type}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block class="no-transform"
              value="{{item.message}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list  -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addNewMessage()"><i class="icon icon-add"></i></button>
