<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="modalData.type"
              [formControl]="validation.type"
              required>
              <mat-option *ngFor="let item of types"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              [(ngModel)]="modalData.message"
              [formControl]="validation.message"></textarea>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
