<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content details-content">
    <!-- content toolbar -->
    <mat-toolbar class="item-row content-toolbar claims-toolbar">
      <div class="start-position"></div>
      <div class="end-position">
        <app-status-button (change)="changeStatus($event);"></app-status-button>
        <div class="el"
          *ngIf="readonlyFlag">
          <!-- edit button -->
          <button mat-icon-button
            (click)="editClaim()"><i class="icon icon-outline-edit"></i></button>
          <!-- settings -->
          <app-dot-menu [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- content -->
    <div class="row">
      <div class="col-8">
        <!-- Claim card -->
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Claim</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <input *ngIf="readonlyFlag"
                    type="text"
                    placeholder="Tracking"
                    matInput
                    [(ngModel)]="claim.tracking"
                    [readonly]="readonlyFlag">
                  <input *ngIf="!readonlyFlag"
                    type="text"
                    placeholder="Tracking"
                    matInput
                    [(ngModel)]="claim.tracking"
                    [formControl]="validation.tracking"
                    [matAutocomplete]="trackingAuto"
                    required>
                  <mat-autocomplete *ngIf="!readonlyFlag"
                    #trackingAuto="matAutocomplete">
                    <mat-option *ngFor="let item of trackingsFiltered | async"
                      [value]="item"> {{item}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Reason</mat-label>
                  <mat-select [(ngModel)]="claim.reason"
                    [formControl]="validation.reason"
                    [disabled]="readonlyFlag">
                    <mat-option *ngFor="let item of reasons"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Solution</mat-label>
                  <mat-select [(ngModel)]="claim.solution"
                    [formControl]="validation.solution"
                    [disabled]="readonlyFlag">
                    <mat-option *ngFor="let item of solutions"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Assign To</mat-label>
                  <mat-select [(ngModel)]="claim.assignTo"
                    [formControl]="validation.assignTo"
                    required
                    [disabled]="readonlyFlag">
                    <mat-option *ngFor="let item of assignToList"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Received</mat-label>
                  <input matInput
                    [matDatepicker]="receivedDatePicker"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.receivedDate"
                    required
                    [min]="minDate"
                    [readonly]="readonlyFlag">
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="receivedDatePicker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #receivedDatePicker
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Mailed</mat-label>
                  <input matInput
                    [matDatepicker]="mailedDatePicker"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.mailedDate"
                    required
                    [min]="minDate"
                    [readonly]="readonlyFlag">
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="mailedDatePicker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #mailedDatePicker
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Status Alert</mat-label>
                  <input matInput
                    [matDatepicker]="statusAlertPicker"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.statusAlert"
                    required
                    [min]="minDate"
                    [readonly]="readonlyFlag">
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="statusAlertPicker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #statusAlertPicker
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-s-12">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Description</mat-label>
                  <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    #description
                    maxlength="100"
                    [(ngModel)]="claim.description"
                    [formControl]="validation.description"
                    required
                    [readonly]="readonlyFlag"></textarea>
                  <mat-hint *ngIf="!readonlyFlag"
                    align="end">{{description.value?.length}} / 100</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Carrier Refund card -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Carrier Refund</mat-card-title>
            <div class="end-position">
              <app-button-select *ngIf="!readonlyFlag"
                class="btn-box"
                [value]="claim.carrierRefundCurrency"
                [items]="currencyItems"
                (change)="customsCurrencyChange($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Carrier Claim</mat-label>
                  <input matInput
                    [(ngModel)]="claim.carrierClaim"
                    [formControl]="validation.carrierClaim"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Status</mat-label>
                  <mat-select [(ngModel)]="claim.carrierRefundStatus"
                    [formControl]="validation.carrierRefundStatus"
                    required>
                    <mat-option *ngFor="let item of statuses"
                      [value]="item"
                      [disabled]="readonlyFlag"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Amount</mat-label>
                  <input matInput
                    [(ngModel)]="claim.carrierRefundAmount"
                    [formControl]="validation.carrierRefundAmount"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Check #</mat-label>
                  <input matInput
                    [(ngModel)]="claim.carrierRefundCheckNumber"
                    [formControl]="validation.carrierRefundCheckNumber"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Check</mat-label>
                  <input matInput
                    [(ngModel)]="claim.carrierRefundCheck"
                    [formControl]="validation.carrierRefundCheck"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Date</mat-label>
                  <input matInput
                    [matDatepicker]="carrierRefundPicker"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.carrierRefundDate"
                    required
                    [min]="minDate"
                    [readonly]="readonlyFlag">
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="carrierRefundPicker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #carrierRefundPicker
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- eShipper Refund card -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">eShipper Refund</mat-card-title>
            <div class="end-position">
              <app-button-select *ngIf="!readonlyFlag"
                class="btn-box"
                [value]="claim.eShipperRefundCurrency"
                [items]="currencyItems"
                (change)="customsCurrencyChange($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Amount</mat-label>
                  <input matInput
                    [(ngModel)]="claim.eShipperRefundAmount"
                    [formControl]="validation.eShipperRefundAmount"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Check #</mat-label>
                  <input matInput
                    [(ngModel)]="claim.eShipperRefundCheck"
                    [formControl]="validation.eShipperRefundCheck"
                    [readonly]="readonlyFlag">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Date</mat-label>
                  <input matInput
                    [matDatepicker]="picker"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.eShipperRefundDate"
                    required
                    [min]="minDate"
                    [readonly]="readonlyFlag">
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="picker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- Comments card -->
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Comments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="comment-row"
              *ngFor="let item of claim.comments; let i = index">
              <div class="item-row comment-info">
                <div class="start-position">
                  <strong>{{item.type}}</strong>
                </div>
                <div class="end-position">
                  <em>{{item.date}}</em>
                </div>
              </div>
              <mat-form-field class="full-width"
                color="accent"
                [ngClass]="{'readonly-field': readonlyFlag}">
                <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [(ngModel)]="item.comment"
                  [readonly]="readonlyFlag"></textarea>
                <mat-hint *ngIf="!readonlyFlag"
                  align="end">{{item.comment?.length}} / 100</mat-hint>
              </mat-form-field>
            </div>
            <button class="add-comment-btn"
              mat-icon-button
              color="accent"
              (click)="addNewComment()"><i class="icon icon-add_circle"></i></button>
          </mat-card-content>
        </mat-card>
        <div *ngIf="!readonlyFlag"
          class="checkbox-line card-align">
          <mat-checkbox color="accent"
            [(ngModel)]="claim.notifyCustomerForUpdates">Notify Customer For Updates</mat-checkbox>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-m-6">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Shipment</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="shipment-card-content"
                  *ngIf="shipmentFlag">
                  <div class="wrap">
                    <app-img-box [url]="shipment.logo"></app-img-box>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Service"
                      value="{{shipment.service}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <div class="data-el">
                      <span class="caption">Trans</span>
                      <a href="{{shipment.linkToTrans}}"
                        class="value">{{shipment.trans}}</a>
                    </div>
                  </div>
                  <!-- row -->
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Cost"
                        value="{{shipment.cost|currency}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Charge"
                        value="{{shipment.charge|currency}}"></app-data-block>
                    </div>
                  </div>
                  <!-- row -->
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Insurance"
                        value="{{shipment.insurance}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Amount"
                        value="{{shipment.amount | currency}}"></app-data-block>
                    </div>
                  </div>
                  <!-- row -->
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Ship"
                        value="{{shipment.shipData}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Value of Goods"
                        value="{{shipment.valueOfGoods | currency}}"></app-data-block>
                    </div>
                  </div>
                  <div class="card-divider">&nbsp;</div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Customer"
                      value="{{shipment.customer}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Email"
                      value="{{shipment.email}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Phone"
                      value="{{shipment.phone}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Shipping"
                      value="{{shipment.shipping}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Billing"
                      value="{{shipment.billing}}"></app-data-block>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- end of content -->
  </div>
  <div *ngIf="!readonlyFlag"
    class="centered-button">
    <button class="large-btn"
      mat-flat-button
      color="primary"
      (click)="submitClaim()">Submit</button>
  </div>
</div>
