@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

:host {
  .claims-toolbar {
    margin: -12px 0 12px;
  }

  .comment-info {
    margin-bottom: -12px;

    em {
      font-style: normal;
      color: $textColorLight;
    }
  }

  .add-comment-btn {
    margin: -8px 0 12px -8px;
  }

  .comment-row {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;

    &:not(:first-child) {
      border-top: 1px solid $borderColor;
      padding-top: 24px;
    }

    @media only screen and (max-width: 991px) {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
