<div class="dialog-content normal-dialog">
  <header> &nbsp;</header>
  <section [perfectScrollbar]>
    <div class="wrap warning-content">
      <i class="icon icon-outline-report_problem"></i>
      <h3 *ngIf="data.title">{{data.title}}</h3>
      <p>{{data.message}}</p>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          class="cancel-dialog"
          color="primary"
          (click)="action()"> {{data.action}} </button>
      </div>
    </div>
  </footer>
</div>
