<mat-accordion>
  <mat-expansion-panel class="card-panel">
    <mat-expansion-panel-header [expandedHeight]="'48px'">
      <mat-panel-title> Additional Services </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Dangerous Goods">
            <mat-option *ngFor="let item of dangerousGoodsList"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Signature Required">
            <mat-option *ngFor="let item of signatureRequiredList"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-complex-chips-list [data]="additionalServicesMenu"></app-complex-chips-list>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
