.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 132px);
}

:host {
  .table-list-item {
    &.jb-item {
      @media only screen and (max-width: 991px) {
        .button-list {
          min-height: 72px;
        }
        .item-settings {
          top: 26px;
        }
      }
    }
  }
}
