<nav mat-tab-nav-bar
  class="page-tabs">
  <a mat-tab-link
    *ngFor="let link of tabLinks"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
    [routerLink]="link.route"> {{link.name}} </a>
</nav>
<router-outlet></router-outlet>
