<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <app-steps class="page-steps"
      [steps]="steps"></app-steps>
    <!-- from to blocks -->
    <div class="from-to">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-s-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-label>Location Type</mat-label>
                <mat-select [(ngModel)]="workingData.from.values.locationType"
                  [formControl]="workingData.from.locationTypeControl"
                  required>
                  <mat-option *ngFor="let item of locationTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-8">
              <mat-form-field color="accent"
                class="full-width from-to-location">
                <button class="add-location"
                  mat-icon-button
                  color="accent"
                  (click)="newLocation('from'); $event.stopPropagation()"><i class="
                  icon
                  icon-add_circle"></i></button>
                <input matInput
                  placeholder="Company"
                  aria-label="location"
                  [matAutocomplete]="location"
                  [formControl]="workingData.from.locationControl"
                  [(ngModel)]="workingData.from.values.value"
                  (ngModelChange)="changeFrom()"
                  required>
                <mat-autocomplete #location="matAutocomplete"
                  class="complex-autocomplete">
                  <mat-option *ngFor="let item of fromFilteredLocations | async"
                    [value]="item.companyName">
                    <strong>{{item.companyName}}</strong>
                    <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}
                    </address>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <ul class="checkboxes"
            *ngIf="workingData.from.checkboxes.length">
            <li *ngFor="let item of workingData.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-s-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-label>Location Type</mat-label>
                <mat-select [(ngModel)]="workingData.to.values.locationType"
                  [formControl]="workingData.to.locationTypeControl"
                  required>
                  <mat-option *ngFor="let item of locationTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-s-8">
              <mat-form-field color="accent"
                class="full-width from-to-location">
                <button class="add-location"
                  mat-icon-button
                  color="accent"
                  (click)="newLocation('to'); $event.stopPropagation()"><i class="
                  icon
                  icon-add_circle"></i></button>
                <input matInput
                  placeholder="Company"
                  aria-label="company"
                  [matAutocomplete]="company"
                  [formControl]="workingData.to.locationControl"
                  [(ngModel)]="workingData.to.values.value"
                  (ngModelChange)="changeTo()"
                  required>
                <mat-autocomplete #company="matAutocomplete"
                  class="complex-autocomplete">
                  <mat-option *ngFor="let item of toFilteredLocations | async"
                    [value]="item.companyName">
                    <strong>{{item.companyName}}</strong>
                    <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <ul class="checkboxes"
            *ngIf="workingData.to.checkboxes.length">
            <li *ngFor="let item of workingData.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- end of from to blocks -->
    <!-- Job details -->
    <mat-card class="card create-wo_job-details">
      <mat-card-header>
        <mat-card-title>Job Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-8">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Customer"
                    [(ngModel)]="jobDetails.customer"
                    [formControl]="jobDetails.customerControl"
                    required>
                </mat-form-field>
              </div>
              <div class="col-4 no-col-transform">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Service</mat-label>
                  <mat-select [(ngModel)]="jobDetails.service"
                    [formControl]="jobDetails.serviceControl">
                    <mat-option *ngFor="let item of jobDetailsServices"
                      [value]="item.value"> {{item.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Job #"
                    [(ngModel)]="jobDetails.job"
                    [formControl]="jobDetails.jobControl">
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Assign To"
                    [(ngModel)]="jobDetails.assignTo"
                    [formControl]="jobDetails.assignToControl"
                    required>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Sales</mat-label>
                  <mat-select [(ngModel)]="jobDetails.sales"
                    [formControl]="jobDetails.salesControl">
                    <mat-option *ngFor="let item of salesList"
                      [value]="item.value"> {{item.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Deadline</mat-label>
                  <input matInput
                    [matDatepicker]="picker"
                    placeholder="MM/DD/YY"
                    [formControl]="jobDetails.deliveryDeadlineControl"
                    [(ngModel)]="jobDetails.deliveryDeadline"
                    (dateChange)="getDeliveryDeadline(jobDetails.deliveryDeadline)"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="picker"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker color="primary"
                    #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-4">
                <app-time-field [placeholder]="'Time'"
                  [currentTime]="jobDetails.time"
                  (time)="jobDetailsTime($event)"></app-time-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Time Zone</mat-label>
                  <mat-select [(ngModel)]="jobDetails.timeZone"
                    [formControl]="jobDetails.timeZoneControl"
                    required>
                    <mat-option *ngFor="let item of timeZones"
                      [value]="item.value"> {{item.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Original Cost"
                    [(ngModel)]="jobDetails.originalCost"
                    [formControl]="jobDetails.originalCostControl"
                    required>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Quoted Amount"
                    [(ngModel)]="jobDetails.quotedAmount"
                    [formControl]="jobDetails.quotedAmountControl"
                    required>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field color="accent"
              class="full-width">
              <textarea class="autosize"
                matInput
                cdkTextareaAutosize
                #specialInstructions
                cdkAutosizeMinRows="1"
                maxlength="100"
                [(ngModel)]="jobDetails.specialInstructions"
                placeholder="Special Instructions"></textarea>
              <mat-hint align="end">{{jobDetails.specialInstructions.length}} / 100</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of job details -->
    <!-- Shipment block -->
    <mat-card class="card">
      <mat-card-header class="two-items">
        <mat-card-title>Shipment</mat-card-title>
        <div class="end-position">
          <div class="el">
            <app-button-select class="btn-box"
              [value]="'CAD $'"
              [items]="currencyItems"
              (change)="shipmentCurrencyChange($event)"></app-button-select>
          </div>
          <div class="el">
            <app-button-select class="btn-box"
              [value]="shipment.systemValue"
              [items]="systemItems"
              (change)="shipmentSystemChange($event)"></app-button-select>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="shipment-form">
          <div class="max-width-728">
            <div class="row breack-point-680">
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <mat-label>Ship Date</mat-label>
                  <input matInput
                    [matDatepicker]="pickerShippingDate"
                    placeholder="MM/DD/YY"
                    [formControl]="shipment.shippingDateControl"
                    [(ngModel)]="shipment.shippingDateValue"
                    (dateChange)="getShippingDate()"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    color="primary"
                    [for]="pickerShippingDate"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #pickerShippingDate
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-2">
                <app-time-field placholder="Shipping Time"
                  (time)="getShippingTime($event)"></app-time-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="Insurance"
                    [(value)]='shipment.insuranceType'
                    [formControl]="shipment.insuranceTypeControl">
                    <mat-option *ngFor="let item of insuranceTypes"
                      [value]="item.value"> {{item.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-1">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    required
                    placeholder="QTY"
                    [(ngModel)]='shipment.qty'
                    [formControl]="shipment.qtyControl"
                    (ngModelChange)="qtyFunction($event)"
                    [errorStateMatcher]="qtyMatcher"
                    mask="00">
                  <mat-error *ngIf="!shipment.qtyControl.hasError('required')"> MAX 35</mat-error>
                  <mat-error *ngIf="shipment.qtyControl.hasError('required')"> Required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field color="accent"
                  class="full-width readonly-field">
                  <input matInput
                    placeholder="TOT Weight"
                    readonly
                    disabled="{{!shipment.totalWeight}}"
                    value="{{shipment.totalWeight}} kg(s)">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- shipment rows -->
          <div class="form-row with-gap complex-grid"
            *ngFor="let item of shipment.palletForm">
            <div class="start-position">
              <div class="row">
                <div class="col-6 clean-point-1240">
                  <div class="row">
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          placeholder="L(cm)"
                          [formControl]="item.lengthControl"
                          [(ngModel)]="item.length"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          placeholder="W(cm)"
                          [formControl]="item.widthControl"
                          [(ngModel)]="item.width"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          placeholder="H(cm)"
                          [formControl]="item.heightControl"
                          [(ngModel)]="item.height"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          placeholder="W(kg)"
                          [formControl]="item.weightControl"
                          [(ngModel)]="item.weight"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="col-4">
                      <mat-form-field color="accent"
                        class="full-width">
                        <mat-select placeholder="Freight Class"
                          [(value)]='item.freightClass'
                          [formControl]="item.freightClassControl"
                          required>
                          <mat-option *ngFor="let i of freightClasses"
                            [value]="i.value"> {{i.viewValue}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-6 clean-point-1240">
                  <div class="row">
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          placeholder="NMFC"
                          [(ngModel)]="item.nmfc">
                      </mat-form-field>
                    </div>
                    <div class="col-2">
                      <mat-form-field color="accent"
                        class="full-width">
                        <mat-select placeholder="Type"
                          [(value)]='item.type'
                          [formControl]="item.typeControl"
                          required>
                          <mat-option *ngFor="let i of types"
                            [value]="i.value"> {{i.viewValue}} </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field color="accent"
                        class="full-width with-info">
                        <input matInput
                          placeholder="Insurance"
                          [(ngModel)]="item.insurance">
                        <i class="icon icon-info_outline"
                          matTooltip="{{item.insuranceTooltip}}"
                          [matTooltipPosition]="'above'"
                          matTooltipClass="normal-tooltip"></i>
                      </mat-form-field>
                    </div>
                    <div class="col-5">
                      <mat-form-field color="accent"
                        class="full-width">
                        <input matInput
                          maxlength="30"
                          placeholder="Description"
                          [(ngModel)]="item.description">
                        <mat-hint align="end">{{item.description?.length || 0}}/30</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="end-position with-button">
              <button *ngIf="item.button&&shipment.palletForm.length>1"
                class="shipment-btn"
                mat-stroked-button
                (click)="palletFunction()"
                color="primary">{{item.button}}</button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of shipment block -->
  </div>
  <div class="bottom-row"
    *ngIf="editMode">
    <div class="start-position"></div>
    <div class="end-position">
      <div class="el">
        <button class="btn large-btn"
          mat-flat-button
          color="primary"
          routerLink="/admin/work-order/accepted-work-order-segments">Next</button>
      </div>
    </div>
  </div>
  <div class="centered-button with-complex-button"
    *ngIf="!editMode">
    <div class="el">
      <button class="btn large-btn"
        mat-stroked-button
        color="primary">Save</button>
    </div>
    <div class="el">
      <app-double-button [bigger]="true"
        defaultValue="Submit As Quote"
        [items]="buttonItms"
        (change)="doubleButtonClick($event)"></app-double-button>
    </div>
  </div>
</div>
