@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

:host {

  // job details
  .create-wo_job-details {
    @media only screen and (max-width: 860px) {
      .col-6 {
        width: 100%;
      }
    }

    @media only screen and (max-width: 480px) {
      .col-4 {
        &:not(.no-col-transform) {
          width: 50%;
        }
      }
    }
  }

  // end of job details
  .end-position {
    .mat-stroked-button {
      margin-top: 12px;
    }

    &.with-button {
      min-width: 132px;
      align-items: flex-start;

      @media only screen and (max-width: 1240px) {
        align-self: flex-end;

        .mat-stroked-button {
          margin-bottom: 36px;
        }
      }
    }
  }

  .shipment-btn {
    min-width: 132px;
  }

  @media only screen and (max-width: 720px) {
    .complex-grid {
      display: block;

      .start-position {
        display: block;
        width: 100%;
        padding: 0;
      }

      .end-position {
        display: block;
        width: 100%;
        text-align: right;
        padding: 0;
      }

      .shipment-btn {
        margin-top: 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .complex-grid {

      .col-2,
      .col-3,
      .col-4,
      .col-5 {
        width: 50%;
        float: left;
      }
    }
  }
}
