<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'"
  [selectedIndex]='selectedIndex'
  (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab label="Upload">
    <app-batch-upload (generateClick)="selectedIndex = 1"></app-batch-upload>
  </mat-tab>
  <mat-tab label="Pending">
    <app-batch-pending></app-batch-pending>
  </mat-tab>
</mat-tab-group>
