<div class="user-item">
  <app-image class="user-avatar"
    routerLink="{{profileUrl}}"
    size="32"
    [data]="userAvatar"></app-image>
  <strong>{{ userAvatar?.name }}</strong> <span>{{ userPosition }}</span>
</div>
