@import 'src/content/scss/var.scss';

:host {
  .user-item {
    width: 100%;
    min-height: 96px;
    padding: 56px 0 8px 16px;
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .user-avatar {
      position: absolute;
      top: 16px;
      left: 16px;
      cursor: pointer;

      &:active,
      &:focus {
        outline: none;
      }
    }

    strong,
    span {
      display: block;
      line-height: 16px;
      font-size: 12px;
    }

    strong {
      font-weight: normal;
    }

    span {
      color: $textColorLight;
    }
  }
}
