.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  width: 240px;

  .sidebar-wrap {
    height: calc(100vh - 98px);
    .logo {
      display: block;
      width: 100%;
      height: 64px;
      overflow: hidden;
      text-indent: -9898px;
      background: url(/content/images/logo.png) no-repeat 50%;
      background-size: 120px, 34px;
    }
  }
}

.right-sidebar {
  width: 300px;
}
