<div class="page-container"
  *ngIf="!loginFlag"
  [class.query-1420]="mobileQuery.matches">
  <mat-sidenav-container class="main-container">
    <!-- sidebar -->
    <mat-sidenav class="sidebar"
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="desctopQuery.matches ? false : true">
      <!-- user -->
      <app-user-item (pageTitle)="getTitle($event)"
        (click)="desctopQuery.matches?sidenav.close():false"></app-user-item>
      <div class="sidebar-wrap"
        [perfectScrollbar]>
        <!-- main navigation -->
        <app-main-navigation (close)="desctopQuery.matches?sidenav.close():false"></app-main-navigation>
        <!-- logo -->
        <span class="logo">eShipper</span>
      </div>
    </mat-sidenav>
    <!-- main container -->
    <mat-sidenav-content>
      <!-- toolbar -->
      <app-main-toolbar [title]="title"
        [backBtnFlag]="backBtnFlag"
        (menuToggle)="sidenav.toggle()"
        (notificationsToggle)="notificationSidebar.toggle()"
        [notifications]="notificationsFlag"
        [newNotifications]="newNotifications"></app-main-toolbar>
      <!-- content -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- notifications -->
    <mat-sidenav class="right-sidebar"
      #notificationSidebar
      autoFocus="false"
      mode="over"
      position="end">
      <app-notifications (closeNotificationSidebar)="notificationSidebar.close()"
        (newNotifications)="getNewNotifications($event)"></app-notifications>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<div class="page-container login-page"
  *ngIf="loginFlag">
  <router-outlet></router-outlet>
</div>
