<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row simple-data address-book-item"
        *ngFor="let item of addressBookList"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <div class="inner-el">
            <span class="value strong">{{item.companyName}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span class="value">{{item.contactPerson}}</span>
          </div>
          <div class="inner-el email-btn">
            <a target="_blank"
              mat-icon-button
              href="mailto:{{item.contactEmail}}"
              (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
          </div>
          <div class="inner-el">
            <span class="value">{{item.contactPhone}}</span>
          </div>
          <div class="inner-el">
            <span class="value">{{item.address1}} {{item.address2}}, {{item.city}}, {{item.stateOrProvince}}
              {{item.zipOrPostal}}, {{item.country}}</span>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addAddress()"><i class="icon icon-add"></i></button>
