.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.address-book-item {
      @media only screen and (max-width: 1160px) {
        flex-wrap: wrap;

        .email-btn {
          position: absolute;
          top: 4px;
          right: 48px;
        }

        .item-settings {
          top: 4px;
          margin-top: 0;
        }
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 1160px) {
          width: 65%;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 1160px) {
          width: 100%;
        }

        .inner-el {
          width: 16%;

          @media only screen and (max-width: 1160px) {
            padding-top: 12px;
            width: 20%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.email-btn {
            width: 10%;

            @media only screen and (max-width: 1160px) {
              width: 40px;
              height: 40px;
              padding: 0;
            }
          }

          &:first-child {
            width: 18%;

            @media only screen and (max-width: 1160px) {
              width: 30%;
            }

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &:last-child {
            width: 56%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
