<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Shipments">
    <app-tracking-shipments></app-tracking-shipments>
  </mat-tab>
  <mat-tab label="batch">
    <app-tracking-batch></app-tracking-batch>
  </mat-tab>
</mat-tab-group>
