@import 'src/content/scss/var.scss';
::ng-deep {
  .keyword-list {
    width: 100%;
    padding: 8px 16px;
    display: block;
    margin-top: -8px;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    .mat-chip-list-wrapper {
      margin: 0;
    }
    .mat-chip {
      &.mat-standard-chip {
        margin: 0 4px 8px;
        border-radius: 11px;
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        letter-spacing: 0.4px;
        font-weight: normal;
        background-color: $primaryLight !important;
        outline: none !important;
        min-height: 22px;
        .mat-chip-remove {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}
