.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 96px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

:host {
  .top-info {
    padding-bottom: 24px;

    @media only screen and (max-width: 1160px) {
      .item-row {
        &:first-child {
          flex-wrap: nowrap;

          .end-position {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
