<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- main info -->
    <div class="top-info">
      <div class="item-row">
        <div class="start-position">
          <app-data-block label="Work Order"
            value="{{data?.woId}}"
            bold="{{true}}"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Profit ({{data?.currency}})"
              value="{{data?.profit | currency}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{data?.currency}})"
              value="{{data?.totalAmount | currency}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
      </div>
    </div>
    <!-- end of main info -->
    <div class="row">
      <!-- main content -->
      <article class="col-9">
        <!-- POD card -->
        <mat-card class="card auto-height">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">POD</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Signed By"
                    [formControl]="validation.signedBy"
                    [(ngModel)]="data.podSignedBy">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Report to"
                    [formControl]="validation.reportTo"
                    [(ngModel)]="data.podReportTo">
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Date</mat-label>
                  <input matInput
                    [matDatepicker]="dateField"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.date"
                    [(ngModel)]="data.podDate"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="dateField"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dateField
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <app-time-field [currentTime]="data?.podTime"
                  (time)="getTime($event)"></app-time-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Internal Comments</mat-label>
                  <textarea matInput
                    cdkTextareaAutosize
                    #comment="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    maxlength="100"
                    [formControl]="validation.internalComments">{{data?.podInternalComments}}</textarea>
                  <mat-hint align="end">{{validation.internalComments.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of pod card -->
        <!-- Charges card -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Charges</mat-card-title>
            <div class="end-position">
              <app-button-select value="CAD $"
                [items]="currencies"
                (change)="changeCurrency($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <!-- row -->
            <div class="row item-row">
              <div class="col-6 start-position">
                <span class="subhead">Orginal</span>
              </div>
              <div class="col-6 start-position">
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width right-align">
                    <input matInput
                      placeholder="Cost"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [formControl]="validation.chargesOrginalCost"
                      [(ngModel)]="data.chargesOrginalCost">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width right-align">
                    <input matInput
                      placeholder="Charge"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [formControl]="validation.chargesOrginalCharge"
                      [(ngModel)]="data.chargesOrginalCharge">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- row -->
            <div class="row item-row">
              <div class="col-6 start-position">
                <span class="subhead">Fuel</span>
              </div>
              <div class="col-6 start-position">
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width right-align">
                    <input matInput
                      placeholder="Cost"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [formControl]="validation.chargesFuelCost"
                      [(ngModel)]="data.chargesFuelCost">
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width right-align">
                    <input matInput
                      placeholder="Charge"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [formControl]="validation.chargesFuelCharge"
                      [(ngModel)]="data.chargesFuelCharge">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- additional servises list -->
            <div class="dynamic-list">
              <div class="dynamic-list-item"
                *ngFor="let item of data.additionalServices; let i = index">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-5">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select [(value)]="item.delivery">
                            <mat-option *ngFor="let n of deliveryList"
                              [value]="n"> {{n}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-7">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select [(value)]="item.deliveryDocs">
                            <mat-option *ngFor="let n of deliveryDocsList"
                              [value]="n"> {{n}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row item-row">
                      <div class="col-3">
                        <app-data-block label="Cost"
                          value="{{item.cost | currency}}"
                          right="{{true}}"></app-data-block>
                      </div>
                      <div class="col-3">
                        <app-data-block label="Charge"
                          value="{{item.charge | currency}}"
                          right="{{true}}"></app-data-block>
                      </div>
                      <div class="col-2">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select [(value)]="item.noOfShipments">
                            <mat-option *ngFor="let n of shipments"
                              [value]="n"> {{n}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <app-data-block label="Total Price"
                          value="{{item.totalPrice | currency}}"
                          right="{{true}}"></app-data-block>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-icon-button
                  class="delete-btn"
                  (click)="removeRow(i)"><i class="icon icon-close"></i></button>
              </div>
              <button mat-button
                class="add-btn"
                color="accent"
                (click)="addRow()"><i class="icon icon-add_circle"></i> Additional Services</button>
            </div>
            <!-- end of additional servises list -->
          </mat-card-content>
        </mat-card>
        <!-- end of Charges card -->
        <!-- invoice bottom section -->
        <div class="invoice-bottom-section">
          <!-- work orders total -->
          <div class="item-row invoice_break-991">
            <div class="start-position">
              <div class="checkbox-line">
                <mat-checkbox [(ngModel)]="data.addInSubtotalFlag">Add in Subtotal</mat-checkbox>
              </div>
            </div>
            <div class="col-4 end-position">
              <div class="item-row"
                *ngIf="data.addInSubtotalFlag">
                <div class="start-position">
                  <span class="caption">Subtotal ({{data?.currency}})</span>
                </div>
                <div class="end-position">
                  <span class="value">{{data?.subTotal | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end of work orders total -->
          <!-- invoice column -->
          <div class="item-row invoice_break-991">
            <div class="spacer"></div>
            <div class="col-4 invoice-column">
              <div class="taxes">
                <!-- row -->
                <div class="item-row"
                  *ngFor="let item of data.taxes">
                  <div class="start-position col-4">
                    <mat-form-field color="accent"
                      class="full-width single-select with-underline">
                      <mat-select [(value)]="item.tax">
                        <mat-option *ngFor="let n of taxes"
                          [value]="n"> {{n}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="end-position col-4">
                    <mat-form-field floatLabel="never"
                      class="full-width right-align single-field with-underline"
                      color="accent">
                      <input matInput
                        placeholder="$ 00.00"
                        prefix="$ "
                        mask="0*.00"
                        [showMaskTyped]="false"
                        [dropSpecialCharacters]="false"
                        [(ngModel)]="item.taxValue">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- row -->
              <div class="item-row border-top">
                <div class="start-position">
                  <span class="caption">Total ({{data?.currency}})</span>
                </div>
                <div class="end-position">
                  <span class="value strong">{{data?.totalAmount | currency}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end of invoice column -->
        </div>
        <!-- end of invoice bottom section -->
      </article>
      <!-- end of main content -->
      <!-- sidebar -->
      <aside class="col-3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-data-block class="bottom-space"
              label="Service"
              [value]="data.details.service"
              [bold]="true"></app-data-block>
            <app-data-block class="bottom-space"
              label="Quote"
              [value]="data.details.quote | currency"
              [bold]="true"></app-data-block>
            <app-ship-details-sidebar [data]="detailsData"></app-ship-details-sidebar>
          </mat-card-content>
        </mat-card>
        <!-- Documents card -->
        <mat-card class="card auto-height">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Documents</mat-card-title>
            <div class="end-position">
              <button mat-icon-button
                (click)="uplod()"><i class="icon icon-upload"></i></button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="docs-list">
              <div class="doc-row item-row"
                *ngFor="let item of docs">
                <div class="start-position">
                  <div class="doc">
                    <h4>{{item.name}}</h4>
                    <span class="caption">{{item.state}}</span>
                  </div>
                </div>
                <div class="end-position">
                  <div class="dot-menu">
                    <button mat-icon-button
                      [matMenuTriggerFor]="menu"
                      (click)="$event.stopPropagation()">
                      <i class="icon icon-more_vert"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <div class="slide-toggle-menu-item">
                        <mat-slide-toggle (click)="$event.stopPropagation()"
                          labelPosition="before"
                          color="accent"
                          [checked]="item.state==='Public'"
                          (change)="changePublic(item)">Public</mat-slide-toggle>
                      </div>
                      <div *ngFor="let item of docSettings">
                        <button *ngIf="item!='divider'"
                          mat-menu-item
                          [ngClass]="{'warn-item': (item==='Delete'||item==='Cancel')}"
                          (click)="docSettingsFunction(item)">
                          <span>{{ item }}</span>
                        </button>
                        <hr *ngIf="item==='divider'"
                          class="diwider">
                      </div>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of Documents card-->
      </aside>
      <!-- end of sidebar -->
    </div>
  </div>
  <!-- centerd button -->
  <div class="centered-button">
    <button mat-flat-button
      class="large-btn"
      color="primary"
      (click)="save()">Save</button>
  </div>
</div>
