<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- agent card -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Agent</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Agent"
                [(ngModel)]="data.agent.name"
                [formControl]="validation.agent.name"
                required>
                <mat-option *ngFor="let item of agents"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-s-3">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Service"
                [(ngModel)]="data.agent.service"
                [formControl]="validation.agent.service"
                required>
                <mat-option *ngFor="let item of services"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of agent card -->
    <!-- puckup card -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Pickup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row alerts-row">
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Location Type"
                [(ngModel)]="data.pickup.locationType"
                [formControl]="validation.pickup.locationType"
                required>
                <mat-option *ngFor="let item of locationTypes"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-s-3">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="{{data.pickup.locationType==='Airport'?'Airport':'Company'}}"
                [formControl]="validation.pickup.location"
                [(ngModel)]="data.pickup.location"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <mat-label>Pickup Date</mat-label>
              <input matInput
                [matDatepicker]="pickupDate"
                placeholder="MM/DD/YY"
                [formControl]="validation.pickup.date"
                [(ngModel)]="data.pickup.date"
                [min]="minDate"
                required>
              <mat-datepicker-toggle matSuffix
                [for]="pickupDate"
                [disableRipple]="true">
                <i matDatepickerToggleIcon
                  class="icon icon-date_range"></i>
              </mat-datepicker-toggle>
              <mat-datepicker #pickupDate
                color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-s-1">
            <app-time-field placeholder="Time"
              [currentTime]="data.pickup.time"
              (time)="getPickupTime($event)"></app-time-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="Contact Name"
                [formControl]="validation.pickup.contactName"
                [(ngModel)]="data.pickup.contactName"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="Phone"
                [formControl]="validation.pickup.phone"
                [(ngModel)]="data.pickup.phone"
                mask="0000 0000 000"
                required>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of puckup card -->
    <!-- additional stops card -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Additional Stops</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="stops"
          *ngIf="data.stops?.length">
          <div class="stop"
            *ngFor="let stop of data.stops; let k = index;">
            <button class="close-stop"
              mat-icon-button
              (click)="closeStop(k)"><i class="icon icon-close"></i></button>
            <div class="row">
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="Location Type"
                    [(ngModel)]="stop.locationType"
                    required>
                    <mat-option *ngFor="let item of locationTypes"
                      [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-s-5">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="{{stop.locationType==='Airport'?'Airport':'Company'}}"
                    [(ngModel)]="stop.location"
                    required>
                </mat-form-field>
              </div>
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-label>Date</mat-label>
                  <input matInput
                    [matDatepicker]="k"
                    placeholder="MM/DD/YY"
                    [(ngModel)]="stop.date"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle matSuffix
                    [for]="k"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #k
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-s-1">
                <app-time-field placeholder="Time"
                  [currentTime]="stop.time"
                  (time)="getStopTime($event, stop)"></app-time-field>
              </div>
              <div class="col-s-2">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="Mission"
                    [(ngModel)]="stop.mission">
                    <mat-option *ngFor="let item of missions"
                      [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap stops-bnt">
          <button mat-button
            class="add-btn"
            (click)="addStop()">
            <i class="icon icon-add_circle"></i> Addtional Stops </button>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of additional stops card -->
    <!-- Delivery card -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Delivery</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row alerts-row">
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Location Type"
                [(ngModel)]="data.delivery.locationType"
                [formControl]="validation.delivery.locationType"
                required>
                <mat-option *ngFor="let item of locationTypes"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-s-3">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="{{data.delivery.locationType==='Airport'?'Airport':'Company'}}"
                [formControl]="validation.delivery.location"
                [(ngModel)]="data.delivery.location"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <mat-label>Delivery Date</mat-label>
              <input matInput
                [matDatepicker]="deliveryDate"
                placeholder="MM/DD/YY"
                [formControl]="validation.delivery.date"
                [(ngModel)]="data.delivery.date"
                [min]="minDate"
                required>
              <mat-datepicker-toggle matSuffix
                [for]="deliveryDate"
                [disableRipple]="true">
                <i matDatepickerToggleIcon
                  class="icon icon-date_range"></i>
              </mat-datepicker-toggle>
              <mat-datepicker #deliveryDate
                color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-s-1">
            <app-time-field placeholder="Time"
              [currentTime]="data.delivery.time"
              (time)="getDeliveryTime($event)"></app-time-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="Contact Name"
                [formControl]="validation.delivery.contactName"
                [(ngModel)]="data.delivery.contactName"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <input matInput
                placeholder="Phone"
                [formControl]="validation.delivery.phone"
                [(ngModel)]="data.delivery.phone"
                mask="0000 0000 000"
                required>
            </mat-form-field>
          </div>
        </div>
        <!-- // -->
        <div class="wrap">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Note</mat-label>
            <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="data.delivery.note"
              [formControl]="validation.delivery.note"></textarea>
            <mat-hint align="end">{{data.delivery.note?.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of delivery card -->
  </div>
  <!-- centered button -->
  <div class="centered-button">
    <button class="btn large-btn"
      mat-flat-button
      color="primary"
      routerLink="/admin/work-order/create-work-order-segments"
      (click)="save()">Save</button>
  </div>
</div>
