@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

:host {
  .stops {
    .stop {
      position: relative;
      padding-right: 48px;

      &:not(:first-child) {
        border-top: 1px solid $borderColor;
        padding-top: 24px;
      }

      @media only screen and (max-width: 540px) {
        padding-right: 0;
      }

      .close-stop {
        position: absolute;
        top: 8px;
        right: 0;
        z-index: 1;
      }

      @media only screen and (max-width: 991px) {
        .row {
          flex-wrap: wrap;

          .col-s-1 {
            width: 20%;
          }

          .col-s-2 {
            width: 25%;
          }

          .col-s-5 {
            width: 50%;
          }
        }
      }

      @media only screen and (max-width: 700px) {
        .row {
          .col-s-1 {
            width: 25%;
          }

          .col-s-2 {
            width: 30%;
          }

          .col-s-5 {
            width: 70%;
          }
        }
      }

      @media only screen and (max-width: 540px) {
        .row {
          .col-s-1 {
            width: 50%;
          }

          .col-s-2 {
            width: 50%;
          }

          .col-s-5 {
            width: 100%;
          }
        }
      }
    }
  }

  .stops-bnt {
    padding-bottom: 24px;
  }

  .alerts-row {
    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;

      .col-s-1 {
        width: 20%;
      }

      .col-s-2 {
        width: 25%;
      }

      .col-s-3 {
        width: 50%;
      }
    }

    @media only screen and (max-width: 700px) {
      .col-s-1 {
        width: 25%;
      }

      .col-s-2 {
        width: 30%;
      }

      .col-s-3 {
        width: 70%;
      }
    }

    @media only screen and (max-width: 540px) {
      .col-s-1 {
        width: 50%;
      }

      .col-s-2 {
        width: 50%;
      }

      .col-s-3 {
        width: 100%;
      }
    }
  }
}
