<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Customer</mat-label>
          <mat-select [(ngModel)]="modalData.customer"
            [formControl]="validation.customer">
            <mat-option *ngFor="let item of customers"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>WO Type</mat-label>
          <mat-select [(ngModel)]="modalData.woType"
            [formControl]="validation.woType">
            <mat-option *ngFor="let item of woTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Service Type</mat-label>
          <mat-select [(ngModel)]="modalData.serviceType"
            [formControl]="validation.serviceType">
            <mat-option *ngFor="let item of serviceTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Agent</mat-label>
          <mat-select [(ngModel)]="modalData.agent"
            [formControl]="validation.agent">
            <mat-option *ngFor="let item of agents"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
