<div class="dialog-content normal-dialog">
  <header>
    <h3>Email</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-6">
        <div class="checkbox-line">
          <mat-checkbox color="accent"
            [(ngModel)]="emailInfo.shippingLabel">Shipping Label</mat-checkbox>
        </div>
        <div class="checkbox-line">
          <mat-checkbox color="accent"
            [(ngModel)]="emailInfo.orderDetails">Order Details</mat-checkbox>
        </div>
      </div>
      <div class="col-6">
        <div class="checkbox-line">
          <mat-checkbox color="accent"
            [(ngModel)]="emailInfo.returnLabel">Return Label</mat-checkbox>
        </div>
        <div class="checkbox-line">
          <mat-checkbox color="accent"
            [(ngModel)]="emailInfo.customsInvoice">Customs Invoice</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="wrap">
      <app-multi-email-field label="To"
        [(value)]="emailInfo.emails"></app-multi-email-field>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="send()"
          cdkFocusInitial> Send </button>
      </div>
    </div>
  </footer>
</div>
