<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <mat-form-field color="accent"
        class="full-width">
        <mat-label>Customer</mat-label>
        <mat-select [(ngModel)]="modalData.customer"
          [formControl]="validation.customer">
          <mat-option *ngFor="let item of customers"
            [value]="item"> {{item}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Invoice Type</mat-label>
          <mat-select [(ngModel)]="modalData.invoiceType"
            [formControl]="validation.invoiceType">
            <mat-option *ngFor="let item of invoiceTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
