@import 'src/content/scss/var.scss';

:host /deep/ {
  .period-dialog {
    width: 296px;
    .mat-calendar-cell-semi-selected {
      background-color: $primaryLight;
    }
    .mat-calendar-body-begin-range {
      &:not(.mat-calendar-body-end-range) {
        border-radius: 100% 0 0 100%;
        background-color: $primaryLight;
      }
    }
    .mat-calendar-body-end-range {
      &:not(.mat-calendar-body-begin-range) {
        border-radius: 0 100% 100% 0;
        background-color: $primaryLight;
      }
    }
  }
  footer {
    padding: 0 16px 16px;
    button {
      margin-left: 16px;
    }
  }
}
