<div class="period-dialog">
  <sat-calendar [rangeMode]="true"
    (dateRangesChange)="inlineRangeChange($event)">
  </sat-calendar>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="savePeriod()"
          cdkFocusInitial> Search </button>
      </div>
    </div>
  </footer>
</div>
