.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

::ng-deep {
  .table-list-item {
    &.draft-item {
      @media only screen and (max-width: 1140px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;

        .mat-checkbox {
          &.single-checkbox {
            margin-top: 0;
            top: 28px;
          }
        }

        .item-settings {
          margin-top: 0;
          top: 28px;
        }

        .button-list {
          min-height: 72px;
          top: 12px;
        }
      }

      @media only screen and (max-width: 700px) {
        .number-content {
          padding-bottom: 0 !important;
        }
      }

      .start-position {
        width: 17%;

        @media only screen and (max-width: 1140px) {
          width: 100%;
          padding: 0 0 12px 40px;
        }
      }

      .end-position {
        width: 83%;

        @media only screen and (max-width: 1140px) {
          width: 100%;
        }

        // @media only screen and (max-width: 768px) {
        //   flex-wrap: wrap;
        //   .address-el,
        //   .data-el {
        //     position: relative;
        //     padding: 12px 0 0 104px;
        //     display: block;
        //     span {
        //       &.caption {
        //         line-height: 24px;
        //         position: absolute;
        //         top: 12px;
        //         left: 0;
        //       }
        //     }
        //   }
        // }
        .inner-el {
          width: 14%;

          &:last-child {
            width: 17%;
          }

          &.address-el {
            width: 34.5%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
            padding-top: 12px;

            &:first-child {
              padding-top: 0;
            }

            &:last-child,
            &.address-el {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
