<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox *ngIf="!dataEmpty"
          class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- toolbar search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown *ngIf="!selection"
          [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn *ngIf="!selection"
          (sortData)="getSortData($event)"></app-sort-btn>
        <!-- toolbar filter -->
        <button mat-icon-button
          *ngIf="!selection"
          (click)="filter()"><i class="icon icon-filter_list"></i></button>
        <!-- toolbar settings -->
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
        <!-- Quote btn -->
        <app-double-button *ngIf="selection"
          [disabled]="disabledToolbarBtn"
          defaultValue="Quote"
          [items]="buttonItems"
          (change)="doubleButtonClick($event)"></app-double-button>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of listData"
        class="table-list-item item-row selection-row draft-item no-logo"
        [ngClass]="{'selected-row': item.selected}"
        (click)="rowClickFunction(item)">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [noLogo]="true"
            [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.woCreated}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block *ngIf="item.woQuote"
              label="Quote"
              value="{{item.woQuote|currency}}"
              [right]="true"
              [details]="item.woQuoteDetails"
              (infoClick)="openQuoteDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn"
          *ngIf="item.quoteItem && !selection">
          <li>
            <app-double-button defaultValue="Quote"
              [items]="buttonItems"
              (change)="doubleButtonClick($event)"></app-double-button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
