<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- content toolbar -->
    <mat-toolbar class="item-row  content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="getSearch($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="payFunction()">Pay</button>
        <div class="el">
          <!-- period -->
          <app-custom-dropdown *ngIf="!selection"
            [period]="true"
            (select)="getPeriod($event)"></app-custom-dropdown>
          <!-- sort -->
          <app-sort-btn *ngIf="!selection"
            (sortData)="getSortData($event)"></app-sort-btn>
          <!-- fiter -->
          <button *ngIf="!selection"
            mat-icon-button
            (click)="filterOpen()">
            <i class="icon icon-filter_list"></i>
          </button>
          <!-- settings -->
          <app-dot-menu *ngIf="!selection"
            [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- invouces -->
      <div class="table-list-item selection-row invoice-item"
        *ngFor="let item of invoicesList"
        (click)="clickOnInvoiceItem()">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent">
          </mat-checkbox>
          <div class="inner-el with-chip first-level">
            <strong>{{item.id}} <span *ngIf="item.invoicePrefix"
                class="chip-label dark-blue">{{item.invoicePrefix}}</span></strong>
            <em>{{item.companyName}}</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el short">
            <app-data-block label="SHIPT"
              value="{{item.noOfShipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <div class="data-el">
              <app-data-block label="Invoiced"
                value="{{item.dateSubmitted}}"></app-data-block>
            </div>
          </div>
          <div class="inner-el short">
            <app-data-block label="Aging"
              value="{{item.aging}} d"
              [wrongFlag]="item.aging>30"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Due"
              value="{{item.dueDate}}"
              [wrongFlag]="item.aging>30"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{item.currency}})"
              value="{{item.totalAmount | currency}}"
              [right]="true"
              [details]="item.totalDetails"
              (infoClick)="openTotalInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.lastPaymentDate}">
            <app-data-block *ngIf="item.lastPaymentDate"
              label="Paid"
              value="{{item.lastPaymentDate}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.balanceDue}">
            <app-data-block *ngIf="item.balanceDue"
              label="Balance Due"
              value="{{item.balanceDue | currency}}"
              [right]="true"
              [wrongFlag]="true"></app-data-block>
          </div>
        </div>
        <div *ngIf="!getWarnFunction(item)"
          class="status-label {{ item.status?.color }}"> {{ item.status?.name }} </div>
        <ul class="button-list one-btn"
          *ngIf="getWarnFunction(item) && !selection">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="payFunction(); $event.stopPropagation();">Pay</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="getWarnFunction(item)?itemSettingsMoreOptions:itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of invouces -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
