@import 'src/content/scss/var.scss';

.card-date {
  display: flex;
  flex-direction: row;
  align-items: center;

  .card-date-field {
    width: 40%;
  }

  >em {
    display: block;
    text-align: center;
    width: 20%;
    padding-bottom: 8px;
  }
}
