<div class="card-date">
  <mat-form-field class="card-date-field"
    color="accent">
    <input matInput
      placeholder="MM"
      (change)="changeDate(date)"
      mask="00"
      [(ngModel)]="date.month" />
  </mat-form-field>
  <em>/</em>
  <mat-form-field class="card-date-field"
    color="accent">
    <input matInput
      placeholder="YY"
      mask="00"
      (change)="changeDate(date)"
      [(ngModel)]="date.year" />
  </mat-form-field>
</div>
