.scroll-block {
  height: calc(100vh - 49px);
}

::ng-deep {
  .create-payable {
    .top-info {
      .mat-form-field-wrapper {
        margin-bottom: 0;
      }

      .data-el {
        padding-bottom: 16px;
      }

      .item-row {
        &:first-child {
          @media only screen and (max-width: 991px) {
            align-items: flex-start;
          }

          .start-position {
            width: 80%;
            display: block;

            @media only screen and (max-width: 991px) {
              width: 60%;

              .col-s-2,
              .col-s-3,
              .col-s-4 {
                width: 50%;
              }
            }

            @media only screen and (max-width: 600px) {

              .col-s-2,
              .col-s-3,
              .col-s-4 {
                width: 100%;
              }
            }
          }

          .end-position {
            width: 20%;

            @media only screen and (max-width: 991px) {
              width: 40%;
            }

            @media only screen and (max-width: 700px) {
              .inner-el {
                padding: 0 0 0 16px;
                width: 100%;
              }
            }
          }

          @media only screen and (max-width: 540px) {
            flex-wrap: wrap;

            .start-position,
            .end-position {
              width: 100%;
            }

            .end-position {
              .inner-el {
                padding: 0;
              }
            }
          }
        }
      }
    }

    .table-list-item {
      &.invoice-inner-item {
        display: block;
        padding-left: 24px;
        padding-right: 64px;

        .mat-form-field-wrapper {
          margin-bottom: 0;
        }

        @media only screen and (max-width: 991px) {

          .col-s-2,
          .col-s-3 {
            width: 20%;
          }

          .col-s-5 {
            width: 40%;
          }
        }

        @media only screen and (max-width: 860px) {

          .col-s-2,
          .col-s-3,
          .col-s-5 {
            width: 50%;
          }

          .mat-form-field {
            &.right-align {
              text-align: left;
            }
          }
        }

        @media only screen and (max-width: 540px) {

          .col-s-2,
          .col-s-3,
          .col-s-5 {
            width: 100%;
          }
        }
      }
    }
  }
}
