<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content create-payable">
    <!-- main info -->
    <div class="top-info">
      <div class="row">
        <div class="col-s-2">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Payee Type</mat-label>
            <mat-select [formControl]="validation.payeeType"
              [(value)]="data.payeeType"
              required>
              <mat-option *ngFor="let item of payeeTypes"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-2">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Payee</mat-label>
            <mat-select [formControl]="validation.payee"
              [(value)]="data.payee"
              required>
              <mat-option *ngFor="let item of payees"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-2">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Category</mat-label>
            <mat-select [formControl]="validation.payeeCategory"
              [(value)]="data.payeeCategory"
              required>
              <mat-option *ngFor="let item of payeeCategories"
                [value]="item.name"> {{item.name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-2">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Method</mat-label>
            <mat-select [formControl]="validation.payment"
              [(value)]="data.payment"
              required>
              <mat-option *ngFor="let item of paymentMethods"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-2">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Due</mat-label>
            <input matInput
              [matDatepicker]="dueDateField"
              placeholder="MM/DD/YY"
              [formControl]="validation.due"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="dueDateField"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #dueDateField
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-s-2">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Paid</mat-label>
            <input matInput
              [matDatepicker]="paidDateField"
              placeholder="MM/DD/YY"
              [formControl]="validation.paid"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="paidDateField"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #paidDateField
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- end of main info -->
    <!-- invoices -->
    <div class="table-list-items">
      <div class="table-list-item invoice-inner-item no-link">
        <div class="row">
          <div class="col-s-3">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Invoice #"
                [formControl]="validation.invoiceId"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field color="accent"
              class="full-width">
              <mat-label>Invoice Date</mat-label>
              <input matInput
                [matDatepicker]="invoicedDate"
                placeholder="MM/DD/YY"
                [formControl]="validation.invoiceDate"
                [min]="minDate"
                required>
              <mat-datepicker-toggle matSuffix
                [for]="invoicedDate"
                [disableRipple]="true">
                <i matDatepickerToggleIcon
                  class="icon icon-date_range"></i>
              </mat-datepicker-toggle>
              <mat-datepicker #invoicedDate
                color="primary"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-s-5">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Comment"
                [formControl]="validation.invoiceComment"
                required>
            </mat-form-field>
          </div>
          <div class="col-s-2">
            <mat-form-field class="full-width right-align"
              color="accent">
              <input matInput
                placeholder="Total(CAD)"
                prefix="$"
                mask="0*.00"
                [showMaskTyped]="false"
                [dropSpecialCharacters]="false"
                [formControl]="validation.invoiceTotal"
                required>
            </mat-form-field>
          </div>
        </div>
        <button mat-icon-button
          class="item-settings"
          (click)="invoiceUpload()"><i class="icon icon-upload"></i></button>
      </div>
    </div>
    <!-- end of invoices -->
    <!-- invoice bottom section -->
    <div class="invoice-bottom-section">
      <!-- work orders total -->
      <div class="item-row invoice_break-991">
        <div class="start-position">
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="data.creditFlag">Credit {{data?.creditLabelAmount | currency}}
                ({{data?.currency}})</mat-checkbox>
            </div>
          </div>
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="data.creditNoteFlag">Credit Note</mat-checkbox>
            </div>
          </div>
          <div class="el">
            <div class="checkbox-line">
              <mat-checkbox [(ngModel)]="data.disputeFlag">Dispute</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="col-4 end-position">
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Subtotal ({{data?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value">{{data?.subTotal | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of work orders total -->
      <!-- invoice column -->
      <div class="item-row invoice_break-991">
        <div class="spacer"></div>
        <div class="col-4 invoice-column">
          <div class="taxes">
            <div class="item-row"
              *ngFor="let item of data.taxes">
              <div class="start-position col-4">
                <mat-form-field color="accent"
                  class="full-width single-select with-underline">
                  <mat-select [(value)]="item.tax">
                    <mat-option *ngFor="let n of taxes"
                      [value]="n"> {{n}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="end-position col-3">
                <mat-form-field floatLabel="never"
                  class="full-width right-align single-field with-underline"
                  color="accent">
                  <input matInput
                    placeholder="$ 00.00"
                    prefix="$ "
                    mask="0*.00"
                    [showMaskTyped]="false"
                    [dropSpecialCharacters]="false"
                    [(ngModel)]="item.taxValue">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="item-row border-top">
            <div class="start-position">
              <span class="caption">Total ({{data?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value strong">{{data?.totalAmount | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="credit-history-list">
            <div class="item-row"
              *ngFor="let historyItem of data?.creditNotesHistory">
              <div class="start-position">
                <span class="caption">Credit {{historyItem.invoiceId}}
                  ({{historyItem.amount}}{{historyItem.currency}})</span>
              </div>
              <div class="end-position col-4">
                <mat-form-field color="accent"
                  class="full-width single-field with-underline right-align">
                  <input matInput
                    prefix="$"
                    mask="0*.00"
                    [showMaskTyped]="false"
                    [dropSpecialCharacters]="false"
                    [(ngModel)]="historyItem.newAmount">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="item-row border-top">
            <div class="start-position">
              <span class="caption">Balance Due</span>
            </div>
            <div class="end-position">
              <span class="value strong big-normal">{{data?.balanceDue | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of invoice column -->
    </div>
    <!-- end of invoice bottom section -->
  </div>
  <!-- centerd button -->
  <div class="centered-button">
    <button mat-flat-button
      class="bigger-btn"
      color="primary"
      (click)="submit()">Submit</button>
  </div>
</div>
