<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- items -->
      <div class="table-list-item item-row simple-data no-link product-list-item"
        *ngFor="let item of productsList">
        <div class="start-position">
          <app-data-block class="no-transform"
            label="{{item.productId}}"
            value="{{item.productName}}"
            bold="{{true}}"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="HS"
              value="{{item.hsCode}}">
            </app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="SKU"
              value="{{item.skuCode}}">
            </app-data-block>
          </div>
          <div class="inner-el short">
            <app-data-block label="COO"
              value="{{item.coo}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Price"
              value="{{item.unitPrice | currency}}"
              right="{{true}}"></app-data-block>
          </div>
          <div class="inner-el short">
            <app-data-block label="QTY"
              value="{{item.quantity}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Value"
              value="{{(item.unitPrice*item.quantity)| currency}}"
              right="{{true}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
      <!-- end of items -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addProduct()"><i class="icon icon-add"></i></button>
