.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.product-list-item {
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
      }

      .start-position {
        width: 35%;

        @media only screen and (max-width: 991px) {
          width: 80%;
        }
      }

      .end-position {
        width: 65%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 20%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.short {
            width: 10%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
