<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card">
        <mat-card-content>
          <!-- currency -->
          <div class="currency-box">
            <app-button-select class="btn-box"
              [value]="currencyValue"
              [items]="currencyItems"
              (change)="currencyChange($event)"></app-button-select>
          </div>
          <!-- logo -->
          <div class="logo-row">
            <app-upload-avatar (click)="upload()">
              <app-img-box size="80"
                url="{{customerDetails?.logo}}"
                icon="business"></app-img-box>
            </app-upload-avatar>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-9">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Company"
                  [(ngModel)]="customerDetails.customerName"
                  [formControl]="validation.customerName"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Customer Type"
                  name="country"
                  [(ngModel)]="customerDetails.customerType"
                  [formControl]="validation.customerType"
                  required>
                  <mat-option *ngFor="let item of customerTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 1"
                  [(ngModel)]="customerDetails.address1"
                  [formControl]="validation.address1"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 2"
                  [(ngModel)]="customerDetails.address2"
                  [formControl]="validation.address2"
                  required>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Country"
                  name="country"
                  [(ngModel)]="customerDetails.country"
                  [formControl]="validation.country"
                  required
                  (ngModelChange)="changeCountry(customerDetails.country)">
                  <mat-option *ngFor="let item of staticData.countries"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="{{staticData.stateLabel}}"
                  [(ngModel)]="customerDetails.stateOrProvince"
                  [formControl]="validation.stateOrProvince"
                  required>
                  <mat-option *ngFor="let item of staticData.states"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="validation.city"
                  [(ngModel)]="customerDetails.city"
                  [matAutocomplete]="auto"
                  required />
                <mat-autocomplete #auto="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityes | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="{{staticData.zipLabel}}"
                  [(ngModel)]="customerDetails.zipOrPostal"
                  [formControl]="validation.zipOrPostal"
                  mask="AAA AAA"
                  required />
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Name"
                  [(ngModel)]="customerDetails.contactPerson"
                  [formControl]="validation.contactPerson"
                  required />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Phone"
                  name="phone"
                  [(ngModel)]="customerDetails.phoneNumber"
                  [formControl]="validation.phoneNumber"
                  mask="000 000 0000"
                  required />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="customerDetails.email"
                  [formControl]="validation.email"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="
                  validation.email.hasError('email') &&
                    !validation.email.hasError('required')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="checkbox-line">
            <mat-checkbox color="accent"
              [(ngModel)]="customerDetails.webCustomer">Web Customer</mat-checkbox>
          </div>
          <!-- row -->
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-accordion>
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Shipment </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Default Package Type"
                  [(ngModel)]="customerDetails.shipmentDefaultPackageType"
                  [formControl]="validation.shipmentDefaultPackageType">
                  <mat-option *ngFor="let item of shipmentDefaultPackageTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Default Pickup Location"
                  [(ngModel)]="customerDetails.shipmentDefaultPickupLocation"
                  [formControl]="validation.shipmentDefaultPickupLocation">
                  <mat-option *ngFor="let item of shipmentDefaultPickupLocations"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-5">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Service Country Excluded"
                  [(ngModel)]="customerDetails.shipmentServiceCountryExcluded"
                  [formControl]="validation.shipmentServiceCountryExcluded"
                  required>
                  <mat-option *ngFor="let item of shipmentServiceCountryExcludedList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- card -->
      <mat-accordion>
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Insurance </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Insurance Type"
                  [(ngModel)]="customerDetails.insuranceType"
                  [formControl]="validation.insuranceType"
                  required>
                  <mat-option *ngFor="let item of insuranceTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Insurance %"
                  [(ngModel)]="customerDetails.insurance"
                  [formControl]="validation.insurance"
                  required>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- card -->
      <mat-accordion>
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Sales & Referrals </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Sales Rep"
                  [(ngModel)]="customerDetails.salesRep"
                  [formControl]="validation.salesRep">
                  <mat-option *ngFor="let item of salesRepList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 1"
                  [(ngModel)]="customerDetails.reference1"
                  [formControl]="validation.reference1">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 2"
                  [(ngModel)]="customerDetails.reference2"
                  [formControl]="validation.reference2">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 3"
                  [(ngModel)]="customerDetails.reference3"
                  [formControl]="validation.reference3">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- card -->
      <mat-accordion>
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Sub-Affiliate </mat-panel-title>
            <div class="end-position">
              <mat-slide-toggle (click)="$event.stopPropagation();"
                color="accent"
                [(ngModel)]="customerDetails.subAffiliateFlag">
              </mat-slide-toggle>
            </div>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Rebate %"
                  [(ngModel)]="customerDetails.subAffiliateRebate"
                  [formControl]="validation.subAffiliateRebate">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Discount %"
                  [(ngModel)]="customerDetails.subAffiliateDiscount"
                  [formControl]="validation.subAffiliateDiscount">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Link to Affiliate"
                  [(ngModel)]="customerDetails.linkToAffiliate"
                  [formControl]="validation.linkToAffiliate"
                  required>
                  <mat-option *ngFor="let item of linkToAffiliateList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="centered-button">
    <button (click)="saveDetails()"
      mat-flat-button
      class="bigger-btn"
      color="primary">Save</button>
  </div>
</div>
