.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  padding-top: 24px;
}

:host {
  .mat-card-content {
    position: relative;
    .currency-box {
      position: absolute;
      top: 12px;
      right: 16px;
    }
  }
}
