:host {
  .instant-quote-form {
    padding: 0 24px;

    p {
      font-size: 14px;
      font-weight: 500;
    }

    .row {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
}

::ng-deep {
  .instant-quote-form {
    .readonly-field {
      .mat-form-field-wrapper {
        margin-bottom: 0;
      }
    }
  }
}
