<div class="dialog-content bigger-dialog">
  <header class="item-row">
    <div class="start-position">
      <h3>Instant Quote</h3>
    </div>
  </header>
  <section [perfectScrollbar]>
    <div class="instant-quote-form">
      <p>Seems you have an account with eShipper using the same details, would you like to login or continue to the
        Instant Quote tool?</p>
      <mat-form-field color="accent"
        class="full-width"
        [ngClass]="{'readonly-field': readonlyFlag}">
        <input matInput
          placeholder="Company Name"
          [(ngModel)]="modalData.companyName"
          [formControl]="validation.companyName"
          [readonly]="readonlyFlag"
          required>
        <mat-error *ngIf="validation.companyName.hasError('required')">{{ requiredText }}</mat-error>
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width"
            [ngClass]="{'readonly-field': readonlyFlag}">
            <input matInput
              placeholder="Full Name"
              [(ngModel)]="modalData.fullName"
              [formControl]="validation.fullName"
              [readonly]="readonlyFlag"
              required />
            <mat-error *ngIf="validation.fullName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width"
            [ngClass]="{'readonly-field': readonlyFlag}">
            <input matInput
              placeholder="Phone"
              name="phone"
              [(ngModel)]="modalData.phone"
              [formControl]="validation.phone"
              [readonly]="readonlyFlag"
              mask="000 000 0000"
              required />
            <mat-error *ngIf="validation.phone.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field color="accent"
        class="full-width"
        [ngClass]="{'readonly-field': readonlyFlag}">
        <input matInput
          placeholder="Email"
          name="email"
          [(ngModel)]="modalData.email"
          [formControl]="validation.email"
          [errorStateMatcher]="matcher"
          [readonly]="readonlyFlag"
          required />
        <mat-error *ngIf="
      validation.email.hasError('email') &&
        !validation.email.hasError('required')
      "> Please enter a valid email address </mat-error>
        <mat-error *ngIf="validation.email.hasError('required')"> {{ requiredText }} </mat-error>
      </mat-form-field>
      <div class="row">
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width"
            [ngClass]="{'readonly-field': readonlyFlag}">
            <mat-select placeholder="Monthly Shipment Volume"
              [(ngModel)]="modalData.monthlyVolume"
              [formControl]="validation.monthlyVolume"
              [disabled]="readonlyFlag"
              required>
              <mat-option *ngFor="let item of monthlyVolumes"
                [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validation.monthlyVolume.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6"
          *ngIf="!readonlyFlag">
          <mat-form-field color="accent"
            class="full-width"
            [ngClass]="{'readonly-field': readonlyFlag}">
            <mat-select placeholder="Industry"
              [(ngModel)]="modalData.industry"
              [formControl]="validation.industry"
              [disabled]="readonlyFlag"
              required>
              <mat-option *ngFor="let item of industries"
                [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validation.industry.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-flat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Login </button>
        <button mat-flat-button
          color="primary"
          (click)="next()"
          routerLink="/instant-quote"
          cdkFocusInitial> Continue as Guest </button>
      </div>
    </div>
  </footer>
</div>
