<div class="dialog-content normal-dialog">
  <header>
    <h3>Ugload EDI</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Carrier"
              [(ngModel)]="modalData.carrier"
              [formControl]="carrierFormControl"
              required>
              <mat-option *ngFor="let item of carriers"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-12">
          <div class="upload-files-box">
            <div class="files-position">
              <!-- upload files -->
              <div class="file-upload-box">
                <input type="file"
                  #file
                  style="display: none"
                  (change)="onFilesAdded()"
                  multiple />
                <mat-list *ngIf="files.size">
                  <mat-list-item *ngFor="let file of files">
                    <span mat-line>{{file.name}}</span>
                    <mat-spinner color="accent"
                      class="file-spiner"
                      strokeWidth="2"
                      diameter="24"
                      *ngIf="progress"></mat-spinner>
                    <i *ngIf="!progress"
                      class="icon icon-check"></i>
                  </mat-list-item>
                </mat-list>
                <button mat-button
                  class="add-btn"
                  (click)="addFiles()"><i class="icon icon-add_circle"></i> Add Files </button>
              </div>
              <!-- end of upload files -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="process()"
            [disabled]="carrierFormControl.hasError('required')"
            cdkFocusInitial> Process </button>
        </div>
      </div>
    </footer>
  </form>
</div>
