@import 'src/content/scss/var.scss';

:host {
  .upload-files-box {
    width: 100%;
    padding: 0 0 16px;

    i {
      &.icon {
        &.icon-check {
          color: $green;
        }
      }
    }
  }

  .files-position {
    width: 100%;
  }
}
