<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Claim">
    <app-editable-claim class="inner-claim"
      [readonlyFlag]="true"></app-editable-claim>
  </mat-tab>
  <mat-tab label="Documents">
    <app-claim-documents></app-claim-documents>
  </mat-tab>
</mat-tab-group>
