<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card">
        <mat-card-content>
          <div class="logo-row">
            <app-upload-avatar (click)="upload()">
              <app-image size="80"
                [placeholderName]="userData.userName"
                [imageUrl]="userData.userAvatar"></app-image>
            </app-upload-avatar>
          </div>
          <!-- row  -->
          <div class="row  top-level"
            *ngIf="!adminFlag&&!superAdminFlag">
            <div class="col-12">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Company"
                  [(ngModel)]="userData.company"
                  [formControl]="validation.company"
                  required>
              </mat-form-field>
            </div>
          </div>
          <!-- row  -->
          <div class="row top-level"
            *ngIf="!adminFlag&&!superAdminFlag">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 1"
                  [(ngModel)]="userData.address1"
                  [formControl]="validation.address1"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 2"
                  [(ngModel)]="userData.address2"
                  [formControl]="validation.address2">
              </mat-form-field>
            </div>
          </div>
          <!-- row  -->
          <div class="row top-level"
            *ngIf="!adminFlag&&!superAdminFlag">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Country"
                  name="country"
                  [(ngModel)]="userData.country"
                  [formControl]="validation.country"
                  required
                  (ngModelChange)="changeCountry(userData.country)">
                  <mat-option *ngFor="let item of staticData.countries"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="{{staticData.stateLabel}}"
                  [(ngModel)]="userData.stateOrProvince"
                  [formControl]="validation.stateOrProvince"
                  required>
                  <mat-option *ngFor="let item of staticData.states"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="{{staticData.zipLabel}}"
                  [(ngModel)]="userData.zipOrPostal"
                  [formControl]="validation.zipOrPostal"
                  mask="AAA AAA"
                  required />
              </mat-form-field>
            </div>
          </div>
          <!-- row  -->
          <div class="row top-level"
            *ngIf="!adminFlag&&!superAdminFlag">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="validation.city"
                  [(ngModel)]="userData.city"
                  [matAutocomplete]="auto"
                  required />
                <mat-autocomplete #auto="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityes | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row top-level">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="User Name"
                  [(ngModel)]="userData.userName"
                  [formControl]="validation.userName"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6"
              *ngIf="adminFlag">
              <mat-form-field color="accent"
                class="full-width readonly-field">
                <input readonly
                  matInput
                  placeholder="User Role"
                  [(ngModel)]="userData.userRole" />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Email / Account"
                  [(ngModel)]="userData.userEmail"
                  [formControl]="validation.userEmail"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="
                  validation.userEmail.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Phone"
                  [(ngModel)]="userData.userPhone"
                  [formControl]="validation.userPhone"
                  mask="000 000 0000"
                  required />
              </mat-form-field>
            </div>
            <div class="col-6"
              *ngIf="superAdminFlag">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="FAX"
                  [(ngModel)]="userData.fax"
                  [formControl]="validation.fax"
                  mask="000 000 0000" />
              </mat-form-field>
            </div>
            <div class="col-3"
              *ngIf="!adminFlag&&!superAdminFlag">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Time Zone"
                  [(ngModel)]="userData.timeZone"
                  [formControl]="validation.timeZone"
                  required>
                  <mat-option *ngFor="let item of timeZones"
                    [value]="item.value">{{item.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row"
            *ngIf="!adminFlag&&!superAdminFlag">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Sales Rep"
                  [(ngModel)]="userData.salesRep"
                  [formControl]="validation.salesRep"
                  required>
                  <mat-option *ngFor="let item of salesReps"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card"
        *ngIf="adminFlag">
        <mat-card-header>
          <mat-card-title>Permissions</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="userData.permissions">
          <mat-list class="card-list">
            <mat-list-item *ngFor="let item of userData.permissions">
              <h4 class="mat-line">{{item}}</h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
