<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox *ngIf="!dataEmpty"
          class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <div class="el">
          <!-- period -->
          <app-custom-dropdown *ngIf="!selection"
            [period]="true"
            (select)="period($event)"></app-custom-dropdown>
          <!-- sort -->
          <app-sort-btn *ngIf="!selection"
            (sortData)="getSortData($event)"></app-sort-btn>
          <!-- filter button -->
          <button *ngIf="!selection"
            mat-icon-button
            (click)="filter()">
            <i class="icon icon-filter_list"></i>
          </button>
          <!-- settings -->
          <app-dot-menu [items]="selection?selectionToolbarSettings:toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <!-- claims list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of claimsList"
        class="table-list-item claim-item selection-row marker {{item.marker?item.marker:''}}"
        [ngClass]="{'new': item.new, 'selected-row': item.selected}"
        (click)="clickRowFunction(item)">
        <div class="start-position insured-el">
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
          <i *ngIf="item.insuredInfo"
            class="icon icon-verified_user"
            matTooltip="{{item.insuredInfo}}"
            matTooltipPosition="above"></i>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Reason"
              value="{{item.reason}}"></app-data-block>
          </div>
          <div class="inner-el short-el">
            <app-data-block label="Submitted"
              value="{{item.submitedDate}}"></app-data-block>
          </div>
          <div class="inner-el short-el">
            <app-data-block label="Trans"
              value="{{item.trans}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Charge(CAD)"
              value="{{item.charge | currency}}"
              right="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total(CAD)"
              value="{{item.total | currency}}"
              right="{{true}}"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status.name ==='Approved'||item.status.name==='Denied'"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <ul *ngIf="item.status.name!='Approved'&&item.status.name!='Denied'"
          class="button-list one-btn">
          <li>
            <app-status-button *ngIf="!selection"
              [status]="item.status.name"
              (change)="changeStatus($event, item);"></app-status-button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
        <mat-checkbox class="single-checkbox"
          (click)="$event.stopPropagation();"
          [(ngModel)]="item.selected"
          (change)="selectRow(item.selected)"
          color="accent"></mat-checkbox>
      </div>
    </div>
    <!-- end of claims list -->
    <!-- empty data -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
    <!-- end of empty data -->
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addClaim()"><i class="icon icon-add"></i></button>
