@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 96px);
}

::ng-deep {
  .table-list-item {
    &.claim-item {
      padding-right: 172px;

      @media only screen and (max-width: 1140px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;

        .mat-checkbox {
          &.single-checkbox {
            margin-top: 0;
            top: 28px;
          }
        }

        .item-settings {
          margin-top: 0;
          top: 24px;
        }

        .status-label {
          margin-top: 0;
          top: 20px;
        }

        .button-list {
          &.one-btn {
            margin-top: 0;
            top: 20px;
            min-height: 0;
          }
        }
      }

      .start-position {
        width: 25%;

        @media only screen and (max-width: 1140px) {
          width: 100%;
          padding-left: 40px;
        }

        &.insured-el {
          align-items: center;

          >i {
            &.icon {
              color: $iconColor;
              margin-left: 26px;
            }
          }
        }
      }

      .end-position {
        width: 75%;

        @media only screen and (max-width: 1140px) {
          width: 100%;
        }

        @media only screen and (max-width: 760px) {
          flex-wrap: wrap;

          app-data-block {
            &:not(.no-transform) {
              .data-el {
                position: relative;
                padding: 12px 0 0 104px;
                display: block;

                span {
                  &.caption {
                    line-height: 24px;
                    position: absolute;
                    top: 12px;
                    left: 0;
                  }
                }

                &.right-position {
                  padding-left: 104px;

                  span {
                    &.value {
                      justify-content: flex-start;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }

        .inner-el {
          width: 21%;

          &:last-child {
            padding-right: 24px;
          }

          @media only screen and (max-width: 1140px) {
            padding-top: 12px;

            &:last-child {
              padding-right: 0px;
            }
          }

          @media only screen and (max-width: 760px) {
            width: 100%;
          }

          &.short-el {
            width: 18.5%;

            @media only screen and (max-width: 760px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
