@import 'src/content/scss/var.scss';

::ng-deep .amount {
  position: relative;
  padding: 12px 0 0;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  span {
    &.caption {
      display: block;
      text-align: right;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .mat-form-field {
    font-size: 24px;
    font-weight: 500;
    input {
      &.mat-input-element {
        text-align: right;
      }
    }
    .mat-form-field-label {
      text-align: right;
    }
    .mat-form-field-infix {
      padding: 0.4375em 0;
    }
    .mat-form-field-wrapper {
      margin-bottom: 0;
    }
    &.mat-form-field-appearance-legacy {
      .mat-form-field-label {
        color: $textColorExtraLight;
      }
      &.mat-focused {
        .mat-form-field-label {
          color: $accent;
        }
      }
    }
  }
}
