<div class="amount">
  <span class="caption">Amount</span>
  <mat-form-field class="full-width single-field"
    color="accent"
    appearance="never">
    <input matInput
      placeholder="$ 00.00"
      maxlength="10"
      prefix="$ "
      mask="0*.00"
      [showMaskTyped]="false"
      [dropSpecialCharacters]="false"
      [(ngModel)]="value"
      [formControl]="valueControl">
  </mat-form-field>
</div>
