<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-accordion>
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Credit & Payment </mat-panel-title>
            <div class="end-position">
              <app-button-select [value]="customerSettings.creditPaymentCurrency"
                [items]="currencies"
                (change)="changeCurrency($event, customerSettings.creditPaymentCurrency)"></app-button-select>
            </div>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Net Terms (Days)"
                  [(ngModel)]="customerSettings.netTerms"
                  [formControl]="validation.netTerms"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Net Warning (Days)"
                  [(ngModel)]="customerSettings.netWarning"
                  [formControl]="validation.netWarning"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="USPS Account Type"
                  [(ngModel)]="customerSettings.uspsAccountType"
                  [formControl]="validation.uspsAccountType">
                  <mat-option *ngFor="let item of uspsAccountTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Customer Type"
                  [(ngModel)]="customerSettings.customerType"
                  [formControl]="validation.customerType"
                  required>
                  <mat-option *ngFor="let item of customerTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Admin Preferences </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="row item-row">
                <div class="col-8">
                  <div class="checkbox-line">
                    <mat-checkbox color="accent"
                      [(ngModel)]="customerSettings.creditLimitFlag">Credit Limit</mat-checkbox>
                  </div>
                </div>
                <div class="col-4"
                  *ngIf="customerSettings.creditLimitFlag">
                  <mat-form-field floatLabel="never"
                    class="full-width right-align single-field with-underline"
                    color="accent">
                    <input matInput
                      placeholder="$ 00.00"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [(ngModel)]="customerSettings.creditLimitAmount">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row item-row">
                <div class="col-8">
                  <div class="checkbox-line">
                    <mat-checkbox color="accent"
                      [(ngModel)]="customerSettings.allowThirdPartyShipmentFlag">Allow Third Party Shipment
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-4"
                  *ngIf="customerSettings.allowThirdPartyShipmentFlag">
                  <mat-form-field floatLabel="never"
                    class="full-width right-align single-field with-underline"
                    color="accent">
                    <input matInput
                      placeholder="$ 00.00"
                      prefix="$ "
                      mask="0*.00"
                      [showMaskTyped]="false"
                      [dropSpecialCharacters]="false"
                      [(ngModel)]="customerSettings.allowThirdPartyShipmentAmount">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.chargeCreditCardWhenInvoiceDueFlag">Charge Credit Card when Invoice Due
                </mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.allowUpsCodFlag">Allow UPS COD</mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.receiveTransactionReceiptsFlag">Receive Transaction Receipts
                </mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.smartePostPickupScheduledFlag">SmartePost Pickup Scheduled
                </mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.disableOnLatePaymentsFlag">Disable on Late Payments</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.costAccountFlag">Cost Account</mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.codAccountFlag">COD Account</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.storeFrontFlag">Store Front</mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.nmcfRequiredFlag">NMFC Required</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.showNewsFlag">Show News</mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.freightClassAutoPopulateFlag">Freight Class Auto Populate</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.customsInvoiceRequiredFlag">Customs Invoice Required</mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.defaultShipmentsUseResidentialFlag">Default Shipments Use Residential
                </mat-checkbox>
              </div>
            </div>
          </div>
          <!-- row -->
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Flat Rate Customers </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Carrier"
                  [(ngModel)]="customerSettings.carrier"
                  [formControl]="validation.carrier">
                  <mat-option *ngFor="let item of carriers"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Service"
                  [(ngModel)]="customerSettings.service"
                  [formControl]="validation.service">
                  <mat-option *ngFor="let item of services"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Flat Charge"
                  [(ngModel)]="customerSettings.flatCharge"
                  [formControl]="validation.flatCharge">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Flat Cost"
                  [(ngModel)]="customerSettings.flatCost"
                  [formControl]="validation.flatCost">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Invoice & Tax </mat-panel-title>
            <div class="end-position">
              <app-button-select [value]="customerSettings.invoiceTaxCurrency"
                [items]="currencies"
                (change)="changeCurrency($event, customerSettings.invoiceTaxCurrency)"></app-button-select>
            </div>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row">
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Generate Invoices Per"
                  [(ngModel)]="customerSettings.generateInvoicesPer"
                  [formControl]="validation.generateInvoicesPer">
                  <mat-option *ngFor="let item of generateInvoicesPerList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Charge Level"
                  [(ngModel)]="customerSettings.chargeLevel"
                  [formControl]="validation.chargeLevel"
                  required>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select multiple
                  placeholder="Customs Invoice NOT Required"
                  [(ngModel)]="customerSettings.customsInvoiceNotRequired"
                  [formControl]="validation.customsInvoiceNotRequired">
                  <mat-option *ngFor="let item of customsInvoiceNotRequiredList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-12">
              <app-multi-email-field label="Invoice Email"
                [(value)]="customerSettings.invoiceEmail"></app-multi-email-field>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.refCodeMandatoryFlag">Ref Code Mandatory</mat-checkbox>
              </div>
            </div>
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.inBondCustomerFlag">In Bond Customer</mat-checkbox>
              </div>
            </div>
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.applyTaxFlag">Apply Tax</mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Custom Broker Info </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Company Name"
                  [(ngModel)]="customerSettings.brokerCompanyName"
                  [formControl]="validation.brokerCompanyName">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Tax ID"
                  [(ngModel)]="customerSettings.taxId"
                  [formControl]="validation.taxId">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Contact Name"
                  [(ngModel)]="customerSettings.brokerContactName"
                  [formControl]="validation.brokerContactName">
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Email"
                  [(ngModel)]="customerSettings.brokerEmail"
                  [formControl]="validation.brokerEmail"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="
            validation.brokerEmail.hasError('email')
            "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Phone Number"
                  [(ngModel)]="customerSettings.brokerPhoneNumber"
                  [formControl]="validation.brokerPhoneNumber"
                  mask="000 000 0000">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Operational Expenses </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Couriers (%)"
                  [(ngModel)]="customerSettings.operationalExpensesCouriers"
                  [formControl]="validation.operationalExpensesCouriers">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Pallets (%)"
                  [(ngModel)]="customerSettings.operationalExpensesPallets"
                  [formControl]="validation.operationalExpensesPallets">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Postal (%)"
                  [(ngModel)]="customerSettings.operationalExpensesPostal"
                  [formControl]="validation.operationalExpensesPostal">
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select multiple
                  placeholder="Affiliate Commission for"
                  [(ngModel)]="customerSettings.affiliateCommissionFor"
                  [formControl]="validation.affiliateCommissionFor">
                  <mat-option *ngFor="let item of commissionsList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select multiple
                  placeholder="Transaction Commission for"
                  [(ngModel)]="customerSettings.transactionCommissionFor"
                  [formControl]="validation.transactionCommissionFor">
                  <mat-option *ngFor="let item of commissionsList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Carrier Settings </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.useOwnCarrierAccountFlag">Use Own Carrier Account</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="customerSettings.useEshipperCarrierAccountFlag">Use eShipper Carrier Account
                </mat-checkbox>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <!-- card -->
        <mat-expansion-panel class="card-panel with-slide-toggle">
          <mat-expansion-panel-header expandedHeight="48px"
            class="item-row">
            <mat-panel-title class="start-position"> Others </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- row -->
          <div class="row">
            <div class="col-4">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="API Username"
                  [(ngModel)]="customerSettings.apiUsername"
                  [formControl]="validation.apiUsername">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="API Password"
                  [(ngModel)]="customerSettings.apiPassword"
                  [formControl]="validation.apiPassword">
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
