.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  padding-top: 24px;
}

::ng-deep {
  .row {
    &.check-row {
      margin: 0 -24px;
      > [class^='col-'] {
        padding-left: 24px;
        padding-right: 24px;
      }
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}
