<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Customer"
            [(ngModel)]="fiterData.customer">
            <mat-option *ngFor="let item of customers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Carrier"
            [(ngModel)]="fiterData.carrier">
            <mat-option *ngFor="let item of carriers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Service"
            [(ngModel)]="fiterData.service">
            <mat-option *ngFor="let item of services"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Status"
            [(ngModel)]="fiterData.status">
            <mat-option *ngFor="let item of statuses"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Payment Mode"
            [(ngModel)]="fiterData.paymentMode">
            <mat-option *ngFor="let item of payments"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Sales Rep"
            [(ngModel)]="fiterData.salesRep">
            <mat-option *ngFor="let item of salesReps"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Markup Type"
            [(ngModel)]="fiterData.markupType">
            <mat-option *ngFor="let item of markupTypes"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
