<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>From</mat-label>
          <mat-select [(ngModel)]="modalData.from"
            [formControl]="validation.from"
            (ngModelChange)="from($event)">
            <mat-option *ngFor="let item of fromItems"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="wrap">
      <mat-form-field color="accent"
        class="full-width">
        <mat-label>Payee</mat-label>
        <mat-select [(ngModel)]="modalData.payee"
          [formControl]="validation.payee"
          required>
          <mat-option *ngFor="let item of payees"
            [value]="item.value"> {{item.viewValue}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Payee Type</mat-label>
          <mat-select [(ngModel)]="modalData.payeeType"
            [formControl]="validation.payeeType">
            <mat-option *ngFor="let item of payeeTypes"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Payment Method</mat-label>
          <mat-select [(ngModel)]="modalData.paymentMethod"
            [formControl]="validation.paymentMethod"
            required>
            <mat-option *ngFor="let item of paymentMethods"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- other block -->
    <div *ngIf="fromFlag">
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Address 1"
              [(ngModel)]="modalData.address1"
              [formControl]="validation.address1">
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Address 2"
              [(ngModel)]="modalData.address2"
              [formControl]="validation.address2">
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field class="full-width"
            color="accent">
            <input matInput
              placeholder="City"
              [formControl]="validation.city"
              [(ngModel)]="modalData.city"
              [matAutocomplete]="auto"
              required />
            <mat-autocomplete #auto="matAutocomplete"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCityes | async"
                [value]="option"> {{option}} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>{{province}}</mat-label>
            <mat-select [(ngModel)]="modalData.province"
              [formControl]="validation.province">
              <mat-option *ngFor="let item of provinces"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="{{zip}}"
              [(ngModel)]="modalData.zip"
              [formControl]="validation.zip">
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="modalData.country"
              [formControl]="validation.country"
              (ngModelChange)="changeCountry($event)">
              <mat-option *ngFor="let item of countries"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Phone"
            [(ngModel)]="modalData.phone"
            [formControl]="validation.phone">
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Email"
            [(ngModel)]="modalData.email"
            [formControl]="validation.email">
          <mat-error *ngIf="validation.email.invalid">Not a valid email</mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="wrap">
      <mat-form-field color="accent"
        class="full-width">
        <mat-label>Comment</mat-label>
        <textarea matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          [(ngModel)]="modalData.comment"
          [formControl]="validation.comment"></textarea>
      </mat-form-field>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-s-9">
        <div class="checkbox-line field-size">
          <mat-checkbox color="accent"
            [(ngModel)]="modalData.remember">Reminder for unpaid invoices before due</mat-checkbox>
        </div>
      </div>
      <div class="col-s-3">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Days"
            [(ngModel)]="modalData.days"
            [formControl]="validation.days">
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="create()"
          cdkFocusInitial>{{data.actionButton}}</button>
      </div>
    </div>
  </footer>
</div>
