<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <app-amount class="amount-box"
      [(value)]="modalData.amount"></app-amount>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width"
          color="accent">
          <mat-label>Release Day</mat-label>
          <mat-select [(ngModel)]="modalData.releaseDay"
            [formControl]="validation.releaseDay">
            <mat-option *ngFor="let item of releaseDays"
              value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="wrap">
      <!-- row -->
      <div class="item-row amount-item"
        *ngFor="let item of data.creditReleased.list">
        <div class="start-position">
          <div class="inner-el">
            <span>Credit Released</span>
          </div>
          <div class="inner-el"><em> {{item.date}} </em></div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <strong>{{item.amount | currency}}</strong>
          </div>
        </div>
      </div>
      <!-- row -->
      <div class="item-row amount-item">
        <div class="start-position">
          <div class="inner-el">
            <em>Total</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <strong>{{total | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="release()"
          cdkFocusInitial>Release</button>
      </div>
    </div>
  </footer>
</div>
