@import "src/content/scss/var.scss";

:host {
  .item-row {
    min-height: 56px;
    padding: 8px 12px 8px 48px;
    position: relative;

    i {
      &.radio-row {
        position: absolute;
        top: 16px;
        left: 12px;
        color: $iconColor;
      }
    }

    .end-position,
    .start-position {
      align-items: center;
    }

    .start-position {
      min-width: 78%;
    }

    .row-title {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.1px;
      padding-right: 24px;
      min-width: 160px;
    }

    .row-description {
      line-height: 20px;
    }

    em {
      font-style: normal;
      font-size: 14px;
      letter-spacing: 0.23px;
    }

    .el {
      &.rate-value {
        min-width: 128px;
        justify-content: flex-end;
      }

      &.row-description {
        width: 57%;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .end-position {
      .el {
        &:last-child {
          padding-right: 0;
          padding-left: 24px;
        }
      }
    }

    strong {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
    }

    @media only screen and (max-width: 760px) {

      .start-position,
      .end-position {
        width: 50%;
        min-width: 50%;
      }

      .start-position {
        align-items: flex-start;

        .mobile-col {
          flex-direction: column;
          padding-left: 16px;
        }
      }

      .end-position {
        align-items: flex-end;
        position: relative;
        flex-direction: column;
        padding-right: 32px;

        .el-btn {
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -12px;
        }

        .el {
          &:last-child {
            padding-left: 12px;
          }
        }
      }
    }

    .mobile-col {
      display: flex;
      align-items: center;
      flex-direction: row;

      @media only screen and (min-width: 992px) {
        width: calc(100% - 56px);
      }
    }

    &.with-quote-btn {
      .start-position {
        width: 75%;
        min-width: 75%;

        .mobile-col {
          padding-right: 40px;
          position: relative;
          width: 100%;

          .el {
            width: 25%;

            &.row-title {
              width: 30%;
            }

            &.row-description {
              width: 45%;
            }
          }

          .quote-btn {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -20px;
          }
        }
      }

      .end-position {
        width: 25%;
      }

      strong {
        color: $secondary;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.25px;

        @media only screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
    }
  }
}
