<div class="item-row"
  [ngClass]="{'with-quote-btn': quoteBtn}">
  <i class="radio-row icon icon-radio_button_unchecked"></i>
  <div class="start-position">
    <div *ngIf="rateItem.image"
      class="el">
      <app-img-box [url]="rateItem.image"></app-img-box>
    </div>
    <div class="mobile-col">
      <div class="el row-title">{{rateItem.title}}</div>
      <div *ngIf="rateItem.description"
        class="el row-description"><em>{{rateItem.description}}</em></div>
      <div class="el"><em>{{rateItem.date}}</em></div>
      <button *ngIf="quoteBtn"
        class="quote-btn"
        mat-icon-button
        (click)="quoteBtnFunction()"><i class="icon icon-expand_less"></i></button>
    </div>
  </div>
  <div class="end-position">
    <div class="el rate-value"><strong>{{rateItem.value | currency}}</strong></div>
    <div class="el el-btn">
      <button mat-icon-button
        class="info-btn"
        (click)="$event.stopPropagation(); info(rateItem.details)">
        <i class="icon icon-info_outline"></i>
      </button>
    </div>
  </div>
</div>
