<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- toolbar -->
    <app-content-toolbar [toolbarSettings]="contentToolbarSettings"
      [period]="true"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <!-- end of toolbar -->
    <!-- Specialty Requests list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of ships"
        class="table-list-item saved-ship-item {{item.marker?item.marker:''}}"
        [ngClass]="{'new': item.new, 'marker': item.marker}"
        (click)="clickOnRow(item)">
        <div class="start-position">
          <app-number-row-box [ngClass]="{'short-el': item.numberBox.short}"
            [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block *ngIf="item.cost"
              label="Cost"
              value="{{item.cost | currency}}"
              [right]="true"
              [details]="item.costDetails"
              (infoClick)="openCostInfoDialog($event)"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn"
          *ngIf="item.cost">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="shipFunction(); $event.stopPropagation();">Ship</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of Specialty Requests  -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
