.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 80px);
}

:host {
  .table-list-item {
    &.saved-ship-item {
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;

        .item-settings {
          margin-top: 0;
          top: 20px;
        }

        .button-list {
          min-height: 68px;
          top: 8px;
        }
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 991px) {
          width: 70%;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 20%;

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          &.address-el {
            width: 40%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
