<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <app-steps class="page-steps"
      [steps]="shipSteps"></app-steps>
    <!-- from to blocks -->
    <div class="from-to from-to-quick-quote">
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>From</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <button class="add-location"
              mat-icon-button
              color="accent"
              (click)="newLocation('from'); $event.stopPropagation()"><i class="icon icon-add_circle"></i></button>
            <input matInput
              placeholder="Location"
              aria-label="location"
              [matAutocomplete]="location"
              [formControl]="workingData.from.locationControl"
              [(ngModel)]="workingData.from.values.value"
              (ngModelChange)="changeFrom()">
            <mat-autocomplete #location="matAutocomplete"
              class="complex-autocomplete">
              <mat-option *ngFor="let item of fromFilteredLocations | async"
                [value]="item.companyName">
                <strong>{{item.companyName}}</strong>
                <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="location-box">
            <div class="edit-location"
              *ngIf="fromFlag"
              (click)="editAddress()">
              <h4>{{workingData.from.values.data.address1}}, {{workingData.from.values.data.city}},
                {{workingData.from.values.data.province}} {{workingData.from.values.data.zip}}
                {{workingData.from.values.data.country}}</h4>
              <p>{{workingData.from.values.data.attention}}</p>
              <p>{{workingData.from.values.data.email}}</p>
              <p>{{workingData.from.values.data.phone}}</p>
              <i class="icon icon-outline-edit"></i>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.from.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              #fromSpecialInstructions
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="workingData.from.values.specialInstructions"
              placeholder="Special Instructions"></textarea>
            <mat-hint align="end">{{fromSpecialInstructions.value?.length}} / 100</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <div class="from-to-btn">
        <button mat-icon-button
          (click)="changePosition()"><i class="icon icon-switch"></i></button>
      </div>
      <mat-card class="card from-to-card">
        <mat-card-header>
          <mat-card-title>To</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field color="accent"
            class="full-width from-to-location">
            <input matInput
              placeholder="Company"
              aria-label="company"
              [matAutocomplete]="company"
              [formControl]="workingData.to.locationControl"
              [(ngModel)]="workingData.to.values.value"
              required>
            <mat-autocomplete #company="matAutocomplete"
              class="complex-autocomplete">
              <mat-option *ngFor="let item of toFilteredLocations | async"
                [value]="item.companyName">
                <strong>{{item.companyName}}</strong>
                <address>{{item.address1}}, {{item.city}}, {{item.province}} {{item.zip}} {{item.country}}</address>
              </mat-option>
              <span class="divider"></span>
              <mat-option (click)="newLocation('to')">
                <div class="option-content"><i class="icon icon-add_circle green-color"></i> <span>New Location</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="location-box">
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="Country"
                    name="country"
                    [(ngModel)]="workingData.to.values.data.country"
                    [formControl]="workingData.to.countryFormControl"
                    [errorStateMatcher]="matcher"
                    (ngModelChange)="changeCountry(workingData.to.values.data.country)"
                    required>
                    <mat-option *ngFor="let item of staticData.countries"
                      [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="{{staticData.zipLabel}}"
                    [formControl]="workingData.to.zipFormControl"
                    required
                    mask="AAA AAA"
                    [(ngModel)]="workingData.to.values.data.zip" />
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="City"
                    [formControl]="workingData.to.cityFormControl"
                    [(ngModel)]="workingData.to.values.data.city"
                    [matAutocomplete]="auto"
                    required />
                  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCityes | async"
                      [value]="option"> {{option}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="{{staticData.stateLabel}}"
                    [(ngModel)]="workingData.to.values.data.province"
                    [formControl]="workingData.to.stateFormControl"
                    required>
                    <mat-option *ngFor="let item of staticData.provinces"
                      [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 1"
                    [formControl]="workingData.to.address1FormControl"
                    [(ngModel)]="workingData.to.values.data.address1"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Address 2"
                    [formControl]="workingData.to.address2FormControl"
                    [(ngModel)]="workingData.to.values.data.address2" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Attention"
                    [formControl]="workingData.to.attentionFormControl"
                    [(ngModel)]="workingData.to.values.data.attention"
                    required />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Phone"
                    [formControl]="workingData.to.phoneFormControl"
                    [(ngModel)]="workingData.to.values.data.phone"
                    mask="000 000 0000"
                    required />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Email"
                    [formControl]="workingData.to.emailFormControl"
                    [(ngModel)]="workingData.to.values.data.email"
                    [errorStateMatcher]="matcher"
                    required />
                </mat-form-field>
              </div>
            </div>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let item of workingData.to.checkboxes">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="item.checked">{{item.label}}</mat-checkbox>
              </div>
            </li>
          </ul>
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              #toSpecialInstructions
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="workingData.to.values.specialInstructions"
              placeholder="Special Instructions"></textarea>
            <mat-hint align="end">{{toSpecialInstructions.value?.length}} / 100</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- shipment block -->
    <app-shipment-card></app-shipment-card>
    <!-- blocks -->
    <div class="row break-point-800 one-height-align">
      <div class="col-6">
        <app-additional-services-card></app-additional-services-card>
      </div>
      <div class="col-6">
        <app-cod-service-card></app-cod-service-card>
      </div>
    </div>
  </div>
  <div class="bottom-row white with-data">
    <div class="start-position">
      <div class="quote-wrap">
        <app-rate-line class="quote-footer-line"
          [rateItem]="qoute"
          [quoteBtn]="true"
          (quoteBtnClick)="openRatesDialog()"></app-rate-line>
      </div>
    </div>
    <div class="end-position">
      <button class="btn large-btn"
        mat-stroked-button
        routerLink="/customer/shipping/quick-quote-proceed-domestic"
        color="primary">Save</button>
      <button class="btn large-btn"
        mat-flat-button
        color="primary"
        routerLink="/customer/shipping/ship/invoice">Next</button>
    </div>
  </div>
</div>
