.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

:host {
  .from-to-quick-quote {
    .from-to-card {
      .location-box {
        min-height: 350px;
        width: 100%;

        @media only screen and (max-width: 768px) {
          min-height: 0;
        }
      }
    }
  }
}
