@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 49px - 96px);
}

::ng-deep {
  .table-list-item {
    &.carrier-item {
      @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        padding-right: 24px;
        .email-btn {
          position: absolute;
          top: 4px;
          right: 48px;
        }
        .item-settings {
          top: 4px;
          margin-top: 0;
        }
      }
      .start-position {
        width: 40%;
        @media only screen and (max-width: 700px) {
          width: 70%;
        }
      }
      .end-position {
        width: 60%;
        @media only screen and (max-width: 700px) {
          width: 100%;
        }
        .inner-el {
          width: 28%;
          &.email-btn {
            width: 16%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
            .data-el {
              padding-left: 64px !important;
            }
            &.email-btn {
              width: 40px;
              height: 40px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
