<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- main info -->
    <div class="top-info preview">
      <div class="item-row">
        <div class="start-position">
          <app-data-block label="Customer"
            value="{{data?.companyName}}"
            bold="{{true}}"
            badge="{{data?.invoicePrefix}}"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Shipments"
              value="{{data?.noOfShipments}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Invoiced"
              value="{{data?.dateCreated}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Due"
              value="{{data?.dueDate}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{data?.currency}})"
              value="{{data?.totalAmount | currency}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <div class="data-el status-box {{data.status?.color}}">
              <span class="caption"
                *ngIf="data.status?.name!='Unpaid'">{{data?.dateSubmitted}} </span>
              <span class="value">{{data.status?.name}}</span>
            </div>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="invoiceSettings"
          (backData)="invoiceSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of main info -->
    <!-- work orders -->
    <div class="table-list-items">
      <div *ngFor="let item of data?.workOrders"
        class="table-list-item simple-data no-logo invoice__work-order__item"
        [routerLink]="item.link?item.link:null"
        [ngClass]="{'no-link': !item.link}">
        <div class="start-position">
          <div class="inner-el">
            <app-data-block label="Work Order"
              value="{{item.id}}"></app-data-block>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="end-position">
          <div class="inner-el right-el">
            <app-data-block label="ORI Cost ({{data?.currency}})"
              value="{{item?.oriCost | currency}}"
              right={{true}}></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="ORI Charge ({{data?.currency}})"
              value="{{item?.oriCharge | currency}}"
              right={{true}}></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="Profit ({{data?.currency}})"
              value="{{item?.profit | currency}}"
              right={{true}}></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="Total ({{data?.currency}})"
              value="{{(item?.oriCost + item?.oriCharge + item?.profit) | currency}}"
              right={{true}}></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="workOrderSettings"
          (backData)="workOrderSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of work orders -->
    <div class="invoice-bottom-section">
      <!-- work orders total -->
      <div class="item-row invoice_break-991">
        <div class="spacer"></div>
        <div class="col-4 end-position">
          <div class="item-row col-12">
            <div class="start-position">
              <span class="caption">Subtotal ({{data?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value">{{data?.subTotal | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of work orders total -->
      <!-- invoice column -->
      <div class="item-row invoice_break-991">
        <div class="spacer"></div>
        <div class="col-4 invoice-column">
          <!-- row -->
          <div class="item-row"
            *ngIf="data.discountFlag">
            <div class="start-position">
              <div class="el w-128">
                <span class="caption">{{data.discount}} {{data.discountValue}}</span>
              </div>
            </div>
            <div class="end-position"><span class="value">- {{data?.discountAmount | currency}}</span></div>
          </div>
          <!-- row -->
          <div class="item-row"
            *ngIf="data.comment">
            <div class="col-8">
              <span class="value">{{data.comment}} <span *ngIf="data?.commentPublicFlag">Public</span></span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row border-top">
            <div class="start-position">
              <span class="caption">Total ({{data?.currency}})</span>
            </div>
            <div class="end-position">
              <span class="value strong">{{data?.totalAmount | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row"
            *ngIf="data.depositFlag">
            <div class="start-position"> <span class="caption">Deposit ({{data?.currency}})</span></div>
            <div class="end-position">
              <span class="value">{{data.depositAmount | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Amount Received</span>
            </div>
            <div class="end-position">
              <span class="value strong big-normal">{{data?.amountReceived | currency}}</span>
            </div>
          </div>
          <!-- row -->
          <div class="item-row">
            <div class="start-position">
              <span class="caption">Balance Due</span>
            </div>
            <div class="end-position">
              <span class="value strong big-normal">{{data?.balanceDue | currency}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of invoice column -->
    </div>
  </div>
  <!--  buttons -->
  <div class="centered-button">
    <button class="large-btn"
      mat-flat-button
      color="primary"
      (click)="payInvoice()">Pay</button>
  </div>
</div>
