<app-main-toolbar [title]="title"
  [backBtnFlag]="true"></app-main-toolbar>
<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content login-inner-content register-content">
    <span class="login-logo">eShipper</span>
    <form action=".">
      <!-- section -->
      <section class="register-section">
        <h3>Account</h3>
        <div class="section-content">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Email"
                  [formControl]="accountFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="accountFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  type="password"
                  placeholder="Password"
                  [formControl]="passwordFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="passwordFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  type="password"
                  placeholder="Confirm Password"
                  [formControl]="confirmPasswordFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <!-- section -->
      <section class="register-section">
        <h3>Company</h3>
        <div class="section-content">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Company"
                  [formControl]="companyFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="companyFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Name"
                  [formControl]="nameFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="nameFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Phone"
                  [formControl]="phoneFormControl"
                  [errorStateMatcher]="matcher"
                  required
                  mask="000 000 0000" />
                <mat-error *ngIf="phoneFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Country"
                  name="country"
                  [(ngModel)]="data.country"
                  [formControl]="countryFormControl"
                  [errorStateMatcher]="matcher"
                  (ngModelChange)="changeCountry(data.country)"
                  required>
                  <mat-option *ngFor="let item of staticData.countries"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="{{staticData.stateLabel}}"
                  [(ngModel)]="data.province"
                  [formControl]="provinceFormControl"
                  required>
                  <mat-option *ngFor="let item of staticData.provinces"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="cityFormControl"
                  [(ngModel)]="data.city"
                  [matAutocomplete]="auto"
                  required />
                <mat-autocomplete #auto="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityes | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="{{staticData.zipLabel}}"
                  [formControl]="zipFormControl"
                  required
                  mask="AAA AAA"
                  [(ngModel)]="data.zip" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address"
                  [formControl]="addressFormControl"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="addressFormControl.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Industry"
                  [formControl]="industry"
                  required>
                  <mat-option *ngFor="let item of industries"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="industry.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Monthly Shipment"
                  [formControl]="monthlyVolume"
                  required>
                  <mat-option *ngFor="let item of monthlyVolumes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-error *ngIf="monthlyVolume.hasError('required')">{{ requiredText }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <!-- section -->
      <section class="register-section">
        <div class="section-content">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <mat-select placeholder="Where did you find eShipper?">
                  <mat-option *ngFor="let place of places"
                    [value]="place"> {{ place }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Promo Code" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
      <!-- section -->
      <section class="register-section">
        <h3>Disclaimer</h3>
        <div class="section-content"
          [perfectScrollbar]>
          <p> This website contains information supplied by third parties, as well as links to other sources of
            information. Such information is provided, or accessed, for the benefit of those utilizing our site and
            eShipper has tried to ensure that it is correct. However, eShipper is not able to guarantee the accuracy of
            such information and therefore does not accept any liability or responsibility that may arise in reliance
            upon it, including lost or damaged goods and any direct, indirect, incidental or other damages. </p>
          <p> eShipper reserves its right to make improvements and/or changes to the information contained on the
            website at any time without prior notice. </p>
          <p> Information such as your contact information, e-mail address, and payment information are only collected
            when you voluntarily provide them (online purchase of shipping. </p>
        </div>
        <div class="checkbox-line">
          <mat-checkbox color="accent">I ACCEPT</mat-checkbox>
        </div>
      </section>
      <div class="bottom-button centered-button">
        <button mat-flat-button
          class="bigger-btn"
          color="primary"> Register </button>
      </div>
    </form>
  </div>
</div>
