@import 'src/content/scss/var.scss';

:host {
  .scroll-block {
    height: calc(100vh - 49px);
  }

  .login-inner-content {
    &.register-content {
      max-width: 800px;
      margin: 0 auto;
      padding-left: 24px;
      padding-right: 24px;

      .checkbox-line {
        justify-content: center;
      }
    }
  }

  .register-section {
    padding-bottom: 16px;
    width: 100%;
    overflow: hidden;

    h3 {
      line-height: 24px;
      margin: 0;
      padding: 12px 0;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .section-content {
    width: 100%;
    max-height: 120px;
    padding-right: 24px;
  }
}
