.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.box-item {
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 24px;

        .item-settings {
          top: 4px;
        }
      }

      .start-position {
        width: 20%;

        @media only screen and (max-width: 991px) {
          width: 80%;
        }
      }

      .end-position {
        width: 80%;

        @media only screen and (max-width: 991px) {
          width: 100%;
          justify-content: space-between;
        }

        .inner-el {
          width: 22%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &:last-child {
            width: 37%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
