<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- items -->
      <div class="table-list-item item-row simple-data box-item"
        *ngFor="let item of boxList">
        <div class="start-position">
          <app-data-block class="no-transform"
            value="{{item.boxName}}"
            bold="{{true}}"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Type"
              value="{{item.boxType}}">
            </app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Size (LxWxH {{item.units.size}})"
              value="{{item.dimension.l}}x{{item.dimension.w}}x{{item.dimension.h}}">
            </app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Weight ({{item.units.weight}})"
              value="{{item.weight}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Maxi Support ({{item.units.weight}})"
              value="{{item.maxSupportWeight}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Description"
              value="{{item.description}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
      <!-- end of items -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addBox()"><i class="icon icon-add"></i></button>
