<div class="dialog-content normal-dialog">
  <header>
    <h3>Generate PDF</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <div class="item-row file-element">
        <div class="start-position">
          <span>{{modalData.fileName}}</span>
        </div>
        <div class="end-position">
          <mat-spinner color="primary"
            diameter="24"
            strokeWidth="2"></mat-spinner>
        </div>
      </div>
      <app-multi-email-field label="Email"
        [(value)]="modalData.emails"></app-multi-email-field>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="send()"
          cdkFocusInitial> Send </button>
      </div>
    </div>
  </footer>
</div>
