/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@include mat-core();

@import './content/scss/colors.scss';

// Define an alternate dark theme.
$eshipper-primary: mat-palette($mat-eshipper-primary);
$eshipper-accent: mat-palette($mat-eshipper-secondary, 500, 900, A100);
$eshipper-warn: mat-palette($mat-eshipper-warn);
$eshipper-theme: mat-light-theme($eshipper-primary, $eshipper-accent, $eshipper-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@include angular-material-theme($eshipper-theme);


@import '~perfect-scrollbar/css/perfect-scrollbar.css';
// custom styles
@import './content/scss/cf-styles/cf-styles';
@import './content/scss/index.scss';
