<button mat-icon-button
  [matMenuTriggerFor]="menu">
  <i class="icon icon-history"></i>
</button>
<mat-menu #menu="matMenu"
  class="collapse-dropdown">
  <div class="collapse-dropdown-wrap"
    [perfectScrollbar]>
    <mat-accordion (click)="$event.stopPropagation();">
      <div class="collapse-content"
        *ngFor="let item of historyData">
        <button mat-button
          class="item"
          *ngIf="!item.innerData.length">{{item.title}}</button>
        <div class="exp-panel"
          *ngIf="item.innerData.length">
          <mat-expansion-panel>
            <button mat-button
              class="item">{{item.title}} x {{item.innerData.length}}</button>
            <mat-expansion-panel-header [expandedHeight]="'48px'">
              <mat-panel-title></mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="history-inner-data">
              <li *ngFor="let el of item.innerData">
                <span>{{el.label}}</span>
                <em>{{el.value}}</em>
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-accordion>
  </div>
</mat-menu>
