<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <mat-card class="card">
      <mat-card-content>
        <div class="settings-list">
          <div *ngFor="let item of settingsList"
            class="item-row">
            <div class="start-position">
              <div class="el">
                <span class="value">{{item.name}}</span>
                <div class="info"
                  *ngIf="item.info">
                  <button mat-icon-button
                    matTooltip="{{item.info}}"
                    matTooltipPosition="above"
                    class="info-btn"><i class="icon icon-info_outline"></i></button>
                </div>
              </div>
              <div class="el"
                *ngIf="item.value">
                <mat-form-field class="single-field with-underline right-align"
                  color="accent">
                  <input matInput
                    [(ngModel)]="item.value"
                    prefix="$"
                    mask="0*.00"
                    [showMaskTyped]="false"
                    [dropSpecialCharacters]="false">
                </mat-form-field>
              </div>
            </div>
            <div class="end-position">
              <div class="el"
                *ngIf="item.active">
                <mat-checkbox [(ngModel)]="item.system"> System </mat-checkbox>
              </div>
              <div class="el"
                *ngIf="item.active">
                <mat-checkbox [(ngModel)]="item.email"> Email </mat-checkbox>
              </div>
              <div class="el"
                *ngIf="item.active">
                <mat-form-field color="accent"
                  class="frequency-select single-select with-underline">
                  <mat-select [(ngModel)]="item.frequency">
                    <mat-option *ngFor="let i of frequencies"
                      [value]="i">{{i}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="el">
                <mat-slide-toggle color="accent"
                  [(ngModel)]="item.active">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
