@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
}

.check-row {
  padding-bottom: 12px;
}

::ng-deep {
  @media only screen and (max-width: 600px) {
    .carrier-settings-list {
      .row {
        padding-bottom: 12px;
        padding-top: 12px;
        flex-wrap: wrap;

        .col-6 {
          width: 100%;
        }

        .col-3 {
          width: 50%;
        }
      }
    }
  }
}
