<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card"
        *ngIf="!adminFlag">
        <mat-card-header>
          <mat-card-title>Shipment</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Default Package Type"
                  [(ngModel)]="shipment.defaultPackageType"
                  [formControl]="validation.defaultPackageType">
                  <mat-option *ngFor="let item of defaultPackageTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Default Pickup Location"
                  [(ngModel)]="shipment.defaultPickupLocation"
                  [formControl]="validation.defaultPickupLocation">
                  <mat-option *ngFor="let item of defaultPickupLocations"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Insurance Type"
                  [(ngModel)]="shipment.insuranceType"
                  [formControl]="validation.insuranceType">
                  <mat-option *ngFor="let item of insuranceTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Signature Required"
                  [(ngModel)]="shipment.signatureRequired"
                  [formControl]="validation.signatureRequired"
                  multiple>
                  <mat-option *ngFor="let item of signatureRequiredList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row check-row">
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="shipment.addResidentialByDefaultFlag">Add Residential by Default</mat-checkbox>
              </div>
            </div>
            <div class="col-6">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="shipment.batchShippingFlag">Batch Shipping</mat-checkbox>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card"
        *ngIf="!adminFlag">
        <mat-card-header class="item-row">
          <mat-card-title class="start-position">Invoice & Tax</mat-card-title>
          <div class="end-position">
            <app-button-select [value]="'CAD $'"
              [items]="currencies"
              (change)="changeCurrency($event, invoiceTax.invoiceTaxCurrency)"></app-button-select>
          </div>
        </mat-card-header>
        <mat-card-content>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Generate Invoices Per"
                  [(ngModel)]="invoiceTax.generateInvoicesPer"
                  [formControl]="validation.generateInvoicesPer">
                  <mat-option *ngFor="let item of generateInvoicesPerList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Charge Level"
                  [(ngModel)]="invoiceTax.chargeLevel"
                  [formControl]="validation.chargeLevel"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Tax ID"
                  [(ngModel)]="invoiceTax.taxId"
                  [formControl]="validation.taxId"
                  required>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-12">
              <app-multi-email-field label="Invoice Email"
                [(value)]="invoiceTax.invoiceEmail"></app-multi-email-field>
            </div>
          </div>
          <!-- row -->
          <div class="row check-row">
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="invoiceTax.refCodeMandatoryFlag">Ref Code Mandatory</mat-checkbox>
              </div>
            </div>
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="invoiceTax.inBondCustomerFlag">In Bond Customer</mat-checkbox>
              </div>
            </div>
            <div class="col-4">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="invoiceTax.applyTaxFlag">Apply Tax</mat-checkbox>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card"
        *ngIf="!adminFlag && customBrokerInfo">
        <mat-card-header>
          <mat-card-title>Custom Broker Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Company Name"
                  [(ngModel)]="customBrokerInfo.brokerCompanyName"
                  [formControl]="validation.brokerCompanyName">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Tax ID"
                  [(ngModel)]="customBrokerInfo.taxId"
                  [formControl]="validation.taxIdBroker">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Contact Name"
                  [(ngModel)]="customBrokerInfo.brokerContactName"
                  [formControl]="validation.brokerContactName">
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Email"
                  [(ngModel)]="customBrokerInfo.brokerEmail"
                  [formControl]="validation.brokerEmail"
                  [errorStateMatcher]="matcher">
                <mat-error *ngIf="
            validation.brokerEmail.hasError('email')
            "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Broker Phone Number"
                  [(ngModel)]="customBrokerInfo.brokerPhoneNumber"
                  [formControl]="validation.brokerPhoneNumber"
                  mask="000 000 0000">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card"
        *ngIf="!adminFlag">
        <mat-card-header>
          <mat-card-title>Reference Codes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 1"
                  [(ngModel)]="referenceCodes.reference1"
                  [formControl]="validation.reference1"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 2"
                  [(ngModel)]="referenceCodes.reference2"
                  [formControl]="validation.reference2"
                  required>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Reference 3"
                  [(ngModel)]="referenceCodes.reference3"
                  [formControl]="validation.reference3"
                  required>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Carrier Settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="items-list carrier-settings-list">
            <div class="row row-with-button"
              *ngFor="let item of carrierList">
              <div class="col-6"><span class="value">{{item.carrierName}}</span></div>
              <div class="col-3"><span class="caption">{{item.region}}</span></div>
              <div class="col-3"><span class="caption">{{item.accountOwner}}</span></div>
              <app-dot-menu class="item-settings"
                [items]="itemCarrierSettings"
                (backData)="itemCarrierSettingsFunction($event, item)"></app-dot-menu>
            </div>
            <button mat-button
              class="add-btn"
              (click)="addCarrierAccount()"><i class="icon icon-add_circle"></i>Add Carrier Account</button>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card"
        *ngIf="!adminFlag">
        <mat-card-header>
          <mat-card-title>Default Print Settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row check-row">
            <div class="col-12">
              <div class="checkbox-line">
                <mat-checkbox color="accent"
                  [(ngModel)]="printSettings.autoSizeFlag">Auto-size Labels for Printer Type</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="row"
            *ngIf="!printSettings.autoSizeFlag">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Shipping Label Size"
                  [(ngModel)]="printSettings.shippingLabelSize"
                  [formControl]="validation.shippingLabelSize">
                  <mat-option *ngFor="let item of shippingLabelSizeList"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
