<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown *ngIf="!selection"
          [period]="true"
          (select)="selectPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn *ngIf="!selection"
          (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button *ngIf="!selection"
          mat-icon-button
          (click)="filterOpen()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
        <!-- total box -->
        <div class="total-box"
          *ngIf="selection">
          <div class="el"><span class="value">Total</span></div>
          <div class="el"> <span class="value big-value">{{totalAmount | currency}}</span></div>
          <div class="el">
            <button mat-flat-button
              color="primary"
              (click)="payFunction();">Pay</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <!-- chart -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{widget.name}}</mat-card-title>
        <div class="end-position">
          <div class="complex-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="widgetMenu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #widgetMenu="matMenu"
              class="slide-toggle-menu collapse-dropdown">
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="widget.settings.chartValue"> Chart Value </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
              <div class="collapse-dropdown-wrap"
                [perfectScrollbar]>
                <mat-accordion (click)="$event.stopPropagation();">
                  <div class="collapse-content">
                    <div class="exp-title-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header expandedHeight="48px">
                          <mat-panel-title>Chart Type</mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                          *ngFor="let item of widget.settings.chartTypes"
                          class="item"
                          (click)="chartTypeClick(item)">{{item}}</button>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="report-chart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
    <!-- contant list -->
    <div class="table-list-items">
      <!-- payables list -->
      <div class="table-list-item selection-row no-logo ap-item item-row"
        *ngFor="let item of payablesList"
        (click)="clickOnPayableItem()">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item)"
            color="accent"></mat-checkbox>
          <div class="inner-el with-chip number-content">
            <strong>{{item.id}} <span class="chip-label
                {{convertPayeeCategory(item.payeeCategory)}}">{{item.payeeCategory}}</span></strong>
            <em>{{item.payee}}</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.dateCreated}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Method"
              value="{{item.payment}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{item.currency}})"
              value="{{item.totalAmount | currency}}"
              [right]="true"
              [details]="item.totalDetails"
              (infoClick)="openTotalInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.lastPaymentDate}">
            <app-data-block *ngIf="item.lastPaymentDate"
              label="Paid"
              value="{{item.lastPaymentDate}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.balanceDue}">
            <app-data-block *ngIf="item.balanceDue"
              label="Balance Due"
              value="{{item.balanceDue | currency}}"
              [right]="true"
              [wrongFlag]="true"></app-data-block>
          </div>
        </div>
        <div *ngIf="!getWarnFunction(item)"
          class="status-label {{ item.status?.color }}"> {{ item.status?.name }} </div>
        <ul class="button-list one-btn"
          *ngIf="getWarnFunction(item)">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="payFunction(); $event.stopPropagation();">Pay</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of payables list -->
    </div>
  </div>
</div>
