@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

:host {
  .total-box {
    display: flex;
    align-items: center;
    padding-right: 12px;
    .el {
      padding-left: 24px;
    }
    span {
      &.value {
        &.big-value {
          color: $teal;
        }
      }
    }
  }
}
