<div class="number-box"
  [ngClass]="{'no-logo': noLogo}">
  <app-img-box *ngIf="!noLogo"
    class="img-el"
    [url]="data.logo"></app-img-box>
  <div class="inner-el first-level number-content"
    [ngClass]="{'with-chip': data.chip?.name}">
    <span class="caption">{{data.label}}</span>
    <strong>{{data.number}} <span *ngIf="data.chip?.name"
        class="chip-label {{data.chip.type}}">{{data.chip.name}}</span></strong>
    <em *ngIf="data.name">{{data.name}}</em>
    <em *ngIf="data.subName">{{data.subName}}</em>
  </div>
</div>
