@import 'src/content/scss/var.scss';

.chips-block {
  padding: 0 0 56px;
  position: relative;
}

.chips-dropdown {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 8px;
}

.chip-dropdown-item {
  position: relative;
  padding-left: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 48px;
  height: auto;

  i {
    &.icon {
      position: absolute;
      left: 16px;
      top: 50%;
      color: $green;
      margin-top: -12px;
    }
  }

  span {
    display: block;
    line-height: 20px;
  }

  em {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: $textColorLight;
    font-style: normal;
  }

  &.selected {
    background-color: $mainMenuActive;
  }
}
