<div class="chips-block">
  <mat-chip-list>
    <div *ngFor="let item of data">
      <mat-chip class="custom-chip"
        *ngIf="item.selected"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="item.selected = false"> {{item.value}} <i matChipRemove
          *ngIf="removable"
          class="icon icon-close"></i>
      </mat-chip>
    </div>
  </mat-chip-list>
  <div class="chips-dropdown">
    <button mat-button
      class="add-btn"
      [ngClass]="{'add-icon-btn': !ref.innerHTML.trim()}"
      [matMenuTriggerFor]="chipMenu"
      (click)="$event.stopPropagation()">
      <i class="icon icon-add_circle"></i>
      <span #ref>
        <ng-content></ng-content>
      </span>
    </button>
    <mat-menu #chipMenu="matMenu"
      class="comples-chips-dd">
      <button *ngFor="let item of data"
        mat-menu-item
        class="chip-dropdown-item"
        [ngClass]="{'selected': item.selected}"
        (click)="item.selected = !item.selected; $event.stopPropagation()">
        <span>{{ item.value }}</span>
        <em *ngIf="item.description">{{item.description}}</em>
        <i *ngIf="item.selected"
          class="icon icon-check"></i>
      </button>
    </mat-menu>
  </div>
</div>
