<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content details-content">
    <!-- Confirm block -->
    <app-confirmed-block [data]="confirmedData?.confirm"></app-confirmed-block>
    <!-- end of confirm block -->
    <!-- toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position"></div>
      <div class="end-position">
        <button mat-icon-button
          (click)="emailFunction()"><i class="icon icon-mail_outline"></i></button>
        <button mat-icon-button
          (click)="printFunction()"><i class="icon icon-outline-print"></i></button>
      </div>
    </mat-toolbar>
    <!-- end of toolbar -->
    <div class="row">
      <div class="col-8">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title> Details </mat-card-title>
          </mat-card-header>
          <mat-card-content class="confirm-content">
            <!-- delivery title -->
            <div class="delivery-title">
              <app-img-box [url]="confirmedData.company?.logo"></app-img-box>
              <div class="title-info">
                <strong>{{confirmedData.company?.name}}</strong>
                <em>{{confirmedData.company?.info}}</em>
              </div>
            </div>
            <!-- end of delivery title -->
            <div class="row">
              <div class="col-6">
                <!-- from -->
                <app-info-block [data]="confirmedData?.from"></app-info-block>
                <app-info-block [data]="confirmedData?.fromContact"></app-info-block>
                <!-- end of from -->
              </div>
              <div class="col-6">
                <!-- to -->
                <app-info-block [data]="confirmedData?.to"></app-info-block>
                <app-info-block [data]="confirmedData?.toContact"></app-info-block>
                <!-- enf of to -->
              </div>
            </div>
            <div class="divider">&nbsp;</div>
            <div class="row">
              <div class="col-3"
                *ngFor="let item of confirmedData?.additionalInfo">
                <app-data-item [data]="item"></app-data-item>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="icon-line diff-spacing">
          <i class="icon icon-info_outline"></i>
          <span>Please refer to eShipper V1 Order Details on a Credit Card Customer</span>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-m-6">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Payment</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="confirmedData?.paymentInfo"></app-info-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-m-6">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Credit Card Charges</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-info-list [right]="true"
                  [data]="confirmedData?.creditCardInfo"></app-info-list>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-m-6">
            <!-- document card -->
            <mat-card *ngIf="confirmedData?.documentsList"
              class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Documents</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="docs-list">
                  <div class="doc-row item-row"
                    *ngFor="let item of confirmedData?.documentsList">
                    <div class="start-position">
                      <div class="doc">
                        <i class="icon icon-description"></i>
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                    <div class="end-position">
                      <button mat-icon-button><i class="icon icon-outline-get_app"></i></button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="centered-button">
    <button routerLink="/customer/shipping/quick-quote"
      mat-flat-button
      class="bigger-btn"
      color="primary">New Quote</button>
  </div>
</div>
