<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Company"
              name="company"
              [(ngModel)]="modalData.companyName"
              [formControl]="validation.companyName"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="validation.companyName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Country"
              name="country"
              [(ngModel)]="modalData.country"
              [formControl]="validation.country"
              [errorStateMatcher]="matcher"
              (ngModelChange)="changeCountry(modalData.country)"
              required>
              <mat-option *ngFor="let item of staticData.countries"
                [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validation.country.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="{{staticData.stateLabel}}"
              [(ngModel)]="modalData.province"
              [formControl]="validation.province"
              required>
              <mat-option *ngFor="let item of staticData.provinces"
                [value]="item">{{item}}</mat-option>
            </mat-select>
            <mat-error *ngIf="validation.province.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="City"
              name="city"
              [(ngModel)]="modalData.city"
              [formControl]="validation.city"
              [errorStateMatcher]="matcher"
              [matAutocomplete]="auto"
              required />
            <mat-autocomplete #auto="matAutocomplete"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCityes | async"
                [value]="option"> {{option}} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Zip Code"
              name="zip"
              [(ngModel)]="modalData.zip"
              [formControl]="validation.zip"
              [errorStateMatcher]="matcher"
              mask="AAA AAA"
              required />
            <mat-error *ngIf="validation.zip.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Address 1"
              name="address1"
              [(ngModel)]="modalData.address1"
              [formControl]="validation.address"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="validation.address.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              name="address2"
              [(ngModel)]="modalData.address2"
              placeholder="Address 2" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Attention"
              name="attention"
              [(ngModel)]="modalData.attention"
              [formControl]="validation.attention"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="validation.attention.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Phone"
              name="phone"
              [(ngModel)]="modalData.phone"
              [formControl]="validation.phone"
              [errorStateMatcher]="matcher"
              mask="000 000 0000"
              required />
            <mat-error *ngIf="validation.phone.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Email"
              name="email"
              [(ngModel)]="modalData.email"
              [formControl]="validation.email"
              [errorStateMatcher]="matcher"
              required />
            <mat-error *ngIf="
            validation.email.hasError('email') &&
              !validation.email.hasError('required')
            "> Please enter a valid email address </mat-error>
            <mat-error *ngIf="validation.email.hasError('required')"> {{ requiredText }} </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="wrap"
        *ngIf="!data.addressBookFlag">
        <div class="checkbox-line">
          <mat-checkbox color="accent"
            name="saveTo"
            [(ngModel)]="saveToAddressBook">Save to address book</mat-checkbox>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item">
        </div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="apply()"
            cdkFocusInitial> Apply </button>
        </div>
      </div>
    </footer>
  </form>
</div>
