<gridster [options]="options"
  class="gridster-widgets">
  <gridster-item class="dashboard-card"
    *ngFor="let item of widgets, let i = index"
    [item]="item">
    <div class="dashboard-card-header">
      <h3 class="drag-handle">{{charts[i].title}}</h3>
      <div class="toolbar-spacer"></div>
    </div>
    <div class="dashboard-card-content drag-ignore">
      <canvas baseChart
        *ngIf="charts[i].chart?.type ==='doughnut'"
        [data]="charts[i].chart?.data"
        [labels]="charts[i].chart?.labels"
        [chartType]="charts[i].chart?.type">
      </canvas>
      <canvas baseChart
        *ngIf="charts[i].chart?.type ==='bar'"
        [chartType]="charts[i].chart?.type"
        [labels]="charts[i].chart?.labels"
        [datasets]="charts[i].chart?.datasets"
        [options]="charts[i].chart?.options"
        [plugins]="charts[i].chart?.plugins"
        [legend]="charts[i].chart?.legend">
      </canvas>
    </div>
  </gridster-item>
</gridster>
