@import 'src/content/scss/var.scss';

gridster {
  &.gridster-widgets {
    display: block;
    margin: -16px -16px 32px;
    background: none;
    width: auto;

    .gridster-column {
      border-left: 1px solid $widgetGridBorderColor;
      border-right: 1px solid $widgetGridBorderColor;
    }

    .gridster-row {
      border-top: 1px solid $widgetGridBorderColor;
      border-bottom: 1px solid $widgetGridBorderColor;
    }

    .dashboard-card {
      border-radius: $cardRadius;
      .chart-filter {
        height: 48px;
      }
      .dashboard-card-header {
        height: 48px;
        padding: 0 12px 0 24px;
        display: flex;
        align-items: center;

        .drag-handle {
          cursor: move;
        }

        h3 {
          padding: 0;
          margin: 0;
          line-height: 48px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      .dashboard-card-content {
        height: calc(100% - 48px);
        padding: 0 24px;
        box-sizing: border-box;
      }
    }
    &.mobile {
      overflow-y: visible;
      height: auto;
    }
  }
}
