<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <span class="start-posirion"></span>
      <div class="end-position">
        <button mat-button
          class="btn-with-icon"><i class="icon icon-outline-get_app"></i> Template</button>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <!-- criteria card -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">Criteria</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row half-breakpoint-760">
          <div class="col-3">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Distributor"
                [(value)]='criteria.distributor'
                [formControl]="criteria.distributorFormControl"
                required>
                <mat-option *ngFor="let i of distributors"
                  [value]="i.value"> {{i.viewValue}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Distributor's email"
                [formControl]="criteria.emailFormControl"
                [(ngModel)]="criteria.email"
                [errorStateMatcher]="matcher"
                required />
              <mat-error *ngIf="criteria.emailFormControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Service Type"
                [(value)]='criteria.serviceType'
                [formControl]="criteria.serviceTypeFormControl">
                <mat-option *ngFor="let i of serviceTypes"
                  [value]="i.value"> {{i.viewValue}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Carrier"
                [(value)]='criteria.carrier'
                [formControl]="criteria.carrierFormControl"
                required>
                <mat-option *ngFor="let i of carriers"
                  [value]="i.value"> {{i.viewValue}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- end of criteria card -->
    <!-- files card -->
    <app-files-card (selectedFiles)="generateDisabled=false"></app-files-card>
    <!-- end of files card -->
  </div>
  <div class="centered-button">
    <button mat-flat-button
      [disabled]="generateDisabled"
      (click)="generate()"
      class="bigger-btn"
      color="primary">Generate</button>
  </div>
</div>
