.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px - 96px);
}

@media only screen and (max-width: 760px) {
  .half-breakpoint-760 {
    .col-3 {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .half-breakpoint-760 {
    .col-3 {
      width: 100%;
    }
  }
}
