<div class="dialog-content normal-dialog">
  <header>
    <h3>Mapping Columns</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="wrap">
        <p>To proceed the batch shipment, please fix the 5 unmatched Columns from <strong
            class="file-name">{{workingData.fileName}}</strong></p>
      </div>
      <div class="mapping-dialog-list">
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width readonly-field">
              <input matInput
                placeholder="Column Title within File"
                value="Contact email"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="System Title"
                [(ngModel)]="workingData.systemTitleEmail"
                [formControl]="workingData.systemTitleEmailFormControl"
                required>
                <mat-option *ngFor="let item of systemTitles"
                  [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width readonly-field">
              <input matInput
                placeholder="Column Title within File"
                value="Cell Phone"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="System Title"
                [(ngModel)]="workingData.systemTitlePhone"
                [formControl]="workingData.systemTitlePhoneFormControl"
                required>
                <mat-option *ngFor="let item of systemTitles"
                  [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width readonly-field">
              <input matInput
                placeholder="Column Title within File"
                value="State"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="System Title"
                [(ngModel)]="workingData.systemTitleState"
                [formControl]="workingData.systemTitleStateFormControl"
                required>
                <mat-option *ngFor="let item of systemTitles"
                  [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width readonly-field">
              <input matInput
                placeholder="Column Title within File"
                value="Full Address "
                readonly>
            </mat-form-field>
          </div>
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="System Title"
                [(ngModel)]="workingData.systemTitleAddress"
                [formControl]="workingData.systemTitleAddressFormControl"
                required>
                <mat-option *ngFor="let item of systemTitles"
                  [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width readonly-field">
              <input matInput
                placeholder="Column Title within File"
                value="Birthday"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-s-6">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="System Title"
                [(ngModel)]="workingData.systemTitleBirthday"
                [formControl]="workingData.systemTitleBirthdayFormControl"
                required>
                <mat-option *ngFor="let item of systemTitles"
                  [value]="item.value">{{item.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="submit()"
            cdkFocusInitial> Submit </button>
        </div>
      </div>
    </footer>
  </form>
</div>
