<app-main-toolbar [title]="workingData.title"
  [backBtnFlag]="workingData.backBtnFlag"></app-main-toolbar>
<div class="scroll-block gray-bg"
  [perfectScrollbar]>
  <div class="inner-content login-inner-content">
    <!-- steps -->
    <div class="steps-wrap">
      <app-steps class="page-steps"
        [steps]="instantQuoteSteps"></app-steps>
      <button type="button"
        mat-icon-button
        (click)="drawer.toggle()"><i class="icon icon-info_outline"></i></button>
    </div>
    <!-- dynamic content -->
    <mat-drawer-container class="inner-dynamic-container"
      autosize>
      <div class="inner-dynamic-sidenav-content">
        <!-- Duty & Taxes Bill card -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Duty & Taxes Bill</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <mat-select placeholder="Bill to"
                    [(value)]='taxes.billTo'
                    [formControl]="taxes.billToFormControl">
                    <mat-option *ngFor="let i of billToList"
                      [value]="i.value"> {{i.viewValue}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="Accounr #"
                    [(ngModel)]="taxes.account">
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field color="accent"
                  class="full-width">
                  <input matInput
                    placeholder="SED #"
                    [(ngModel)]="taxes.sed">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of Duty & Taxes Bill -->
        <!-- Product card -->
        <mat-card class="card product-card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Product</mat-card-title>
            <div class="end-position">
              <app-button-select class="btn-box"
                [value]="currencyValue"
                [items]="currencyItems"
                (change)="currencyChange($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="product-form">
              <div class="product-line"
                *ngFor="let item of products; let i = index">
                <div class="row breackpoint-720">
                  <div class="col-5">
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="Description"
                            [(ngModel)]="item.description"
                            [formControl]="item.descriptionFormControl"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field color="accent"
                          class="full-width with-info">
                          <input matInput
                            placeholder="HS Code"
                            [(ngModel)]="item.hsCode"
                            [formControl]="item.hsCodeFormControl"
                            required>
                          <i class="icon icon-info_outline"
                            matTooltip="{{item.hsCodeTooltip}}"
                            [matTooltipPosition]="'above'"
                            matTooltipClass="normal-tooltip"></i>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="row">
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            required
                            placeholder="QTY"
                            [(ngModel)]="item.qty"
                            [formControl]="item.qtyFormControl"
                            [errorStateMatcher]="qtyMatcher"
                            mask="00">
                          <mat-error *ngIf="!item.qtyFormControl.hasError('required')"> MAX 35</mat-error>
                          <mat-error *ngIf="item.qtyFormControl.hasError('required')"> Required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="$/Unit"
                            [(ngModel)]="item.unit"
                            [formControl]="item.unitFormControl"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="Ext. Price"
                            [(ngModel)]="item.price"
                            [formControl]="item.priceFormControl">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf="item.removable"
                  mat-icon-button
                  class="delete-btn"
                  (click)="removeRow(i)"><i class="icon icon-close"></i></button>
              </div>
              <button mat-icon-button
                color="accent"
                (click)="addRow()"><i class="icon icon-add_circle"></i></button>
            </div>
          </mat-card-content>
          <div class="total-line item-row">
            <div class="start-position">
              <strong>Total {{currencyValue}}</strong>
            </div>
            <div class="end-position">
              <em>{{total}}</em>
            </div>
          </div>
        </mat-card>
        <!-- end of product card -->
        <!-- contact block -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Contact</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="checkbox-line">
              <mat-checkbox>Same as Sender infomation</mat-checkbox>
            </div>
            <div class="row half-breackpoint-600">
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Name"
                    [formControl]="contact.nameFormControl"
                    [(ngModel)]="contact.name"
                    required />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Phone"
                    [formControl]="contact.phoneFormControl"
                    [(ngModel)]="contact.phone"
                    mask="000 000 0000"
                    required />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Email"
                    [formControl]="contact.emailFormControl"
                    [(ngModel)]="contact.email"
                    [errorStateMatcher]="matcher"
                    required />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Broker Name"
                    [formControl]="contact.brokerNameFormControl"
                    [(ngModel)]="contact.brokerName" />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Tax ID"
                    [formControl]="contact.taxFormControl"
                    [(ngModel)]="contact.tax" />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field class="full-width"
                  color="accent">
                  <input matInput
                    placeholder="Recipient Tax ID"
                    [formControl]="contact.recipientTaxFormControl"
                    [(ngModel)]="contact.recipientTax" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of contact block -->
      </div>
      <mat-drawer #drawer
        class="inner-dynamic-sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        position="end"
        [opened]="mobileQuery.matches ? false : true"
        [perfectScrollbar]>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="invoice-details">
              <app-img-box class="bottom-space"
                [url]="invoiceDetails.logo"></app-img-box>
              <app-data-block class="bottom-space"
                label="Service"
                [value]="invoiceDetails.service"
                [bold]="true"></app-data-block>
              <app-data-block class="bottom-space"
                label="Quote"
                [value]="invoiceDetails.quote | currency"
                [bold]="true"></app-data-block>
            </div>
            <app-ship-details-sidebar *ngIf="detailsData"
              [data]="detailsData"></app-ship-details-sidebar>
          </mat-card-content>
        </mat-card>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div class="">
    <div class="centered-button login-bottom-row">
      <button class="bigger-btn"
        mat-flat-button
        color="primary"
        (click)="processingFunction()">Submit & Pay</button>
    </div>
  </div>
</div>
