.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

.half-breackpoint-600 {
  @media only screen and (max-width: 600px) {
    .col-4 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 480px) {
    .col-4 {
      width: 100%;
    }
  }
}

.breackpoint-720 {
  @media only screen and (max-width: 720px) {

    >.col-5,
    >.col-7 {
      width: 100%;
      float: none;
    }
  }
}
