<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Quote">
    <app-job-board-quote></app-job-board-quote>
  </mat-tab>
  <mat-tab label="LTL">
    <app-job-board-ltl></app-job-board-ltl>
  </mat-tab>
  <mat-tab label="Work order">
    <app-job-board-work-order></app-job-board-work-order>
  </mat-tab>
</mat-tab-group>
