<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content guest-instatn-quote-inner">
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <div class="row">
      <div class="col-8">
        <mat-card class="card big-info-card">
          <mat-card-header class="bottom-border">
            <mat-card-title class="with-icon">
              <app-img-box class="header-image"
                [url]="data.delivery?.logo"></app-img-box>
              <span>{{data.delivery?.name}}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-6">
                <!-- from -->
                <app-info-block [data]="data?.from"></app-info-block>
              </div>
              <div class="col-6">
                <!-- from contact -->
                <app-info-block [data]="data?.fromContact"></app-info-block>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <!-- to -->
                <app-info-block [data]="data?.to"></app-info-block>
              </div>
              <div class="col-6">
                <!-- to contact-->
                <app-info-block [data]="data?.toContact"></app-info-block>
              </div>
            </div>
            <div class="divider">&nbsp;</div>
            <div class="row">
              <div class="col-6">
                <app-info-list [data]="data?.additionalInfoLeft"></app-info-list>
              </div>
              <div class="col-6">
                <app-info-list [data]="data?.additionalInfoRight"></app-info-list>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card class="card small-info-card">
          <mat-card-header>
            <mat-card-title>Charges</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-info-list [right]="true"
              [data]="data?.charges"></app-info-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
