.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
}

::ng-deep {
  @media only screen and (max-width: 991px) {
    .guest-instatn-quote-inner {
      .small-widgets {
        flex-wrap: wrap;
      }

      .small-widget-wrap {
        width: 33.33% !important;
        min-width: 33.33% !important;
      }

      .col-4,
      .col-8 {
        width: 100%;
      }
    }
  }
}
