<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- cheques list -->
      <div class="table-list-item item-row cheque-item"
        *ngFor="let item of chequeData"
        (click)="clickOnChequeItem()">
        <i class="icon icon-description"></i>
        <div class="start-position">
          <div class="inner-el">
            <app-data-block label="Wire Transfer"
              value="{{item.id}}"
              bold="{{true}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Paid"
              value="{{item.paidDate}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Amount ({{item.currency}})"
              value="{{item.paidAmount | currency}}"
              [right]="true"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Comment"
              value="{{item.comment}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of cheques list -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
      </div>
    </div>
  </div>
</div>
