@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 48px - 49px);
}
.empty-data {
  height: calc(100vh - 48px - 73px);
}
.inner-content {
  padding-top: 24px;
  padding-bottom: 24px;
}

::ng-deep {
  .table-list-item {
    &.cheque-item {
      padding-left: 64px;
      padding-right: 48px;
      > i {
        &.icon {
          color: $iconColor;
          position: absolute;
          left: 24px;
          top: 24px;
        }
      }
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        .data-el {
          &.right-position {
            text-align: left;
          }
        }
      }
      .start-position {
        width: 40%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        @media only screen and (max-width: 700px) {
          flex-wrap: wrap;
        }
        .inner-el {
          width: 50%;
          @media only screen and (max-width: 991px) {
            width: 40%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
            &:not(:first-child) {
              padding-top: 12px;
            }
          }
        }
      }
      .end-position {
        width: 60%;
        @media only screen and (max-width: 991px) {
          width: 100%;
          justify-content: flex-start;
        }
        .inner-el {
          width: 75%;
          padding-left: 3%;
          @media only screen and (max-width: 991px) {
            padding-top: 12px;
            width: 40%;
            padding-left: 0;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
          }
          &:first-child {
            width: 25%;
            padding-left: 0;
            @media only screen and (max-width: 991px) {
              width: 40%;
            }
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
