<div class="dialog-content small-dialog">
  <header>
    <h3>Print</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <div class="checkbox-line">
        <mat-checkbox color="accent"
          [(ngModel)]="printInfo.shippingLabel">Shipping Label</mat-checkbox>
      </div>
      <div class="checkbox-line">
        <mat-checkbox color="accent"
          [(ngModel)]="printInfo.customsInvoice">Customs Invoice</mat-checkbox>
      </div>
      <div class="checkbox-line">
        <mat-checkbox color="accent"
          [(ngModel)]="printInfo.orderDetails">Order Details</mat-checkbox>
      </div>
      <div class="checkbox-line">
        <mat-checkbox color="accent"
          [(ngModel)]="printInfo.packingList">Packing List</mat-checkbox>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="print()"
          cdkFocusInitial> Print </button>
      </div>
    </div>
  </footer>
</div>
