<div class="dialog-content normal-dialog">
  <header>
    <h3>Schedule Pickup</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="wrap">
        <app-message class="dialog-message"
          [checkboxText]="messageCheckboxText">{{message}}</app-message>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Pickup Date</mat-label>
            <input matInput
              [matDatepicker]="picker"
              placeholder="MM/DD/YY"
              [formControl]="pickupDateControl"
              [(ngModel)]="pickupDateValue"
              (dateChange)="getPickDate()"
              [min]="minDate">
            <mat-datepicker-toggle matSuffix
              color="primary"
              [for]="picker"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <app-time-field [placeholder]="'Pickup Time'"
            (time)="getPickTime($event)"></app-time-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <app-time-field [placeholder]="'Closing Time'"
            (time)="getClosingTime($event)"></app-time-field>
        </div>
        <div class="col-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Pickup Location"
              [(value)]="modalData.pickupLocation"
              [formControl]="pickupLocationFormControl">
              <mat-option *ngFor="let item of pickupLocations"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <textarea matInput
              autosize
              #note
              maxlength="100"
              [(ngModel)]="modalData.note"
              placeholder="Note"
              [formControl]="noteFormControl"
              rows="1"></textarea>
            <mat-hint align="end">{{note.value?.length || 0}}/100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="confirm()"
            cdkFocusInitial> Confirm </button>
        </div>
      </div>
    </footer>
  </form>
</div>
