<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <!-- row -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Location"
              [(ngModel)]="modalData.location"
              [formControl]="validation.location"
              required>
              <mat-option *ngFor="let item of locations"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Expired Date</mat-label>
            <input matInput
              [matDatepicker]="expiredDateField"
              placeholder="MM/DD/YY"
              [formControl]="validation.expired"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="expiredDateField"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #expiredDateField
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Title"
              [(ngModel)]="modalData.newsTitle"
              [formControl]="validation.newsTitle"
              required />
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Text</mat-label>
            <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              [(ngModel)]="modalData.newsMessage"
              [formControl]="validation.newsMessage"
              required></textarea>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="spacer"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> {{data.actionButton}} </button>
        </div>
      </div>
    </footer>
  </form>
</div>
