<div class="dialog-content normal-dialog">
  <header>
    <h3>Link Orphan Orders</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-12">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Customer</mat-label>
          <mat-select [(ngModel)]="modalData.customer"
            [formControl]="validation.customer"
            required>
            <mat-option *ngFor="let item of customers"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="link()"
          cdkFocusInitial
          [disabled]="validation.customer.hasError('required')"> Link </button>
      </div>
    </div>
  </footer>
</div>
