<div class="scroll-block  table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="security-content">
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          required>
        <button mat-icon-button
          matSuffix
          (click)="hide = !hide">
          <i class="icon icon-{{hide ? 'outline-visibility_off' : 'outline-visibility'}}"></i>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          placeholder="New Password"
          [type]="hideNew ? 'password' : 'text'"
          required>
        <button mat-icon-button
          matSuffix
          (click)="hideNew = !hideNew">
          <i class="icon icon-{{hideNew ? 'outline-visibility_off' : 'outline-visibility'}}"></i>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width"
        color="accent">
        <input matInput
          placeholder="Confirm Password"
          [type]="hideConfirm ? 'password' : 'text'"
          required>
        <button mat-icon-button
          matSuffix
          (click)="hideConfirm = !hideConfirm">
          <i class="icon icon-{{hideConfirm ? 'outline-visibility_off' : 'outline-visibility'}}"></i>
        </button>
      </mat-form-field>
      <div class="center-card-btn">
        <button mat-flat-button
          color="primary"
          disabled
          class="bigger-btn"
          (click)="savePassword()">Save</button>
      </div>
    </div>
  </div>
</div>
