.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
}

:host {
  .security-content {
    max-width: 482px;
    padding: 24px 48px;
    .center-card-btn {
      padding-top: 24px;
    }
    @media only screen and (max-width: 480px) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
