<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Specialty Requests">
    <app-pending-rates-specialty-requests></app-pending-rates-specialty-requests>
  </mat-tab>
  <mat-tab label="Batch">
    <app-pending-rates-batch></app-pending-rates-batch>
  </mat-tab>
</mat-tab-group>
