<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Ship">
    <app-saved-ship></app-saved-ship>
  </mat-tab>
  <mat-tab label="Specialty Requests">
    <app-saved-specialty-requests></app-saved-specialty-requests>
  </mat-tab>
</mat-tab-group>
