<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!batchEmpty">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- serch -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- filter button -->
        <button *ngIf="!selection"
          mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <button *ngIf="selection"
          mat-flat-button
          [disabled]="disableShip"
          color="primary"
          (click)="shipFunction()">Ship</button>
        <div class="el">
          <app-dot-menu [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <!-- batches list -->
    <div class="table-list-items">
      <div *ngFor="let item of pendingRatesBatches"
        class="table-list-item selection-row rates-batch-item"
        [ngClass]="{'selected-row': item.selected}"
        (click)="clickOnRow()">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Distributor"
              value="{{item.pendingDistributor}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="SHIPT"
              value="{{item.pendingShipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Info Error"
              value="{{item.pendingInfoError}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block *ngIf="item.pendingRateError"
              label="Rate Error"
              value="{{item.pendingRateError}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block *ngIf="item.pendingTotal"
              label="Total"
              value="{{item.pendingTotal | currency}}"
              [right]="true"
              [details]="item.pendingTotalDetails"
              (infoClick)="openTotalDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status.name"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <ul class="button-list one-btn"
          *ngIf="!item.status.name && !selection">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="shipFunction(); $event.stopPropagation();">Ship</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="batchSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of batches list -->
  </div>
  <div class="empty-data"
    *ngIf="batchEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
