.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

::ng-deep {
  .table-list-item {
    &.rates-batch-item {
      @media only screen and (max-width: 991px) {
        padding-left: 24px;
        padding-right: 24px;
        .item-settings,
        .mat-checkbox.single-checkbox {
          top: 12px;
        }
        .button-list {
          &.one-btn {
            min-height: 68px;
          }
        }
      }
      .start-position {
        width: 25%;
        @media only screen and (max-width: 991px) {
          width: 100%;
          padding: 0 0 12px 40px;
        }
      }
      .end-position {
        width: 75%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        @media only screen and (max-width: 700px) {
          app-data-block {
            &:not(.no-transform) {
              .data-el {
                padding-left: 96px;
                &.right-position {
                  padding-left: 96px;
                }
              }
            }
          }
        }
        .inner-el {
          width: 14%;
          &:first-child,
          &:last-child {
            width: 29%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
            &:first-child,
            &:last-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
