@import 'src/content/scss/var.scss';

.small-widgets {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    flex-wrap: wrap;
    .small-widget-wrap {
      width: 50% !important;
    }
  }

  @media only screen and (max-width: 480px) {
    .small-widget-wrap {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.small-widget-wrap {
  width: 100%;
  min-width: 25%;
  padding: 0 24px 24px;

  &.short-widget {
    min-width: 13%;
  }
}

::ng-deep {
  .compare-widgets {
    .small-widget-wrap {
      .data-el {
        &.right-position {
          padding-right: 0;
        }
      }
      .compare-data {
        display: block;
        color: $teal;
        font-size: 13px;
        letter-spacing: 0.23px;
        &.mat-warn {
          color: $red;
        }
        &.right-align-widget {
          text-align: right;
          @media only screen and (max-width: 800px) {
            text-align: left;
          }
        }
      }
    }
  }
}
