<div class="small-widgets compare-widgets">
  <div class="small-widget-wrap"
    *ngFor="let item of smallWidgets"
    [ngStyle]="{'min-width.%': 100/smallWidgets.length}"
    [ngClass]="{'right-align-widget': item?.right, 'left-align-widget': !item?.right, 'short-widget': item.short}">
    <app-data-block [data]="item"></app-data-block>
    <span [ngClass]="{'right-align-widget': item?.right, 'mat-warn': item.compareData.warn}"
      class="compare-data">{{item.compareData.data}}</span>
  </div>
</div>
