@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 184px);
}

:host {
  .supplies-list {
    --auto-grid-min-size: 276px;
    display: grid;
    grid-template-columns: repeat(auto-fill,
        minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 16px;

    .card-wrap {
      display: flex;
      justify-content: center;

      .mat-card {
        &.card {
          &.supplies-item {
            max-width: 300px;
            width: 100%;
            margin-bottom: 0;
            position: relative;
            cursor: pointer;
            @include animation();

            .single-checkbox {
              position: absolute;
              top: 12px;
              left: 12px;
              opacity: 0;
              @include animation();
            }

            &:hover {
              .single-checkbox {
                opacity: 1;
              }

              &:not(.check-item) {
                background: $menuItemHover;
              }
            }

            &.check-item {
              background: $primaryLight;
              box-shadow: $cardShadow;

              .single-checkbox {
                opacity: 1;
              }
            }

            .mat-card-content {
              figure {
                height: 130px;
                margin: 32px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  display: block;
                  max-width: 80%;
                  max-height: 130px;
                }
              }

              .card-data {
                min-height: 64px;
                padding: 12px 0;
                line-height: 20px;
                position: relative;

                strong {
                  font-weight: 500;
                  font-size: 14px;
                  display: block;
                }

                em {
                  display: block;
                  font-style: normal;
                  color: $textColorLight;
                }
              }

              .card-counter {
                position: absolute;
                top: 12px;
                right: 0px;
                width: 48px;
              }
            }
          }
        }
      }
    }
  }

  .selected-info {
    display: flex;
    align-items: center;

    strong {
      display: block;
      font-weight: 500;
    }

    em {
      display: block;
      font-style: normal;
      font-size: 20px;
      color: $green;
      font-weight: 500;
      min-width: 64px;
      padding-left: 24px;
      text-align: right;
    }
  }
}
