<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <!-- search -->
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown *ngIf="!selection"
          [options]="carriersList"
          (select)="carriersFunction($event)"></app-custom-dropdown>
        <!-- sum info -->
        <div *ngIf="summ&&selection"
          class="selected-info">
          <strong>Total</strong>
          <em>{{summ}}</em>
        </div>
        <!-- Submit button -->
        <div class="el"
          *ngIf="selection">
          <button mat-flat-button
            color="primary"
            (click)="submit()">Submit</button>
        </div>
        <!-- settings -->
        <app-dot-menu *ngIf="!selection"
          [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of content toolbar -->
    <!-- supplies list -->
    <div class="supplies-list"
      *ngIf="!dataEmpty">
      <div class="card-wrap"
        *ngFor="let item of suppliesList">
        <mat-card class="card supplies-item"
          [ngClass]="{'check-item':item.check}"
          (click)="clickOnCard(item);">
          <mat-checkbox class="
          single-checkbox"
            [(ngModel)]="item.check"
            (change)="selectCard(item)"
            (click)="$event.stopPropagation();"
            color="accent">
          </mat-checkbox>
          <mat-card-content>
            <figure>
              <img src="{{item.logo}}"
                alt="{{item.name}}">
            </figure>
            <div class="card-data">
              <strong>{{item.name}}</strong>
              <em>{{item.carrier}}</em>
              <div class="card-counter">
                <mat-form-field color="accent"
                  class="full-width single-field with-underline">
                  <input mask="0*"
                    matInput
                    maxlength="2"
                    [(ngModel)]="item.counter">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- end of supplies list -->
    <!-- empty data -->
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
    <!-- end of empty data -->
  </div>
</div>
