<mat-tab-group class="page-tabs"
  dynamicHeight
  disableRipple
  [animationDuration]="'0ms'">
  <mat-tab label="Carriers">
    <app-wo-carriers></app-wo-carriers>
  </mat-tab>
  <mat-tab label="Services">
    <app-wo-library-services></app-wo-library-services>
  </mat-tab>
  <mat-tab label="Agents">
    <app-wo-library-agents></app-wo-library-agents>
  </mat-tab>
  <mat-tab label="Messages">
    <app-wo-library-messages></app-wo-library-messages>
  </mat-tab>
</mat-tab-group>
