<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row  content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- download -->
        <button mat-icon-button
          (click)="download()">
          <i class="icon icon-outline-get_app"></i>
        </button>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <!-- chart -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{widget.name}}</mat-card-title>
        <div class="end-position">
          <div class="complex-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="widgetMenu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #widgetMenu="matMenu"
              class="slide-toggle-menu collapse-dropdown">
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="widget.settings.chartValue"> Chart Value </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
              <div class="collapse-dropdown-wrap"
                [perfectScrollbar]>
                <mat-accordion (click)="$event.stopPropagation();">
                  <div class="collapse-content">
                    <div class="exp-title-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header expandedHeight="48px">
                          <mat-panel-title>Chart Type</mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                          *ngFor="let item of widget.settings.chartTypes"
                          class="item"
                          (click)="chartTypeClick(item)">{{item}}</button>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="report-chart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
    <!-- contant list -->
    <div class="table-list-items">
      <div *ngFor="let item of arList"
        class="table-list-item simple-data"
        (click)="rowClick(item)">
        <div class="start-position">
          <div class="inner-el">
            <app-img-box url="{{item.logo}}"
              icon="business">
            </app-img-box>
          </div>
          <div class="inner-el">
            <app-data-block class="no-transform"
              label="{{item.customerId}}"
              value="{{item.companyName}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Invoices"
              value="{{item?.invoices}}"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.deposit}">
            <app-data-block *ngIf="item?.deposit"
              label="Deposit ({{item?.currency}})"
              value="{{item?.deposit | currency}}"
              right="{{true}}"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.credit}">
            <app-data-block *ngIf="item?.credit"
              label="Credit ({{item?.currency}})"
              value="{{item?.credit | currency}}"
              right="{{true}}"
              [details]="item?.creditDetails"
              (infoClick)="openCreditInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.receivable}">
            <app-data-block *ngIf="item?.receivable"
              label="Receivable ({{item?.currency}})"
              value="{{item?.receivable | currency}}"
              right="{{true}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
  </div>
</div>
