.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.start-position {
  .inner-el {
    margin-right: 16px;
  }
}
:host {
  .table-list-item {
    @media only screen and (max-width: 991px) {
      flex-wrap: wrap;
    }
    .start-position {
      width: 30%;
      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }
    .end-position {
      width: 70%;
      @media only screen and (max-width: 991px) {
        width: 100%;
        padding-left: 12px;
      }
      @media only screen and (max-width: 700px) {
        padding-left: 0;
      }
      .inner-el {
        width: 25%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        &:first-child {
          width: 15%;
          @media only screen and (max-width: 991px) {
            width: 100%;
          }
        }
      }
    }
  }
}
