<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <app-content-toolbar [filterBtn]="true"
      (filterOpen)="filterOpen()"
      [period]="true"
      (periodData)="getPeriod($event)"
      [toolbarSettings]="contentToolbarSettings"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- item -->
      <div *ngFor="let item of trackings"
        class="table-list-item franchise-tracking"
        [ngClass]="{'new': item.new}"
        (click)="clickRowFunction(item)">
        <div class="start-position">
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.created}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Revenue"
              value="{{item.revenue | currency}}"
              [right]="true"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Profit"
              value="{{item.profit | currency}}"
              [right]="true"></app-data-block>
          </div>
        </div>
        <div class="status-label {{ item.status?.color }}"> {{ item.status?.name }} </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
      <!-- end of item -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
