.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.franchise-tracking {
      @media only screen and (max-width: 1200px) {
        flex-wrap: wrap;
        padding-right: 24px;

        .item-settings {
          margin-top: 0;
          top: 18px;
        }

        .status-label {
          margin-top: 0;
          top: 18px;
        }
      }

      .start-position {
        width: 18%;

        @media only screen and (max-width: 1200px) {
          width: 55%;
        }
      }

      .end-position {
        width: 82%;

        @media only screen and (max-width: 1200px) {
          width: 100%;
        }

        .inner-el {
          width: 13%;

          @media only screen and (max-width: 1200px) {
            width: 18.66%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.address-el {
            width: 25%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

        }
      }
    }
  }
}
