@import 'src/content/scss/var.scss';

::ng-deep {
  .data-el {
    &.editable-block {
      cursor: pointer;

      span {
        &.value {
          color: $teal;
        }
      }
    }

    span {
      &.value {
        align-items: center;
        display: flex;
        white-space: normal;

        .area {
          margin-left: 24px;
        }
      }

      &.with-badge {
        position: relative;
        padding-right: 56px;

        em {
          &.small-chip {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -8px;
            font-style: normal;
            line-height: 17px;
          }
        }
      }
    }

    &.right-position {
      span {
        &.value {
          justify-content: flex-end;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .data-el {
      span {
        &.value {
          overflow: hidden;
        }
      }
    }
  }

  .editable-data-block {
    &.mat-form-field {
      &.full-width {
        overflow: hidden;
        margin-bottom: -12px;

        .mat-form-field-wrapper {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        &.mat-form-field-appearance-legacy {
          .mat-form-field-underline {
            bottom: 0;
          }

          .mat-form-field-infix {
            padding: 0.5em 0 0.2em;
            border-top-width: 12px;
          }

          .mat-form-field-label {
            font-size: 12px;
            -webkit-transform: scale(1) perspective(100px) translateZ(0.001px);
            -ms-transform: translateY(19px) scale(1);
            transform: translateY(-19px) scale(1) perspective(100px) translateZ(0.001px);
          }
        }
      }
    }
  }
}
