<div *ngIf="!editField"
  class="data-el"
  [ngClass]="{'right-position': data?.right||right, 'editable-block':editable}"
  (click)="editableField()">
  <span class="caption"> {{data?.label}}{{label}} <button *ngIf="data?.details||details.length"
      mat-icon-button
      class="info-btn"
      (click)="$event.stopPropagation(); openDetails(data?.details, details)"><i
        class="icon icon-info_outline"></i></button>
  </span>
  <span class="value"
    [ngClass]="{'strong-value': data?.strong||strong, 'warn': wrongFlag, 'strong':data?.bold||bold,
    'big-value':data?.big||big, 'with-badge':badge}">
    {{isNumber(data?.value) && (data?.right || data?.currency)?currencyConvert(data?.value):data?.value||value}}<em
      class="small-chip"
      *ngIf="badge">{{badge}}</em>
    <ng-content></ng-content>
  </span>
</div>
<mat-form-field *ngIf="editField&&!editablePiker"
  class="full-width editable-data-block"
  color="accent">
  <input appAutoFocus
    matInput
    #el
    placeholder="{{label}}"
    [(ngModel)]="value"
    (blur)="cangeValue(el.value)">
</mat-form-field>
<mat-form-field *ngIf="editField&&editablePiker"
  class="full-width editable-data-block">
  <mat-label>{{label}}</mat-label>
  <input matInput
    #dateField
    [matDatepicker]="picker"
    placeholder="MM/DD/YY"
    [formControl]="dateControl"
    (dateChange)="cangeValue(dateField.value)">
  <mat-datepicker-toggle matSuffix
    [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
