.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.account-customer-list-item {
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 24px;

        .email-btn,
        .active-button {
          position: absolute;
          top: 12px;
          right: 48px;
        }

        .active-button {
          right: 88px;
        }

        .item-settings {
          top: 12px;
          margin-top: 0;
        }
      }

      .start-position {
        width: 40%;

        @media only screen and (max-width: 991px) {
          width: 65%;
        }
      }

      .end-position {
        width: 60%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 28%;

          @media only screen and (max-width: 991px) {
            width: 35%;
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.phone-el {
            width: 24%;

            @media only screen and (max-width: 991px) {
              width: 30%;
            }

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &.email-btn,
          &.active-button {
            width: 10%;

            @media only screen and (max-width: 991px) {
              width: 40px;
              height: 40px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
