<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button mat-icon-button
          (click)="filterOpen()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row simple-data account-customer-list-item"
        *ngFor="let item of customersList"
        (click)="clickOnCustomerItem(item)">
        <div class="start-position">
          <div class="inner-el">
            <app-img-box url="{{item.logo}}"
              icon="business">
            </app-img-box>
          </div>
          <div class="inner-el">
            <app-data-block class="no-transform"
              label="{{item.customerId}}"
              value="{{item.customerName}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Contact"
              value="{{item.contactPerson}}"></app-data-block>
          </div>
          <div class="inner-el email-btn">
            <a target="_blank"
              mat-icon-button
              href="mailto:{{item.email}}"
              (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
          </div>
          <div class="inner-el phone-el">
            <app-data-block label="Phone"
              value="{{item.phoneNumber}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.salesPerson}">
            <app-data-block *ngIf="item.salesPerson"
              label="Sales"
              value="{{item.salesPerson}}"></app-data-block>
          </div>
          <div class="inner-el active-button">
            <button mat-icon-button
              (click)="loginToCustomer(item); $event.stopPropagation()"
              *ngIf="item.active"><i class="icon icon-account_circle"></i></button>
          </div>
        </div>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.active"> Active </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
            <button mat-menu-item
              [ngClass]="{'warn-item': (i==='Delete'||i==='Cancel')}"
              *ngFor="let i of itemSettings"
              (click)="itemSettingsFunction(i, item)">
              <span>{{i}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="newCustomer()"><i class="icon icon-add"></i></button>
