<div class="chips-menu-wrap">
  <button class="add-chip"
    mat-icon-button
    color="accent"
    [matMenuTriggerFor]="menu"
    (click)="$event.stopPropagation(); openMenu()"><i class="icon icon-add_circle"></i></button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let item of showItems">
      <button mat-menu-item
        (click)="clickFunction(item)">
        <span class="area color-{{item.color}}">{{item.name}}</span>
      </button>
    </div>
    <button class="add-btn"
      *ngIf="action"
      mat-menu-item
      (click)="addNewChip()"><i class="icon icon-add_circle"></i> {{action}}</button>
  </mat-menu>
</div>
