<div class="dialog-content huge-dialog">
  <header>
    <h3>Update Status</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-4">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="modalData.country"
              [formControl]="validation.country"
              (ngModelChange)="changeCountry($event)"
              required>
              <mat-option *ngFor="let item of countries"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-5">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="City"
              [formControl]="validation.city"
              [(ngModel)]="modalData.city"
              [matAutocomplete]="auto"
              required />
            <mat-autocomplete #auto="matAutocomplete"
              [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredCityes | async"
                [value]="option"> {{option}} </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-s-3">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Status Alert</mat-label>
            <input matInput
              [matDatepicker]="picker"
              placeholder="MM/DD/YY"
              [formControl]="validation.statusAlert"
              [(ngModel)]="modalData.statusAlert"
              (dateChange)="getPickDate()"
              [min]="minDate"
              required>
            <mat-datepicker-toggle matSuffix
              [for]="picker"
              [disableRipple]="true">
              <i matDatepickerToggleIcon
                class="icon icon-date_range"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #picker
              color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-4">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Message Type</mat-label>
            <mat-select [(ngModel)]="modalData.messageType"
              [formControl]="validation.messageType"
              required>
              <mat-option *ngFor="let item of messageTypes"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-8">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Message</mat-label>
            <mat-select [(ngModel)]="modalData.message"
              [formControl]="validation.message"
              required>
              <mat-option *ngFor="let item of messages"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field class="full-width"
            color="accent">
            <mat-label>Note</mat-label>
            <textarea matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              maxlength="100"
              [(ngModel)]="modalData.note"
              [formControl]="validation.note"></textarea>
            <mat-hint align="end">{{modalData.note.length}} / 100</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="update()"
            cdkFocusInitial> Update </button>
        </div>
      </div>
    </footer>
  </form>
</div>
