@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 96px);
}

:host {
  .status-box {
    margin-right: 8px;
  }

  .row {
    &.centered-col {
      .col-8 {
        float: none;
        margin: 0 auto;
      }
    }
  }

  .no-documents {
    color: $textColorLight;
    text-align: center;
    padding: 0 24px 24px;
  }

  .ticket-content {
    .row {
      .col-3 {
        @media only screen and (max-width: 1150px) {
          width: 50%;
        }

        @media only screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
