<div class="scroll-block"
  [perfectScrollbar]>
  <app-warning-info-block *ngIf="ticket.documentsMissing.length"
    title="Documents Missing">Please provide the XXXXX within a week or contact us. </app-warning-info-block>
  <div class="inner-content details-content">
    <!-- content toolbar -->
    <div class="row"
      [ngClass]="{'centered-col': (ticket.type.name!=='Claims' || newTicketFlag)}">
      <div class="col-8"
        [ngClass]="{'col-12': (ticket.type.name ==='Claims')}">
        <mat-toolbar class="item-row content-toolbar">
          <div class="start-position">
          </div>
          <div class="end-position"
            *ngIf="!newTicketFlag&&readonlyFlag">
            <!-- edit button -->
            <div class="el">
              <button mat-icon-button
                (click)="readonlyFlag = !readonlyFlag"><i class="icon icon-outline-edit"></i></button>
            </div>
          </div>
        </mat-toolbar>
      </div>
    </div>
    <!-- enf of content toolbar -->
    <div class="row"
      [ngClass]="{'centered-col': (ticket.type.name!=='Claims' || newTicketFlag)}">
      <div class="col-8">
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Ticket</mat-card-title>
            <div class="end-position"
              *ngIf="!newTicketFlag&&readonlyFlag">
              <!-- status -->
              <div class="data-el status-box {{ticket.status?.color}}">
                <span class="value">{{ticket.status?.name}}</span>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content class="ticket-content">
            <div class="row">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Type</mat-label>
                  <mat-select [disabled]="readonlyFlag"
                    [(ngModel)]="ticket.type.name"
                    [formControl]="validation.type"
                    required>
                    <mat-option *ngFor="let item of types"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Reason</mat-label>
                  <mat-select [disabled]="readonlyFlag"
                    [(ngModel)]="ticket.reason"
                    [formControl]="validation.reason"
                    required>
                    <mat-option *ngFor="let item of reasons"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Contact Preference</mat-label>
                  <mat-select [disabled]="readonlyFlag"
                    [(ngModel)]="ticket.contactPreference"
                    [formControl]="validation.contactPreference">
                    <mat-option *ngFor="let item of contactPreferences"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- additional for technical -->
            <div class="row"
              *ngIf="ticket.type.name==='Technical'">
              <div class="col-6">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Store Name</mat-label>
                  <mat-select [disabled]="readonlyFlag"
                    [(ngModel)]="ticket.storeName"
                    [formControl]="validation.storeName">
                    <mat-option *ngFor="let item of storeNames"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Selling Channel</mat-label>
                  <mat-select [disabled]="readonlyFlag"
                    [(ngModel)]="ticket.sellingChannel"
                    [formControl]="validation.sellingChannel">
                    <mat-option *ngFor="let item of sellingChannels"
                      [value]="item"> {{item}} </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <input type="text"
                    placeholder="Order"
                    matInput
                    [(ngModel)]="ticket.tracking"
                    [formControl]="validation.tracking"
                    [matAutocomplete]="trackingAuto"
                    (ngModelChange)="changeTracking(ticket.tracking)"
                    [readonly]="readonlyFlag"
                    required>
                  <mat-autocomplete #trackingAuto="matAutocomplete">
                    <mat-option *ngFor="let item of trackingsFiltered | async"
                      [value]="item"> {{item}} </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <!-- end of additional for technical -->
            <!-- additional for claim -->
            <div class="row"
              *ngIf="ticket.type.name==='Claims'">
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Received</mat-label>
                  <input matInput
                    [matDatepicker]="receivedDateField"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.receivedDate"
                    [readonly]="readonlyFlag"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="receivedDateField"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #receivedDateField
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field color="accent"
                  class="full-width"
                  [ngClass]="{'readonly-field': readonlyFlag}">
                  <mat-label>Mailed</mat-label>
                  <input matInput
                    [matDatepicker]="submitedDateField"
                    placeholder="MM/DD/YY"
                    [formControl]="validation.submitedDate"
                    [readonly]="readonlyFlag"
                    [min]="minDate"
                    required>
                  <mat-datepicker-toggle *ngIf="!readonlyFlag"
                    matSuffix
                    [for]="submitedDateField"
                    [disableRipple]="true">
                    <i matDatepickerToggleIcon
                      class="icon icon-date_range"></i>
                  </mat-datepicker-toggle>
                  <mat-datepicker #submitedDateField
                    color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <!-- end of additional for claim -->
            <div class="wrap">
              <mat-form-field color="accent"
                class="full-width"
                [ngClass]="{'readonly-field': readonlyFlag}">
                <textarea matInput
                  [readonly]="readonlyFlag"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20"
                  #subject="cdkTextareaAutosize"
                  maxlength="100"
                  placeholder="Subject"
                  [(ngModel)]="ticket.subject"
                  [formControl]="validation.subject"
                  required></textarea>
                <mat-hint *ngIf="!readonlyFlag"
                  align="end">{{ticket.subject?.length || 0}}/100</mat-hint>
              </mat-form-field>
            </div>
            <div class="wrap">
              <mat-form-field color="accent"
                class="full-width"
                [ngClass]="{'readonly-field': readonlyFlag}">
                <textarea matInput
                  [readonly]="readonlyFlag"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20"
                  #description="cdkTextareaAutosize"
                  maxlength="200"
                  placeholder="Description"
                  [(ngModel)]="ticket.description"
                  [formControl]="validation.description"
                  required></textarea>
                <mat-hint *ngIf="!readonlyFlag"
                  align="end">{{ticket.description?.length || 0}}/200</mat-hint>
              </mat-form-field>
            </div>
            <app-dynamic-imags [data]="ticket.documents"
              (cahnge)="changeDocuments($event, ticket.documents)"></app-dynamic-imags>
          </mat-card-content>
        </mat-card>
        <div class="checkbox-line card-align">
          <mat-checkbox color="accent"
            [(ngModel)]="ticket.notifyMeForUpdates">Notify Me For Updates</mat-checkbox>
        </div>
      </div>
      <div class="col-4"
        *ngIf="ticket.type.name==='Claims' && !newTicketFlag">
        <div class="row">
          <div class="col-m-6"
            *ngIf="ticket.type.name==='Claims'">
            <mat-card class="card small-info-card">
              <mat-card-header>
                <mat-card-title>Shipment</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="shipment-card-content">
                  <div class="wrap">
                    <app-img-box [url]="shipment.logo"></app-img-box>
                  </div>
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Tracking"
                        value="{{shipment.tracking}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Value of Goods"
                        value="{{shipment.valueOfGoods | currency}}"></app-data-block>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Ship"
                        value="{{shipment.shipData}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Cost"
                        value="{{shipment.cost|currency}}"></app-data-block>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-s-6">
                      <app-data-block label="Insurance"
                        value="{{shipment.insurance}}"></app-data-block>
                    </div>
                    <div class="col-s-6">
                      <app-data-block label="Amount"
                        value="{{shipment.amount | currency}}"></app-data-block>
                    </div>
                  </div>
                  <div class="card-divider">&nbsp;</div>
                  <div class="wrap">
                    <app-data-block label="Email"
                      value="{{shipment.email}}"></app-data-block>
                  </div>
                  <div class="wrap">
                    <app-data-block label="Phone"
                      value="{{shipment.phone}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Shipping"
                      value="{{shipment.shipping}}"></app-data-block>
                  </div>
                  <!-- row -->
                  <div class="wrap">
                    <app-data-block label="Billing"
                      value="{{shipment.billing}}"></app-data-block>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!readonlyFlag && !newTicketFlag"
    class="centered-button">
    <button class="large-btn"
      mat-flat-button
      color="primary"
      (click)="readonlyFlag = !readonlyFlag">Save</button>
  </div>
  <div *ngIf="newTicketFlag"
    class="centered-button">
    <button class="large-btn"
      mat-flat-button
      color="primary"
      (click)="createTicket()">Create</button>
  </div>
</div>
