<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card">
        <mat-card-content>
          <div class="logo-row">
            <app-upload-avatar (click)="upload()">
              <app-image size="80"
                [placeholderName]="userData.userName"
                [imageUrl]="userData.userAvatar"></app-image>
            </app-upload-avatar>
          </div>
          <!-- row -->
          <div class="row top-level">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="User Name"
                  [(ngModel)]="userData.userName"
                  [formControl]="validation.userName"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="User Role"
                  [(ngModel)]="userData.userRole"
                  [formControl]="validation.userRole"
                  (selectionChange)="changeRole(userData.userRole)"
                  required>
                  <mat-option *ngFor="let item of userRoles"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row top-level">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Email / Account"
                  [(ngModel)]="userData.userEmail"
                  [formControl]="validation.userEmail"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="
                  validation.userEmail.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Phone"
                  [(ngModel)]="userData.userPhone"
                  [formControl]="validation.userPhone"
                  mask="000 000 0000"
                  required />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card *ngIf="userData.permissions"
        class="card">
        <mat-card-header>
          <mat-card-title>Permissions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list class="card-list">
            <mat-list-item *ngFor="let item of userData.permissions">
              <h4 class="mat-line">{{item}}</h4>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="centered-button"
    *ngIf="newFlag">
    <button (click)="addUser()"
      mat-flat-button
      class="bigger-btn"
      color="primary">Add</button>
  </div>
</div>
