@import 'src/content/scss/var';

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  .table-list-item {
    &.franchise-item {
      padding-right: 160px;
      align-items: center;

      @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        padding-right: 24px;
      }

      .start-position {
        width: 60%;

        @media only screen and (max-width: 700px) {
          width: 70%;
        }
      }

      .end-position {
        width: 40%;

        @media only screen and (max-width: 700px) {
          width: 100%;
        }

        .inner-el {
          width: 100%;

          @media only screen and (max-width: 700px) {
            padding-top: 12px;
          }
        }
      }

      .email-btn {
        position: absolute;
        right: 104px;
        top: 50%;
        margin-top: -20px;

        @media only screen and (max-width: 700px) {
          margin-top: 0;
          top: 12px;
        }
      }

      .user-button {
        position: absolute;
        top: 50%;
        right: 56px;
        margin-top: -20px;

        @media only screen and (max-width: 700px) {
          margin-top: 0;
          top: 12px;
        }
      }


      .item-settings {
        @media only screen and (max-width: 700px) {
          margin-top: 0;
          top: 12px;
        }
      }
    }
  }
}
