<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
      </div>
      <div class="end-position">
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item simple-data item-row franchise-item"
        *ngFor="let item of franchises"
        (click)="clickOnRowItem(item)">
        <div class="start-position">
          <div class="img-line">
            <app-img-box [url]="item.franchiseLogo"
              icon="{{business}}"></app-img-box>
            <span class="value strong"> {{item.franchiseName}} <span *ngIf="item.masterFlag"
                class="chip-label light-green">Master</span></span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span class="value">{{item.phone}}</span>
          </div>
        </div>
        <a class="email-btn"
          target="_blank"
          mat-icon-button
          href="mailto:{{item.email}}"
          (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
        <button class="user-button"
          mat-icon-button
          (click)="loginToCustomer(item); $event.stopPropagation()"><i class="icon icon-account_circle"></i></button>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.masterFlag"> Master </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
            <button mat-menu-item
              [ngClass]="{'warn-item': (i==='Delete'||i==='Cancel')}"
              *ngFor="let i of itemSettings"
              (click)="itemSettingsFunction(i, item)">
              <span>{{i}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
  <button class="bottom-right-position"
    mat-fab
    color="primary"
    (click)="newFranchise()"><i class="icon icon-add"></i></button>
