<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item item-row simple-data user-list-item"
        *ngFor="let item of usersList">
        <div class="start-position">
          <div class="img-line">
            <app-image size="40"
              placeholderName="{{item.userName}}"
              imageUrl="{{item.userAvatar}}"></app-image>
            <span class="value strong">{{item.userName}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span class="value">{{item.userRole}}</span>
          </div>
          <div class="inner-el email-btn">
            <a target="_blank"
              mat-icon-button
              href="mailto:{{item.userEmail}}"
              (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
          </div>
          <div class="inner-el">
            <span class="value">{{item.userPhone}}</span>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addUser()"><i class="icon icon-add"></i></button>
