.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 132px);
}

::ng-deep {
  .batch-item-c {
    @media only screen and (max-width: 991px) {
      padding-right: 24px;

      .item-settings {
        top: 20px;
      }
    }

    .start-position {
      width: 25%;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }
    }

    .end-position {
      width: 75%;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }

      @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
      }

      .inner-el {
        width: 100%;

        @media only screen and (max-width: 991px) {
          padding-top: 12px;
          padding-right: 0;
          width: 100%;

          .data-el {
            &.right-position {
              padding-right: 0;
            }
          }
        }
      }
    }

    &.admin-batch {
      @media only screen and (max-width: 1170px) {
        display: block;
        padding-right: 24px;

        .item-settings {
          top: 20px;
          margin-top: 0;
        }

        .status-label {
          margin: 0;
          top: 20px;
        }
      }

      .start-position {
        width: 20%;

        @media only screen and (max-width: 1170px) {
          width: 100%;
        }
      }

      .end-position {
        width: 80%;

        @media only screen and (max-width: 1170px) {
          width: 100%;
        }

        @media only screen and (max-width: 900px) {
          flex-wrap: wrap;
        }

        .inner-el {
          &.date-el {
            max-width: 102px;
          }

          &.shift-el {
            max-width: 80px;
          }

          @media only screen and (max-width: 1170px) {
            padding-top: 12px;
            padding-right: 0;
            width: 100%;

            .data-el {
              &.right-position {
                padding-right: 0;
              }
            }
          }

          @media only screen and (max-width: 900px) {
            width: 33.33%;

            &.date-el {
              max-width: 33.33%;
            }

            &.shift-el {
              max-width: 33.33%;
            }

            .data-el {
              &.right-position {
                text-align: left;
              }
            }
          }

          @media only screen and (max-width: 700px) {
            width: 100%;

            &.date-el,
            &.shift-el {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
