<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <app-content-toolbar [filterBtn]="true"
      (filterOpen)="filterOpen()"
      [period]="true"
      (periodData)="getPeriod($event)"
      [toolbarSettings]="contentToolbarSettings"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of batches"
        class="table-list-item batch-item-c"
        [ngClass]="{'admin-batch': adminFlag}"
        (click)="clickOnRow()">
        <div class="start-position">
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el"
            *ngFor="let i of item.blocks"
            [ngClass]="{'shift-el': i.label==='SHIFT', 'date-el': i.label==='Created'}">
            <app-data-block [data]="i"></app-data-block>
          </div>
        </div>
        <div *ngIf="item.status"
          class="status-label {{item.status.color}}">{{item.status.name}}</div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettings($event)"></app-dot-menu>
      </div>
    </div>
  </div>
  <div class="empty-data"
    *ngIf="dataEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
</div>
<button *ngIf="!adminFlag"
  routerLink="/customer/shipping/batch-shipping"
  class="bottom-right-position"
  mat-fab
  color="primary"><i class="icon icon-add"></i></button>
