<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
        <app-custom-dropdown [options]="packageTypes"
          (select)="packageTypesFilter($event)"></app-custom-dropdown>
        <div class="el settings-el">
          <!-- settings -->
          <app-dot-menu [items]="toolbarSettings"
            (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- items -->
      <div class="table-list-item item-row simple-data no-link carriers-list-item"
        *ngFor="let item of carriersList">
        <div class="col-s-5">
          <app-img-box [url]="item.serviceLogo"></app-img-box>
          <span class="value strong">{{item.serviceName}}</span>
        </div>
        <div class="col-s-5">
          <span class="body_2"
            *ngFor="let n of item.packageTypes, let i = index"><span *ngIf="i">,</span> {{n}}</span>
        </div>
        <div class="col-s-2">
          <span class="body_2"
            *ngIf="item.caFlag">CA</span>
          <span class="body_2"
            *ngIf="item.caFlag&&item.usaFlag">, </span>
          <span class="body_2"
            *ngIf="item.usaFlag">USA</span>
        </div>
        <div class="item-settings">
          <button mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()">
            <i class="icon icon-more_vert"></i>
          </button>
          <mat-menu #menu="matMenu"
            class="slide-toggle-menu">
            <mat-list>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.caFlag"> CA </mat-slide-toggle>
              </mat-list-item>
              <mat-list-item (click)="$event.stopPropagation()">
                <mat-slide-toggle color="accent"
                  labelPosition="before"
                  [(ngModel)]="item.usaFlag"> USA </mat-slide-toggle>
              </mat-list-item>
            </mat-list>
          </mat-menu>
        </div>
      </div>
      <!-- end of items -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
