.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

::ng-deep {
  .table-list-item {
    &.carriers-list-item {
      @media only screen and (max-width: 640px) {
        flex-wrap: wrap;
      }

      .col-s-5 {
        &:first-child {
          padding-left: 0;
          display: flex;
          align-items: center;

          app-img-box {
            margin-right: 16px;
          }
        }
      }

      @media only screen and (max-width: 640px) {
        [class^='col-s-'] {
          width: 100%;
          padding: 12px 0 0;

          &:first-child {
            padding: 0;
          }
        }
      }
    }
  }
}
