<mat-accordion>
  <mat-expansion-panel class="card-panel"
    (opened)="CODCurrency()"
    (closed)="CODCurrency()">
    <mat-expansion-panel-header [expandedHeight]="'48px'">
      <mat-panel-title> COD Service </mat-panel-title>
      <div class="end-position">
        <app-button-select *ngIf="showCurrency"
          class="btn-box"
          [value]="currencyValue"
          [items]="currencyItems"
          (change)="currencyChange($event)"></app-button-select>
      </div>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="COD">
            <mat-option *ngFor="let item of cods"
              [value]="item.value"> {{item.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="COD amount" />
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
