<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-expansion-panel class="card-panel colors-block"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Sub-Franchise Of </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-8">
            <mat-form-field color="accent"
              class="full-width">
              <mat-select placeholder="Franchise"
                [(ngModel)]="data.subFranchiseOf"
                [formControl]="validation.subFranchiseOf"
                required>
                <mat-option *ngFor="let item of franchises"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Payment </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-3">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Net Terms (Days)"
                [(ngModel)]="data.paymentNetTerms"
                [formControl]="validation.paymentNetTerms"
                required>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Net Warning (Days)"
                [(ngModel)]="data.paymentNetWarning"
                [formControl]="validation.paymentNetWarning"
                required>
            </mat-form-field>
          </div>
          <div class="col-6">
            <div class="checkbox-line field-size">
              <mat-checkbox class="value"
                [(ngModel)]="data.paymentDisable"> Disable after <input class="simple-field"
                  [(ngModel)]="data.paymentDisableAfter"
                  [formControl]="validation.paymentDisableAfter"> days of non payment. </mat-checkbox>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Carrir Settings </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-6">
            <div class="checkbox-line">
              <mat-checkbox class="value"
                [(ngModel)]="data.useOwnCarrierAccount">Use Own Carrier Account</mat-checkbox>
            </div>
          </div>
          <div class="col-6">
            <div class="checkbox-line">
              <mat-checkbox class="value"
                [(ngModel)]="data.useeShipperCarrierAccount">Use eShipper Carrier Account</mat-checkbox>
            </div>
          </div>
        </div>
        <div class="items-list">
          <div class="row row-with-button"
            *ngFor="let item of data.carrierAccountsList">
            <div class="col-6"><span class="value">{{item.carrierName}}</span></div>
            <div class="col-3"><span class="caption">{{item.region}}</span></div>
            <div class="col-3"><span class="caption">{{item.accountOwner}}</span></div>
            <app-dot-menu class="item-settings"
              [items]="itemCarrierSettings"
              (backData)="carrierAccountItemSettingsFunction($event, item)"></app-dot-menu>
          </div>
          <button mat-button
            class="add-btn"
            (click)="addCarrierAccount()"><i class="icon icon-add_circle"></i>Add Carrier Account</button>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Billing </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- row -->
        <div class="row pb-16">
          <div class="col-4">
            <div class="checkbox-line">
              <mat-checkbox class="value"
                [(ngModel)]="data.billingTransactional">Transactional</mat-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="checkbox-line">
              <mat-checkbox class="value"
                [(ngModel)]="data.billingRecurringFee">Recurring Fee</mat-checkbox>
            </div>
          </div>
          <div class="col-4">
            <div class="checkbox-line">
              <mat-checkbox class="value"
                [(ngModel)]="data.billingOneTimeFee">One Time Fee</mat-checkbox>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="card-section"
          *ngIf="data.billingTransactional">
          <h3>Transactional</h3>
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Cost Type"
                  [(ngModel)]="data.transactionalCostType"
                  [formControl]="validation.transactionalCostType">
                  <mat-option *ngFor="let item of costTypes"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Transaction Fee Tiers"
                  [(ngModel)]="data.transactionalTransactionFeeTiers"
                  [formControl]="validation.transactionalTransactionFeeTiers">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="card-section"
          *ngIf="data.billingRecurringFee">
          <h3>Recurring Fee</h3>
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Frequency"
                  [(ngModel)]="data.recurringFeeFrequency"
                  [formControl]="validation.recurringFeeFrequency">
                  <mat-option *ngFor="let item of frequencies"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Recurring Fee"
                  [(ngModel)]="data.recurringFeeRecurringFee"
                  [formControl]="validation.recurringFeeRecurringFee">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Original License"
                  [(ngModel)]="data.recurringFeeOriginalLicense"
                  [formControl]="validation.recurringFeeOriginalLicense">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Setup Cost"
                  [(ngModel)]="data.recurringFeeSetupCost"
                  [formControl]="validation.recurringFeeSetupCost">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="card-section"
          *ngIf="data.billingOneTimeFee">
          <h3>One Time Fee</h3>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Original License"
                  [(ngModel)]="data.oneTimeFeeOriginalLicense"
                  [formControl]="validation.oneTimeFeeOriginalLicense">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Setup Cost"
                  [(ngModel)]="data.oneTimeFeeSetupCost"
                  [formControl]="validation.oneTimeFeeSetupCost">
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
