<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Carrier Name"
              [(ngModel)]="modalData.carrierName"
              [formControl]="validation.carrierName"
              required>
              <mat-option *ngFor="let item of carrierNames"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Region"
              [(ngModel)]="modalData.region"
              [formControl]="validation.region"
              required>
              <mat-option *ngFor="let item of regions"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-select placeholder="Account Owner"
              [(ngModel)]="modalData.accountOwner"
              [formControl]="validation.accountOwner"
              required>
              <mat-option *ngFor="let item of accountOwners"
                [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Account Number"
              [(ngModel)]="modalData.accountNumber"
              [formControl]="validation.accountNumber"
              required />
          </mat-form-field>
        </div>
      </div>
      <!-- row  -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Meter Numbe"
              [(ngModel)]="modalData.meterNumber"
              [formControl]="validation.meterNumber"
              required />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Key"
              [(ngModel)]="modalData.key"
              [formControl]="validation.key"
              required />
          </mat-form-field>
        </div>
      </div>
      <!-- row -->
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              type="password"
              placeholder="Password"
              [(ngModel)]="modalData.password"
              [formControl]="validation.password"
              required />
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="send()"
            cdkFocusInitial> {{data.actionButton}} </button>
        </div>
      </div>
    </footer>
  </form>
</div>
