<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter button -->
        <button mat-icon-button
          (click)="filterOpen()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- list item -->
      <div class="table-list-item no-link item-row simple-data payee-item"
        *ngFor="let item of payeeList">
        <div class="start-position">
          <div class="inner-el">
            <span class="value strong">{{item.companyName}}</span>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <span class="value">{{item.payeeType}}</span>
          </div>
          <div class="inner-el">
            <span class="value">{{item.payeePayment}}</span>
          </div>
          <div class="inner-el email-btn">
            <a target="_blank"
              mat-icon-button
              href="mailto:{{item.payeeEmail}}"
              (click)="$event.stopPropagation();"><i class="icon icon-mail_outline"></i></a>
          </div>
          <div class="inner-el">
            <span class="value">{{item.payeePhone}}</span>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of list item -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="createPayee()"><i class="icon icon-add"></i></button>
