.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 240px);
}

:host {
  .table-list-item {
    &.payee-item {
      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
        padding-right: 24px;

        .email-btn {
          position: absolute;
          top: 4px;
          right: 48px;
        }

        .item-settings {
          top: 4px;
          margin: 0;
        }
      }

      .start-position {
        display: block;
        width: 40%;

        @media only screen and (max-width: 900px) {
          width: 80%;
        }
      }

      .end-position {
        width: 60%;

        @media only screen and (max-width: 900px) {
          width: 100%;
        }

        @media only screen and (max-width: 700px) {
          flex-wrap: wrap;
        }

        .inner-el {
          width: 30%;

          @media only screen and (max-width: 900px) {
            width: 33.33%;
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &.email-btn {
            width: 10%;

            @media only screen and (max-width: 900px) {
              width: 40px;
              height: 40px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
