<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Carrier"
            [(ngModel)]="modalData.carrier">
            <mat-option *ngFor="let item of carriers"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Service"
            [(ngModel)]="modalData.service">
            <mat-option *ngFor="let item of services"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Destination"
            [(ngModel)]="modalData.destination">
            <mat-option *ngFor="let item of destinations"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Origin Postal"
            [(ngModel)]="modalData.originPostal">
        </mat-form-field>
      </div>
      <div class="col-s-3">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Dest'n Postal"
            [(ngModel)]="modalData.destnPostal">
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
