@import 'src/content/scss/var.scss';

::ng-deep {
  .small-widgets {
    display: flex;
    justify-content: flex-start;

    .data-el {
      &.right-position {
        float: none !important;
        padding-right: 0;
        @media only screen and (max-width: 800px) {
          text-align: left !important;
          padding-left: 0 !important;
        }
      }
    }
    .small-widget-wrap {
      max-width: 240px;
      padding: 0 24px 24px;

      &.short-widget {
        min-width: 13%;
      }
    }

    &.dashboard-small-widgets {
      .small-widget-wrap {
        padding: 0 0 24px 24px;
      }
      .data-el {
        span {
          &.value {
            font-weight: 500;
            color: #2fb5c0;
            font-size: 24px;
            line-height: 28px;
            &.strong-value {
              font-weight: 500;
              color: #2fb5c0 !important;
              font-size: 24px !important;
              line-height: 28px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      .small-widget-wrap {
        width: 33.33% !important;
      }
    }

    @media only screen and (max-width: 600px) {
      .small-widget-wrap {
        width: 50% !important;
      }
    }
  }
}
