<div class="small-widgets"
  [ngClass]="{'dashboard-small-widgets': dashboardStyle}">
  <div class="small-widget-wrap"
    *ngFor="let item of smallWidgets"
    [ngStyle]="{'width.%': 100/smallWidgets.length}"
    [ngClass]="{'right-align-widget': item.right, 'left-align-widget': !item.right, 'short-widget': item.short}">
    <app-data-block [data]="item"></app-data-block>
  </div>
</div>
