.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px);
}

.empty-data {
  height: calc(100vh - 48px - 128px);
}

:host {
  @media only screen and (max-width: 1060px) {
    .table-list-item {
      &.invoice-item {
        .start-position {
          padding-left: 0;
        }
      }
    }
  }
}
