<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <app-content-toolbar period="true"
      (periodData)="getPeriod($event)"
      filterBtn="true"
      (filterOpen)="filterOpen()"
      searchFlag="true"
      (searchData)="searchFunction($event)"
      [toolbarSettings]='toolbarSettings'
      (backSettingsData)=(settingsFunction($event))></app-content-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- invouces -->
      <div class="table-list-item no-logo invoice-item"
        *ngFor="let item of invoicesList"
        (click)="clickOnInvoiceItem()">
        <div class="start-position">
          <div class="inner-el with-chip">
            <strong>{{item.id}} <span *ngIf="item.invoicePrefix"
                class="chip-label dark-blue">{{item.invoicePrefix}}</span></strong>
            <em>{{item.companyName}}</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el short">
            <app-data-block label="SHIPT"
              value="{{item.noOfShipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <div class="data-el">
              <app-data-block label="Invoiced"
                value="{{item.dateSubmitted}}"></app-data-block>
            </div>
          </div>
          <div class="inner-el short">
            <app-data-block label="Aging"
              value="{{item.aging}} d"
              [wrongFlag]="item.aging>30"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Due"
              value="{{item.dueDate}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total ({{item.currency}})"
              value="{{item.totalAmount | currency}}"
              [right]="true"
              [details]="item.totalDetails"
              (infoClick)="openTotalInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.lastPaymentDate}">
            <app-data-block *ngIf="item.lastPaymentDate"
              label="Paid"
              value="{{item.lastPaymentDate}}"></app-data-block>
          </div>
          <div class="inner-el"
            [ngClass]="{'hidden-700': !item.balanceDue}">
            <app-data-block *ngIf="item.balanceDue"
              label="Balance Due"
              value="{{item.balanceDue | currency}}"
              [right]="true"
              [wrongFlag]="true"></app-data-block>
          </div>
        </div>
        <div *ngIf="!getWarnFunction(item)"
          class="status-label {{ item.status?.color }}"> {{ item.status?.name }} </div>
        <ul class="button-list one-btn"
          *ngIf="getWarnFunction(item)">
          <li>
            <button mat-flat-button
              color="primary"
              (click)="payFunction(); $event.stopPropagation();">Pay</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of invouces -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
