<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row  content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="getSearch($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="submitFunction()">Submit</button>
        <div class="el">
          <!-- period -->
          <app-custom-dropdown *ngIf="!selection"
            [period]="true"
            (select)="getPeriod($event)"></app-custom-dropdown>
          <!-- sort -->
          <app-sort-btn *ngIf="!selection"
            (sortData)="getSortData($event)"></app-sort-btn>
          <!-- fiter -->
          <button *ngIf="!selection"
            mat-icon-button
            (click)="filterOpen()">
            <i class="icon icon-filter_list"></i>
          </button>
          <!-- settings -->
          <app-dot-menu *ngIf="!selection"
            [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- draft invoices -->
      <div *ngFor="let item of invoicesList"
        class="table-list-item selection-row no-logo draft-invoice"
        [ngClass]="{'new': item.new, 'no-link': !item.link}"
        [routerLink]="item.link?item.link:null">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent">
          </mat-checkbox>
          <h3>{{item.companyName}} <span class="small-chip"
              *ngIf="item.invoicePrefix">{{item.invoicePrefix}}</span></h3>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item?.dateCreated}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="SHIPT"
              value="{{item.noOfShipments}}"></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="Total ({{item.currency}})"
              value="{{item.totalAmount | currency}}"
              right="{{true}}"
              [details]="item.totalDetails"
              (infoClick)="openTotalDetails($event)"></app-data-block>
          </div>
          <div class="inner-el right-el">
            <app-data-block label="Profit"
              value="{{item.profit | currency}}"
              right="{{true}}"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="submitFunction(); $event.stopPropagation();">Submit</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
      <!-- end of draft invouces -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
  <!-- centerd button -->
  <div *ngIf="!dataEmpty"
    class="centered-button">
    <button mat-flat-button
      class="bigger-btn"
      color="primary"
      (click)="submitAll()">Submit All</button>
  </div>
</div>
