@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  min-height: calc(100vh - 48px - 96px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

:host {
  .table-list-item {
    &.draft-invoice {
      @media only screen and (max-width: 1140px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;

        .mat-checkbox {
          &.single-checkbox {
            margin-top: 0;
            top: 12px;
          }
        }

        .item-settings {
          margin-top: 0;
          top: 12px;
        }

        .button-list {
          min-height: 68px;
        }
      }

      .start-position {
        width: 45%;
        align-items: center;
        min-height: 48px;

        h3 {
          font-size: 15px;
          line-height: 24px;
          margin: 0;
          padding: 0;
          font-weight: 500;
          display: flex;
          align-items: center;

          .small-chip {
            margin-left: 16px;
            font-style: normal;
          }
        }

        @media only screen and (max-width: 1140px) {
          width: 100%;
          padding-bottom: 12px;
          padding-left: 40px;
        }
      }

      .end-position {
        width: 55%;

        @media only screen and (max-width: 1140px) {
          width: 100%;
        }

        .inner-el {
          width: 25%;

          @media only screen and (max-width: 700px) {
            padding-top: 12px;
            width: 100%;
          }
        }
      }
    }
  }
}
