<div class="info-block">
  <span class="caption">{{data?.label}}</span>
  <strong>{{data?.title}}</strong>
  <span *ngIf="data?.description">{{data?.description}}</span>
  <em *ngIf="data?.secondDescription">{{data?.secondDescription}}</em>
</div>
