@import 'src/content/scss/var.scss';

.info-block {
  line-height: 18px;
  padding: 0 0 16px;

  span,
  em,
  strong {
    display: block;
  }

  span {
    &.caption {
      line-height: 16px;
    }
  }

  em {
    font-style: normal;
  }

  span,
  em {
    font-size: 12px;
    color: $textColorLight;
  }

  strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
}
