@import 'src/content/scss/var.scss';

:host {
  .item-row {
    .start-position {
      .el {
        padding-right: 8px;
      }
    }
  }

  .files-messsage {
    display: block;
    margin: 0 -24px 16px;

    @media only screen and (max-width: 991px) {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  .upload-files {
    width: 100%;
    min-height: 320px;
  }

  .file-box {
    padding-bottom: 16px;
  }

  .file-list {
    min-height: 320px;

    .center-btn {
      display: block;
      margin: 0 auto;
    }

    ul {
      margin: 0 0 16px;
      padding: 0;
      list-style: none;

      li {
        min-height: 48px;
        padding: 6px 0;
        border-bottom: 1px solid $borderColor;

        &.item-row {
          @media only screen and (max-width: 600px) {
            display: block;
            position: relative;
            padding-right: 80px;

            .el {
              padding: 0;

              &.settings-box {
                min-width: 40px;
                position: absolute;
                top: 4px;
                right: 0;
              }
            }

            .file-success,
            .process-spinner {
              position: absolute;
              top: 12px;
              right: 48px;
            }

            .start-position,
            .end-position {
              display: block;
            }

            .button-box {
              min-width: 100%;
              padding-left: 80px;
              text-align: center;
            }
          }
        }

        .start-position {
          strong {
            font-weight: 400;
          }
        }

        .end-position {
          align-items: center;
        }

        .icons-box {
          min-width: 280px;
          display: flex;
          min-height: 40px;
          align-items: center;

          @media only screen and (max-width: 800px) {
            min-width: 160px;
          }
        }

        .button-box {
          min-width: 112px;
        }

        .settings-box {
          min-width: 56px;
        }

        .file-error {
          display: flex;
          min-height: 40px;
          align-items: center;

          i {
            &.icon {
              margin-right: 8px;
            }
          }

          em {
            font-style: normal;
          }
        }
      }
    }
  }

  .file-success {
    color: $green;
  }

  .file-error {
    color: $red;
  }
}
