<mat-card class="card">
  <mat-card-header class="item-row">
    <mat-card-title class="start-position">
      <div class="el">Files</div>
      <div class="el">
        <button mat-icon-button
          class="info-btn"
          (click)="openMessage = !openMessage"><i class="icon icon-info_outline"></i></button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-message [isOpen]="openMessage"
      class="files-messsage"
      [checkboxText]="messageCheckboxText">Welcome to eShipper Batch Shipping! You may use our Batch Shipping Template
      available for download at the top-right, or any template of your choice.</app-message>
    <div class="file-box">
      <div class="upload-files"
        [ngClass]="{'hidden': files.length}">
        <input type="file"
          #file
          style="display: none"
          (change)="onFilesAdded()"
          multiple />
        <button class="add-btn"
          mat-button
          (click)="addFiles()"><i class="icon icon-upload"></i> Add Files</button>
      </div>
      <div class="file-list"
        *ngIf="files.length">
        <ul>
          <li class="item-row"
            *ngFor="let item of data; let i=index">
            <div class="start-position"> <strong>{{ item.name }}</strong></div>
            <div class="end-position">
              <div class="el icons-box">
                <mat-spinner class="process-spinner"
                  *ngIf="item.process"
                  color="accent"
                  [diameter]="24">
                </mat-spinner>
                <i *ngIf="!item.process && item.success"
                  class="file-success icon icon-check"></i>
                <div class="file-error"
                  *ngIf="!item.process && !item.success">
                  <i class="icon icon-outline-report_problem"></i>
                  <em>8 Columns Error</em>
                </div>
              </div>
              <div class="el button-box">
                <button mat-flat-button
                  color="primary"
                  (click)="openMappingDialog()"
                  *ngIf="!item.process && !item.success">Map</button>
              </div>
              <div class="el settings-box">
                <app-dot-menu *ngIf="!item.process"
                  [items]="fileSettings"
                  (backData)="fileSettingsFunction($event)"></app-dot-menu>
              </div>
            </div>
          </li>
        </ul>
        <input type="file"
          #file
          style="display: none"
          (change)="onFilesAdded()"
          multiple />
        <button class="add-btn"
          mat-button
          (click)="addFiles()"><i class="icon icon-upload"></i> Add Files</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
