<app-main-toolbar [title]="workingData.title"
  [backBtnFlag]="workingData.backBtnFlag"></app-main-toolbar>
<div class="scroll-block gray-bg"
  [perfectScrollbar]>
  <div class="inner-content login-inner-content">
    <!-- steps -->
    <div class="steps-wrap">
      <app-steps class="page-steps"
        [steps]="instantQuoteSteps"></app-steps>
      <button type="button"
        mat-icon-button
        (click)="drawer.toggle()"><i class="icon icon-info_outline"></i></button>
    </div>
    <!-- dynamic content -->
    <mat-drawer-container class="inner-dynamic-container"
      autosize>
      <div class="inner-dynamic-sidenav-content">
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Payment</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-radio-group class="pay-list"
              aria-label="Payment option"
              [(ngModel)]="payment.value">
              <!-- paypal -->
              <div class="payment-row">
                <div class="item-row">
                  <div class="start-position">
                    <mat-radio-button color="accent"
                      value="PayPal">PayPal</mat-radio-button>
                  </div>
                  <div class="end-position">
                    <app-img-box [url]="'content/images/cards/paypal.svg'"></app-img-box>
                  </div>
                </div>
              </div>
              <!-- credit card -->
              <div class="payment-row">
                <div class="item-row">
                  <div class="start-position">
                    <mat-radio-button color="accent"
                      value="Credit Card">Credit Card</mat-radio-button>
                  </div>
                  <div class="end-position">
                    <app-img-box class="card-box"
                      *ngFor="let item of cards"
                      [url]="item.path"></app-img-box>
                  </div>
                </div>
                <!-- card box -->
                <div class="card-box"
                  *ngIf="payment.value==='Credit Card'">
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="full-width card-field"
                        color="accent">
                        <input matInput
                          placeholder="Card Number"
                          [formControl]="payment.creditCard.cardNumberFormControl"
                          required
                          mask="0000 0000 0000 0000"
                          [(ngModel)]="payment.creditCard.cardNumber" />
                        <figure *ngIf="payment.creditCard.cardIcon">
                          <img src="{{payment.creditCard.cardIcon}}"
                            alt="">
                        </figure>
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <app-card-date (change)="getCardDate($event)"></app-card-date>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="full-width card-field"
                        color="accent">
                        <input matInput
                          placeholder="CVC"
                          [formControl]="payment.creditCard.cvcFormControl"
                          required
                          mask="000"
                          [(ngModel)]="payment.creditCard.cvc" />
                        <figure *ngIf="payment.creditCard.cvcIcon">
                          <img src="{{payment.creditCard.cvcIcon}}"
                            alt="">
                        </figure>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <mat-form-field class="full-width"
                        color="accent">
                        <input matInput
                          placeholder="CardHolder Name"
                          [formControl]="payment.creditCard.cardHolderNameFormControl"
                          required
                          [(ngModel)]="payment.creditCard.cardHolderName" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <!-- end of card box -->
              </div>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Billing</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- billing box  -->
            <div class="billing-box">
              <div class="checkbox-line">
                <mat-checkbox [(ngModel)]="billing.sameSenderInformation">Same as Sender infomation</mat-checkbox>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="full-width"
                    color="accent">
                    <input matInput
                      placeholder="Name"
                      [formControl]="validation.nameFormControl"
                      [(ngModel)]="billing.name"
                      required />
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field color="accent"
                    class="full-width">
                    <mat-select placeholder="Country"
                      name="country"
                      [(ngModel)]="billing.country"
                      [formControl]="validation.countryFormControl"
                      (ngModelChange)="changeCountry(billing.country)"
                      required>
                      <mat-option *ngFor="let item of staticData.countries"
                        [value]="item">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <mat-form-field color="accent"
                    class="full-width">
                    <mat-select placeholder="{{staticData.stateLabel}}"
                      [(ngModel)]="billing.state"
                      [formControl]="validation.stateFormControl"
                      required>
                      <mat-option *ngFor="let item of staticData.provinces"
                        [value]="item">{{item}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="full-width"
                    color="accent">
                    <input matInput
                      placeholder="City"
                      [formControl]="validation.cityFormControl"
                      [(ngModel)]="billing.city"
                      [matAutocomplete]="auto"
                      required />
                    <mat-autocomplete #auto="matAutocomplete"
                      [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredCityes | async"
                        [value]="option"> {{option}} </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="full-width"
                    color="accent">
                    <input matInput
                      placeholder="{{staticData.zipLabel}}"
                      [formControl]="validation.zipFormControl"
                      required
                      mask="AAA AAA"
                      [(ngModel)]="billing.zip" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field class="full-width"
                    color="accent">
                    <input matInput
                      placeholder="Address 1"
                      [formControl]="validation.address1FormControl"
                      [(ngModel)]="billing.address1"
                      required />
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field class="full-width"
                    color="accent">
                    <input matInput
                      placeholder="Address 2"
                      [formControl]="validation.address2FormControl"
                      [(ngModel)]="billing.address2" />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- end of billing box -->
          </mat-card-content>
        </mat-card>
        <button mat-button
          (click)="openTextDialog()"
          class="btn-with-icon"><i class="icon info-tooltip icon-info_outline"></i> Disclamer</button>
        <div class="checkbox-line pl-12">
          <mat-checkbox>By continuing, you agree to eShipper's Terms & Conditions</mat-checkbox>
        </div>
      </div>
      <mat-drawer #drawer
        class="inner-dynamic-sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="mobileQuery.matches ? false : true"
        position="end"
        [perfectScrollbar]>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="invoice-details">
              <app-img-box class="bottom-space"
                [url]="invoiceDetails.logo"></app-img-box>
              <app-data-block class="bottom-space"
                label="Service"
                [value]="invoiceDetails.service"
                [bold]="true"></app-data-block>
              <app-data-block class="bottom-space"
                label="Quote"
                [value]="invoiceDetails.quote | currency"
                [bold]="true"></app-data-block>
            </div>
            <app-ship-details-sidebar *ngIf="detailsData"
              [data]="detailsData"></app-ship-details-sidebar>
          </mat-card-content>
        </mat-card>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div class="">
    <div class="bottom-row login-bottom-row">
      <div class="start-position">
        <button class="btn large-btn"
          mat-stroked-button
          color="primary"
          routerLink="/instant-quote/instant-quote-proceed">Back</button>
      </div>
      <div class="end-position">
        <button class="btn large-btn"
          mat-flat-button
          color="primary"
          routerLink="/instant-quote/instant-quote-invoice">Pay</button>
      </div>
    </div>
  </div>
</div>
