.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

:host {
  .pay-list {
    display: block;
    padding-bottom: 8px;
  }

  .payment-row {
    .item-row {
      min-height: 48px;
    }

    .card-box {
      margin-left: 36px;
      display: block;

      @media only screen and (max-width: 480px) {
        margin-left: 16px;
      }

      @media only screen and (max-width: 400px) {
        margin-left: 8px;
      }
    }
  }

  .card-box {
    padding: 0;
    margin-left: 36px;
    max-width: 520px;

    @media only screen and (max-width: 640px) {
      max-width: 280px;

      .col-5 {
        float: none;
        width: 100%;
      }

      .col-3 {
        width: 66.6667%;
        float: left;
      }

      .col-2 {
        width: 33.3333%;
        float: left;
      }
    }
  }

  .billing-box {
    max-width: 520px;
  }

  .pl-12 {
    padding-left: 12px;
  }
}
