<div class="dialog-content bigger-dialog">
  <header>
    <h3>Add Comment</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <textarea class="autosize"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              name="comment"
              [(ngModel)]="modalData.comment"
              placeholder="Comment"></textarea>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item">
        </div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="add()"
            cdkFocusInitial> Add </button>
        </div>
      </div>
    </footer>
  </form>
</div>
