<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="steps-wrap">
      <app-steps class="page-steps"
        [steps]="shipSteps"></app-steps>
      <button type="button"
        mat-icon-button
        (click)="drawer.toggle()"><i class="icon icon-info_outline"></i></button>
    </div>
    <mat-drawer-container class="inner-dynamic-container"
      autosize>
      <div class="inner-dynamic-sidenav-content">
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Rates</mat-card-title>
            <div class="end-position">
              <div class="el">
                <app-sort-btn [sortMenu]="sortMenu"
                  (sortData)="getSortData($event)"></app-sort-btn>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="rates-list">
              <app-rate-line class="rate-line"
                [ngClass]="{'selected': item.selected}"
                *ngFor="let item of rates"
                (click)="selectRate(item);"
                matRipple
                [matRippleColor]="primary-ripple"
                [rateItem]="item"></app-rate-line>
            </div>
          </mat-card-content>
        </mat-card>
        <button mat-button
          (click)="openTextDialog()"
          class="btn-with-icon"><i class="icon info-tooltip icon-info_outline"></i> Disclamer</button>
      </div>
      <mat-drawer #drawer
        class="inner-dynamic-sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="mobileQuery.matches ? false : true"
        position="end"
        [perfectScrollbar]>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-ship-details-sidebar *ngIf="detailsData"
              [data]="detailsData"></app-ship-details-sidebar>
          </mat-card-content>
        </mat-card>
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div class="centered-button">
    <div class="el">
      <button class="btn large-btn"
        mat-stroked-button
        color="primary">Save</button>
    </div>
    <div class="el">
      <button class="btn large-btn"
        mat-flat-button
        routerLink="/customer/shipping/ship/invoice"
        color="primary">Next</button>
    </div>
  </div>
</div>
