<div class="dialog-content small-dialog">
  <header>
    <h3>Goal Completion</h3>
  </header>
  <section [perfectScrollbar]>
    <mat-list role="list"
      class="goal-list">
      <mat-list-item role="listitem"
        *ngFor="let item of modalData"><i *ngIf="item.flag"
          class="icon icon-check"></i> <span>{{item.name}}</span> </mat-list-item>
    </mat-list>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          color="primary"
          class="cancel-dialog"
          (click)="closeDialog()"> Close </button>
      </div>
    </div>
  </footer>
</div>
