@import 'src/content/scss/var.scss';

::ng-deep {
  .goal-list {
    .mat-list-item {
      .mat-list-item-content {
        position: relative;
        justify-content: space-between;
        width: 100%;
        padding: 0 24px 0 56px;
        i {
          &.icon {
            color: $green;
            position: absolute;
            top: 50%;
            left: 16px;
            margin-top: -12px;
          }
        }
      }
    }
  }
}
