<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-6"
              *ngIf="roleAdminFlag">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Section Name"
                  [(ngModel)]="sectionName"
                  [formControl]="sectionFormControl"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Role Name"
                  [(ngModel)]="roleName"
                  [formControl]="roleFormControl"
                  required>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Assign Permissions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="role-options__content"
            *ngFor="let item of rolePermissions">
            <!-- complex lines -->
            <div class="exp-panel">
              <mat-expansion-panel>
                <div class="checkbox-line">
                  <mat-checkbox [(ngModel)]="item.sectionPermissions"
                    [(indeterminate)]="item.toolbarIndeterminate"
                    (change)="changeMainOption(item)">{{item.nameSectionPermissions}}</mat-checkbox>
                </div>
                <mat-expansion-panel-header expandedHeight="49px">
                  <mat-panel-title></mat-panel-title>
                </mat-expansion-panel-header>
                <div class="role-options__inner">
                  <div class="checkbox-line">
                    <mat-checkbox [(ngModel)]="item.subPermissions.permissionA"
                      (change)="changeInnerOption(item)">Permission A</mat-checkbox>
                  </div>
                  <div class="checkbox-line">
                    <mat-checkbox [(ngModel)]="item.subPermissions.permissionB"
                      (change)="changeInnerOption(item)">Permission B</mat-checkbox>
                  </div>
                  <div class="checkbox-line">
                    <mat-checkbox [(ngModel)]="item.subPermissions.permissionC"
                      (change)="changeInnerOption(item)">Permission C</mat-checkbox>
                  </div>
                  <div class="checkbox-line">
                    <mat-checkbox [(ngModel)]="item.subPermissions.permissionD"
                      (change)="changeInnerOption(item)">Permission D</mat-checkbox>
                  </div>
                </div>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- btn  -->
      <div class="centered-button">
        <button class="large-btn"
          mat-flat-button
          color="primary"
          (click)="save()"> Save </button>
      </div>
    </div>
  </div>
</div>
