<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element normal-animation"></app-simple-search>
      </div>
      <div class="end-position">
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item simple-data news-list-item"
        *ngFor="let item of newsList; let i = index">
        <div class="item-row">
          <div class="start-position">
            <span class="value strong">{{item.newsTitle}}</span>
            <span class="caption expire">Expire by {{item.expired}}</span>
            <span class="caption">{{item.location}}</span>
          </div>
          <app-dot-menu class="item-settings"
            [items]="itemSettings"
            (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
        </div>
        <div class="text-row">{{item.newsMessage}}</div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
<button class="bottom-right-position"
  mat-fab
  color="primary"
  (click)="addNews()"><i class="icon icon-add"></i></button>
