@import "src/content/scss/var.scss";

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 49px - 128px);
}

:host {
  .table-list-item {
    &.news-list-item {
      flex-wrap: wrap;
      padding-right: 0;
      .item-row {
        position: relative;
        padding-right: 24px;
      }
      .start-position {
        width: 80%;
        flex-direction: column;
        .caption {
          &.expire {
            color: $textColor;
          }
        }
      }
      .text-row {
        width: 100%;
        padding-top: 16px;
      }
    }
  }
}
