<div class="dialog-content small-dialog">
  <header>
    <h3>Widget Settings</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <div class="checkbox-line"
        *ngFor="let item of modalData">
        <mat-checkbox color="accent"
          [(ngModel)]="item.check">{{item.value}}</mat-checkbox>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial> Save</button>
      </div>
    </div>
  </footer>
</div>
