<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- content toolbar -->
      <mat-toolbar class="item-row content-toolbar">
        <div class="start-position"></div>
        <div class="end-position">
          <div class="el">
            <!-- settings -->
            <app-dot-menu [items]="toolbarSettings"
              (backData)="settingsFunction($event)"></app-dot-menu>
          </div>
        </div>
      </mat-toolbar>
      <!-- end of content toolbar -->
      <!-- content -->
      <mat-card class="card">
        <mat-card-content>
          <div class="dynamic-list with-settings">
            <div class="dynamic-list-item item-row"
              [ngClass]="{'missing-doc': !item.url}"
              *ngFor="let item of claimDocs, let i = index">
              <div class="start-position">
                <i *ngIf="!item.url"
                  class="icon icon-priority_high"></i>
                <i *ngIf="item.url"
                  class="icon icon-description"></i>
                <div class="el">
                  <h4 class="mat-line">{{item.name}}</h4>
                </div>
              </div>
              <div class="end-position">
                <app-dot-menu [items]="item.url?itemSettings:missingItemSettings"
                  (backData)="itemSettingsFunction($event, i)"></app-dot-menu>
              </div>
            </div>
            <button mat-button
              class="add-btn"
              (click)="addMissingDocument()"><i class="icon icon-add_circle"></i>Missing Document</button>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- end of content -->
    </div>
  </div>
  <button mat-fab
    class="bottom-right-position"
    color="primary"
    (click)="file.click()">
    <i class="icon icon-upload"></i>
  </button>
  <input type="file"
    #file
    style="display: none"
    multiple />
</div>
