<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="empty-data">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/503.svg"
            width="320"
            height="180"
            alt="">
        </figure>
        <h2>Oops! Something went wrong.</h2>
        <p>The server is currently unavailable <span>(because it is overloaded or down for maintenance)</span> </p>
        <button mat-flat-button
          color="primary">Go Back</button>
      </div>
    </div>
  </div>
</div>
