@import 'src/content/scss/var.scss';

:host {
  .reject-content {
    text-align: center;

    >i {
      &.icon {
        color: $red;
        margin: 0 auto 8px;
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 48px;
      }
    }

    h3 {
      padding: 0 0 8px;
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 32px;
      color: $red;
    }

    p {
      padding: 0 0 16px;
    }
  }

  .checkbox-line {
    &.last-row {
      padding-left: 24px;
      margin-top: 16px;
    }
  }
}
