<div class="dialog-content normal-dialog">
  <header> &nbsp; </header>
  <section [perfectScrollbar]>
    <div class="wrap reject-content">
      <i class="icon icon-close"></i>
      <h3>Quote Rejected</h3>
      <p>We are sorry this quote can't satisfy you, please let us know the reason.</p>
      <mat-radio-group [(ngModel)]="modalData.quoteRejected">
        <div class="row">
          <div class="col-s-6">
            <div class="checkbox-line">
              <mat-radio-button [value]="1">Pricing</mat-radio-button>
            </div>
          </div>
          <div class="col-s-6">
            <div class="checkbox-line">
              <mat-radio-button [value]="2">No need for shipment</mat-radio-button>
            </div>
          </div>
          <div class="col-s-6">
            <div class="checkbox-line">
              <mat-radio-button [value]="3">Info Changed</mat-radio-button>
            </div>
          </div>
          <div class="col-s-6">
            <div class="checkbox-line">
              <mat-radio-button [value]="4">Others</mat-radio-button>
            </div>
          </div>
        </div>
      </mat-radio-group>
    </div>
    <div class="wrap">
      <div class="checkbox-line last-row">
        <mat-checkbox color="accent"
          [(ngModel)]="modalData.requestNewQuote">Request new Quote</mat-checkbox>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          class="cancel-dialog"
          color="primary"
          (click)="okDialog()"> Submit </button>
      </div>
    </div>
  </footer>
</div>
