@import "src/content/scss/var.scss";

.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  .table-list-item {
    &.guest-quote-quick-list-item {
      padding-right: 160px;
      .status-icons {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 48px;
        width: 80px;
        height: 40px;
        i {
          &.icon {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $iconColor;
            position: absolute;
            top: 0;
            &.icon-registered {
              left: 0;
            }
            &.icon-checked-out {
              right: 0;
            }
          }
        }
      }
      @media only screen and (max-width: 700px) {
        flex-wrap: wrap;
        padding-right: 24px;
        .status-icons {
          top: 4px;
          margin-top: 0;
        }
        .item-settings {
          top: 4px;
        }
      }
      .start-position {
        width: 30%;
        @media only screen and (max-width: 700px) {
          width: 100%;
          padding-right: 124px;
        }
      }
      .end-position {
        width: 70%;
        @media only screen and (max-width: 700px) {
          width: 100%;
        }
        .inner-el {
          width: 29%;
          @media only screen and (max-width: 700px) {
            width: 100%;
          }
          &.short {
            width: 13%;
            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
