<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{widget.name}}</mat-card-title>
        <div class="end-position">
          <div class="complex-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="widgetMenu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #widgetMenu="matMenu"
              class="slide-toggle-menu collapse-dropdown">
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="widget.settings.chartValue"> Chart Value </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
              <div class="collapse-dropdown-wrap"
                [perfectScrollbar]>
                <mat-accordion (click)="$event.stopPropagation();">
                  <div class="collapse-content">
                    <div class="exp-title-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header expandedHeight="48px">
                          <mat-panel-title>Chart Type</mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                          *ngFor="let item of widget.settings.chartTypes"
                          class="item"
                          (click)="chartTypeClick(item)">{{item}}</button>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="report-chart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
    <div class="table-list-items">
      <div class="table-list-item simple-data guest-quote-quick-list-item"
        *ngFor="let item of quotesList"
        (click)="clickOnQouteItem(item)">
        <div class="start-position">
          <app-data-block class="no-transform"
            value="{{item.companyName}}"
            [bold]="true"></app-data-block>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Contact"
              value="{{item.contactPerson}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.dateCreated}}"></app-data-block>
          </div>
          <div class="inner-el short">
            <app-data-block label="SHIPT"
              value="{{item.shipments}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Amount ({{item.currency}})"
              value="{{item.amount | currency}}"
              [right]="true"></app-data-block>
          </div>
        </div>
        <div class="status-icons">
          <i *ngIf="item.registered"
            class="icon icon-registered"
            matTooltip="Registered"
            matTooltipPosition="above"></i>
          <i *ngIf="item.checkOut"
            class="icon icon-checked-out"
            matTooltip="Checked Out"
            matTooltipPosition="above"></i>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
  </div>
</div>
