<div class="dialog-content normal-dialog">
  <header> &nbsp; </header>
  <section [perfectScrollbar]>
    <div class="wrap requested-content">
      <i class="icon icon-check_circle_outline"></i>
      <h3>{{data.title}}</h3>
      <p>{{data.content}}</p>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item"
        *ngIf="!data.buttons">
        <div class="el">
          <button mat-flat-button
            class="cancel-dialog"
            color="primary"
            (click)="ok()"> Ok </button>
        </div>
      </div>
      <div class="right-item"
        *ngIf="data.buttons">
        <div class="el"
          *ngIf="data.buttons.buttonLeft">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="action(data.buttons.buttonLeft)"> {{data.buttons.buttonLeft}} </button>
        </div>
        <div class="el"
          *ngIf="data.buttons.buttonRight">
          <button mat-flat-button
            color="primary"
            (click)="action(data.buttons.buttonRight)"> {{data.buttons.buttonRight}} </button>
        </div>
      </div>
    </div>
  </footer>
</div>
