@import 'src/content/scss/var.scss';

.requested-content {
  text-align: center;

  > i {
    &.icon {
      color: $green;
      margin: 0 auto 8px;
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 48px;
    }
  }

  h3 {
    padding: 0 0 8px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
    color: $green;
  }

  p {
    padding: 0 0 16px;
    color: $textColorLight;
  }
}
:host {
  @media only screen and (max-width: 600px) {
    .dialog-content {
      section {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
