<div class="dialog-content normal-dialog">
  <header>
    <h3>Missing Document</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Document</mat-label>
            <mat-select [(ngModel)]="modalData.documentType"
              [formControl]="validation.documentType">
              <mat-option *ngFor="let item of documentTypes"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-12">
          <mat-form-field class="full-width"
            color="accent">
            <input matInput
              placeholder="Document Name"
              [(ngModel)]="modalData.documentName"
              [formControl]="validation.documentName">
          </mat-form-field>
        </div>
      </div>
      <div class="checkbox-line card-align">
        <mat-checkbox color="accent"
          [(ngModel)]="modalData.notifyClient"
          [formControl]="validation.notifyClient">Notify Client</mat-checkbox>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="add()"
            cdkFocusInitial> Add </button>
        </div>
      </div>
    </footer>
  </form>
</div>
