<div class="dialog-content normal-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="text-wrap"> {{data.text}} </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Ok </button>
      </div>
    </div>
  </footer>
</div>
