@import 'src/content/scss/var.scss';

.login-bg {
  background: url(/content/images/login-bg.jpg) no-repeat;
  background-size: cover;
}

.login-centered-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 96px;

  @media only screen and (max-width: 991px) {
    justify-content: center;
    padding: 0 24px;
  }
}

.wrap-form-box {
  max-width: 426px;
  background-color: #fff;
  border-radius: $cardRadius;
  width: 100%;
  padding: 32px 0 0;
  margin-top: 24px;
  margin-bottom: 24px;

  @media only screen and (max-width: 480px) {
    padding: 16px 0 0;
  }
}

.instant-quote-btn {
  background-color: $green;
  height: 56px;
  text-align: center;

  button {
    &.mat-button {
      height: 100%;
      width: 100%;
    }
  }
}
