<div class="login-bg login-centered-section">
  <div class="wrap-form-box">
    <span class="login-logo">eShipper</span>
    <div class="login-form">
      <form action=".">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Username"
            [formControl]="accountFormControl"
            [errorStateMatcher]="matcher"
            [(ngModel)]="account"
            required />
          <mat-error *ngIf="accountFormControl.hasError('required')">Field is required</mat-error>
        </mat-form-field>
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            type="password"
            placeholder="Password"
            [formControl]="passwordFormControl"
            [errorStateMatcher]="matcher"
            [(ngModel)]="password"
            required />
          <mat-error *ngIf="passwordFormControl.hasError('required')">Field is required</mat-error>
        </mat-form-field>
        <div class="checkbox-line">
          <mat-checkbox color="accent">Remember me</mat-checkbox>
        </div>
        <button mat-flat-button
          color="primary"
          class="login-btn"
          (click)="login(account)"
          [disabled]="!(password && account) ? true : false"> LOGIN </button>
        <ul class="login-links">
          <li>
            <a mat-button
              color="primary"
              (click)="openForgotPassword()">Forgot password?</a>
          </li>
          <li>
            <a mat-button
              color="primary"
              routerLink="/register-new-user">Register</a>
          </li>
        </ul>
      </form>
      <div class="social-login">
        <ul>
          <li>
            <button class="mat-elevation-z color-facebook"
              mat-fab>
              <i class="icon icon-facebook"></i>
            </button>
          </li>
          <li>
            <button class="mat-elevation-z color-google"
              mat-fab>
              <i class="icon icon-google"></i>
            </button>
          </li>
          <li>
            <button class="mat-elevation-z color-twitter"
              mat-fab>
              <i class="icon icon-twitter"></i>
            </button>
          </li>
          <li>
            <button class="mat-elevation-z color-linkedin"
              mat-fab>
              <i class="icon icon-linkedin"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="instant-quote-btn">
      <button mat-button
        (click)="openInstantQuoteDialog()">Instant Quote</button>
    </div>
  </div>
</div>
