<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <!-- content toolbar -->
    <app-content-toolbar [filterBtn]="true"
      (filterOpen)="filterOpen()"
      [toolbarSettings]="contentToolbarSettings"
      (backSettingsData)="settingsFunction($event)"></app-content-toolbar>
    <!-- end of content toolbar -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div class="table-list-item-wrap"
        *ngIf="adminFlag">
        <div *ngFor="let item of trackings"
          class="table-list-item admin-track-item"
          [ngClass]="{'new': item.new}"
          (click)="clickOnRow()">
          <div class="start-position">
            <div class="number-box">
              <app-img-box class="img-el"
                [url]="item.logo"></app-img-box>
              <div class="inner-el number-content"
                [ngClass]="{'with-chip': item.chip?.name}">
                <span class="caption">{{item.trakingLabel}}</span>
                <strong>{{item.trakingNumber}} <span *ngIf="item.chip?.name"
                    class="chip-label {{item.chip.type}}">{{item.chip.name}}</span></strong>
                <em>{{item.trakingName}}</em>
                <em>{{item.trakingSubName}}</em>
              </div>
            </div>
          </div>
          <div class="end-position">
            <div class="inner-el address-el">
              <span class="caption">From</span>
              <strong class="dark-text">{{item.fromCompanyName}}</strong>
              <address>{{item.fromCompanyAddress}}</address>
              <em>{{item.fromDate}}</em>
            </div>
            <div class="inner-el address-el">
              <span class="caption">To</span>
              <strong class="dark-text">{{item.toCompanyName}}</strong>
              <address>{{item.toCompanyAddress}}</address>
              <em>{{item.toDate}}</em>
            </div>
            <div class="inner-el">
              <app-data-block label="Created"
                [value]="item.createdData"></app-data-block>
            </div>
            <div class="inner-el">
              <app-data-block label="Revenue"
                [right]="true"
                [value]="item.revenue | currency"></app-data-block>
            </div>
            <div class="inner-el">
              <app-data-block label="Profit"
                [right]="true"
                [value]="item.profit | currency"></app-data-block>
            </div>
          </div>
          <div class="status-label {{item.statusColor}}">{{item.status}} </div>
          <app-dot-menu class="item-settings"
            [items]="itemSettings"
            (backData)="getItemSettingsValue($event)"></app-dot-menu>
        </div>
      </div>
      <div class="table-list-item-wrap"
        *ngIf="!adminFlag">
        <div *ngFor="let item of trackings"
          class="table-list-item track-item"
          [ngClass]="{'new': item.new}"
          (click)="clickOnRow()">
          <div class="start-position">
            <div class="number-box">
              <app-img-box class="img-el"
                [url]="item.logo"></app-img-box>
              <div class="inner-el number-content"
                [ngClass]="{'with-chip': item.chip?.name}">
                <span class="caption">{{item.trakingLabel}}</span>
                <strong>{{item.trakingNumber}} <span *ngIf="item.chip?.name"
                    class="chip-label {{item.chip.type}}">{{item.chip.name}}</span></strong>
                <em>{{item.trakingName}}</em>
              </div>
            </div>
          </div>
          <div class="end-position">
            <div class="inner-el address-el">
              <span class="caption">From</span>
              <strong class="dark-text">{{item.fromCompanyName}}</strong>
              <address>{{item.fromCompanyAddress}}</address>
              <em>{{item.fromDate}}</em>
            </div>
            <div class="inner-el address-el">
              <span class="caption">To</span>
              <strong class="dark-text">{{item.toCompanyName}}</strong>
              <address>{{item.toCompanyAddress}}</address>
              <em>{{item.toDate}}</em>
            </div>
            <div class="inner-el">
              <app-data-block label="Cost"
                [right]="true"
                [value]="item.cost | currency"
                [details]="item.costDetails"
                (infoClick)="openCreditInfoDialog($event)"></app-data-block>
            </div>
          </div>
          <div class="status-label {{item.statusColor}}">{{item.status}} </div>
          <app-dot-menu class="item-settings"
            [items]="itemSettings"
            (backData)="getItemSettingsValue($event)"></app-dot-menu>
        </div>
      </div>
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
