<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <mat-toolbar class="item-row content-toolbar">
      <span class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </span>
      <div class="end-position">
        <!-- settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="settingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <!-- ar list -->
      <div *ngFor="let item of arList"
        class="table-list-item simple-data ar-item"
        (click)="rowClick(item)">
        <div class="start-position">
          <div class="inner-el">
            <app-img-box url="{{item.logo}}"
              icon="business">
            </app-img-box>
          </div>
          <div class="inner-el">
            <app-data-block class="no-transform"
              label="{{item.customerId}}"
              value="{{item.companyName}}"
              bold="{{true}}"></app-data-block>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Invoices"
              value="{{item?.invoices}}"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.deposit}">
            <app-data-block *ngIf="item?.deposit"
              label="Deposit ({{item?.currency}})"
              value="{{item?.deposit | currency}}"
              right="{{true}}"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.credit}">
            <app-data-block *ngIf="item?.credit"
              label="Credit ({{item?.currency}})"
              value="{{item?.credit | currency}}"
              right="{{true}}"
              [details]="item?.creditDetails"
              (infoClick)="openCreditInfoDialog($event)"></app-data-block>
          </div>
          <div class="inner-el right-el"
            [ngClass]="{'hidden-700': !item?.receivable}">
            <app-data-block *ngIf="item?.receivable"
              label="Total ({{item?.currency}})"
              value="{{item?.receivable | currency}}"
              right="{{true}}"></app-data-block>
          </div>
        </div>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
      </div>
      <!-- end of ar list -->
    </div>
    <div class="empty-data"
      *ngIf="dataEmpty">
      <div class="empty-data-content">
        <figure>
          <img src="content/images/empty-data.svg"
            width="102"
            height="99"
            alt="">
        </figure>
        <p>Can't find any results with these criteria. </p>
      </div>
    </div>
  </div>
</div>
