.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 160px);
}

.start-position {
  .inner-el {
    padding-right: 16px;
  }
}

:host {
  .table-list-item {
    &.ar-item {
      .start-position {
        width: 50%;
      }

      .end-position {
        width: 50%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 27%;

          &:first-child {
            width: 19%;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;

            &:first-child {
              width: 100%;
            }
          }
        }
      }

      .inner-el {
        .data-el {
          &.right-position {
            padding-left: 0;
          }
        }
      }

      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;

        .start-position {
          width: 100%;
        }

        .item-settings {
          top: 12px;
        }
      }
    }
  }
}
