@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.empty-data {
  height: calc(100vh - 48px - 96px);
}

:host {
  .table-list-item {
    &.ticket-item {
      @media only screen and (max-width: 991px) {
        padding-right: 24px;

        .status-label {
          top: 12px;
        }
      }

      .start-position {
        width: 30%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }
      }

      .end-position {
        width: 70%;

        @media only screen and (max-width: 991px) {
          width: 100%;
        }

        .inner-el {
          width: 55%;

          @media only screen and (max-width: 991px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }

          &:first-child {
            width: 27.5%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }

          &:last-child {
            width: 17.5%;

            @media only screen and (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
