@import 'src/content/scss/var.scss';



.end-position {
  .mat-stroked-button {
    margin-top: 12px;
  }

  &.with-button {
    min-width: 132px;
    align-items: flex-start;

    @media only screen and (max-width: 1240px) {
      align-self: flex-end;

      .mat-stroked-button {
        margin-bottom: 36px;
      }
    }
  }
}

.additional-fields {
  display: flex;
}

.shipment-btn {
  min-width: 132px;
}

@media only screen and (max-width: 960px) {
  .first-row-grid {
    .col-5 {
      width: 50%;
    }

    .col-7 {
      width: 50%;

      .col-4 {
        width: 50%;
      }

      .col-2 {
        width: 25%;
      }

      .col-3 {
        width: 25%;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .first-row-grid {
    .col-5 {
      width: 100%;
      float: none;

      .col-6 {
        width: 50%;
        float: left;
      }
    }

    .col-7 {
      width: 100%;
      float: none;

      .col-4 {
        width: 50%;
        float: left;
      }

      .col-2 {
        width: 50%;
        float: left;
      }

      .col-3 {
        width: 50%;
        float: left;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .complex-grid {
    display: block;

    .start-position {
      display: block;
      width: 100%;
      padding: 0;
    }

    .end-position {
      display: block;
      width: 100%;
      text-align: right;
      padding: 0;
    }

    .shipment-btn {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .complex-grid {

    .col-2,
    .col-3,
    .col-4,
    .col-5 {
      width: 50%;
      float: left;
    }
  }
}
