<mat-card class="card">
  <mat-card-header class="two-items">
    <mat-card-title>Shipment</mat-card-title>
    <div class="end-position">
      <div class="el">
        <app-button-select class="btn-box"
          [value]="currencyValue"
          [items]="currencyItems"
          (change)="currencyChange($event)"></app-button-select>
      </div>
      <div class="el">
        <app-button-select class="btn-box"
          [value]="systemValue"
          [items]="systemItems"
          (change)="systemChange($event)"></app-button-select>
      </div>
      <div class="el">
        <app-history-dropdown *ngIf="!instantQuote"
          [historyData]="history"></app-history-dropdown>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="shipment-form">
      <div class="row first-row-grid">
        <div class="col-5">
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <mat-label>Ship Date</mat-label>
                <input matInput
                  [matDatepicker]="picker"
                  placeholder="MM/DD/YY"
                  [formControl]="shipment.shippingDateControl"
                  [(ngModel)]="shipment.shippingDateValue"
                  (dateChange)="getShippingDate()"
                  [min]="minDate"
                  required>
                <mat-datepicker-toggle matSuffix
                  color="primary"
                  [for]="picker"
                  [disableRipple]="true">
                  <i matDatepickerToggleIcon
                    class="icon icon-date_range"></i>
                </mat-datepicker-toggle>
                <mat-datepicker #picker
                  color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Insurance">
                  <mat-option *ngFor="let item of insuranceTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-4">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Package"
                  [formControl]="shipment.packageTypeControl"
                  [(ngModel)]="shipment.packageType"
                  required>
                  <mat-option *ngFor="let item of packageTypes"
                    [value]="item.value"> {{item.viewValue}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- additional pallet & package -->
            <div class="col-2"
              *ngIf="shipment.packageType==='package'">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  required
                  placeholder="QTY"
                  [(ngModel)]='shipment.packageQty'
                  [formControl]="shipment.packageQtyControl"
                  (ngModelChange)="qtyFunction($event, shipment.packageType)"
                  [errorStateMatcher]="qtyMatcher"
                  mask="00">
                <mat-error *ngIf="!shipment.packageQtyControl.hasError('required')"> Max 35</mat-error>
                <mat-error *ngIf="shipment.packageQtyControl.hasError('required')"> Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-2"
              *ngIf="shipment.packageType==='pallet'">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  required
                  placeholder="QTY"
                  [(ngModel)]='shipment.palletQty'
                  [formControl]="shipment.palletQtyControl"
                  (ngModelChange)="qtyFunction($event, shipment.packageType)"
                  [errorStateMatcher]="palletQtyatcher"
                  mask="00">
                <mat-error *ngIf="!shipment.palletQtyControl.hasError('required')"> Max 35</mat-error>
                <mat-error *ngIf="shipment.palletQtyControl.hasError('required')"> Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-3"
              *ngIf="shipment.packageType==='pallet' || shipment.packageType==='package'">
              <mat-form-field color="accent"
                class="full-width readonly-field">
                <input matInput
                  placeholder="TOT Weight"
                  readonly
                  disabled="{{!shipment.totalWeight}}"
                  value="{{shipment.totalWeight}} kg(s)">
              </mat-form-field>
            </div>
            <!-- end of additional pallet & package -->
          </div>
        </div>
      </div>
      <!-- additional pallet -->
      <div *ngIf="shipment.packageType==='pallet'">
        <div class="form-row with-gap complex-grid"
          *ngFor="let item of shipment.palletForm">
          <div class="start-position">
            <div class="row">
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="L(cm)"
                        [formControl]="item.lengthControl"
                        [(ngModel)]="item.length"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(cm)"
                        [formControl]="item.widthControl"
                        [(ngModel)]="item.width"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="H(cm)"
                        [formControl]="item.heightControl"
                        [(ngModel)]="item.height"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(kg)"
                        [formControl]="item.weightControl"
                        [(ngModel)]="item.weight"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-select placeholder="Freight Class"
                        [(value)]='item.freightClass'
                        [formControl]="item.freightClassControl"
                        required>
                        <mat-option *ngFor="let i of freightClasses"
                          [value]="i.value"> {{i.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="NMFC"
                        [(ngModel)]="item.nmfc">
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-select placeholder="Type"
                        [(value)]='item.type'
                        [formControl]="item.typeControl"
                        required>
                        <mat-option *ngFor="let i of types"
                          [value]="i.value"> {{i.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field color="accent"
                      class="full-width with-info">
                      <input matInput
                        placeholder="Insurance"
                        [(ngModel)]="item.insurance">
                      <i class="icon icon-info_outline"
                        matTooltip="{{item.insuranceTooltip}}"
                        [matTooltipPosition]="'above'"
                        matTooltipClass="normal-tooltip"></i>
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        maxlength="30"
                        placeholder="Description"
                        [(ngModel)]="item.description">
                      <mat-hint align="end">{{item.description?.length || 0}}/30</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="end-position with-button">
            <button *ngIf="item.button && shipment.palletForm.length>1"
              class="shipment-btn"
              mat-stroked-button
              (click)="palletFunction()"
              color="primary">{{item.button}}</button>
          </div>
        </div>
      </div>
      <!-- end of additional pallet -->
      <!-- additional package -->
      <div *ngIf="shipment.packageType==='package'">
        <div class="form-row with-gap complex-grid"
          *ngFor="let item of shipment.packageForm">
          <div class="start-position">
            <!-- for logged user -->
            <div class="row"
              *ngIf="!instantQuote">
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-select placeholder="Packages Book"
                        [(value)]='item.packagesBook'
                        [formControl]="item.packagesBookControl"
                        required>
                        <mat-option *ngFor="let item of packagesBooks"
                          [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="L(cm)"
                        [formControl]="item.lengthControl"
                        [(ngModel)]="item.length"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(cm)"
                        [formControl]="item.widthControl"
                        [(ngModel)]="item.width"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="H(cm)"
                        [formControl]="item.heightControl"
                        [(ngModel)]="item.height"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(kg)"
                        [formControl]="item.weightControl"
                        [(ngModel)]="item.weight"
                        required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-4">
                    <mat-form-field color="accent"
                      class="full-width with-info">
                      <input matInput
                        placeholder="Insurance"
                        [(ngModel)]="item.insurance">
                      <i class="icon icon-info_outline"
                        matTooltip="{{item.insuranceTooltip}}"
                        [matTooltipPosition]="'above'"
                        matTooltipClass="normal-tooltip"></i>
                    </mat-form-field>
                  </div>
                  <div class="col-5">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        maxlength="30"
                        placeholder="Description"
                        [(ngModel)]="item.description">
                      <mat-hint align="end">{{item.description?.length || 0}}/30</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of for logged useds -->
            <!-- for guests -->
            <div class="row"
              *ngIf="instantQuote">
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="L(cm)"
                        [formControl]="item.lengthControl"
                        [(ngModel)]="item.length"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(cm)"
                        [formControl]="item.widthControl"
                        [(ngModel)]="item.width"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="H(cm)"
                        [formControl]="item.heightControl"
                        [(ngModel)]="item.height"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="W(kg)"
                        [formControl]="item.weightControl"
                        [(ngModel)]="item.weight"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field color="accent"
                      class="full-width with-info">
                      <input matInput
                        placeholder="Insurance"
                        [(ngModel)]="item.insurance">
                      <i class="icon icon-info_outline"
                        matTooltip="{{item.insuranceTooltip}}"
                        [matTooltipPosition]="'above'"
                        matTooltipClass="normal-tooltip"></i>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-6 clean-point-1240">
                <div class="row">
                  <div class="col-5">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        maxlength="20"
                        placeholder="Description"
                        [(ngModel)]="item.description">
                      <mat-hint align="end">{{item.description?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of for guests -->
          </div>
          <div class="end-position with-button">
            <button *ngIf="item.button&&shipment.packageForm.length>1"
              class="shipment-btn"
              mat-stroked-button
              (click)="packageFunction()"
              color="primary">{{item.button}}</button>
          </div>
        </div>
      </div>
      <!-- end of additional package -->
    </div>
  </mat-card-content>
</mat-card>
<!-- additional pallet card-->
<mat-card *ngIf="shipment.packageType==='pallet'&&!instantQuote"
  class="card">
  <mat-card-header class="two-items">
    <mat-card-title>Pallet Schedule</mat-card-title>
    <div class="end-position">
      <mat-slide-toggle labelPosition="before"
        [checked]="palletSchedule.stackable"
        color="accent">Stackable</mat-slide-toggle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-8 clean-point-991">
        <div class="row break-point-600">
          <div class="col-4">
            <app-time-field placeholder="Departure Ready Time"
              [currentTime]="palletSchedule.form.departureReadyTime"
              (time)="getDepartureReadyTime($event)"></app-time-field>
          </div>
          <div class="col-4">
            <app-time-field placeholder="Departure Close Time"
              [currentTime]="palletSchedule.form.departureCloseTime"
              [setTime]="palletSchedule.form.departureReadyTime"
              (time)="getDepartureCloseTime($event)"></app-time-field>
          </div>
          <div class="col-4">
            <app-time-field placeholder="Delivery Close Time"
              [currentTime]="palletSchedule.form.deliveryCloseTime"
              [setTime]="palletSchedule.form.departureReadyTime"
              (time)="getDeliveryCloseTime($event)"></app-time-field>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- end of additional pallet card -->
<!-- additionl package card -->
<mat-accordion *ngIf="shipment.packageType!='pallet'&&shipment.packageType!=''">
  <mat-expansion-panel class="card-panel">
    <mat-expansion-panel-header [expandedHeight]="'48px'"
      class="item-row">
      <mat-panel-title class="start-position">
        <div class="el">Schedule Pickup</div>
        <div class="el"><button mat-icon-button
            (click)="openMessage = !openMessage; $event.stopPropagation();"><i
              class="icon icon-info_outline"></i></button></div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-message [isOpen]="openMessage"
      class="card-message"
      [checkboxText]="schedulePickup.messageCheckboxText">{{schedulePickup.message}}</app-message>
    <div class="row">
      <div class="col-2">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Pickup Date</mat-label>
          <input matInput
            [matDatepicker]="picker"
            placeholder="MM/DD/YY"
            [formControl]="schedulePickup.pickupDateControl"
            [(ngModel)]="schedulePickup.pickupDateValue"
            [min]="minDate">
          <mat-datepicker-toggle matSuffix
            color="primary"
            [for]="picker"
            [disableRipple]="true">
            <i matDatepickerToggleIcon
              class="icon icon-date_range"></i>
          </mat-datepicker-toggle>
          <mat-datepicker #picker
            color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-2">
        <app-time-field placeholder="Pickup Time"
          (time)="getPickTime($event)"></app-time-field>
      </div>
      <div class="col-2">
        <app-time-field placeholder="Closing Time"
          (time)="getClosingTime($event)"></app-time-field>
      </div>
      <div class="col-2">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Pickup Location"
            [(value)]='schedulePickup.pickupLocation'>
            <mat-option *ngFor="let i of pickupLocations"
              [value]="i.value"> {{i.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            maxlength="100"
            placeholder="Note"
            [(ngModel)]="schedulePickup.note">
          <mat-hint align="end">{{schedulePickup.note?.length || 0}}/100</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- end of additionl package card -->
