@import 'src/content/scss/var.scss';

.cf-divider {
  overflow: hidden;
  height: 1px;
  width: 100%;
  text-indent: -9898px;
  background: $borderColor;
  margin: 4px 0;
  display: block;
}

i {
  &.icon {
    color: $iconColor;
  }
}

::ng-deep {
  .compare-list {
    padding-top: 0;
    .mat-slide-toggle-content {
      font-size: 14px;
    }
  }
  .mat-menu-item {
    &.active {
      background-color: $mainMenuActive;
    }
  }
  .custom-dropdown {
    button {
      &.mat-button {
        padding-left: 8px;
        padding-right: 4px;
        min-width: 48px;
        margin: 2px 0;
        .mat-button-wrapper {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: normal;
          text-transform: none;
          em {
            font-style: normal;
          }
          i {
            &.icon-date_range {
              display: none;
            }
          }
        }
      }
    }
    &.period-box {
      padding-left: 4px;
      padding-right: 4px;
      button {
        &.mat-button {
          @media only screen and (max-width: 700px) {
            border-radius: 500rem;
            padding: 0;
            width: 40px;
            height: 40px;
            min-width: 40px;
            margin: 0;
          }
          .mat-button-wrapper {
            em {
              @media only screen and (max-width: 700px) {
                display: none;
              }
            }
            i {
              &.icon {
                margin-left: 8px;
                @media only screen and (max-width: 700px) {
                  &.icon-date_range {
                    display: block;
                  }
                  &.icon-arrow_drop_down {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      &.active {
        button {
          &.mat-button {
            .mat-button-wrapper {
              i {
                &.icon {
                  color: $green;
                }
              }
            }
          }
        }
      }
    }
  }
}
