<div class="custom-dropdown"
  [ngClass]="{'period-box': period}">
  <button mat-button
    [matMenuTriggerFor]="menu"
    class="standard-lignt"
    [ngClass]="light?' light':null">
    <em>{{currentData}}</em>
    <i class="icon icon-arrow_drop_down"></i>
    <i class="icon icon-date_range"></i>
  </button>
  <mat-menu #menu="matMenu"
    class="custom-menu-dd">
    <div *ngFor="let item of options">
      <button *ngIf="item!='divider'"
        mat-menu-item
        [ngClass]="{'active': currentData===item}"
        (click)="backOption(item)">
        <span>{{item}}</span>
      </button>
      <span *ngIf="item==='divider'"
        class="cf-divider"></span>
    </div>
    <mat-list class="compare-list"
      *ngIf="compareFlag">
      <span class="cf-divider"></span>
      <mat-list-item (click)="$event.stopPropagation()">
        <mat-slide-toggle color="accent"
          labelPosition="before"
          [(ngModel)]="comparison"
          (change)="changeComparison(comparison)"> Comparison </mat-slide-toggle>
      </mat-list-item>
    </mat-list>
  </mat-menu>
</div>
