<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="wrap">
      <app-amount class="amount-box"
        [(value)]="modalData.amount"></app-amount>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="full-width"
          color="accent">
          <mat-label>Payment Method</mat-label>
          <mat-select [(ngModel)]="modalData.paymentMethod"
            [formControl]="validation.paymentMethod"
            required>
            <mat-option *ngFor="let item of paymentMethods"
              value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Check #"
            [(ngModel)]="modalData.checkNumber"
            [formControl]="validation.checkNumber"
            required>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Date of Payment</mat-label>
          <input matInput
            [matDatepicker]="paymentDateField"
            placeholder="MM/DD/YY"
            [formControl]="validation.datePayment"
            [(ngModel)]="modalData.datePayment"
            [min]="minDate"
            required>
          <mat-datepicker-toggle matSuffix
            [for]="paymentDateField"
            [disableRipple]="true">
            <i matDatepickerToggleIcon
              class="icon icon-date_range"></i>
          </mat-datepicker-toggle>
          <mat-datepicker #paymentDateField
            color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="wrap"
      *ngIf="data?.moreData.length">
      <div class="item-row amount-item"
        *ngFor="let item of data?.moreData">
        <div class="start-position">
          <div class="inner-el">
            <span>Deposit</span>
          </div>
          <div class="inner-el">
            <em>{{item?.paymentDetails.checkNo}}</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <em>{{item?.paymentDetails.paidDate}}</em>
          </div>
          <div class="inner-el">
            <strong>{{item?.amount | currency}}</strong>
          </div>
        </div>
      </div>
      <!-- total row -->
      <div class="item-row amount-item">
        <div class="start-position">
          <div class="inner-el">
            <em>Total</em>
          </div>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <strong>{{total | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial>Save</button>
      </div>
    </div>
  </footer>
</div>
