<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="steps-wrap">
      <app-steps class="page-steps"
        [steps]="shipSteps"></app-steps>
      <button type="button"
        mat-icon-button
        (click)="drawer.toggle()"><i class="icon icon-info_outline"></i></button>
    </div>
    <mat-drawer-container class="inner-dynamic-container"
      autosize>
      <div class="inner-dynamic-sidenav-content">
        <div class="row auto-height break-point-800">
          <div class="col-6">
            <!-- Duty & Taxes Bill card -->
            <mat-card class="card">
              <mat-card-header class="item-row">
                <mat-card-title class="start-position">Duty & Taxes Bill</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-s-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-select placeholder="Dutiable"
                        [(value)]='taxes.dutiable'
                        [formControl]="taxes.dutiableFormControl"
                        required>
                        <mat-option *ngFor="let i of dutiables"
                          [value]="i.value"> {{i.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-s-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <mat-select placeholder="Bill to"
                        [(value)]='taxes.billTo'
                        [formControl]="taxes.billToFormControl">
                        <mat-option *ngFor="let i of billToList"
                          [value]="i.value"> {{i.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-s-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="Account #"
                        [(ngModel)]="taxes.account">
                    </mat-form-field>
                  </div>
                  <div class="col-s-6">
                    <mat-form-field color="accent"
                      class="full-width">
                      <input matInput
                        placeholder="SED #"
                        [(ngModel)]="taxes.sed">
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- end of Duty & Taxes Bill card -->
          </div>
          <div class="col-6">
            <!-- Billing card -->
            <mat-card class="card">
              <mat-card-header class="item-row">
                <mat-card-title class="start-position">Billing</mat-card-title>
                <div class="end-position">
                  <button mat-icon-button
                    (click)="editBilling()"><i class="icon icon-outline-edit"></i></button>
                </div>
              </mat-card-header>
              <mat-card-content>
                <div class="company-data">
                  <h4>{{billing.companyName}}</h4>
                  <p>{{billing.address1}} {{billing.address2}}, {{billing.city}}, {{billing.province}} {{billing.zip}}
                    {{billing.country}}</p>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- end of Billing card -->
          </div>
        </div>
        <!-- Product card -->
        <mat-card class="card product-card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Product</mat-card-title>
            <div class="end-position">
              <app-button-select class="btn-box"
                [value]="currencyValue"
                [items]="currencyItems"
                (change)="currencyChange($event)"></app-button-select>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="product-form">
              <div class="product-line"
                *ngFor="let item of products; let i = index">
                <div class="row">
                  <div class="col-7 clean-point-991">
                    <div class="row">
                      <div class="col-4">
                        <mat-form-field color="accent"
                          class="full-width">
                          <mat-select placeholder="Product List"
                            [(value)]='item.productList'
                            [formControl]="item.productListFormControl"
                            required>
                            <mat-option *ngFor="let item of productLists"
                              [value]="item.value"> {{item.viewValue}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-5">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="Description"
                            [(ngModel)]="item.description"
                            [formControl]="item.descriptionFormControl"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width with-info">
                          <input matInput
                            placeholder="HS Code"
                            [(ngModel)]="item.hsCode"
                            [formControl]="item.hsCodeFormControl"
                            required>
                          <i class="icon icon-info_outline"
                            matTooltip="{{item.hsCodeTooltip}}"
                            [matTooltipPosition]="'above'"
                            matTooltipClass="normal-tooltip"></i>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-5 clean-point-991">
                    <div class="row">
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            required
                            placeholder="QTY"
                            [(ngModel)]="item.qty"
                            [formControl]="item.qtyFormControl"
                            [errorStateMatcher]="qtyMatcher"
                            mask="00">
                          <mat-error *ngIf="!item.qtyFormControl.hasError('required')"> MAX 35</mat-error>
                          <mat-error *ngIf="item.qtyFormControl.hasError('required')"> Required</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="$/Unit"
                            [(ngModel)]="item.unit"
                            [formControl]="item.unitFormControl"
                            required>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field color="accent"
                          class="full-width">
                          <input matInput
                            placeholder="Ext. Price"
                            [(ngModel)]="item.price"
                            [formControl]="item.priceFormControl">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf="item.removable"
                  mat-icon-button
                  color="warn"
                  class="delete-btn"
                  (click)="removeRow(i)"><i class="icon icon-remove_circle_outline"></i></button>
              </div>
              <button mat-icon-button
                color="accent"
                (click)="addRow()"><i class="icon icon-add_circle"></i></button>
            </div>
          </mat-card-content>
          <div class="total-line item-row">
            <div class="start-position">
              <strong>Total {{currencyValue}}</strong>
            </div>
            <div class="end-position">
              <em>{{total}}</em>
            </div>
          </div>
        </mat-card>
        <!-- end of Product card -->
        <!-- Contact card -->
        <mat-card class="card">
          <mat-card-header class="item-row">
            <mat-card-title class="start-position">Contact</mat-card-title>
            <div class="end-position">
              <button mat-icon-button
                (click)="editContact()"><i class="icon icon-outline-edit"></i></button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-5">
                <div class="company-data">
                  <h4>{{contact.companyName}}</h4>
                  <p>{{contact.attention}}</p>
                  <p>{{contact.email}}</p>
                  <p>{{contact.phone}}</p>
                </div>
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-4">
                    <app-data-item [data]="additionalContact.tax"></app-data-item>
                  </div>
                  <div class="col-4">
                    <app-data-item [data]="additionalContact.broker"></app-data-item>
                  </div>
                  <div class="col-4">
                    <app-data-item [data]="additionalContact.recipient"></app-data-item>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <!-- end of Contact card -->
      </div>
      <mat-drawer #drawer
        class="inner-dynamic-sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        position="end"
        [perfectScrollbar]>
        <!-- Details card -->
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Details</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="invoice-details">
              <app-img-box [url]="invoiceDetails.logo"></app-img-box>
              <app-data-item [data]="invoiceDetails.service"></app-data-item>
              <app-data-item [data]="invoiceDetails.quote"></app-data-item>
            </div>
            <div class="card-divider">&nbsp;</div>
            <app-ship-details-sidebar *ngIf="detailsData"
              [data]="detailsData"></app-ship-details-sidebar>
          </mat-card-content>
        </mat-card>
        <!-- end of Details card -->
      </mat-drawer>
    </mat-drawer-container>
  </div>
  <div class="centered-button">
    <div class="el">
      <button class="btn large-btn"
        mat-stroked-button
        color="primary">Save</button>
    </div>
    <div class="el">
      <button class="btn large-btn"
        mat-flat-button
        (click)="processingFunction()"
        color="primary">Next</button>
    </div>
  </div>
</div>
