@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 24px;
  min-height: calc(100vh - 48px - 96px);
}

.company-data {
  padding-bottom: 20px;

  h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: $textColorLight;
  }
}

@media only screen and (max-width: 550px) {
  .bottom-row {
    &.flex-break-point-550 {
      flex-direction: column;
      align-items: normal;

      .end-position {
        padding-top: 16px;
      }
    }
  }
}
