@import 'src/content/scss/var.scss';

::ng-deep {
  .drop-label {
    border-radius: 4px;
    position: relative;
    height: 32px;
    min-width: 104px;
    width: auto;
    line-height: 32px;
    padding: 0 16px 0 36px;
    background-color: rgba(#2fb5c0, 0.12);
    i {
      &.icon {
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    background-color: rgb(225, 244, 245);
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
