<figure class="img-box size-{{size}}"
  [ngClass]="{'custom-logo': ((size === '80') && !url), 'custom-icon':(icon!=='outline-local_shipping')}">
  <img *ngIf="url"
    src="{{url}}"
    alt="">
  <i *ngIf="!url"
    class="icon icon-{{icon}}"></i>
</figure>
