@import 'src/content/scss/var.scss';

figure {
  &.img-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    img {
      max-width: 100%;
      display: block;
      max-height: 80%;
    }

    i {
      &.icon {
        color: $green;
      }
    }

    &.custom-icon {
      i {
        &.icon {
          color: $iconColor;
        }
      }
    }

    &.size-40 {
      width: 40px;
      height: 40px;
    }

    &.size-64 {
      width: 64px;
      height: 64px;

      img {
        max-height: 100%;
      }
    }

    &.size-80 {
      width: 80px;
      height: 80px;

      img {
        max-height: 100%;
      }

      i {
        &.icon {
          font-size: 32px;
          width: 32px;
          height: 32px;
          line-height: 32px;
        }
      }
    }

    &.custom-logo {
      border-radius: 500rem;
      background: rgba(115, 130, 144, 0.38);
    }
  }
}
