<div class="dialog-content bigger-dialog">
  <header>
    <h3>{{data.title}}</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Company"
              [(ngModel)]="modalData.company"
              [formControl]="validation.company"
              required>
            <mat-error *ngIf="validation.company.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Agent Name"
              [(ngModel)]="modalData.agentName"
              [formControl]="validation.agentName"
              required />
            <mat-error *ngIf="validation.agentName.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-multi-email-field label="Email"
            [(value)]="modalData.emails"></app-multi-email-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Phone"
              [(ngModel)]="modalData.phone"
              [formControl]="validation.phone"
              mask="000 000 0000"
              required />
            <mat-error *ngIf="validation.phone.hasError('required')">{{ requiredText }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Phone"
              [(ngModel)]="modalData.phone2"
              [formControl]="validation.phone2"
              mask="000 000 0000" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Fax"
              [(ngModel)]="modalData.fax"
              [formControl]="validation.fax"
              mask="000 000 0000" />
          </mat-form-field>
        </div>
        <div class="col-s-6">
          <mat-form-field color="accent"
            class="full-width">
            <mat-label>Country</mat-label>
            <mat-select [(ngModel)]="modalData.country"
              [formControl]="validation.country"
              required>
              <mat-option *ngFor="let item of countries"
                [value]="item"> {{item}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-chip-multiselect placeholder="Service Region"
            required="true"
            [data]="data.dataList"
            (change)="getRegions($event)"></app-chip-multiselect>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field color="accent"
            class="full-width">
            <input matInput
              placeholder="Note"
              [(ngModel)]="modalData.note"
              [formControl]="validation.note"
              maxlength="50">
            <mat-hint align="end">{{modalData.note.length}} / 50</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item"></div>
        <div class="right-item">
          <button mat-button
            class="cancel-dialog"
            color="primary"
            (click)="closeDialog()"> Cancel </button>
          <button mat-flat-button
            color="primary"
            (click)="save()"
            cdkFocusInitial> Save </button>
        </div>
      </div>
    </footer>
  </form>
</div>
