<div class="dialog-content normal-dialog">
  <header>
    <h3>Filters</h3>
  </header>
  <section [perfectScrollbar]>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Customer</mat-label>
          <mat-select [(ngModel)]="modalData.customer"
            [formControl]="validation.customer"
            required>
            <mat-option *ngFor="let item of customers"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>LTL Type</mat-label>
          <mat-select [(ngModel)]="modalData.ltlType"
            [formControl]="validation.ltlType"
            required>
            <mat-option *ngFor="let item of ltlTypes"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Service Agent</mat-label>
          <mat-select [(ngModel)]="modalData.serviceAgent"
            [formControl]="validation.serviceAgent"
            required>
            <mat-option *ngFor="let item of serviceAgents"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-s-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="modalData.status"
            [formControl]="validation.status"
            required>
            <mat-option *ngFor="let item of statuses"
              [value]="item"> {{item}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="filter()"
          cdkFocusInitial> Filter </button>
      </div>
    </div>
  </footer>
</div>
