<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content">
    <!-- Content toolbar -->
    <mat-toolbar class="item-row content-toolbar">
      <div class="start-position">
        <!-- search -->
        <app-simple-search [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <!-- period -->
        <app-custom-dropdown [period]="true"
          (select)="getPeriod($event)"></app-custom-dropdown>
        <!-- sort -->
        <app-sort-btn (sortData)="getSortData($event)"></app-sort-btn>
        <!-- filter -->
        <button mat-icon-button
          (click)="filter()">
          <i class="icon icon-filter_list"></i>
        </button>
        <!-- toolbar settings -->
        <app-dot-menu [items]="toolbarSettings"
          (backData)="toolbarSettingsFunction($event)"></app-dot-menu>
      </div>
    </mat-toolbar>
    <!-- end of Content toolbar -->
    <!-- small widgets -->
    <app-small-widgets [smallWidgets]="smallWidgetItems"></app-small-widgets>
    <!-- end of small widgets -->
    <!-- chart -->
    <mat-card class="card">
      <mat-card-header class="item-row">
        <mat-card-title class="start-position">{{widget.name}}</mat-card-title>
        <div class="end-position">
          <div class="complex-settings">
            <button mat-icon-button
              [matMenuTriggerFor]="widgetMenu"
              (click)="$event.stopPropagation()">
              <i class="icon icon-more_vert"></i>
            </button>
            <mat-menu #widgetMenu="matMenu"
              class="slide-toggle-menu collapse-dropdown">
              <mat-list>
                <mat-list-item (click)="$event.stopPropagation()">
                  <mat-slide-toggle color="accent"
                    labelPosition="before"
                    [(ngModel)]="widget.settings.chartValue"> Chart Value </mat-slide-toggle>
                </mat-list-item>
              </mat-list>
              <div class="collapse-dropdown-wrap"
                [perfectScrollbar]>
                <mat-accordion (click)="$event.stopPropagation();">
                  <div class="collapse-content">
                    <div class="exp-title-panel">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header expandedHeight="48px">
                          <mat-panel-title>Chart Type</mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-button
                          *ngFor="let item of widget.settings.chartTypes"
                          class="item"
                          (click)="chartTypeClick(item)">{{item}}</button>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-menu>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="report-chart">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </mat-card-content>
    </mat-card>
    <!-- end of chart -->
    <div class="table-list-items">
      <div *ngFor="let item of listData"
        class="table-list-item profit-loss"
        [ngClass]="{'new': item.new}"
        (click)="clickRowFunction(item)">
        <div class="start-position">
          <app-number-row-box [data]="item.numberBox"
            [noLogo]="true"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el address-el">
            <span class="caption">From</span>
            <strong class="dark-text">{{item.from.companyName}}</strong>
            <address>{{item.from.companyAddress}}</address>
            <em>{{item.from.date}}</em>
          </div>
          <div class="inner-el address-el">
            <span class="caption">To</span>
            <strong class="dark-text">{{item.to.companyName}}</strong>
            <address>{{item.to.companyAddress}}</address>
            <em>{{item.to.date}}</em>
          </div>
          <div class="inner-el">
            <app-data-block label="Created"
              value="{{item.created}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Cost"
              value="{{item.cost | currency}}"
              [right]="true"
              [details]="item.costDetails"
              (infoClick)="openCostInfoDialog($event)"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="statusFunction($event); $event.stopPropagation();">Link</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="getItemSettingsValue($event)"></app-dot-menu>
      </div>
    </div>
  </div>
</div>
