@import 'src/content/scss/var.scss';

.invoice-list-item {
  min-height: 64px;
  position: relative;
  padding-right: 64px;
  border-bottom: 1px solid $borderColor;
  .item-settings {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
  }
  .file-data {
    padding: 10px 0;
    span {
      display: block;
      &.value {
        font-weight: 500;
        line-height: 24px;
      }
      &.caption {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
