<div class="dialog-content normal-dialog">
  <header>
    <h3>Invoice History Report</h3>
  </header>
  <form>
    <section [perfectScrollbar]>
      <div class="wrap">
        <div class="invoice-list-item"
          *ngFor="let item of data.files">
          <div class="file-data">
            <span class="value">{{item.name}}</span>
            <span class="caption">{{item.date}} &nbsp; {{item.time}}</span>
          </div>
          <app-dot-menu class="item-settings"
            [items]="settings"
            (backData)="itemSettingsFunction($event, item)"></app-dot-menu>
        </div>
      </div>
    </section>
    <footer>
      <div class="line-item">
        <div class="left-item">
        </div>
        <div class="right-item">
          <button mat-flat-button
            color="primary"
            (click)="closeDialog()"
            cdkFocusInitial> Close </button>
        </div>
      </div>
    </footer>
  </form>
</div>
