@import 'src/content/scss/var.scss';

.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  ul {
    &.profile-menu {
      margin: 0;
      padding: 24px 0;
      list-style: none;

      li {
        &:not(:first-child) {
          border-top: 1px solid $borderColor;
        }

        padding: 16px 24px;
        cursor: pointer;
        outline: none;

        .start-position {
          i {
            &.icon {
              color: $iconColor;
              width: 24px;
              height: 24px;
              font-size: 24px;
              line-height: 24px;
              margin-right: 24px;
            }
          }

          span {
            display: block;
            font-size: 14px;
            letter-spacing: 0.4px;
            line-height: 24px;
          }
        }

        @media only screen and (min-width: 1024px) {
          &:hover {
            background: $menuItemHover;
          }
        }
      }
    }
  }
}
