<div class="scroll-block table-content"
  [perfectScrollbar]
  *ngIf="flag">
  <div class="inner-content">
    <ul class="profile-menu">
      <li class="item-row"
        routerLink="info">
        <div class="start-position">
          <i class="icon icon-perm_identity"></i>
          <span>Info</span>
        </div>
      </li>
      <li class="item-row"
        routerLink="security">
        <div class="start-position">
          <i class="icon icon-security"></i>
          <span>Password</span>
        </div>
      </li>
      <li class="item-row"
        routerLink="credit-billing"
        *ngIf="!adminFlag&&!superAdminFlag">
        <div class="start-position">
          <i class="icon icon-payment"></i>
          <span>Credit & Billing</span>
        </div>
      </li>
      <li class="item-row"
        routerLink="notification-settings">
        <div class="start-position">
          <i class="icon icon-outline-notifications"></i>
          <span>Notifications</span>
        </div>
      </li>
      <li class="item-row"
        *ngIf="!superAdminFlag"
        routerLink="general-settings">
        <div class="start-position">
          <i class="icon icon-outline-settings"></i>
          <span>General Settings</span>
        </div>
      </li>
      <li class="item-row"
        *ngIf="!adminFlag&&!superAdminFlag"
        routerLink="/ecommerce/settings">
        <div class="start-position">
          <i class="icon icon-outline-store"></i>
          <span>eCommerce</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<router-outlet (activate)="onActivate()"
  (deactivate)='onDeactivate()'></router-outlet>
