$orange: #f99733;
$darkOrange: #b9943c;
$red: #ff2c75;
$pink: #cb79b7;
$green: #49bd6c;
$lightGreen: #afb93c;
$blue: #44b5d7;
$darkenBlue: #3c9cb9;
$darkBlue: #3c5db9;
$purple: #6e3cb9;
$brown: #b94d3c;
$dark: #424242;
$gray: #9b9b9b;

.avatar {
  overflow: hidden;
  border-radius: 500rem;
  margin: 0;
  padding: 0;
  position: relative;

  img {
    display: block;

    &.portrait-img {
      width: 100% !important;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &.landscape-img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto !important;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    border-radius: 500rem;
  }

  i {
    &.icon {
      color: $gray;
    }
  }

  &.s-128 {
    width: 128px;
    height: 128px;

    img {
      width: 128px;
    }

    span {
      width: 128px;
      height: 128px;
      line-height: 128px;
      font-size: 48px;
    }
    i {
      &.icon {
        width: 128px;
        height: 128px;
        line-height: 128px;
        font-size: 128px;
      }
    }
  }

  &.s-96 {
    width: 96px;
    height: 96px;

    img {
      width: 96px;
    }

    span {
      width: 96px;
      height: 96px;
      line-height: 96px;
      font-size: 36px;
    }
    i {
      &.icon {
        width: 96px;
        height: 96px;
        line-height: 96px;
        font-size: 96px;
      }
    }
  }

  &.s-80 {
    width: 80px;
    height: 80px;

    img {
      width: 80px;
    }

    span {
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 32px;
    }
    i {
      &.icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 80px;
      }
    }
  }

  &.s-64 {
    width: 64px;
    height: 64px;

    img {
      width: 64px;
    }

    span {
      width: 64px;
      height: 64px;
      line-height: 64px;
      font-size: 24px;
    }
    i {
      &.icon {
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 64px;
      }
    }
  }

  &.s-56 {
    width: 56px;
    height: 56px;

    img {
      width: 56px;
    }

    span {
      width: 56px;
      height: 56px;
      line-height: 56px;
      font-size: 20px;
    }
    i {
      &.icon {
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 56px;
      }
    }
  }

  &.s-48 {
    width: 48px;
    height: 48px;

    img {
      width: 48px;
    }

    span {
      width: 48px;
      height: 48px;
      line-height: 48px;
      font-size: 20px;
    }
    i {
      &.icon {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 48px;
      }
    }
  }

  &.s-40 {
    width: 40px;
    height: 40px;

    img {
      width: 40px;
    }

    span {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }
    i {
      &.icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 40px;
      }
    }
  }

  &.s-36 {
    width: 36px;
    height: 36px;

    img {
      width: 36px;
    }

    span {
      width: 36px;
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }
    i {
      &.icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 36px;
      }
    }
  }

  &.s-32 {
    width: 32px;
    height: 32px;

    img {
      width: 32px;
    }

    span {
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 13px;
    }
    i {
      &.icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 32px;
      }
    }
  }

  &.s-24 {
    width: 24px;
    height: 24px;

    img {
      width: 24px;
    }

    span {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 10px;
    }
    i {
      &.icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
      }
    }
  }
}

.bg {
  &.orange {
    background-color: $orange;
  }

  &.dark-orange {
    background-color: $darkOrange;
  }

  &.red {
    background-color: $red;
  }

  &.pink {
    background-color: $pink;
  }

  &.green {
    background-color: $green;
  }

  &.light-green {
    background-color: $lightGreen;
  }

  &.blue {
    background-color: $blue;
  }

  &.darken-blue {
    background-color: $darkenBlue;
  }

  &.dark-blue {
    background-color: $darkBlue;
  }

  &.purple {
    background-color: $purple;
  }

  &.brown {
    background-color: $brown;
  }

  &.dark {
    background-color: $dark;
  }

  &.gray {
    background-color: $gray;
  }
}
