<div class="avatar s-{{size}}">
  <img *ngIf="localImageURL"
    ngClass="{{imgClass}}"
    src="{{localImageURL}}"
    alt="{{localAltText}}" /> <span *ngIf="!localImageURL&&initial"
    class="bg {{initialColor}}">{{initial}}</span>
  <i *ngIf="!localImageURL&&!initial"
    class="icon icon-account_circle"></i>
</div>
