<div class="dialog-content normal-dialog">
  <header class="item-row">
    <h3>{{data.title}}</h3>
  </header>
  <section [perfectScrollbar]>
    <!-- row -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Name"
            [(ngModel)]="modalData.name"
            [formControl]="validation.name"
            required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <mat-select placeholder="Position"
            [(ngModel)]="modalData.position"
            [formControl]="validation.position"
            required>
            <mat-option *ngFor="let item of positions"
              [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Mobile Phone"
            [(ngModel)]="modalData.mobilePhone"
            [formControl]="validation.mobilePhone"
            required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Work Phone"
            [(ngModel)]="modalData.workPhone"
            [formControl]="validation.workPhone"
            required>
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width"
          color="accent">
          <input matInput
            placeholder="Other Phone"
            [(ngModel)]="modalData.otherPhone"
            [formControl]="validation.otherPhone">
        </mat-form-field>
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Primary Email"
            [(ngModel)]="modalData.primaryEmail"
            [formControl]="validation.primaryEmail"
            [errorStateMatcher]="matcher"
            required />
          <mat-error *ngIf="
                  validation.primaryEmail.hasError('email')
                  "> Please enter a valid email address </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field color="accent"
          class="full-width">
          <input matInput
            placeholder="Secondary Email"
            [(ngModel)]="modalData.secondaryEmail"
            [formControl]="validation.secondaryEmail"
            [errorStateMatcher]="matcher"
            required />
          <mat-error *ngIf="
                  validation.secondaryEmail.hasError('email')
                  "> Please enter a valid email address </mat-error>
        </mat-form-field>
      </div>
    </div>
  </section>
  <footer>
    <div class="line-item">
      <div class="right-item">
        <button mat-button
          class="cancel-dialog"
          color="primary"
          (click)="closeDialog()"> Cancel </button>
        <button mat-flat-button
          color="primary"
          (click)="save()"
          cdkFocusInitial> {{data.actionButton}} </button>
      </div>
    </div>
  </footer>
</div>
