:host {
  .dymaic-images {
    display: flex;
    flex-wrap: wrap;
    min-height: 64px;
    align-items: center;

    figure {
      overflow: hidden;
      width: 64px;
      height: 64px;
      margin: 0 16px 16px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 100%;
      }
    }

    .add-image-btn {
      margin-top: -16px;
      margin-left: -2px;
    }

    >div {
      padding-left: 12px;
      margin-top: -16px;
    }
  }
}
