<div class="dymaic-images">
  <figure *ngFor="let item of data">
    <img src="{{item.url}}"
      alt="{{item.name}}">
  </figure>
  <button class="add-image-btn"
    mat-icon-button
    color="accent"
    (click)="addImage()"><i class="icon icon-add-image"></i></button>
  <div class="preview"
    *ngIf="!data.length">Please provide at least one file.</div>
</div>
