@import "src/content/scss/var.scss";

.scroll-block {
  height: calc(100vh - 48px - 49px);
}

.inner-content {
  padding-top: 24px;
}
:host {
  .color-box {
    position: relative;
    padding-left: 56px;
    .color {
      position: absolute;
      left: 0;
      top: 4px;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 500rem;
    }
  }
  @media only screen and (max-width: 700px) {
    .key-contact-row {
      flex-direction: column;
      padding-bottom: 12px;
      .col-2,
      .col-3,
      .col-4 {
        width: 100%;
        padding-top: 12px;
      }
    }
  }
}
