<div class="scroll-block"
  [perfectScrollbar]>
  <div class="inner-content">
    <div class="small-content">
      <!-- card -->
      <mat-card class="card">
        <mat-card-content class="card-with-currency">
          <app-button-select class="btn-box"
            [value]="'CAD $'"
            [items]="currencies"
            (change)="currencyChange($event)"></app-button-select>
          <div class="logo-row">
            <app-upload-avatar (click)="upload()">
              <app-img-box size="80"
                url="{{franchiseDetails?.franchiseLogo}}"
                icon="business"></app-img-box>
            </app-upload-avatar>
          </div>
          <!-- row -->
          <div class="wrap">
            <mat-form-field class="full-width"
              color="accent">
              <input matInput
                placeholder="Franchise Name"
                [(ngModel)]="franchiseDetails.franchiseName"
                [formControl]="validation.franchiseName"
                required>
            </mat-form-field>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 1"
                  [(ngModel)]="franchiseDetails.address1"
                  [formControl]="validation.address1"
                  required>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="Address 2"
                  [(ngModel)]="franchiseDetails.address2"
                  [formControl]="validation.address2"
                  required>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="Country"
                  [(ngModel)]="franchiseDetails.country"
                  [formControl]="validation.country"
                  required
                  (ngModelChange)="changeCountry(franchiseDetails.country)">
                  <mat-option *ngFor="let item of staticData.countries"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <mat-select placeholder="{{staticData.stateLabel}}"
                  [(ngModel)]="franchiseDetails.stateOrProvince"
                  [formControl]="validation.stateOrProvince"
                  required>
                  <mat-option *ngFor="let item of staticData.states"
                    [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="full-width"
                color="accent">
                <input matInput
                  placeholder="City"
                  [formControl]="validation.city"
                  [(ngModel)]="franchiseDetails.city"
                  [matAutocomplete]="auto"
                  required />
                <mat-autocomplete #auto="matAutocomplete"
                  [displayWith]="displayFn">
                  <mat-option *ngFor="let option of filteredCityes | async"
                    [value]="option"> {{option}} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="{{staticData.zipLabel}}"
                  [(ngModel)]="franchiseDetails.zipOrPostal"
                  [formControl]="validation.zipOrPostal"
                  mask="AAA AAA"
                  required />
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Contact Name"
                  [(ngModel)]="franchiseDetails.contactName"
                  [formControl]="validation.contactName"
                  required />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Phone"
                  name="phone"
                  [(ngModel)]="franchiseDetails.phone"
                  [formControl]="validation.phone"
                  mask="000 000 0000"
                  required />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Email"
                  [(ngModel)]="franchiseDetails.email"
                  [formControl]="validation.email"
                  [errorStateMatcher]="matcher"
                  required />
                <mat-error *ngIf="
                  validation.email.hasError('email') &&
                    !validation.email.hasError('required')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Finance Email"
                  [(ngModel)]="franchiseDetails.financeEmail"
                  [formControl]="validation.financeEmail"
                  [errorStateMatcher]="matcher" />
                <mat-error *ngIf="
                  validation.financeEmail.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Operations email 1"
                  [(ngModel)]="franchiseDetails.operationsEmail1"
                  [formControl]="validation.operationsEmail1"
                  [errorStateMatcher]="matcher" />
                <mat-error *ngIf="
                  validation.operationsEmail1.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Operations email 2"
                  [(ngModel)]="franchiseDetails.operationsEmail2"
                  [formControl]="validation.operationsEmail2"
                  [errorStateMatcher]="matcher" />
                <mat-error *ngIf="
                  validation.operationsEmail2.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Operations email 3"
                  [(ngModel)]="franchiseDetails.operationsEmail3"
                  [formControl]="validation.operationsEmail3"
                  [errorStateMatcher]="matcher" />
                <mat-error *ngIf="
                  validation.operationsEmail3.hasError('email')
                  "> Please enter a valid email address </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- card -->
      <mat-expansion-panel class="card-panel colors-block"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Portal Colors Theme </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-3">
            <div class="color-box">
              <span class="color"
                [style.background]="franchiseDetails.primaryColor">&nbsp;</span>
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Primary"
                  [(ngModel)]="franchiseDetails.primaryColor"
                  [formControl]="validation.primaryColor"
                  [colorPicker]="franchiseDetails.primaryColor"
                  (colorPickerChange)="franchiseDetails.primaryColor=$event" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="color-box">
              <span class="color"
                [style.background]="franchiseDetails.secondaryColor">&nbsp;</span>
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="Secondary"
                  [(ngModel)]="franchiseDetails.secondaryColor"
                  [formControl]="validation.secondaryColor"
                  [colorPicker]="franchiseDetails.secondaryColor"
                  (colorPickerChange)="franchiseDetails.secondaryColor=$event" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Website </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <div class="wrap-info-field">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="URL for Login"
                  [(ngModel)]="franchiseDetails.urlForLogin"
                  [formControl]="validation.urlForLogin"
                  required />
              </mat-form-field>
              <button mat-icon-button
                class="field-info"
                (click)="openUrlForLoginInfo(); $event.stopPropagation();"><i
                  class="icon icon-info_outline"></i></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="wrap-info-field">
              <mat-form-field color="accent"
                class="full-width">
                <input matInput
                  placeholder="URL for Register"
                  [(ngModel)]="franchiseDetails.urlForRegister"
                  [formControl]="validation.urlForRegister"
                  required />
              </mat-form-field>
              <button mat-icon-button
                class="field-info"
                (click)="openUrlForRegisterInfo(); $event.stopPropagation();"><i
                  class="icon icon-info_outline"></i></button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Key Contact </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="items-list">
          <div class="row row-with-button row-link key-contact-row"
            *ngFor="let item of franchiseDetails.keyContactList"
            (click)="editKeyContact(item)">
            <div class="col-3">
              <span class="value">{{item.name}}</span>
            </div>
            <div class="col-2">
              <span class="caption">{{item.position}}</span>
            </div>
            <div class="col-3">
              <span class="caption">{{item.workPhone}}</span>
            </div>
            <div class="col-4">
              <span class="caption">{{item.primaryEmail}}</span>
            </div>
            <app-dot-menu class="item-settings"
              [items]="keyContactItemSettings"
              (backData)="keyContactItemSettingsFunction($event, item)"></app-dot-menu>
          </div>
          <button mat-button
            class="add-btn"
            (click)="addKeyContact()"><i class="icon icon-add_circle"></i>Add New Key Contact</button>
        </div>
      </mat-expansion-panel>
      <!-- card -->
      <mat-expansion-panel class="card-panel"
        [expanded]="true">
        <mat-expansion-panel-header expandedHeight="48px"
          class="item-row">
          <mat-panel-title class="start-position"> Documents </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="items-list">
          <div class="row row-with-button"
            *ngFor="let item of franchiseDetails.documents">
            <div class="col-12">
              <span class="value">{{item.name}}</span>
            </div>
            <app-dot-menu class="item-settings"
              [items]="documentItemSettings"
              (backData)="documentItemSettingsFunction($event, item)"></app-dot-menu>
          </div>
          <button mat-button
            class="add-btn"
            (click)="addDocument()"><i class="icon icon-upload"></i>Upload</button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
