<div class="scroll-block table-content"
  [perfectScrollbar]>
  <div class="inner-content"
    *ngIf="!dataEmpty">
    <!-- selection toolbar -->
    <mat-toolbar class="item-row  content-toolbar">
      <div class="start-position">
        <mat-checkbox class="single-checkbox"
          color="accent"
          [(indeterminate)]="toolbarIndeterminate"
          [(ngModel)]="selectAll"
          (change)="selectAllFunction(selectAll)"></mat-checkbox>
        <app-simple-search *ngIf="!selection"
          [closeButton]="true"
          (change)="searchFunction($event)"
          class="search-element"></app-simple-search>
      </div>
      <div class="end-position">
        <button *ngIf="selection"
          mat-flat-button
          color="primary"
          (click)="releaseFunction()"
          [disabled]="!toolbarIndeterminate&&!selectAll">Release</button>
        <div class="el">
          <!-- sort -->
          <app-sort-btn *ngIf="!selection"
            (sortData)="getSortData($event)"></app-sort-btn>
          <!-- fiter -->
          <button *ngIf="!selection"
            mat-icon-button
            (click)="filter()">
            <i class="icon icon-filter_list"></i>
          </button>
          <!-- settings -->
          <app-dot-menu [items]="toolbarSettings"
            (backData)="settingsFunction($event)"></app-dot-menu>
        </div>
      </div>
    </mat-toolbar>
    <!-- end of selection toolbar -->
    <!-- content list -->
    <div class="table-list-items"
      *ngIf="!dataEmpty">
      <div *ngFor="let item of edis"
        class="table-list-item selection-row edi-header"
        [ngClass]="{'new': item.new, 'selected-row': item.selected}"
        (click)="clickRowFunction(item)">
        <div class="start-position">
          <mat-checkbox class="single-checkbox"
            (click)="$event.stopPropagation();"
            [(ngModel)]="item.selected"
            (change)="selectRow(item.selected)"
            color="accent"></mat-checkbox>
          <app-number-row-box [data]="item.numberBox"></app-number-row-box>
        </div>
        <div class="end-position">
          <div class="inner-el">
            <app-data-block label="Carrier INV."
              value="{{item.carrierInvoice}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="EDI Order"
              value="{{item.ediOrder}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Invoiced"
              value="{{item.invoicedData}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Processed"
              value="{{item.processedData}}"></app-data-block>
          </div>
          <div class="inner-el">
            <app-data-block label="Total (CAD)"
              value="{{item.total | currency}}"
              [right]="true"
              [details]="item.totalDetails"
              (infoClick)="openTotalDetailsDialog($event)"></app-data-block>
          </div>
        </div>
        <ul class="button-list one-btn">
          <li>
            <button *ngIf="!selection"
              mat-flat-button
              color="primary"
              (click)="releaseFunction(); $event.stopPropagation();">Release</button>
          </li>
        </ul>
        <app-dot-menu class="item-settings"
          [items]="itemSettings"
          (backData)="itemSettingsFunction($event)"></app-dot-menu>
      </div>
    </div>
    <!-- end of content list -->
  </div>
  <div class="empty-data"
    *ngIf="dataEmpty">
    <div class="empty-data-content">
      <figure>
        <img src="content/images/empty-data.svg"
          width="102"
          height="99"
          alt="">
      </figure>
      <p>Can't find any results with these criteria. </p>
    </div>
  </div>
  <button *ngIf="!selection"
    mat-fab
    class="bottom-right-position"
    color="primary"
    (click)="uploadEdi()">
    <i class="icon icon-upload"></i>
  </button>
</div>
