.scroll-block {
  height: calc(100vh - 49px);
}

.inner-content {
  padding-top: 0;
}

.empty-data {
  height: calc(100vh - 49px);
}

::ng-deep {
  .table-list-item {
    &.edi-header {
      @media only screen and (max-width: 1140px) {
        flex-wrap: wrap;
        padding-right: 24px;
        padding-left: 24px;
        .mat-checkbox {
          &.single-checkbox {
            margin-top: 0;
            top: 12px;
          }
        }
        .item-settings {
          margin-top: 0;
          top: 12px;
        }
        .button-list {
          min-height: 68px;
        }
      }
      @media only screen and (max-width: 700px) {
        .number-content {
          padding-bottom: 0 !important;
        }
      }
      .start-position {
        width: 15%;
        @media only screen and (max-width: 1140px) {
          width: 100%;
          padding-bottom: 12px;
          padding-left: 40px;
        }
      }
      .end-position {
        width: 85%;
        @media only screen and (max-width: 1140px) {
          width: 100%;
        }
        @media only screen and (max-width: 700px) {
          flex-wrap: wrap;
        }
        .inner-el {
          width: 17%;
          &:first-child {
            width: 28%;
          }
          &:last-child {
            width: 21%;
          }
          @media only screen and (max-width: 700px) {
            width: 100%;
            padding-top: 12px;
            &:first-child {
              width: 100%;
              padding-top: 0;
            }
            &:last-child {
              width: 100%;
            }
            .data-el.right-position {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
