<ul class="info-list">
  <li *ngFor="let item of data"
    class="{{item?.active?' active':''}} {{item?.divider?' divider':''}}">
    <span *ngIf="!item?.divider"
      class="caption">{{item?.label}}</span>
    <strong *ngIf="!item?.divider"
      [ngClass]="{'right-align':(item?.right||right)}">{{item?.currency?currencyConvert(item?.value):item?.value}}
      <button *ngIf="item?.moreInfo"
        mat-icon-button
        (click)="info(item?.moreInfo)"><i class="icon icon-info_outline"></i></button></strong>
  </li>
</ul>
