<div class="data-item">
  <span>
    <span>{{data?.label}}</span>
    <i *ngIf="data?.infoTooltip"
      matTooltip="{{data?.infoTooltip}}"
      matTooltipPosition="above"
      class="icon icon-info_outline"></i>
  </span>
  <strong
    [ngClass]="{'strong': data?.strong}">{{isNumber(data?.value) && data?.currency?currencyConvert(data?.value):data?.value}}
    <button *ngIf="data?.info"
      mat-icon-button
      (click)="openInfoDialog()"
      class="info-btn"><i class="icon icon-info_outline"></i></button>
  </strong>
</div>
