@import 'src/content/scss/var.scss';

:host {
  .data-item {
    padding: 0 0 16px;

    span {
      display: flex;
      align-items: center;
      color: $textColorLight;
      font-size: 12px;
      letter-spacing: 0.4px;
      line-height: 20px;

      i {
        &.icon {
          color: $iconColor;
          display: inline-block;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          font-size: 18px;
          margin-left: 4px;
        }
      }
    }

    strong {
      display: block;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;

      &.strong {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.14px;
        color: $teal;
        white-space: nowrap;
      }
    }
  }

}
