.scroll-block {
  height: calc(100vh - 49px);
}

:host {
  .table-list-item {
    &.insurance-list-item {
      @media only screen and (max-width: 1190px) {
        flex-wrap: wrap;
      }

      .start-position {
        width: 50%;

        .value {
          overflow: hidden;
        }

        @media only screen and (max-width: 1190px) {
          width: 100%;
        }
      }

      .end-position {
        width: 50%;

        @media only screen and (max-width: 1190px) {
          width: 100%;
        }

        app-data-block {
          width: 33.33%;

          @media only screen and (max-width: 1190px) {
            padding-top: 12px;
          }

          @media only screen and (max-width: 700px) {
            width: 100%;
          }
        }
      }
    }
  }
}
